chk_main.json
{"updatedAt":"2026-03-20T02:22:13.964Z","createdAt":"2026-03-18T11:41:18.499Z","id":"zloYjCYLVf6BWhF9","name":"Nicho Cristão - Video Automation (Main)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,12,16,20 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[112,304]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[112,512],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[320,400]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere {{ $json.VIDEOS_PER_RUN }} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}","options":{"timeout":60000}},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[560,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"id":"node-split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[992,400]},{"parameters":{"jsCode":"var httpsModule = require('https');\n\nvar imageData = $('Sub: Gerar Vídeos').first().json;\nvar audioData = $('SUB: Audio Generation (ElevenLabs)').first().json;\nvar contentData = $('Sub: Generate Content').first().json;\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar CREATOMATE_KEY = '738b45bd6c674fb195ba30c3b4249378e86aa852a471d1cd79dbd0b99f41d1d3c9ed3f8b2f2d5368cf6ca80e69b29f84';\n\n// Pixabay background music (CDN direto)\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3', // Epic Inspiration 129171\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3' // Miracle 212835\n];\nvar validTracks = MUSIC_TRACKS.filter(function(u) { return u.startsWith('https://'); });\nvar musicUrl = validTracks.length ? validTracks[Math.floor(Math.random() * validTracks.length)] : null;\nvar hasMusic = !!musicUrl;\n\nvar totalDuration = scenes.reduce(function(s, c) { return s + (c.duracao || 6); }, 0);\n\n// Build elements\nvar elements = [];\n\n// Track 1: Narracao com transcript para legendas automaticas\nelements.push({\n  id: 'narracao',\n  type: 'audio',\n  track: 1,\n  time: 0,\n  source: audioUrl,\n  volume: '100%',\n  transcript: true\n});\n\n// Track 2: Musica de fundo (loop, volume baixo)\nif (hasMusic) {\n  elements.push({\n    type: 'audio',\n    track: 2,\n    time: 0,\n    source: musicUrl,\n    volume: '10%',\n    duration: totalDuration,\n    loop: true,\n    fade_in: '1 s',\n    fade_out: '2 s'\n  });\n}\n\n// Track 3: Cenas de video com timing cumulativo\nvar cumulativeTime = 0;\nscenes.forEach(function(s) {\n  var dur = s.duracao || 6;\n  elements.push({\n    type: 'video',\n    track: 3,\n    time: cumulativeTime,\n    duration: dur,\n    source: s.url,\n    volume: '0%',\n    fit: 'cover',\n    transition: { type: 'fade', duration: 0.4 },\n    width: '100%',\n    height: '100%'\n  });\n  cumulativeTime += dur;\n});\n\n// Track 4: Gradiente na parte inferior\nelements.push({\n  type: 'shape',\n  track: 4,\n  path: 'M 0 0 L 100 0 L 100 100 L 0 100 L 0 0 Z',\n  width: '100%',\n  height: '50%',\n  x: '50%',\n  y: '100%',\n  x_anchor: '50%',\n  y_anchor: '100%',\n  fill_color: [\n    { color: 'rgba(0,0,0,0)', offset: '0%' },\n    { color: 'rgba(0,0,0,0.85)', offset: '100%' }\n  ],\n  fill_mode: 'linear',\n  fill_x0: '50%',\n  fill_x1: '50%',\n  fill_y0: '0%',\n  fill_y1: '100%'\n});\n\n// Track 5: Legendas karaoke da narracao\nelements.push({\n  id: 'legendas',\n  type: 'text',\n  track: 5,\n  transcript_source: 'narracao',\n  transcript_effect: 'karaoke',\n  transcript_maximum_length: 3,\n  width: '88%',\n  x: '50%',\n  y: '80%',\n  x_anchor: '50%',\n  y_anchor: '50%',\n  fill_color: '#FFFFFF',\n  transcript_color: '#FFD700',\n  stroke_color: 'rgba(0,0,0,0.9)',\n  stroke_width: '2.2 vmin',\n  font_family: 'Montserrat',\n  font_weight: '900',\n  font_size: '8.5 vmin',\n  line_height: '130%',\n  x_alignment: '50%',\n  background_color: 'rgba(0,0,0,0.55)',\n  background_x_padding: '5%',\n  background_y_padding: '3%',\n  background_border_radius: '8px',\n  y_alignment: '50%'\n});\n\nvar source = {\n  output_format: 'mp4',\n  width: 1080,\n  height: 1920,\n  frame_rate: '30 fps',\n  duration: 'auto',\n  elements: elements\n};\n\nfunction creatomateRequest(method, path, body) {\n  return new Promise(function(resolve, reject) {\n    var data = body ? JSON.stringify(body) : null;\n    var opts = {\n      hostname: 'api.creatomate.com',\n      path: path,\n      method: method,\n      rejectUnauthorized: false,\n      headers: {\n        'Authorization': 'Bearer ' + CREATOMATE_KEY,\n        'Content-Type': 'application/json'\n      }\n    };\n    if (data) opts.headers['Content-Length'] = Buffer.byteLength(data);\n    var req = httpsModule.request(opts, function(res) {\n      var out = '';\n      res.on('data', function(d) { out += d; });\n      res.on('end', function() {\n        try { resolve({ status: res.statusCode, body: JSON.parse(out) }); }\n        catch(e) { resolve({ status: res.statusCode, body: out }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(30000, function() { req.destroy(new Error('Creatomate timeout')); });\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nfunction sleep(ms) { return new Promise(function(r) { setTimeout(r, ms); }); }\n\n// Submit render\nvar submitRes = await creatomateRequest('POST', '/v1/renders', { source: source });\nif (submitRes.status !== 200 && submitRes.status !== 201 && submitRes.status !== 202) {\n  throw new Error('Creatomate HTTP ' + submitRes.status + ' | ' + JSON.stringify(submitRes.body));\n}\n\nvar renders = Array.isArray(submitRes.body) ? submitRes.body : [submitRes.body];\nvar renderId = renders[0].id;\nif (!renderId) throw new Error('No render ID: ' + JSON.stringify(renders[0]));\n\n// Poll ate concluir (max 10 min, cada 10s)\nvar maxPolls = 60;\nvar renderUrl = null;\nfor (var i = 0; i < maxPolls; i++) {\n  await sleep(10000);\n  var pollRes = await creatomateRequest('GET', '/v1/renders/' + renderId, null);\n  var render = pollRes.body;\n  if (render.status === 'succeeded') { renderUrl = render.url; break; }\n  if (render.status === 'failed') throw new Error('Creatomate render failed: ' + (render.error_message || JSON.stringify(render)));\n}\nif (!renderUrl) throw new Error('Creatomate timeout after ' + maxPolls + ' polls for render ' + renderId);\n\nreturn [{ json: {\n  videoId: videoId,\n  renderUrl: renderUrl,\n  renderId: renderId,\n  sceneCount: scenes.length,\n  titulo: contentData.titulo,\n  descricao: contentData.descricao,\n  hashtags: contentData.hashtags,\n  narracao: contentData.narracao,\n  topic: contentData.topic,\n  status: 'assembled'\n} }];\n"},"id":"node-ffmpeg-assemble","name":"Creatomate: Assemble Video","type":"n8n-nodes-base.code","position":[1856,576],"typeVersion":2},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[2064,576],"typeVersion":2},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Set Config').first().json.AUTO_PUBLISH }}","operation":"equals","value2":"true"}]},"options":{}},"id":"node-publish-gate","name":"Auto Publish?","type":"n8n-nodes-base.if","position":[2288,672]},{"parameters":{"jsCode":"var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"},"id":"node-save-metadata","name":"Save Metadata","type":"n8n-nodes-base.code","position":[2592,768],"typeVersion":2},{"parameters":{"jsCode":"var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"},"id":"node-batch-summary","name":"Batch Summary","type":"n8n-nodes-base.code","position":[1216,304],"typeVersion":2},{"parameters":{"options":{}},"id":"node-webhook-response","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","position":[1440,304]},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $('Set Config').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\n\n// Deduplication via workflow static data\nvar store = $getWorkflowStaticData('global');\nif (!store.usedTopics) store.usedTopics = [];\n\nvar usedSet = {};\nfor (var i = 0; i < store.usedTopics.length; i++) {\n  var k = store.usedTopics[i].toLowerCase().replace(/[^a-z ]/g, '').trim();\n  usedSet[k] = true;\n}\n\nvar novos = topics.filter(function(t) {\n  var k = (t.milagre_de_jesus || '').toLowerCase().replace(/[^a-z ]/g, '').trim();\n  return !usedSet[k];\n});\n\nif (novos.length === 0) throw new Error('All topics already used. Will generate new ones next run.');\n\nnovos.forEach(function(t) { store.usedTopics.push(t.milagre_de_jesus); });\nif (store.usedTopics.length > 500) store.usedTopics = store.usedTopics.slice(-500);\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\n// Incluir TODAS as credenciais em cada item de saida\nreturn novos.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus: topic.milagre_de_jesus,\n      versiculo_base: topic.versiculo_base,\n      gancho_inicial: topic.gancho_inicial,\n      palavras_chave: topic.palavras_chave,\n      categoria: topic.categoria,\n      runId: runId,\n      topicIndex: i + 1,\n      videoId: runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});\n"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,576],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1424,688],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[1424,480],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2448,576],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Batch Summary","type":"main","index":0}],[{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Auto Publish?":{"main":[[{"node":"Save Metadata","type":"main","index":0}],[{"node":"Save Metadata","type":"main","index":0}]]},"Save Metadata":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Batch Summary":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Creatomate: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Creatomate: Assemble Video":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","timezone":"America/Sao_Paulo","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"usedTopics":["Cura do paralítico","Acalma a tempestade","Parábola do Bom Samaritano","Ressurreição de Lázaro","Amai os vossos inimigos"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Sub: Generate Videos/Images1":[{"json":{"videoId":"20260319-111338_video_01","totalScenes":5,"scenes":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=1xSf_E-_0NeGC5VHn6kLE5Yy4JQtodp8t&export=download","status":"scene_ready"},{"numero":2,"duracao":6,"url":"https://drive.google.com/uc?id=1J2idfNiudIiHrNhIEnHRly_qmK7xBIYL&export=download","status":"scene_ready"},{"numero":3,"duracao":5,"url":"https://drive.google.com/uc?id=16zKJmcrsgMFbpuXbXFEpzYqvKmU2FqkA&export=download","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1UBhKviZgT1MEkJw9BeaJjA9Q2jRvHreO&export=download","status":"scene_ready"},{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"status":"all_scenes_ready"}}],"FFmpeg: Assemble Video":[{"json":{"videoId":"20260319-111338_video_01","renderUrl":"https://f002.backblazeb2.com/file/creatomate-c8xg3hsxdu/f58080fd-ed33-4c1f-9ec6-ec498ace79ec.mp4","renderId":"f58080fd-ed33-4c1f-9ec6-ec498ace79ec","sceneCount":5,"titulo":"38 Anos Acabaram! 🙌 A Cura Chegou!","descricao":"A história emocionante da cura no tanque de Betesda. Jesus transforma vidas! João 5:1-15. #fé","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts"],"narracao":"Trinta e oito anos de espera... Acabou! Jesus chegou para mudar tudo. Um homem à beira do lago, sem esperança. Jesus perguntou: 'Você quer ser curado?'. A fé move montanhas. Levante-se, pegue sua maca e ande! A cura divina é real. Creia e seja transformado! Jesus te ama incondicionalmente. Receba a sua bênção! Amém.","topic":{"milagre_de_jesus":"A Cura do Homem à Beira do Lago","versiculo_base":"João 5:1-15","gancho_inicial":"38 anos de espera, acabou!","palavras_chave":["cura divina","fé","esperança","milagre","jesus","restauração","novo começo","homem doente"],"categoria":"milagre_cura","runId":"20260319-111338","topicIndex":1,"videoId":"20260319-111338_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"status":"assembled"},"pairedItem":{"item":0}}],"Sub: Generate Content":[{"json":{"videoId":"20260319-180233_video_01","topicIndex":1,"topic":{"milagre_de_jesus":"O homem no tanque de Betesda","versiculo_base":"João 5:1-9","gancho_inicial":"Após trinta e oito anos esperando...","palavras_chave":["esperança","cura divina","tempo de Deus","milagre inesperado","fé"],"categoria":"milagre_cura","runId":"20260319-180233","topicIndex":1,"videoId":"20260319-180233_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"script":{"titulo":"38 Anos Esperando a Morte... 😥","descricao":"A história emocionante do homem no tanque de Betesda! Um milagre de Jesus que renova a nossa fé. João 5:1-9. 🙏","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts"],"duracao_total_segundos":32,"narracao_completa":"Após trinta e oito anos esperando... Uma chance surge! Jerusalém, tanque de Betesda. Muitos doentes ali jaziam. Um homem, à beira da morte. Jesus se aproxima, e pergunta... Quer ser curado? Levante-se, pegue a sua cama e ande!","cenas":[{"numero":1,"duracao_segundos":4,"tipo":"HOOK","texto_narrado":"Após trinta e oito anos esperando...","prompt_imagem":"Ancient Jerusalem, the Pool of Bethesda, many people lying around the pool, golden hour, photorealistic 8K, vertical 9:16.","prompt_video_motion":"slow zoom in","descricao_visual":"Vista geral do tanque de Betesda, com muitos enfermos."},{"numero":2,"duracao_segundos":5,"tipo":"DRAMA","texto_narrado":"Uma chance surge! Jerusalém, tanque de Betesda.","prompt_imagem":"Close-up of a man sitting on a mat near the pool, looking weak and desperate, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"slight pan","descricao_visual":"Close no homem doente, com expressão de sofrimento."},{"numero":3,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"Muitos doentes ali jaziam. Um homem, à beira da morte.","prompt_imagem":"A wider shot showing the man surrounded by others also seeking help, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"subtle camera shake","descricao_visual":"Homem cercado por outros doentes no tanque."},{"numero":4,"duracao_segundos":7,"tipo":"ENCONTRO","texto_narrado":"Jesus se aproxima, e pergunta... Quer ser curado?","prompt_imagem":"Jesus approaching the man, looking at him with compassion, golden hour, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"slow zoom on Jesus","descricao_visual":"Jesus se aproximando do homem."},{"numero":5,"duracao_segundos":5,"tipo":"MILAGRE","texto_narrado":"Levante-se, pegue a sua cama e ande!","prompt_imagem":"The man instantly healed, standing up and picking up his mat, with a look of amazement, golden hour, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"fast zoom out","descricao_visual":"Homem curado se levantando e pegando a cama."}],"cta":{"texto":"Se inscreva AGORA e ative o sino! Compartilhe com quem precisa de fé!","duracao_segundos":5}},"titulo":"38 Anos Esperando a Morte... 😥","descricao":"A história emocionante do homem no tanque de Betesda! Um milagre de Jesus que renova a nossa fé. João 5:1-9. 🙏","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts"],"narracao":"Após trinta e oito anos esperando... Uma chance surge! Jerusalém, tanque de Betesda. Muitos doentes ali jaziam. Um homem, à beira da morte. Jesus se aproxima, e pergunta... Quer ser curado? Levante-se, pegue a sua cama e ande!","cenas":[{"numero":1,"duracao_segundos":4,"tipo":"HOOK","texto_narrado":"Após trinta e oito anos esperando...","prompt_imagem":"Ancient Jerusalem, the Pool of Bethesda, many people lying around the pool, golden hour, photorealistic 8K, vertical 9:16.","prompt_video_motion":"slow zoom in","descricao_visual":"Vista geral do tanque de Betesda, com muitos enfermos."},{"numero":2,"duracao_segundos":5,"tipo":"DRAMA","texto_narrado":"Uma chance surge! Jerusalém, tanque de Betesda.","prompt_imagem":"Close-up of a man sitting on a mat near the pool, looking weak and desperate, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"slight pan","descricao_visual":"Close no homem doente, com expressão de sofrimento."},{"numero":3,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"Muitos doentes ali jaziam. Um homem, à beira da morte.","prompt_imagem":"A wider shot showing the man surrounded by others also seeking help, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"subtle camera shake","descricao_visual":"Homem cercado por outros doentes no tanque."},{"numero":4,"duracao_segundos":7,"tipo":"ENCONTRO","texto_narrado":"Jesus se aproxima, e pergunta... Quer ser curado?","prompt_imagem":"Jesus approaching the man, looking at him with compassion, golden hour, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"slow zoom on Jesus","descricao_visual":"Jesus se aproximando do homem."},{"numero":5,"duracao_segundos":5,"tipo":"MILAGRE","texto_narrado":"Levante-se, pegue a sua cama e ande!","prompt_imagem":"The man instantly healed, standing up and picking up his mat, with a look of amazement, golden hour, ancient Judea, photorealistic 8K, vertical 9:16.","prompt_video_motion":"fast zoom out","descricao_visual":"Homem curado se levantando e pegando a cama."}],"duracao_total_segundos":27,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"script_ready"},"pairedItem":{"item":0}}],"Generate Topics (Gemini)":[{"json":{"candidates":[{"content":{"parts":[{"text":"[\n  {\n    \"milagre_de_jesus\": \"O homem no tanque de Betesda\",\n    \"versiculo_base\": \"João 5:1-9\",\n    \"gancho_inicial\": \"Após trinta e oito anos esperando...\",\n    \"palavras_chave\": [\n      \"esperança\",\n      \"cura divina\",\n      \"tempo de Deus\",\n      \"milagre inesperado\",\n      \"fé\"\n    ],\n    \"categoria\": \"milagre_cura\"\n  },\n  {\n    \"milagre_de_jesus\": \"Acalmando a grande tempestade\",\n    \"versiculo_base\": \"Marcos 4:35-41\",\n    \"gancho_inicial\": \"Quando o barco começou a afundar...\",\n    \"palavras_chave\": [\n      \"paz interior\",\n      \"controle absoluto\",\n      \"poder divino\",\n      \"tempestade\",\n      \"confiança\"\n    ],\n    \"categoria\": \"milagre_natureza\"\n  },\n  {\n    \"milagre_de_jesus\": \"A volta de Lázaro\",\n    \"versiculo_base\": \"João 11:38-44\",\n    \"gancho_inicial\": \"Quatro dias após o último suspiro...\",\n    \"palavras_chave\": [\n      \"vida eterna\",\n      \"milagre impossível\",\n      \"poder sobre a morte\",\n      \"amigo fiel\",\n      \"chamado divino\"\n    ],\n    \"categoria\": \"ressurreicao\"\n  },\n  {\n    \"milagre_de_jesus\": \"A história do filho que partiu\",\n    \"versiculo_base\": \"Lucas 15:11-32\",\n    \"gancho_inicial\": \"Depois de perder absolutamente tudo...\",\n    \"palavras_chave\": [\n      \"amor de pai\",\n      \"segunda chance\",\n      \"perdão incondicional\",\n      \"retorno\",\n      \"graça\"\n    ],\n    \"categoria\": \"parabola\"\n  },\n  {\n    \"milagre_de_jesus\": \"O ensinamento sobre as ansiedades\",\n    \"versiculo_base\": \"Mateus 6:25-34\",\n    \"gancho_inicial\": \"No momento em que o medo bater...\",\n    \"palavras_chave\": [\n      \"paz mental\",\n      \"cuidado divino\",\n      \"descanso\",\n      \"sabedoria\",\n      \"superando desafios\"\n    ],\n    \"categoria\": \"ensinamento\"\n  }\n]","thoughtSignature":"Ev5CCvtCAb4+9vuzxb4AVBFO+dQsJztYPUQWAHI9tsoQtoFN64J2g93gF1+qOrVDaglFiZhekKbKbl8h0qfJ7rJTcYj9pzrd/Kd7kh+OQBMkCpR7IdEWKVr3tLoX7PEqzaPYljlx6LjsqulDqMsYstG/Mny5ladr9w57ZzXUNrpPwi43TGThJyQY0y2/cQ6DzYxftveStCc0eZkis+8MtD+6iWBD4QgsGdA/XPUcCwUWiIsSwoY7kjz1RvD3dh7DQtpjxYh/xIHNGj+R6IBv0X4F1W/GXaSuRSSnIukDA2yPPJd0Ijybr3w+x+FIR7p06ZHEkNIhJoyLswfGOgCSHC4kQPucAma67FBjgVOU8+M8UsDB+ixqtfzZuBoCbrPWPGhKVlkWVchoUfQJGk8q/NvmdmuavZeSJfRUlvoBaSAqQnqI8O8M3vIU/F3mCKb3J5CxnlQcsfDw3SMEnFWwy0+dg0wTvkmCKSVti01BQjQ3i5rBCTkLBR+iOZI19e95ktDCTCfYv7P+nGYel588zG03/cG8COs5DMVqQCeDAOzrJqQR7YZSsjHtMrfZ8kRvoOCu+3NVJBpDXyH/vyK9Kxw0L1l9BqxLbu/4Zo4071MAN3G84bLFf94ScN71Uw/ueqHEU+BnIpf861j0d5WVtZw+2B+rRAW7wtF2jztkFd6/Hy75GuMLHgwPaxaopZkBZJm+s6/kHKspRrm/xdEfdXOBvPpJR1aTXoBNHR2VB0lH/T5tX4xTgOs6F8l391NCnd4Lv03sym1P56TzElSHhhhS1qpkiJctpOQWV1YKcKcKT9Asa2cCXb6+tOC5igiNRijVeSrFCN02Yl3JsK0vgjfZsj7W30E4nWuieYJCzPh+ZA2155SMMnS+LxMnDkMS2kMu+nEHngTj2z8bWERmvU3Cz8BfTAZpKQ7RwDxHDIoM66S7JhZN++oR8o70Tabh5JHi54S37teYCTmXjo+vMPDOgUTVgvLU++MqvqarfJY5z4koFZM0HWvfIMiaLJqwkaaKZRL/vNpLRZf8aSk0cppNF51uqwbZJOpvc8/ZdyIUS7Eu/dwTqbEzpWbtUUJdRHOhFVGLxfKRwcWnmodSxRyJJCuHH06z+XDeARM88czuCJmpWLrezMQytpOv6cRwi8F02VMlh8zy4PjiE1noeeZnbOVFA9ssz31YHJfEDpKMi78DHsYvgrqiIuiRmACgnEQQNAw6crT5lYg0xBuIyXLe7eJyTHgImRYhJ9bKQKyPChS76PN3WXYDoOwoDFdgqqdi9HTW+3XqvspeQSi3e7Fl/CjTsW1cWRwS+G88ABJ9ql262Wo51pNaETv97vff8rIKuChhUAaH2vKOqmvPNVfDw54aGd11a5mtifoyDON4vezdbzmwAjlzzXN4MksjS5NIAO11V4hXA+RJFsXzoWCKPO8gn/O+NXImeWErRvLGCFRnjPG+rvgbr+kPVIg5a3rIdMbMH3uqU4618bTaotxUkVrn0uMt9JG+OLiiZM9EnO1g1awNTVyU0KuEHbn2wS06Mj8y+z1YCZHPGHOcQRLmRU+XQ5VoZRjrpWTceQOmKImLsW9pe9vsSveZY01hoYZ7R3YzyKaUOwiy6448MXmEa2puIZ3L3B4D7fRW7amXgWvdNHUQ1lE7WA67+5Fhd4Xmr953brnPi/Fvj7vQC9Jp4AocNkgBOM+uWV1LhZ7ruDw89aYrTXgyqESXCkhUEiMjf97q3xsikJ/sj6FJUGSoxYDuwbIVE4b5ptqrPtnM0M/+5ZqVnsyMQk41vc5TqHGaI2WuPesXywqLb8xOR5/fNW4XnUUa7+KvwWGVDEkwSR8/kpt0o91rdFxl6wJ74jcepFLQj7tLyf/JaXTcDZMW6IMQ1/WG1m4TlG6Lp920ZFLpbRzYDF9gEGDfanZaW6ezYUAaaikyUgDLtXdweG09UvKDSbpZdulJkDN9X0an16yZRZaW8cv5AN1IibKQBpqjqPpds/rHZzaJbznAP0njpPLBByN8clUo9mYu3bfX47YQD0VUgBNvmGL5pCfOb3ZEcPc3F+GFDrB30grXf9UT+1cl4ErbDNmbB0sC/XXSFxCYHBFeDnh4AvapCzBOhSPz1r9V2/Dis5oJLUrrG2r3h5700M6kskGhNn1kHmWMPmZzk6T4PVu8sa2Nkj4OLx/ZEd7GusuanV7Qn5qimCRYY/pfWh2Jf1TKIsS+VbjUaSlt2iP43y5e8fd1l+HBbycUZ67MLTB2ihcpFWmyqkLY/Pny3cwNkXviBjYQf2AolXxuiLNxHJKqSNO8jSHbLnSv7QQz4x9dpLbetkKqFh7TUnK0VfqkUnNPx2TtavZjmYMbE3yfVokUcj5AFQS1tlUNBvTrvMoFyYeSKQRgDbUgk/fu4qyxkmpxmuR1cVGOv99EskdXiK0YaNga0OGOFmlZhPysFAxjQ5+SAi3dFWrCwIil18m1EQR+zy5Yg+gmEwvXkvSL3Fg1TqM5RD8SlsYrGZFR8/cdYyZix6CJM/YEbLgadHJTvO8IirFk73tCmys/JNDIr9fOqa6OswqKf+EjdkBVWPHayB4Ix2T+RfWAHQzH5sNNTFoFtQ+lWI65sTnXH0sAkNzVryFDPzT1XwPlIMwxyf+igOa5IpEqBnLB0LActx96lPe6m7PfCE+TVtF9PhAffBwUad6+786pQ5FzAF7b4UkNK8AhWDy7SYnxT7zJl0lapCha+l1Su9hvI7YQEHuPvl+iF0Z9Wr71zHAcIgG+XC3+NrMA/YPFUrkexYspzhStoOlxI3K0OyLX/gNL1Jmgv/6x6fbj0YDiWawhsi9326SltiSDiiX1n3JnvHNZh1grsOE3BqXRMdkO1sEkKBR5VAT18miVDIc2/Dln2xxydcBWlakM9oigC9y4Xis/cUZ8nROYR4a6rW8baeYKW7hwyAViPo2vVpF9psWqRVLtnjSTGWGpdB/zekc6MM2UON17FMOzVXWwMF/J3uycYRoBgvnDRGtE3YeQRpHydzN0QRqWQzDIp3bSWmQqzvArJ+9HwBWW+43hddewAQcbuxTJMMmGhVMUYjQbYde7JBrQnDDIxiBmC0HHI8w8wJeba8v/p8gXzLZAjty60QhZoxPAd2qJtFj2XMJkV85YLebG4+jnCIjJ51W7FhWiFCpqqDpE2sGoa6sDzqZ5zKOXfEnmzU97v2vFaW7gFYGRjQGPwNIn7UWOonVNs5A51EK07FYdMKMb7xH8fsRilmil2T6R93bIlxWFKu7Cjhm6QxxHOpdBdB0RzLUBEe0elj0TsHKBNh13SeKwru1ek12n2Ka7M+09yejs5AghAkOGibdbllBLRj8Osw7dHR3Sjmw56Ud1IaflXK+0tFdOW3aZ2VuAwCJkwDgoTZMj8fluR+FRDUAN41A5m64oUbD6jItLEukI5+mLt8Rt8Gc8qrIGTDF/I3j+2/OY6Q85xFlcOpeV9Jg0tuqQS9Vf+2gg4aefaunAi5Xr8fBnR7LCCxiIggoiSSiu7U99aqdh+sO26BJXAb6WhM9hA4pBFUAGE3hOluKtW+5K4j1yvSwWR+Yn9pxJWvis2CObbhwlyofUu8xOqDDcmEEkoR6xSBlh6HRSia34NwP9HbZqZZVWRb1vRuZlsfoGFDEuuWdljUtV2WVQLZfWsv8VnNrF25bwRkWTP50cVw6CXmI5lqu8zoJZ7+ubjNLpb7+9AERzfU74ZOJGsapb95mmGkQo3STAdwJCeczdil5qU1Ck9H+muwbehefhQUSqIwoQkVsLCpaiVbiVT8st5tTVMS5B4CS6c1odNVvhjri4ukEzVbEoXKIHbalTmDZSMZgQq72qWgYKB1iKdGOddf19guxoW4jvFKCgYX5PuE7vy5MeFychnF4YtMF7dDDIsdrdk4w9rMN915SZHd+YEExLHvRIrktSQwFkTrihqW3N2QM7GOzx8KXCm6l5ccV3XD+gAdzrcH/swnQgWLkpjUQjsUtw6d17t7eKyO+XSmQkCIlLeRXdNRazSO1Dr/v1ldUjr2EummmHjhFurry9Zg+/c8PG5c3ECYpErMZuR1VNooM6l9HkVlHHEqGjs5VhhUhuN5WdqeYpDwg2y1uQND4fDwOWbN7CIqWoiFHUnqa+4hK05sB8gnN/IBna3jbsUxaaUEuEsuu6h+nDvIqAX1r8OYK/4+ouHNEigM2a/wzSBa8s0fpbV9Z4YrFegbmNR8eKAfhRqwoXRfsh3BFYrKwP6IwoHzKwluATu1b2HdA9grpskiPYZlmj23aUkEtaohFWsCcJXqHGkANT1kqnGTjyDNJDYp2dKKfXYukLPtJ9cZMo4oCGOEN474YwC2jcUwZq5Xkdt2vpJK3TnCAlp6Py45QYaSjYCKMtkxe4zkH+9aoXk4RMiv4+qP69ERLhHLZaWEj+HJpP7Bg2fea8GphJlsicu6NO2IwySxIfZSkb0oQ9WGR/vUcP9hcYlAbTv1cqg/yN0kNDx1shJ500QR000Mh7OSlX3tS67OCXTyxJ8Sr/ztsbhUvK1pYLOnsW5f/GFjAK+aNFiSVC7p8z0LSaNVn3wNQ4AEMKHM2auMtyPzkQsYuqsBuR+/ezcxEdRmujQ6KVsp51gO3OE6+Fg0xF6YLCOZp5zb8zdJTRTBVS4E3rIXDUl+X19P+hK1tBk9y7FuYJVIaSw/yBNidWlnyEYedxMhhfNanXZwG6UbM/+QiwRK1R/JPkk7LndPlcTJibM0d7wNFESw7hCI1CmRTR7XL1KWcTjHJCfdEnRX5jGw1vWLvl6mtCUptwAcdHqIrgPz/2wRA/uCO0licPV3ukwEOtirLN9jD3qL8M/5lKP/kdFxfF8FNHL2NTSF2Frt/Ux+RChU8A7XS9L8eg6uR3Sav7yN6jia2Z6uHjEK93Z6wox7Wd2uS7geeHidpWcndCDnnyRKBw0yS/lXJ7jxlVOLvZ/2qZZBLfhXUStvKx64N+7zpxiQeht4srYiXm4QCai3SAJcCtceyjqltwOCQ7bZgArGeaN2gYk97NZJVLx+2dHWdyJ3XpHz2rHg7xs9n/gF2E1fPChlCz6+B2n9QV7zfJZijaIDISzG6SdwNw+jnuHBVQvdXJscFcuUZ1C+KpOVp1tCo/BcOZMDr2OTTZ420IKZrmEDPJ13S/8tQRgnuYgrsGzqheLPD6xMtc8E2ycJygto9N7YOAe2CZhSaq1F4nhhy6DodzWpiS07x7SsOejS+eYiHL7YHqYWQfO5rQLOoE2y4AlFd8gtVOWJ5czkDM+HYS9lVxzgKrsloCISPz1I4VMJYelI64HHfu882TnAOwk6nCyk9gYk07eUqI1GWIZPDp9e5Dj8Zu6Lt+fhQzYZlhkNvdVy64gOw7tZkFol4QYPPXYLPufx7PDAPtdK9CBoHfsENxZLx8eeFn3DogBLu9S4zxFNNUxgBD3Ax7DG+ys1Dv9/DdX2lTI+Qso9L9o1LMsBjzw8883g3MUC5ycr2eLtJrmWgea6rMFua72v9whsNDBTO7sUePPstNaAPhTPCSSTadx4HDqA3TGjmGj5JRs27Jwr7AUREl5abSZgDc+VUlF/MuIUtODCwrh76be9gvQYIwMhlXwkUjhLLvX2AtrqzGGBADyshIds9kdalj5UFvi4iUUThnW5nYqIKr8k2xr+GBn/qMdKFfnKVgYx2fPK+00uO/wtbtQW4Xg7GaIFYhuLjVOeb1T/0ORYAJDnurAJRkuW27Hd7ZNL0Iyv73OiTt4SWHtRUVASVELVwP1zvjhnIRmIYIPlRIf44ZuOjuHM5piz6iJ0UVehYH1HnY1Lb2TFbcrlW6r74DH96pYOJSfhhTAwwLB8HqLxVTS2RcwN7B3rdIP11GrD3qpAUL1U+U/arwutSStfUN+NFZZa6r4dXLX4vfzjT/6r66zFDlKSfWdUaex4kqrfuybDxVBchCTWT3F+UGXIyCSFnSqfZgMplF0Z2jYFwvXqy9YgR27PLEfXK88q7+0rYWJ9ZX3vVutd2mpgI5da8BA6e651QI/hF6rOlNFLo/o3/jr9TXh6Bj1Gu/O4Wjfbi7QE4tM+E6E1bIaRlbNC8TxTjuqU3Evs0H9OdP4VA9HY9lsH6YfvtKuxk1FLQdmWf65JKXFanD5J9TktY0hHeaLC4z7wmJLky+gS6QuWadZ1QgoUA8MEIzaOQWdbBjwyKAGrEdu6+TKZ+cYbU0nNbwNam8H0oV2NNAjjb5l7wobZB0+2oTT5QZ53oxfll6W0yepOS0ivJaBHPrrsq0A7T3s8eIjmgRsCoITI8c+El9z3ofHF3u3Mu0fRD6YtbSkoi3W/Etx5NjA1TJ9agvByK8j0uRGoCSJFUxRL9Zmfnt2CVC1HbmUzgDAhwVb0zKscdL2kB4WXylOjBFxmC+IAPu6cH2a+Ps3SEGOQJGa80Hl1AwzoT8ph6FARX1JpcDQltL++wb2Gg+Er/yVBJyf6MRTQ3EOdv3FhVAWIO8yoDwwLG52Lb5MGGQBu4C5oIoVvDqAyDLwT/w6O46YEnCuNBHnldiPACqoSW8bEMldow0JPQ/fOdeNnhQPdVDidke4kb5GH2NiqPeJUcwUdZZdpb0YbbZVSmEHVf7cUbXk/9KjeC5VgeYGzv5uW6sF39HzEYn7SpNdGFZ0orq9d3fOc7H9UrxvnH8gQTAbdbJ38GHmK03/wvb0ZzeZ9XzQ2bQ2ncX4nAGFFNfMIgGLLDM6PcFhHlsclVfk1wFRdDaRY77MyhyuvF2Ry3FTiu2c2+WRhGU2nNygUO5Xd5VLyukzzxDHFuCQHGlPZZTk+KWHUGy5VoV8XUOsr+SwzkeBFH0xcN/plLB+qiC78cJ3h15EvQbOfbku3WJ8zPjIx21B7OWzszK+wodtP2t5lIPpNAiKty/7mSMrp/tDWwIsYfBysTyHWnIKMJWYdgVFaOp5v6lZUmyHhpuaxUc1fAknC1VCP/374FoSAYw/vJneywQmlOtKZlPU6hW12XoBlw4oxu+nMI1l0+H0wms6uKP2ll9IiXBn2lR27NEiZfOu2t6ljpzm4UXqK1SQ1gjJLYOdfwqnB3x99XSiF7h07kqO7qo4Zni/hJwMWZJp+EQ1Vbx3wMwHdSdXdErWjq5Gv2xn3oAOVFXioktV1cA1fBqoseXiYclVWYtEm/SiTqc7+wNvAcbUBZ4IPqsSuyFlHSKgsPeIe3WHyW/zUS27BmSPTTJT9xrdkXzb15oUuWQU4rb22mmFjDkrD15Io5r0/Xnp2ukRnESSZZZkU7IooGnMFYtf6Kz3NP9k68Dw1qEVvTu+6Lbd5xFWJYdUAzjVfQgJkIiNYTROBBidipz0tdLlEbMewBzR7yXsg/90c3209Vekaoe9fBW8oBfpaOH84LcytQnPfWcPLp53/i5qN82x8zSt3igQC7tY8ZkaX4q9v8PJs4kIXGEDjTIFtaR1wNkZoIQbnSJNithoPJz9WyEWx4yzgSQHyZ/SibA3r32NskQxi6NBxFPhlaMNy/p2Tnjzh9xFMb1zCq7uQ8GSHhEc73unjs6zrI1KwHEkv9iTJe7+K3aohASomikcBrovR/DIlaCSHF6qPDt6WSkjEoTodoyBO60ko2F+GrI91+gwF/ehhuhFlm/QTnsCgOwFfshRsdc8ohJfSoZydsVSmPEC2kdAod7ZA6elsGhHEIIgd05RALHSbaJd2vkehaSbWax9oZGhzS+6JWOcsnJ0uK8q5rOd7BO/dVDwc1e8UlSNtmMkcwoTkCL1koGUgSN1JMN5PkEOPhi494Kx/DxrQQ/Audx1T/FzWMZeuG6AFtFfTTf9mFw9lNO2/Estzhl3w4jdNSzzZ01cBFOlpX40egOt0ikYeZxYZfOMxSAjKYqYIbPjb4XSTIgRpqgMWm2YEk9HgMcXSflGIBjMuR1+TagkpFE0kbxEpFZgqI8JNeBthDYsRKEHIt3XWoMFCnXTe39DY7435ayhsDaNbt6euyJuZQaous56ScK9q70JI+hmlES14ek1FV5Tl9RdaNWGY/M/erw6JOckYO0UHCZ9ljN3NPzp9Y0pHW6edKjXbGPrngqATGJUNOxUMUVZqPVxGstGpJg7ygCTierg8kPVioxKRh5njI2r6I3nN37J6npPvpZzPaXza0FSTrwi8YEB1mgifMceuQZc9GLOfE7b0y2w7f4eXxxkWncbXh3iku0EuaHblCf5cTmS82IvC2y0PtMYFx1jyVgxy1F145yHVVd6k/Ubqc0uconJdvQGkrzshH729vJVJm642b01zqAYMp3sVkrEM4f1VKNVD0FwF/YE3TUfPRDxeyZBgDm+mvYDlZgutNp7vd782gHuppq3clhBlACu5DwLjRNDumLAGruDjZIOSsEba0QPiTTueCpNOdSpweBjKwhQNCKQ3BRArrbnvXtij6wvjXwtw201ur0FUOpuujUm1cev0yG5RoJ5UPhpVtzHoPRa+1YeH3X2gMjrgGhplkjHB6yi0q0v36CDK/eok/rJYfufPpLNt9SsBo1kIywwVJlk/2c1TwxMi95CARVBXEL/koA35g3U8qZ7v3tpCYqOrv7f6cehHFXQs/FVcfesIpB2zIgWbZA4XLhw0PFN1pKMULXfWcFwL6P978nmGy0jKR9VfB7T3/eqJKRFVoWYhlfFWEGPLZBhSJhe9AJT42AoUwemXf0oJKtByKnYYk2Ey2tA2YgIeeuOfglTfJXfwFOHYoCwhOCjdsDcpjxjYwZdSK76vM9ourGiWcy2Yp9EGx5KYc6ShmY1nka5GKa8gSE8q6Ry9js0sMRpjMWixzb/drNy6ZtdHE0I0f0mEwtn/C8rR3hOVJuitz0y4JEHmCpmjUfqrmgz7wo8rVopW74bU7pFvhGE8/9+C/HzOCjQjeLBCChmlBHzehJtkK4GINfEVivaeLG61Fp8xCbV5e9DNoQFdfneGzSLWdbNDh2Bc9DL+56VEatTtasrpoVdAffrP7EDM0EKjmDIjtFFCGc3u68RsF0m5kSDjudn486lYtK0/jRLGsEDBfo7y+9EzyTAkk4zGP7hOvggSlzW6TjnZ082Ibjxad1hQmB4cAgeJagc4G+fLJyHbNK2t+brTIj977IZ/Nj7rOZjH06y0SqO3U1JfB9+g/Z76gsfj7NXo2x5oTuo5edp2QgCAc3/tWIzxi7uEGeqBw8V2tmfdYBzY7hAMYKwKq98ZHfKX75XGX/T6WHI7lvaPVwty1Bcs3ktFTpQlE8aYH5YmCqHslK1lsTlUcqTS+vLCld3UYY2TyfU3zJL40rsDDW/H94Fccq4+IibZ2phV+J1kUT58Yce6iWl1vGTz7+1pqX1Vj8/+ovuYGjbP/O7mNTPKHEtOVVJZlCijJVRBuZfGTCZsy2lG3Sj12VHcjoHU9odG7pzRh0nLDNBCzF0G9zPsHXnZRZXE/BbF2Eb903+RCOhG4WpVbCWM1NgzqdE0kU1w1DUbblRimUMQHLT7rBOiaZ5IlQ6NgSCGOc9Eco8jkuLSRN9WOTulMkeasbPa1wutoGvadEAHxpcS5CBWyX2lQHbMLCUgyQU72pymnLnwiy8H8PCdK6xWMl4dHmm2tsouJKX4dh6bAx172dzlR01+n1hR4w8+fodyLoumnyVhovT/X8XeZocEVcrOjIZA+EefwLiZHHY1tzep6EN/oKcSs8JxJlIkqBbNCkE1TVlj2jjTgvlTI2FYZneF1rQp3ByK+/RGZIL9vY0iLe8uTyRcU1e3Chk5C1A9LErZCmNaisyM4lQMlyoitG66aPP0n1+XNudQcdXAubyb/AE/hUFBmQ52jw3tu6DgaYC0bPzV+51ur9cGKqzPIcaXbKeGHoOpKh57NZ4wPjL0vK0h15G243t1kUlPnI7q4MEBL9MiiUElebAtOLoDRaQw/7IO3wl7AsiR9XdXle8D4nCzemc8L89disqb4JPFSn4h+wA634wElbhDcGsoUHyF6ww5bX1Nr/w5syi4U3CgvvOwoUr+NqBelqYjXMAWZmsomCDSjIksBVVrv29ugsT3QL88+lxAM66n8bltfxed80QEKDn+3SvOJUV0IcSb+Bhlo+Zr5khMH19czh+pPOGRCMp5pQXQh0jsT4oKTYhfRubjr99qHWqRISt6WTuKk5kQh6t/smNxBJ/YB9qkLzkRr4mMGk1ZqTw22q0mqV4FIUVw4YGpNZ7AwrHbqmZbt85108bCgTepJWS9gWytD42czeuCvgXFv6R6mB51TpRKtnMmd1VNruP8dEYT+XvHpc3d5VLi9n2BQ3OHg1U0yMvpom/lmMHyyekrl5RoshX9Hy5s4SH31UNG1gTmaG5VK0SW14OX7LhYizXiOj53nWm5j/Sw1m3zlLSwAvcxw7uPRKP3IHlVOmnSsnLcXBPUyohShA6UiqdNe/k93za+m+pq0huTccw9/lzClFBEnWSxTVKvVwh60lGKWaGbZolwOECowHqvWpRf6ZfxQtZbTJl5NPqHvz7HlCsR1t+miUjQUtPnsKhKfEbQJefKKBIFNicjluiMfKUtKeh+/ePlJTY8z1H69vT4jzuauzpAndz56kgtd+lyPmhYfQpGRmDbPiKHvyRz88+IusIoMK4qXpLjFqUbaOmkwwTSzE8W7WMj6tkuJaGpAI8v9tuA+nZACrHVkcVvpD0unSeLczkDVInHyuVVOmY6AVqxvZ3UiPAAMbru+luWst8yHKw81PFVLWb2mNDLpIoO3UE/WOrWCEbJg3MmAiIhj/o2iR0nyVgfQbXlgYkjkc48oOfjKSCSpYiowgByGLZoTzQp5Y7Mpn4zvApuJ/TNL/Z2/35fRU7MUmb5D4ELRrGpwgOwCDcw5wOAm+UlyU1MzIZ6sH5F8Yi1YI/wqusvItegg6y6TmKQwl0bYOL5OfgYpdHZ1t2UDnIoTw29hzxvZIoPA5z1iMD57ryVuFjJmLnyGAkq1opBNK3EnhMOEMOdgIAYLm1gxsxv5NmMcxRAY11tNiRJhHvRB32N98rOUUvt9TTu2D0BrdFgt++Jic0R8XJqed4t36VZk1xumnc8IWejdNHI/jwgmr7bjtmrbfFjU2bGLHHnKixZq6JuAbQkWKrAP3eFcUANNAzBPQq40XcTPFqeS/WRUi2VCCOB5I2b5NnjS6XqQZdRaDayvo1/oz4KgnDIi7WdjNtcN+47eI0ArypWgPIpUM8FOQmH9Mg56qRqTOwzF+4OyKFTErnAKJCwK1LS9q27YzgGEAYBYnis/xfQ+YZ2TX8HfKUVXkw0niy80R/nq0FlIPD88QssvRn/H4hBX+/E8CNAN/2SkGiCQbM/v2E51XrcgfcXnX1ZoLD+qswIfn5E/zyFZfhRoBTCDJCIXyYUYeCOZSlivTp+aoH2FeHJsoz6fgD6xycQ8xZftrhlbR4fci6tKFGAtY1PaxpY79OTmbFqKXZjLWbMjAXbt8y6C+LxZsnwcTpJZ2"}],"role":"model"},"finishReason":"STOP","index":0}],"usageMetadata":{"promptTokenCount":363,"candidatesTokenCount":592,"totalTokenCount":3504,"promptTokensDetails":[{"modality":"TEXT","tokenCount":363}],"thoughtsTokenCount":2549},"modelVersion":"gemini-3.1-pro-preview","responseId":"g2S8aa7jK7bgz7IPgLTB-AE"},"pairedItem":{"item":0}}],"Parse Topics":[{"json":{"milagre_de_jesus":"O homem no tanque de Betesda","versiculo_base":"João 5:1-9","gancho_inicial":"Após trinta e oito anos esperando...","palavras_chave":["esperança","cura divina","tempo de Deus","milagre inesperado","fé"],"categoria":"milagre_cura","runId":"20260319-180233","topicIndex":1,"videoId":"20260319-180233_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"pairedItem":{"item":0}},{"json":{"milagre_de_jesus":"Acalmando a grande tempestade","versiculo_base":"Marcos 4:35-41","gancho_inicial":"Quando o barco começou a afundar...","palavras_chave":["paz interior","controle absoluto","poder divino","tempestade","confiança"],"categoria":"milagre_natureza","runId":"20260319-180233","topicIndex":2,"videoId":"20260319-180233_video_02","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"pairedItem":{"item":0}},{"json":{"milagre_de_jesus":"A volta de Lázaro","versiculo_base":"João 11:38-44","gancho_inicial":"Quatro dias após o último suspiro...","palavras_chave":["vida eterna","milagre impossível","poder sobre a morte","amigo fiel","chamado divino"],"categoria":"ressurreicao","runId":"20260319-180233","topicIndex":3,"videoId":"20260319-180233_video_03","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"pairedItem":{"item":0}},{"json":{"milagre_de_jesus":"A história do filho que partiu","versiculo_base":"Lucas 15:11-32","gancho_inicial":"Depois de perder absolutamente tudo...","palavras_chave":["amor de pai","segunda chance","perdão incondicional","retorno","graça"],"categoria":"parabola","runId":"20260319-180233","topicIndex":4,"videoId":"20260319-180233_video_04","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"pairedItem":{"item":0}},{"json":{"milagre_de_jesus":"O ensinamento sobre as ansiedades","versiculo_base":"Mateus 6:25-34","gancho_inicial":"No momento em que o medo bater...","palavras_chave":["paz mental","cuidado divino","descanso","sabedoria","superando desafios"],"categoria":"ensinamento","runId":"20260319-180233","topicIndex":5,"videoId":"20260319-180233_video_05","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"pairedItem":{"item":0}}],"Sub: Gerar Vídeos":[{"json":{"videoId":"20260319-180233_video_01","totalScenes":5,"scenes":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=13Sm1Yanj4Oopmy5SqKMNqOClhEjIVs4U&export=download","status":"scene_ready"},{"numero":2,"duracao":5,"url":"https://drive.google.com/uc?id=14cIsqyCNg8UIoOBVpJqJ4U5KmHQn-ivd&export=download","status":"scene_ready"},{"numero":3,"duracao":6,"url":"https://drive.google.com/uc?id=1IIrfFUpfIVOaYE2uk8e8cSK1GkzOQW7v&export=download","status":"scene_ready"},{"numero":4,"duracao":7,"url":"https://drive.google.com/uc?id=1vmDFgmvxp05PXP4l7ngl4fI2dFNpDB85&export=download","status":"scene_ready"},{"numero":5,"duracao":5,"url":"https://drive.google.com/uc?id=172zwTScKncM_PEiJxrL21WxhqLoomACo&export=download","status":"scene_ready"}],"status":"all_scenes_ready"}}]},"versionId":"4b4e2de7-4164-4766-8c12-225a21765c15","activeVersionId":"4b4e2de7-4164-4766-8c12-225a21765c15","versionCounter":316,"triggerCount":1,"shared":[{"updatedAt":"2026-03-18T11:41:18.503Z","createdAt":"2026-03-18T11:41:18.503Z","role":"workflow:owner","workflowId":"zloYjCYLVf6BWhF9","projectId":"lSmAYRY2Zk1SmuDH","project":{"updatedAt":"2026-02-23T16:22:49.206Z","createdAt":"2025-12-30T20:02:49.088Z","id":"lSmAYRY2Zk1SmuDH","name":"Lucca Pavanello <luccapavanallo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T02:22:13.966Z","createdAt":"2026-03-20T02:22:13.966Z","versionId":"4b4e2de7-4164-4766-8c12-225a21765c15","workflowId":"zloYjCYLVf6BWhF9","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,12,16,20 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[112,304]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[112,512],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[320,400]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere {{ $json.VIDEOS_PER_RUN }} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}","options":{"timeout":60000}},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[560,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"id":"node-split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[992,400]},{"parameters":{"jsCode":"var httpsModule = require('https');\n\nvar imageData = $('Sub: Gerar Vídeos').first().json;\nvar audioData = $('SUB: Audio Generation (ElevenLabs)').first().json;\nvar contentData = $('Sub: Generate Content').first().json;\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar CREATOMATE_KEY = '738b45bd6c674fb195ba30c3b4249378e86aa852a471d1cd79dbd0b99f41d1d3c9ed3f8b2f2d5368cf6ca80e69b29f84';\n\n// Pixabay background music (CDN direto)\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3', // Epic Inspiration 129171\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3' // Miracle 212835\n];\nvar validTracks = MUSIC_TRACKS.filter(function(u) { return u.startsWith('https://'); });\nvar musicUrl = validTracks.length ? validTracks[Math.floor(Math.random() * validTracks.length)] : null;\nvar hasMusic = !!musicUrl;\n\nvar totalDuration = scenes.reduce(function(s, c) { return s + (c.duracao || 6); }, 0);\n\n// Build elements\nvar elements = [];\n\n// Track 1: Narracao com transcript para legendas automaticas\nelements.push({\n  id: 'narracao',\n  type: 'audio',\n  track: 1,\n  time: 0,\n  source: audioUrl,\n  volume: '100%',\n  transcript: true\n});\n\n// Track 2: Musica de fundo (loop, volume baixo)\nif (hasMusic) {\n  elements.push({\n    type: 'audio',\n    track: 2,\n    time: 0,\n    source: musicUrl,\n    volume: '10%',\n    duration: totalDuration,\n    loop: true,\n    fade_in: '1 s',\n    fade_out: '2 s'\n  });\n}\n\n// Track 3: Cenas de video com timing cumulativo\nvar cumulativeTime = 0;\nscenes.forEach(function(s) {\n  var dur = s.duracao || 6;\n  elements.push({\n    type: 'video',\n    track: 3,\n    time: cumulativeTime,\n    duration: dur,\n    source: s.url,\n    volume: '0%',\n    fit: 'cover',\n    transition: { type: 'fade', duration: 0.4 },\n    width: '100%',\n    height: '100%'\n  });\n  cumulativeTime += dur;\n});\n\n// Track 4: Gradiente na parte inferior\nelements.push({\n  type: 'shape',\n  track: 4,\n  path: 'M 0 0 L 100 0 L 100 100 L 0 100 L 0 0 Z',\n  width: '100%',\n  height: '50%',\n  x: '50%',\n  y: '100%',\n  x_anchor: '50%',\n  y_anchor: '100%',\n  fill_color: [\n    { color: 'rgba(0,0,0,0)', offset: '0%' },\n    { color: 'rgba(0,0,0,0.85)', offset: '100%' }\n  ],\n  fill_mode: 'linear',\n  fill_x0: '50%',\n  fill_x1: '50%',\n  fill_y0: '0%',\n  fill_y1: '100%'\n});\n\n// Track 5: Legendas karaoke da narracao\nelements.push({\n  id: 'legendas',\n  type: 'text',\n  track: 5,\n  transcript_source: 'narracao',\n  transcript_effect: 'karaoke',\n  transcript_maximum_length: 3,\n  width: '88%',\n  x: '50%',\n  y: '80%',\n  x_anchor: '50%',\n  y_anchor: '50%',\n  fill_color: '#FFFFFF',\n  transcript_color: '#FFD700',\n  stroke_color: 'rgba(0,0,0,0.9)',\n  stroke_width: '2.2 vmin',\n  font_family: 'Montserrat',\n  font_weight: '900',\n  font_size: '8.5 vmin',\n  line_height: '130%',\n  x_alignment: '50%',\n  background_color: 'rgba(0,0,0,0.55)',\n  background_x_padding: '5%',\n  background_y_padding: '3%',\n  background_border_radius: '8px',\n  y_alignment: '50%'\n});\n\nvar source = {\n  output_format: 'mp4',\n  width: 1080,\n  height: 1920,\n  frame_rate: '30 fps',\n  duration: 'auto',\n  elements: elements\n};\n\nfunction creatomateRequest(method, path, body) {\n  return new Promise(function(resolve, reject) {\n    var data = body ? JSON.stringify(body) : null;\n    var opts = {\n      hostname: 'api.creatomate.com',\n      path: path,\n      method: method,\n      rejectUnauthorized: false,\n      headers: {\n        'Authorization': 'Bearer ' + CREATOMATE_KEY,\n        'Content-Type': 'application/json'\n      }\n    };\n    if (data) opts.headers['Content-Length'] = Buffer.byteLength(data);\n    var req = httpsModule.request(opts, function(res) {\n      var out = '';\n      res.on('data', function(d) { out += d; });\n      res.on('end', function() {\n        try { resolve({ status: res.statusCode, body: JSON.parse(out) }); }\n        catch(e) { resolve({ status: res.statusCode, body: out }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(30000, function() { req.destroy(new Error('Creatomate timeout')); });\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nfunction sleep(ms) { return new Promise(function(r) { setTimeout(r, ms); }); }\n\n// Submit render\nvar submitRes = await creatomateRequest('POST', '/v1/renders', { source: source });\nif (submitRes.status !== 200 && submitRes.status !== 201 && submitRes.status !== 202) {\n  throw new Error('Creatomate HTTP ' + submitRes.status + ' | ' + JSON.stringify(submitRes.body));\n}\n\nvar renders = Array.isArray(submitRes.body) ? submitRes.body : [submitRes.body];\nvar renderId = renders[0].id;\nif (!renderId) throw new Error('No render ID: ' + JSON.stringify(renders[0]));\n\n// Poll ate concluir (max 10 min, cada 10s)\nvar maxPolls = 60;\nvar renderUrl = null;\nfor (var i = 0; i < maxPolls; i++) {\n  await sleep(10000);\n  var pollRes = await creatomateRequest('GET', '/v1/renders/' + renderId, null);\n  var render = pollRes.body;\n  if (render.status === 'succeeded') { renderUrl = render.url; break; }\n  if (render.status === 'failed') throw new Error('Creatomate render failed: ' + (render.error_message || JSON.stringify(render)));\n}\nif (!renderUrl) throw new Error('Creatomate timeout after ' + maxPolls + ' polls for render ' + renderId);\n\nreturn [{ json: {\n  videoId: videoId,\n  renderUrl: renderUrl,\n  renderId: renderId,\n  sceneCount: scenes.length,\n  titulo: contentData.titulo,\n  descricao: contentData.descricao,\n  hashtags: contentData.hashtags,\n  narracao: contentData.narracao,\n  topic: contentData.topic,\n  status: 'assembled'\n} }];\n"},"id":"node-ffmpeg-assemble","name":"Creatomate: Assemble Video","type":"n8n-nodes-base.code","position":[1856,576],"typeVersion":2},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[2064,576],"typeVersion":2},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Set Config').first().json.AUTO_PUBLISH }}","operation":"equals","value2":"true"}]},"options":{}},"id":"node-publish-gate","name":"Auto Publish?","type":"n8n-nodes-base.if","position":[2288,672]},{"parameters":{"jsCode":"var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"},"id":"node-save-metadata","name":"Save Metadata","type":"n8n-nodes-base.code","position":[2592,768],"typeVersion":2},{"parameters":{"jsCode":"var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"},"id":"node-batch-summary","name":"Batch Summary","type":"n8n-nodes-base.code","position":[1216,304],"typeVersion":2},{"parameters":{"options":{}},"id":"node-webhook-response","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","position":[1440,304]},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $('Set Config').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\n\n// Deduplication via workflow static data\nvar store = $getWorkflowStaticData('global');\nif (!store.usedTopics) store.usedTopics = [];\n\nvar usedSet = {};\nfor (var i = 0; i < store.usedTopics.length; i++) {\n  var k = store.usedTopics[i].toLowerCase().replace(/[^a-z ]/g, '').trim();\n  usedSet[k] = true;\n}\n\nvar novos = topics.filter(function(t) {\n  var k = (t.milagre_de_jesus || '').toLowerCase().replace(/[^a-z ]/g, '').trim();\n  return !usedSet[k];\n});\n\nif (novos.length === 0) throw new Error('All topics already used. Will generate new ones next run.');\n\nnovos.forEach(function(t) { store.usedTopics.push(t.milagre_de_jesus); });\nif (store.usedTopics.length > 500) store.usedTopics = store.usedTopics.slice(-500);\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\n// Incluir TODAS as credenciais em cada item de saida\nreturn novos.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus: topic.milagre_de_jesus,\n      versiculo_base: topic.versiculo_base,\n      gancho_inicial: topic.gancho_inicial,\n      palavras_chave: topic.palavras_chave,\n      categoria: topic.categoria,\n      runId: runId,\n      topicIndex: i + 1,\n      videoId: runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});\n"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,576],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1424,688],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[1424,480],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2448,576],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Batch Summary","type":"main","index":0}],[{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Auto Publish?":{"main":[[{"node":"Save Metadata","type":"main","index":0}],[{"node":"Save Metadata","type":"main","index":0}]]},"Save Metadata":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Batch Summary":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Creatomate: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Creatomate: Assemble Video":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T02:22:14.034Z","id":1632,"workflowId":"zloYjCYLVf6BWhF9","versionId":"4b4e2de7-4164-4766-8c12-225a21765c15","event":"activated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"},{"createdAt":"2026-03-20T02:22:14.016Z","id":1631,"workflowId":"zloYjCYLVf6BWhF9","versionId":"4b4e2de7-4164-4766-8c12-225a21765c15","event":"deactivated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}]}}