exec_pi_images.json
{"id":"10298","finished":true,"mode":"integrated","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-03-22T23:53:53.893Z","startedAt":"2026-03-22T23:53:53.904Z","stoppedAt":"2026-03-22T23:58:26.977Z","deletedAt":null,"workflowId":"g5kS44qt6EUA0mG0","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Execute Workflow Trigger":[{"startTime":1774223633908,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"metadata":{"parentExecution":{"executionId":"10297","workflowId":"kFRpZ9ku3BcqePAn","shouldResume":true,"executionContext":{"version":1,"establishedAt":1774223633887,"source":"manual","triggerNode":{"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger"}}}},"executionStatus":"success","data":{"main":[[{"json":{"videoId":"PI_20260322231533","tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36","hook_prompt_video":"silhouette of seductive woman in dim red light with smoke and mirrors, sinful atmosphere, vertical 9:16","imagens_prompts":["man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, healing hands extended","man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, casting out darkness with light","man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, divine energy flowing from his being","man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, eyes filled with compassion and strength","man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, standing firm against a shadowy figure","man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, light radiating outwards, banishing shadows","man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, serene smile, offering peace and freedom"],"narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"concept_ready"},"index":0,"pairedItem":{"item":0}}]]}}],"Prepare Image Prompts":[{"startTime":1774223633908,"executionIndex":1,"source":[{"previousNode":"Execute Workflow Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":10,"executionStatus":"success","data":{"main":[[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, healing hands extended","imageIndex":1,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}},{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, casting out darkness with light","imageIndex":2,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}},{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, divine energy flowing from his being","imageIndex":3,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}},{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, eyes filled with compassion and strength","imageIndex":4,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}},{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, standing firm against a shadowy figure","imageIndex":5,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}},{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, light radiating outwards, banishing shadows","imageIndex":6,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}},{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, serene smile, offering peace and freedom","imageIndex":7,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}}]]}}],"Process Each Image":[{"startTime":1774223633918,"executionIndex":2,"source":[{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, healing hands extended","imageIndex":1,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":0}}]]}},{"startTime":1774223672581,"executionIndex":9,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, casting out darkness with light","imageIndex":2,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":1,"sourceOverwrite":{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0}}}]]}},{"startTime":1774223710923,"executionIndex":16,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, divine energy flowing from his being","imageIndex":3,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":2,"sourceOverwrite":{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0}}}]]}},{"startTime":1774223751209,"executionIndex":23,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, eyes filled with compassion and strength","imageIndex":4,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":3,"sourceOverwrite":{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0}}}]]}},{"startTime":1774223791746,"executionIndex":30,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":3}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, standing firm against a shadowy figure","imageIndex":5,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":4,"sourceOverwrite":{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0}}}]]}},{"startTime":1774223830981,"executionIndex":37,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":4}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, light radiating outwards, banishing shadows","imageIndex":6,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":5,"sourceOverwrite":{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0}}}]]}},{"startTime":1774223869244,"executionIndex":44,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":5}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"PI_20260322231533","imagePrompt":"man in ancient white robes, long dark hair, beard, surrounded by intense golden light, powerful, majestic, serene smile, offering peace and freedom","imageIndex":7,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36"},"pairedItem":{"item":6,"sourceOverwrite":{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0}}}]]}},{"startTime":1774223906967,"executionIndex":51,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":6}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":0},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":1},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":2},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1FdhEn_ek2aEH509LjugtevDo29Dcdt-t"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":3},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":4},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":5},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":6},"item":0}}],[]]}}],"Nano Banana: Generate Image1":[{"startTime":1774223633919,"executionIndex":3,"source":[{"previousNode":"Process Each Image","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":18357,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375}},"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375},"pairedItem":{"item":0}}]]}},{"startTime":1774223672582,"executionIndex":10,"source":[{"previousNode":"Process Each Image","previousNodeOutput":1,"previousNodeRun":1}],"hints":[],"executionTime":18541,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826}},"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826},"pairedItem":{"item":0}}]]}},{"startTime":1774223710924,"executionIndex":17,"source":[{"previousNode":"Process Each Image","previousNodeOutput":1,"previousNodeRun":2}],"hints":[],"executionTime":20244,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630}},"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630},"pairedItem":{"item":0}}]]}},{"startTime":1774223751210,"executionIndex":24,"source":[{"previousNode":"Process Each Image","previousNodeOutput":1,"previousNodeRun":3}],"hints":[],"executionTime":20700,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409}},"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409},"pairedItem":{"item":0}}]]}},{"startTime":1774223791746,"executionIndex":31,"source":[{"previousNode":"Process Each Image","previousNodeOutput":1,"previousNodeRun":4}],"hints":[],"executionTime":19423,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606}},"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606},"pairedItem":{"item":0}}]]}},{"startTime":1774223830981,"executionIndex":38,"source":[{"previousNode":"Process Each Image","previousNodeOutput":1,"previousNodeRun":5}],"hints":[],"executionTime":17985,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022}},"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022},"pairedItem":{"item":0}}]]}},{"startTime":1774223869245,"executionIndex":45,"source":[{"previousNode":"Process Each Image","previousNodeOutput":1,"previousNodeRun":6}],"hints":[],"executionTime":17705,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907}},"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907},"pairedItem":{"item":0}}]]}}],"Download Image":[{"startTime":1774223652276,"executionIndex":4,"source":[{"previousNode":"Nano Banana: Generate Image1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana"},"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375}},"pairedItem":{"item":0}}]]}},{"startTime":1774223691124,"executionIndex":11,"source":[{"previousNode":"Nano Banana: Generate Image1","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":9,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana"},"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826}},"pairedItem":{"item":0}}]]}},{"startTime":1774223731169,"executionIndex":18,"source":[{"previousNode":"Nano Banana: Generate Image1","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana"},"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630}},"pairedItem":{"item":0}}]]}},{"startTime":1774223771910,"executionIndex":25,"source":[{"previousNode":"Nano Banana: Generate Image1","previousNodeOutput":0,"previousNodeRun":3}],"hints":[],"executionTime":9,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana"},"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409}},"pairedItem":{"item":0}}]]}},{"startTime":1774223811169,"executionIndex":32,"source":[{"previousNode":"Nano Banana: Generate Image1","previousNodeOutput":0,"previousNodeRun":4}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana"},"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606}},"pairedItem":{"item":0}}]]}},{"startTime":1774223848966,"executionIndex":39,"source":[{"previousNode":"Nano Banana: Generate Image1","previousNodeOutput":0,"previousNodeRun":5}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana"},"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022}},"pairedItem":{"item":0}}]]}},{"startTime":1774223886951,"executionIndex":46,"source":[{"previousNode":"Nano Banana: Generate Image1","previousNodeOutput":0,"previousNodeRun":6}],"hints":[],"executionTime":18,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana"},"binary":{"data":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907}},"pairedItem":{"item":0}}]]}}],"Drive: Upload Image":[{"startTime":1774223652284,"executionIndex":5,"source":[{"previousNode":"Download Image","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":4265,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd","name":"undefined_img_undefined.jpg","mimeType":"image/jpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd&export=download","webViewLink":"https://drive.google.com/file/d/1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBNoj9JLHU98gDEDyQ6uB1cM28mWs_sUfy1bBkie63hVjFIJqJS1b7TwixmtpsyAin5USh2UtgY7j140rNj--K6lG0dIHS_8vxInrVgT2Fj8_e8iZQ=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2026-03-22T23:54:13.842Z","modifiedTime":"2026-03-22T23:54:15.326Z","modifiedByMeTime":"2026-03-22T23:54:15.326Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"undefined_img_undefined.jpg","fullFileExtension":"jpg","fileExtension":"jpg","md5Checksum":"825852ec216ea29dcc3918f87cfa3b6a","sha1Checksum":"d455c65e4ccf0ef0d0d0c80b4e11ab5c2e98b058","sha256Checksum":"d6dc24fbe40ae07e5040034aa054992269e1e3bf025b35ec964c0b112225b65b","size":"700375","quotaBytesUsed":"700375","headRevisionId":"0B-TaVSaugXLpTHllbWtQbkJxQ1dIY1ZROUdGVm9PZFllNG9rPQ","imageMediaMetadata":{"width":768,"height":1376,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223691133,"executionIndex":12,"source":[{"previousNode":"Download Image","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":3856,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9","name":"undefined_img_undefined.jpg","mimeType":"image/jpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9&export=download","webViewLink":"https://drive.google.com/file/d/1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPvUs_6JXPeCXVXcPoD0gdKlBmFHh7xmAMslPdwPLTrf8SnTkOsLGSOgQPSw2YxPCQ1cwock0WIERyi-4cT8qrWKC94b5jTYaTU6TRaLvuI47jUUQ=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2026-03-22T23:54:52.613Z","modifiedTime":"2026-03-22T23:54:54.124Z","modifiedByMeTime":"2026-03-22T23:54:54.124Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"undefined_img_undefined.jpg","fullFileExtension":"jpg","fileExtension":"jpg","md5Checksum":"889e33ce61ef06c247deb42f7d47b88a","sha1Checksum":"8646b9d2cced8510b84eacb9a537e13ed4109dbb","sha256Checksum":"341c2418794ec1641d10bd028a28f6ad0070933d92838c6b5b9b87932840ccf8","size":"678826","quotaBytesUsed":"678826","headRevisionId":"0B-TaVSaugXLpRjNlQjJVRExoSkVGbDlWV05oVFAyQUlHaWtvPQ","imageMediaMetadata":{"width":768,"height":1376,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223731175,"executionIndex":19,"source":[{"previousNode":"Download Image","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":3760,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol","name":"undefined_img_undefined.jpg","mimeType":"image/jpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol&export=download","webViewLink":"https://drive.google.com/file/d/1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOe7ilhRvmv7w6s3GFgTj88tO8yUdzBIAiqCmy2J2fAzY4sXr_ySiWCKKcwJX4sxMJxCKlYEgSFwkDed7l_yJObU9j223HsKX2___W4D1Xclk8WrA=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2026-03-22T23:55:32.707Z","modifiedTime":"2026-03-22T23:55:34.195Z","modifiedByMeTime":"2026-03-22T23:55:34.195Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"undefined_img_undefined.jpg","fullFileExtension":"jpg","fileExtension":"jpg","md5Checksum":"25bcdd20ef7492b4201e4c6ff72fbdf2","sha1Checksum":"07b7a0ed2ed8112027c7aefb93a13f7a8d77efdc","sha256Checksum":"87d4465feecd12004be4eb48fd5d49f6ebd4216d9edbd5973b5f387f95f3da3f","size":"772630","quotaBytesUsed":"772630","headRevisionId":"0B-TaVSaugXLpd3RlSWFtdFNqN2RtNmc4ZzVUVkxEelpQYmVzPQ","imageMediaMetadata":{"width":768,"height":1376,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223771919,"executionIndex":26,"source":[{"previousNode":"Download Image","previousNodeOutput":0,"previousNodeRun":3}],"hints":[],"executionTime":3939,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1FdhEn_ek2aEH509LjugtevDo29Dcdt-t","name":"undefined_img_undefined.jpg","mimeType":"image/jpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1FdhEn_ek2aEH509LjugtevDo29Dcdt-t&export=download","webViewLink":"https://drive.google.com/file/d/1FdhEn_ek2aEH509LjugtevDo29Dcdt-t/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPJvGS7jENUs0fKdP0udmoJETbQEQWt0jXj4TdvZoyZVvG3jL6N6cOrlhsEWOKN_F_z0_xwrXDRLavbuYyQ4P68kfDDTtBNAeXg0jq8Eq47r7CVOw=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2026-03-22T23:56:13.461Z","modifiedTime":"2026-03-22T23:56:14.852Z","modifiedByMeTime":"2026-03-22T23:56:14.852Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"undefined_img_undefined.jpg","fullFileExtension":"jpg","fileExtension":"jpg","md5Checksum":"65c8817a44fb0bd5227d97b754164118","sha1Checksum":"f39f8c604671d960e4a8ccee87bcc5eb0d6de284","sha256Checksum":"5465536f52c69feed48bc8e164edd5657cb4dc8ed580556dc8ed10e927da063f","size":"748409","quotaBytesUsed":"748409","headRevisionId":"0B-TaVSaugXLpZVg2SzFPWWcxcjg2dUlLL256cmpER1oyZHc0PQ","imageMediaMetadata":{"width":768,"height":1376,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223811175,"executionIndex":33,"source":[{"previousNode":"Download Image","previousNodeOutput":0,"previousNodeRun":4}],"hints":[],"executionTime":3814,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes","name":"undefined_img_undefined.jpg","mimeType":"image/jpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes&export=download","webViewLink":"https://drive.google.com/file/d/1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBP6-Hs8PTmj8Yydoa1qrTwtlPHQhARtGmg1wzaqONXv3SfIa85lg6Ha-kxdCCZQHkIntpOU3OtkA7jnbuG5u02TiIxyfxjkyskbKiqw9Ipxz716Ow=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2026-03-22T23:56:52.498Z","modifiedTime":"2026-03-22T23:56:53.870Z","modifiedByMeTime":"2026-03-22T23:56:53.870Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"undefined_img_undefined.jpg","fullFileExtension":"jpg","fileExtension":"jpg","md5Checksum":"546f8f19c026099c04b445eebbf05134","sha1Checksum":"f9104c78250b4155b31aef6e1116f286b3842c80","sha256Checksum":"23d18510917e2ca3372b790b191d668f79cec57c239afc6581605fa5f7dcd734","size":"602606","quotaBytesUsed":"602606","headRevisionId":"0B-TaVSaugXLpdXZnWGpPMmxGbm9xcWg2eXpZOWI3aWFWcVhRPQ","imageMediaMetadata":{"width":768,"height":1376,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223848972,"executionIndex":40,"source":[{"previousNode":"Download Image","previousNodeOutput":0,"previousNodeRun":5}],"hints":[],"executionTime":4414,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0","name":"undefined_img_undefined.jpg","mimeType":"image/jpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0&export=download","webViewLink":"https://drive.google.com/file/d/1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOzgYcAjkj3b7OQe1sEH64wHIEqxaZHOzUzaYkLwJA_3wSBGQNxVwGzFxWriPXSvrwo0ThDR2NdnZZjCwmjXFdtat9udkc7ihlxBjRy1TkmI39hEQ=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2026-03-22T23:57:30.649Z","modifiedTime":"2026-03-22T23:57:32.155Z","modifiedByMeTime":"2026-03-22T23:57:32.155Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"undefined_img_undefined.jpg","fullFileExtension":"jpg","fileExtension":"jpg","md5Checksum":"bc53174c833c0f81a602c3fb73627cc7","sha1Checksum":"a2105f710e61ee8efaf9848ac5a7957c084e2033","sha256Checksum":"296a01c31f88879acf90c3a9fdc0e7922d754d07463e8e9d1db75148fc78daf0","size":"697022","quotaBytesUsed":"697022","headRevisionId":"0B-TaVSaugXLpZmQyRFo2d0YxSUIxbGdaU2dWR0RJQ2l3RXhrPQ","imageMediaMetadata":{"width":768,"height":1376,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223886969,"executionIndex":47,"source":[{"previousNode":"Download Image","previousNodeOutput":0,"previousNodeRun":6}],"hints":[],"executionTime":4096,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l","name":"undefined_img_undefined.jpg","mimeType":"image/jpeg","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"2","webContentLink":"https://drive.google.com/uc?id=1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l&export=download","webViewLink":"https://drive.google.com/file/d/1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOX_2bSnOjzQkSLaF0tAEQuWHJpwJ8Qn2o2PZRhUbj_pEI7Znc07hEJ0k7YSm-h4KOCDZayTlkZ7RYsL3RXf0hx30xBmTwpWVIf04STZ5iGmBJt6Q=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2026-03-22T23:58:08.508Z","modifiedTime":"2026-03-22T23:58:09.965Z","modifiedByMeTime":"2026-03-22T23:58:09.965Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"undefined_img_undefined.jpg","fullFileExtension":"jpg","fileExtension":"jpg","md5Checksum":"e6ec959138f13b005b28ae9790809799","sha1Checksum":"169e04d7378687a9379efeece4445b67f1245201","sha256Checksum":"323bc040761a3afda261b0c17295febc3351e8428aa5dc2ad13e47e4ca024120","size":"696907","quotaBytesUsed":"696907","headRevisionId":"0B-TaVSaugXLpUWY3L0JFRHFzRFRNcVJUT0U1clhPNGpvQUM4PQ","imageMediaMetadata":{"width":768,"height":1376,"rotation":0},"isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}}],"Drive: Share Image Publicly":[{"startTime":1774223656549,"executionIndex":6,"source":[{"previousNode":"Drive: Upload Image","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1024,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223694989,"executionIndex":13,"source":[{"previousNode":"Drive: Upload Image","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":925,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223734935,"executionIndex":20,"source":[{"previousNode":"Drive: Upload Image","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":1264,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223775858,"executionIndex":27,"source":[{"previousNode":"Drive: Upload Image","previousNodeOutput":0,"previousNodeRun":3}],"hints":[],"executionTime":878,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223814989,"executionIndex":34,"source":[{"previousNode":"Drive: Upload Image","previousNodeOutput":0,"previousNodeRun":4}],"hints":[],"executionTime":982,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223853386,"executionIndex":41,"source":[{"previousNode":"Drive: Upload Image","previousNodeOutput":0,"previousNodeRun":5}],"hints":[],"executionTime":850,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}},{"startTime":1774223891066,"executionIndex":48,"source":[{"previousNode":"Drive: Upload Image","previousNodeOutput":0,"previousNodeRun":6}],"hints":[],"executionTime":890,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}}],"Set Drive ID":[{"startTime":1774223657573,"executionIndex":7,"source":[{"previousNode":"Drive: Share Image Publicly","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd"},"pairedItem":{"item":0}}]]}},{"startTime":1774223695914,"executionIndex":14,"source":[{"previousNode":"Drive: Share Image Publicly","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9"},"pairedItem":{"item":0}}]]}},{"startTime":1774223736199,"executionIndex":21,"source":[{"previousNode":"Drive: Share Image Publicly","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":10,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol"},"pairedItem":{"item":0}}]]}},{"startTime":1774223776737,"executionIndex":28,"source":[{"previousNode":"Drive: Share Image Publicly","previousNodeOutput":0,"previousNodeRun":3}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1FdhEn_ek2aEH509LjugtevDo29Dcdt-t"},"pairedItem":{"item":0}}]]}},{"startTime":1774223815971,"executionIndex":35,"source":[{"previousNode":"Drive: Share Image Publicly","previousNodeOutput":0,"previousNodeRun":4}],"hints":[],"executionTime":9,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes"},"pairedItem":{"item":0}}]]}},{"startTime":1774223854236,"executionIndex":42,"source":[{"previousNode":"Drive: Share Image Publicly","previousNodeOutput":0,"previousNodeRun":5}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0"},"pairedItem":{"item":0}}]]}},{"startTime":1774223891957,"executionIndex":49,"source":[{"previousNode":"Drive: Share Image Publicly","previousNodeOutput":0,"previousNodeRun":6}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l"},"pairedItem":{"item":0}}]]}}],"Wait":[{"startTime":1774223657580,"executionIndex":8,"source":[{"previousNode":"Set Drive ID","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":15001,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd"},"pairedItem":{"item":0}}]]}},{"startTime":1774223695923,"executionIndex":15,"source":[{"previousNode":"Set Drive ID","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":15000,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9"},"pairedItem":{"item":0}}]]}},{"startTime":1774223736209,"executionIndex":22,"source":[{"previousNode":"Set Drive ID","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":15000,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol"},"pairedItem":{"item":0}}]]}},{"startTime":1774223776744,"executionIndex":29,"source":[{"previousNode":"Set Drive ID","previousNodeOutput":0,"previousNodeRun":3}],"hints":[],"executionTime":15001,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1FdhEn_ek2aEH509LjugtevDo29Dcdt-t"},"pairedItem":{"item":0}}]]}},{"startTime":1774223815980,"executionIndex":36,"source":[{"previousNode":"Set Drive ID","previousNodeOutput":0,"previousNodeRun":4}],"hints":[],"executionTime":15001,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes"},"pairedItem":{"item":0}}]]}},{"startTime":1774223854244,"executionIndex":43,"source":[{"previousNode":"Set Drive ID","previousNodeOutput":0,"previousNodeRun":5}],"hints":[],"executionTime":15000,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0"},"pairedItem":{"item":0}}]]}},{"startTime":1774223891965,"executionIndex":50,"source":[{"previousNode":"Set Drive ID","previousNodeOutput":0,"previousNodeRun":6}],"hints":[],"executionTime":15001,"executionStatus":"success","data":{"main":[[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l"},"pairedItem":{"item":0}}]]}}],"Aggregate Images":[{"startTime":1774223906967,"executionIndex":52,"source":[{"previousNode":"Process Each Image","previousNodeOutput":0,"previousNodeRun":7}],"hints":[],"executionTime":10,"executionStatus":"success","data":{"main":[[{"json":{"videoId":"PI_20260322231533","images":[{"url":"https://drive.google.com/uc?export=download&id=1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd","driveId":"1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd","numero":1},{"url":"https://drive.google.com/uc?export=download&id=1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9","driveId":"1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9","numero":2},{"url":"https://drive.google.com/uc?export=download&id=1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol","driveId":"1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol","numero":3},{"url":"https://drive.google.com/uc?export=download&id=1FdhEn_ek2aEH509LjugtevDo29Dcdt-t","driveId":"1FdhEn_ek2aEH509LjugtevDo29Dcdt-t","numero":4},{"url":"https://drive.google.com/uc?export=download&id=1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes","driveId":"1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes","numero":5},{"url":"https://drive.google.com/uc?export=download&id=1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0","driveId":"1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0","numero":6},{"url":"https://drive.google.com/uc?export=download&id=1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l","driveId":"1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l","numero":7}],"narracao":"A luxúria te aprisiona? Jesus Cristo, o Leão da Tribo de Judá, tem o poder de quebrar essas correntes! Ele te liberta do pecado e te cura por completo. Digite 'AMÉM' nos comentários se você crê nesse poder! Receba agora a unção de cura e libertação em nome de Jesus! Amém.","ctaText":"Compartilhe essa mensagem com alguém!","titulo":"🔥Livre da Luxúria!🔥","descricao":"Jesus te liberta da luxúria e te dá uma nova vida! Receba essa benção e compartilhe com seus amigos.","hashtags":["#jesuscura","#libertacao","#feemdeus","#palavradedeus","#jesuscristo","#evangelho","#oracao"],"tema_jesus":"O poder da cura e libertação de Jesus sobre a luxúria","versiculo":"Portanto, se o Filho os libertar, vocês de fato serão livres. - João 8:36","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","imagesReady":true},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Aggregate Images"},"executionData":{"contextData":{"node:Process Each Image":{"currentRunIndex":7,"maxRunIndex":7,"sourceData":{"previousNode":"Prepare Image Prompts","previousNodeOutput":0,"previousNodeRun":0},"items":[],"processedItems":[{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/923cded2-f624-46c2-820b-905228200eac","fileSize":"700 kB","bytes":700375,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1uN_oNrAv1O8WDPrm0sm0PFpIQlylYpwd"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":0},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/9689b8cd-a8fd-4458-bc70-48d6948bbe05","fileSize":"679 kB","bytes":678826,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SKK4vn0skOvP2wg9cP-KYll5yyCJx8u9"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":1},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/586078e7-0e0e-4310-8968-481c21d517d9","fileSize":"773 kB","bytes":772630,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1SdVtUG1nDbmIuxXbZk-kAtojEhy6sFol"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":2},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/f88e26bc-e024-4cd9-88c3-3a6cfbef38df","fileSize":"748 kB","bytes":748409,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1FdhEn_ek2aEH509LjugtevDo29Dcdt-t"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":3},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/ef02d92d-57a8-45c2-ad4c-02ce43cee911","fileSize":"603 kB","bytes":602606,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1eyWvsZB6pQeiVmhlG_AQRK7HiewBLjes"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":4},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/28cec8ea-f3f5-4075-8c7b-c83b54b4f76b","fileSize":"697 kB","bytes":697022,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1obqKM-X5K_QBSVEnAMXAws0AqZfvRcS0"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":5},"item":0}},{"json":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"png","fileName":"image.png","id":"filesystem-v2:workflows/g5kS44qt6EUA0mG0/executions/10298/binary_data/106977be-462f-408e-bee0-3f74239e45d9","fileSize":"697 kB","bytes":696907,"imageLocalPath":"/home/node/.n8n/temp/PI_temp/img_00.png","imageSourceUrl":"binary_from_nanobanana","_driveId":"1dOCbvKPgYTDXB4sXZ8TPnmWyblxxpI0l"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":6},"item":0}}],"noItemsLeft":true,"done":true}},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1774223633908,"source":"integrated","triggerNode":{"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger"},"parentExecutionId":"10297"}},"parentExecution":{"executionId":"10297","workflowId":"kFRpZ9ku3BcqePAn","shouldResume":true,"executionContext":{"version":1,"establishedAt":1774223633887,"source":"manual","triggerNode":{"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger"}}}},"workflowData":{"id":"g5kS44qt6EUA0mG0","name":"SUB: PI - Jesus Images (Nano Banana)","active":true,"activeVersionId":"2196c57a-ced6-4af9-b4c5-5bd6936903e7","isArchived":false,"createdAt":"2026-03-22T21:20:47.007Z","updatedAt":"2026-03-22T23:53:28.119Z","nodes":[{"parameters":{"events":"worklfow_call"},"id":"pi-img-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,400]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var data = $input.first().json;\nvar prompts = data.imagens_prompts || [];\nvar FALLBACK = 'a compassionate healer in ancient robes with long hair and beard, bathed in intense divine golden light, looking at viewer, ancient Jerusalem background, vertical 9:16, photorealistic 8K, cinematic portrait';\nwhile (prompts.length < 5) {\n  prompts.push(FALLBACK);\n}\nif (prompts.length > 7) {\n  prompts = prompts.slice(0, 7);\n}\nreturn prompts.map(function(prompt, idx) {\n  return {\n    json: {\n      videoId: data.videoId,\n      imagePrompt: prompt,\n      imageIndex: idx + 1,\n      GOOGLE_AI_API_KEY: data.GOOGLE_AI_API_KEY,\n      ELEVENLABS_API_KEY: data.ELEVENLABS_API_KEY,\n      narracao: data.narracao,\n      ctaText: data.ctaText,\n      titulo: data.titulo,\n      descricao: data.descricao,\n      hashtags: data.hashtags,\n      tema_jesus: data.tema_jesus,\n      versiculo: data.versiculo\n    }\n  };\n});","notice":""},"id":"pi-img-prepare","name":"Prepare Image Prompts","type":"n8n-nodes-base.code","position":[464,400],"typeVersion":2},{"parameters":{"splitInBatchesNotice":"","batchSize":1,"options":{}},"id":"pi-img-batch","name":"Process Each Image","type":"n8n-nodes-base.splitInBatches","position":[688,400]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const fs = require('fs');\n\nconst item = $input.first();\nconst data = item.json;\n\nconst videoId = data.videoId || 'PI_temp';\nconst idx = data.imageIndex || 0;\n\n// Cria o diretório\nconst tempDir = '/home/node/.n8n/temp/' + videoId;\nif (!fs.existsSync(tempDir)) {\n  fs.mkdirSync(tempDir, { recursive: true });\n}\n\n// 1. Verifica se o nó anterior mandou o arquivo binário\nif (!item.binary || !item.binary.data) {\n  throw new Error(\"Imagem não encontrada! O nó do Nano Banana não retornou o binário 'data'.\");\n}\n\n// 2. Define o nome do arquivo (Note que o Nano Banana retornou um .png na sua imagem)\nconst imgFile = tempDir + '/img_' + String(idx).padStart(2, '0') + '.png';\n\n// 3. Pega o arquivo binário da memória do n8n (que está em base64) e converte para Buffer\nconst fileBuffer = Buffer.from(item.binary.data.data, 'base64');\n\n// 4. Salva o arquivo direto no disco\nfs.writeFileSync(imgFile, fileBuffer);\n\n// 5. Retorna o JSON atualizado e repassa o binário\nreturn [{\n  json: { \n    ...data, \n    imageLocalPath: imgFile, \n    imageSourceUrl: \"binary_from_nanobanana\" // Não há URL, veio direto do nó\n  },\n  binary: {\n    data: item.binary.data\n  }\n}];","notice":""},"id":"pi-img-download","name":"Download Image","type":"n8n-nodes-base.code","position":[1168,416],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"upload","inputDataFieldName":"data","name":"={{ $json.videoId + '_img_' + String($json.imageIndex).padStart(2, '0') + '.jpg' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"pi-img-upload","name":"Drive: Upload Image","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,416],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":false}},"options":{}},"id":"pi-img-share","name":"Drive: Share Image Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1600,416],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var shareData = $input.first().json;\nvar prev = $('Drive: Upload Image').first().json; // Aqui está o ID verdadeiro!\n\n// Pass drive ID along with all original data\nreturn [{\n  json: {\n    ...$('Download Image').first().json,\n    _driveId: prev.id  // AQUI FOI A CORREÇÃO! Puxando do 'prev' em vez do 'shareData'\n  }\n}];","notice":""},"id":"pi-img-set-id","name":"Set Drive ID","type":"n8n-nodes-base.code","position":[1808,416],"typeVersion":2},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var allItems = $input.all();\n\n// 1. Resgata os textos do nó correto antes do loop\nvar originalData = {};\ntry { \n  originalData = $(\"Prepare Image Prompts\").first().json; \n} catch(e) {\n  console.log(\"Aviso: Nó 'Prepare Image Prompts' não encontrado.\");\n}\n\n// 2. Monta as imagens usando o ID que vem do input\nvar images = allItems.map(function(item, index) {\n  // Pega o driveId que o nó \"Set Drive ID\" (dentro do loop) enviou\n  var driveId = item.json._driveId || item.json.driveId || \"FALTOU_O_ID\";\n  \n  return {\n    url: 'https://drive.google.com/uc?export=download&id=' + driveId,\n    driveId: driveId,\n    numero: index + 1\n  };\n});\n\nreturn [{\n  json: {\n    videoId: originalData.videoId || 'PI_unknown',\n    images: images,\n    narracao: originalData.narracao || '',\n    ctaText: originalData.ctaText || '',\n    titulo: originalData.titulo || '',\n    descricao: originalData.descricao || '',\n    hashtags: originalData.hashtags || [],\n    tema_jesus: originalData.tema_jesus || '',\n    versiculo: originalData.versiculo || '',\n    GOOGLE_AI_API_KEY: originalData.GOOGLE_AI_API_KEY || '',\n    ELEVENLABS_API_KEY: originalData.ELEVENLABS_API_KEY || '',\n    imagesReady: true\n  }\n}];","notice":""},"id":"pi-img-aggregate","name":"Aggregate Images","type":"n8n-nodes-base.code","position":[1360,160],"typeVersion":2},{"parameters":{"resource":"image","operation":"generate","modelId":{"__rl":true,"value":"models/gemini-3-pro-image-preview","mode":"list","cachedResultName":"models/gemini-3-pro-image-preview (Nano Banana Pro)"},"prompt":"={{ JSON.stringify({\n  \"model\": \"gemini-3-pro-image-preview\",\n  \"prompt\": $json.imagePrompt,\n  \"aspect_ratio\": \"9:16\",\n  \"output_format\": \"jpeg\"\n}) }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[960,416],"id":"db653a9d-e9e9-4c9c-aae8-299f12563324","name":"Nano Banana: Generate Image1","credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resume":"timeInterval","amount":15,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2032,416],"id":"948ef097-1c01-4e1a-ba75-c576795eac27","name":"Wait","webhookId":"64dbd6f1-870c-43f8-abf8-7549507d623f"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Image Prompts","type":"main","index":0}]]},"Prepare Image Prompts":{"main":[[{"node":"Process Each Image","type":"main","index":0}]]},"Process Each Image":{"main":[[{"node":"Aggregate Images","type":"main","index":0}],[{"node":"Nano Banana: Generate Image1","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Drive: Upload Image","type":"main","index":0}]]},"Drive: Upload Image":{"main":[[{"node":"Drive: Share Image Publicly","type":"main","index":0}]]},"Drive: Share Image Publicly":{"main":[[{"node":"Set Drive ID","type":"main","index":0}]]},"Set Drive ID":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Nano Banana: Generate Image1":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":{}},"customData":{}}