exec_9995.json
{"id":"9995","finished":false,"mode":"integrated","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-03-20T13:49:16.436Z","startedAt":"2026-03-20T13:52:31.492Z","stoppedAt":"2026-03-20T13:52:42.765Z","deletedAt":null,"workflowId":"7gHL7kSAPjd8Dl5q","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Execute Workflow Trigger":[{"startTime":1774014556450,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"metadata":{"parentExecution":{"executionId":"9994","workflowId":"zloYjCYLVf6BWhF9","shouldResume":true,"executionContext":{"version":1,"establishedAt":1774014556424,"source":"manual","triggerNode":{"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger"}}}},"executionStatus":"success","data":{"main":[[{"json":{"videoId":"20260320-100939_video_01","topicIndex":1,"topic":{"milagre_de_jesus":"Jesus acalma a tempestade no mar","versiculo_base":"Marcos 4:39","gancho_inicial":"Quando o barco estava quase afundando...","palavras_chave":["poder divino","tempestade","paz interior","fé inabalável","milagre nas águas"],"categoria":"milagre_natureza","runId":"20260320-100939","topicIndex":1,"videoId":"20260320-100939_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"script":{"titulo":"🌊 Jesus Acalma a Tempestade! ✨","descricao":"Testemunhe o milagre de Jesus acalmando a tempestade! Em Marcos 4:39, Ele demonstra Seu poder e amor incondicional. A fé em Deus pode te acalmar!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#TempestadeAcalmada","#Marcos439","#PoderDeDeus","#CalmaNaTempestade"],"duracao_total_segundos":30,"narracao_completa":"O desespero da morte iminente se dissipou em instantes. O medo paralisante dominava os corações dos discípulos apavorados. Jesus levantou a voz com amor incondicional e poder absoluto. A fúria do mar se curvou ao toque divino da paz eterna. Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo. Compartilhe com quem precisa sentir a paz de Jesus hoje. Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"O desespero da morte iminente se dissipou em instantes.","prompt_imagem":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.","prompt_video_motion":"Subtle camera shake to simulate the boat rocking violently.","descricao_visual":"Pequeno barco de pesca em meio a uma tempestade violenta. Ondas quebrando sobre o barco, nuvens escuras e densas. Discípulos apavorados."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"O medo paralisante dominava os corações dos discípulos apavorados.","prompt_imagem":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow zoom in on one disciple's terrified face.","descricao_visual":"Close-up dos rostos dos discípulos, mostrando medo e pânico enquanto tentam esvaziar a água do barco."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Jesus levantou a voz com amor incondicional e poder absoluto.","prompt_imagem":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow pan up from Jesus' feet to his face as he raises his hand.","descricao_visual":"Jesus em pé no barco, calmo, levantando a mão em direção à tempestade. Uma expressão serena em seu rosto, com luz emanando dele."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"A fúria do mar se curvou ao toque divino da paz eterna.","prompt_imagem":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Fast-motion showing the storm calming down and the sky clearing.","descricao_visual":"A tempestade diminuindo rapidamente, as ondas se acalmando, o céu clareando e a luz do sol rompendo as nuvens."}],"cta":{"seguir":"Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo.","compartilhar":"Compartilhe com quem precisa sentir a paz de Jesus hoje.","texto_completo":"Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","duracao_segundos":6}},"titulo":"🌊 Jesus Acalma a Tempestade! ✨","descricao":"Testemunhe o milagre de Jesus acalmando a tempestade! Em Marcos 4:39, Ele demonstra Seu poder e amor incondicional. A fé em Deus pode te acalmar!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#TempestadeAcalmada","#Marcos439","#PoderDeDeus","#CalmaNaTempestade"],"narracao":"O desespero da morte iminente se dissipou em instantes. O medo paralisante dominava os corações dos discípulos apavorados. Jesus levantou a voz com amor incondicional e poder absoluto. A fúria do mar se curvou ao toque divino da paz eterna. Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo. Compartilhe com quem precisa sentir a paz de Jesus hoje. Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"O desespero da morte iminente se dissipou em instantes.","prompt_imagem":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.","prompt_video_motion":"Subtle camera shake to simulate the boat rocking violently.","descricao_visual":"Pequeno barco de pesca em meio a uma tempestade violenta. Ondas quebrando sobre o barco, nuvens escuras e densas. Discípulos apavorados."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"O medo paralisante dominava os corações dos discípulos apavorados.","prompt_imagem":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow zoom in on one disciple's terrified face.","descricao_visual":"Close-up dos rostos dos discípulos, mostrando medo e pânico enquanto tentam esvaziar a água do barco."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Jesus levantou a voz com amor incondicional e poder absoluto.","prompt_imagem":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow pan up from Jesus' feet to his face as he raises his hand.","descricao_visual":"Jesus em pé no barco, calmo, levantando a mão em direção à tempestade. Uma expressão serena em seu rosto, com luz emanando dele."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"A fúria do mar se curvou ao toque divino da paz eterna.","prompt_imagem":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Fast-motion showing the storm calming down and the sky clearing.","descricao_visual":"A tempestade diminuindo rapidamente, as ondas se acalmando, o céu clareando e a luz do sol rompendo as nuvens."}],"duracao_total_segundos":24,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"script_ready"},"index":0,"pairedItem":{"item":0}}]]}}],"Prepare Scenes":[{"startTime":1774014556451,"executionIndex":1,"source":[{"previousNode":"Execute Workflow Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"prompt":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_01.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":2,"duracaoSegundos":6,"prompt":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_02.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":3,"duracaoSegundos":6,"prompt":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_03.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":4,"duracaoSegundos":6,"prompt":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_04.mp4","retryCount":0},"pairedItem":{"item":0}}]]}}],"Edit Fields":[{"startTime":1774014556458,"executionIndex":2,"source":[{"previousNode":"Prepare Scenes","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"prompt":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_01.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":2,"duracaoSegundos":6,"prompt":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_02.mp4","retryCount":0},"pairedItem":{"item":1}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":3,"duracaoSegundos":6,"prompt":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_03.mp4","retryCount":0},"pairedItem":{"item":2}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":4,"duracaoSegundos":6,"prompt":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_04.mp4","retryCount":0},"pairedItem":{"item":3}}]]}}],"Process Each Scene":[{"startTime":1774014556460,"executionIndex":3,"source":[{"previousNode":"Edit Fields","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"prompt":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_01.mp4","retryCount":0},"pairedItem":{"item":0}}]]}},{"startTime":1774014751500,"executionIndex":1,"source":[{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":2,"duracaoSegundos":6,"prompt":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_02.mp4","retryCount":0},"pairedItem":{"item":1,"sourceOverwrite":{"previousNode":"Edit Fields","previousNodeOutput":0,"previousNodeRun":0}}}]]}}],"Veo 2: Start Generation1":[{"startTime":1774014556460,"executionIndex":4,"source":[{"previousNode":"Process Each Scene","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":112442,"executionStatus":"success","data":{"main":[[{"binary":{"data":{"mimeType":"video/mp4","fileType":"video","fileExtension":"mp4","data":"filesystem-v2","fileName":"video.mp4","id":"filesystem-v2:workflows/7gHL7kSAPjd8Dl5q/executions/9995/binary_data/6003a88d-6944-416f-a94c-2cc5a109eb15","fileSize":"3.49 MB","bytes":3489607}},"json":{"mimeType":"video/mp4","fileType":"video","fileExtension":"mp4","fileName":"video.mp4","id":"filesystem-v2:workflows/7gHL7kSAPjd8Dl5q/executions/9995/binary_data/6003a88d-6944-416f-a94c-2cc5a109eb15","fileSize":"3.49 MB","bytes":3489607},"pairedItem":{"item":0}}]]}},{"startTime":1774014751502,"executionIndex":2,"source":[{"previousNode":"Process Each Scene","previousNodeOutput":1,"previousNodeRun":1}],"hints":[],"executionTime":11263,"executionStatus":"error","error":{"level":"warning","tags":{"reWrapped":true},"description":"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. ","timestamp":1774014762765,"context":{"data":{"error":{"code":429,"message":"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. ","status":"RESOURCE_EXHAUSTED"}},"itemIndex":0},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"resource":"video","operation":"generate","modelId":{"__rl":true,"value":"models/veo-3.0-generate-001","mode":"list","cachedResultName":"models/veo-3.0-generate-001"},"prompt":"={{ $json.prompt }}","returnAs":"video","options":{"durationSeconds":"={{ $json.duracaoSegundos }}","aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},"messages":["Request failed with status code 429"],"message":"The service is receiving too many requests from you","stack":"NodeOperationError: The service is receiving too many requests from you\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_f5f6d470dc34e93454118c7ffd3feae3/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/GoogleGemini/actions/router.ts:64:10)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_f5f6d470dc34e93454118c7ffd3feae3/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/GoogleGemini/GoogleGemini.node.ts:15:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1039:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1218:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1655:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2298:11"}}],"Upload file":[{"startTime":1774014668902,"executionIndex":5,"source":[{"previousNode":"Veo 2: Start Generation1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5447,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#file","id":"1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs","name":"cena_1_Jesus acalma a tempestade no mar.mp4","mimeType":"video/mp4","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"4","webContentLink":"https://drive.google.com/uc?id=1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs&export=download","webViewLink":"https://drive.google.com/file/d/1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/video/mp4","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"createdTime":"2026-03-20T13:51:11.339Z","modifiedTime":"2026-03-20T13:51:12.001Z","modifiedByMeTime":"2026-03-20T13:51:12.001Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"cena_1_Jesus acalma a tempestade no mar.mp4","fullFileExtension":"mp4","fileExtension":"mp4","md5Checksum":"867ed40104980dc6ad107ffed8dbed59","sha1Checksum":"edd90781c0c36e2ea876aa1fd81c04b038324472","sha256Checksum":"1227448d48b665bef5dd7096b28733ac05fb0369b99ecef937a8d51ab18a53ff","size":"3489607","quotaBytesUsed":"3489607","headRevisionId":"0B-TaVSaugXLpYmtDclRNK1AyUlp6eVYrOStZQ29uaStqMmhjPQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]]}}],"Share Publicly":[{"startTime":1774014674349,"executionIndex":6,"source":[{"previousNode":"Upload file","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2106,"executionStatus":"success","data":{"main":[[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}]]}}],"Confirm Scene Ready":[{"startTime":1774014676455,"executionIndex":7,"source":[{"previousNode":"Share Publicly","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":16,"executionStatus":"success","data":{"main":[[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"videoUrl":"https://drive.google.com/uc?id=1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs&export=download&confirm=1","status":"scene_ready"},"pairedItem":{"item":0}}]]}}],"Wait":[{"startTime":1774014751498,"executionIndex":0,"source":[{"previousNode":"Confirm Scene Ready","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"videoUrl":"https://drive.google.com/uc?id=1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs&export=download&confirm=1","status":"scene_ready"},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Veo 2: Start Generation1","error":{"level":"warning","tags":{"reWrapped":true},"description":"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. ","timestamp":1774014762765,"context":{"data":{"error":{"code":429,"message":"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. ","status":"RESOURCE_EXHAUSTED"}},"itemIndex":0},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"resource":"video","operation":"generate","modelId":{"__rl":true,"value":"models/veo-3.0-generate-001","mode":"list","cachedResultName":"models/veo-3.0-generate-001"},"prompt":"={{ $json.prompt }}","returnAs":"video","options":{"durationSeconds":"={{ $json.duracaoSegundos }}","aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},"messages":["Request failed with status code 429"],"message":"The service is receiving too many requests from you","stack":"NodeOperationError: The service is receiving too many requests from you\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_f5f6d470dc34e93454118c7ffd3feae3/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/GoogleGemini/actions/router.ts:64:10)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_f5f6d470dc34e93454118c7ffd3feae3/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/GoogleGemini/GoogleGemini.node.ts:15:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1039:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1218:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1655:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2298:11"}},"executionData":{"contextData":{"node:Process Each Scene":{"currentRunIndex":1,"maxRunIndex":4,"sourceData":{"previousNode":"Edit Fields","previousNodeOutput":0,"previousNodeRun":0},"items":[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":3,"duracaoSegundos":6,"prompt":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_03.mp4","retryCount":0},"pairedItem":{"item":2}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":4,"duracaoSegundos":6,"prompt":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_04.mp4","retryCount":0},"pairedItem":{"item":3}}],"processedItems":[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"videoUrl":"https://drive.google.com/uc?id=1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs&export=download&confirm=1","status":"scene_ready"},"pairedItem":{"sourceOverwrite":{"previousNode":"Wait","previousNodeOutput":0,"previousNodeRun":0},"item":0}}],"noItemsLeft":false,"done":false}},"nodeExecutionStack":[{"node":{"parameters":{"resource":"video","operation":"generate","modelId":{"__rl":true,"value":"models/veo-3.0-generate-001","mode":"list","cachedResultName":"models/veo-3.0-generate-001"},"prompt":"={{ $json.prompt }}","returnAs":"video","options":{"durationSeconds":"={{ $json.duracaoSegundos }}","aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},"data":{"main":[[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":2,"duracaoSegundos":6,"prompt":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_02.mp4","retryCount":0},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Process Each Scene","previousNodeOutput":1,"previousNodeRun":1}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1774014556450,"source":"integrated","triggerNode":{"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger"},"parentExecutionId":"9994"}},"parentExecution":{"executionId":"9994","workflowId":"zloYjCYLVf6BWhF9","shouldResume":true,"executionContext":{"version":1,"establishedAt":1774014556424,"source":"manual","triggerNode":{"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger"}}}},"workflowData":{"id":"7gHL7kSAPjd8Dl5q","name":"SUB: Video Generation (Google Veo 2)","active":true,"activeVersionId":"9ac584af-f623-4336-8cb6-fc8eb00c27f3","isArchived":false,"createdAt":"2026-03-18T11:40:39.185Z","updatedAt":"2026-03-20T13:48:30.847Z","nodes":[{"parameters":{"events":"worklfow_call"},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: Math.min(Math.max(cena.duracao_segundos || 6, 5), 8),\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));","notice":""},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"splitInBatchesNotice":"","batchSize":1,"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","operation":"generate","modelId":{"__rl":true,"value":"models/veo-3.0-generate-001","mode":"list","cachedResultName":"models/veo-3.0-generate-001"},"prompt":"={{ $json.prompt }}","returnAs":"video","options":{"durationSeconds":"={{ $json.duracaoSegundos }}","aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"upload","inputDataFieldName":"data","name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":false}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];","notice":""},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var staticData = ('global');\nvar videoId = .first().json.videoId;\nvar scenes = staticData[videoId] || [];\n// Limpar após leitura\ndelete staticData[videoId];\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];","notice":""},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"resume":"timeInterval","amount":75,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"include":"all","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionTimeout":-1},"staticData":{"global":{"20260318-181956_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"},{"numero":2,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-182719_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-183739_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-220350_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1GKBLayKEX8ogq7gS1vULclP2NvCuBby3&export=download","status":"scene_ready"}],"20260318-234307_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1cIl2F9Yf5Hcxp8cQ6ax38qaVd3T8AcKK&export=download","status":"scene_ready"}],"20260318-235324_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1y_XP01FXbLIDimWXFRoSwdC5qCf_pjO1&export=download","status":"scene_ready"}],"20260319-000043_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=14NyGCPSw39ACFwqx97ydDSXTmiGA9mgr&export=download","status":"scene_ready"}],"20260319-001419_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=1Ed8aT4taIzGUhaV3eNOtYRgfVLgfY4dJ&export=download","status":"scene_ready"}],"20260319-090252_video_01":[{"numero":3,"url":"https://drive.google.com/uc?id=1QuVuANn_GnwPuOaB14-9eyQx0vEzheU8&export=download","status":"scene_ready"}],"20260319-091637_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1wLQZMs7Mf1s4YZhYzoT-C0CC9VRJhONm&export=download","status":"scene_ready"}],"20260319-101210_video_01":[{"numero":5,"url":"https://drive.google.com/uc?id=1MkK0xuZOZQpUFttpBXCVLNya8-iVnKJN&export=download","status":"scene_ready"}],"20260319-111338_video_01":[{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"20260319-170525_video_01":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=11rMiBui1S9Wk9F1b2wtB3oCmQj5q6Zmr&export=download","status":"scene_ready"}],"20260319-180233_video_01":[{"numero":5,"duracao":5,"url":"https://drive.google.com/uc?id=172zwTScKncM_PEiJxrL21WxhqLoomACo&export=download","status":"scene_ready"}]}},"pinData":{"Execute Workflow Trigger":[{"json":{"videoId":"20260320-092321_video_01","topicIndex":1,"topic":{"milagre_de_jesus":"A cura no tanque de Betesda","versiculo_base":"João 5:8-9","gancho_inicial":"Após trinta e oito anos de espera...","palavras_chave":["cura divina","esperança renovada","milagre inesperado","poder da fé","ajuda celestial"],"categoria":"milagre_cura","runId":"20260320-092321","topicIndex":1,"videoId":"20260320-092321_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"script":{"titulo":"Milagre em Betesda! ⛲️🙌","descricao":"A cura no tanque de Betesda! João 5:8-9 nos mostra o poder de Jesus. Receba essa fé e compartilhe!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#Betesda","#CuraDivina","#Joao5","#Esperança"],"duracao_total_segundos":32,"narracao_completa":"Trinta e oito anos de sofrimento terminaram em um instante Um homem preso à beira do tanque de Betesda sem esperança Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso Clique em seguir para nunca perder um vídeo que te conecta com Deus Envie para aquela pessoa que precisa desse milagre agora Receba essa cura e compartilhe essa fé","cenas":[{"numero":1,"duracao_segundos":5,"tipo":"HOOK","texto_narrado":"Trinta e oito anos de sofrimento terminaram em um instante","prompt_imagem":"A man lying by the Pool of Bethesda, looking hopeless, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Slow zoom out revealing the pool and surrounding area.","descricao_visual":"Homem paralítico deitado à beira do tanque de Betesda, com expressão de sofrimento."},{"numero":2,"duracao_segundos":7,"tipo":"CONTEXTO","texto_narrado":"Um homem preso à beira do tanque de Betesda sem esperança","prompt_imagem":"Crowd of sick and disabled people gathered around the Pool of Bethesda, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Panning shot across the crowd, focusing on the man from the previous scene.","descricao_visual":"Multidão de enfermos e necessitados ao redor do tanque. O homem paralítico se destaca em meio à multidão."},{"numero":3,"duracao_segundos":8,"tipo":"ACAO_JESUS","texto_narrado":"Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande","prompt_imagem":"Jesus Christ reaching out to the paralyzed man at the Pool of Bethesda, divine light, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Zoom in on Jesus' hand as he reaches out to the man.","descricao_visual":"Jesus estendendo a mão para o paralítico, com uma luz divina irradiando."},{"numero":4,"duracao_segundos":7,"tipo":"IMPACTO","texto_narrado":"A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso","prompt_imagem":"The healed man standing up, carrying his mat, with a look of joy and gratitude, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Camera slowly rises as the man stands, emphasizing his newfound ability.","descricao_visual":"O homem curado se levanta, carregando seu leito, com um olhar de alegria e gratidão."}],"cta":{"seguir":"para nunca perder um vídeo que te conecta com Deus","compartilhar":"para aquela pessoa que precisa desse milagre agora","texto_completo":"Receba essa cura e compartilhe essa fé","duracao_segundos":5}},"titulo":"Milagre em Betesda! ⛲️🙌","descricao":"A cura no tanque de Betesda! João 5:8-9 nos mostra o poder de Jesus. Receba essa fé e compartilhe!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#Betesda","#CuraDivina","#Joao5","#Esperança"],"narracao":"Trinta e oito anos de sofrimento terminaram em um instante Um homem preso à beira do tanque de Betesda sem esperança Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso Clique em seguir para nunca perder um vídeo que te conecta com Deus Envie para aquela pessoa que precisa desse milagre agora Receba essa cura e compartilhe essa fé","cenas":[{"numero":1,"duracao_segundos":5,"tipo":"HOOK","texto_narrado":"Trinta e oito anos de sofrimento terminaram em um instante","prompt_imagem":"A man lying by the Pool of Bethesda, looking hopeless, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Slow zoom out revealing the pool and surrounding area.","descricao_visual":"Homem paralítico deitado à beira do tanque de Betesda, com expressão de sofrimento."},{"numero":2,"duracao_segundos":7,"tipo":"CONTEXTO","texto_narrado":"Um homem preso à beira do tanque de Betesda sem esperança","prompt_imagem":"Crowd of sick and disabled people gathered around the Pool of Bethesda, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Panning shot across the crowd, focusing on the man from the previous scene.","descricao_visual":"Multidão de enfermos e necessitados ao redor do tanque. O homem paralítico se destaca em meio à multidão."},{"numero":3,"duracao_segundos":8,"tipo":"ACAO_JESUS","texto_narrado":"Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande","prompt_imagem":"Jesus Christ reaching out to the paralyzed man at the Pool of Bethesda, divine light, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Zoom in on Jesus' hand as he reaches out to the man.","descricao_visual":"Jesus estendendo a mão para o paralítico, com uma luz divina irradiando."},{"numero":4,"duracao_segundos":7,"tipo":"IMPACTO","texto_narrado":"A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso","prompt_imagem":"The healed man standing up, carrying his mat, with a look of joy and gratitude, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Camera slowly rises as the man stands, emphasizing his newfound ability.","descricao_visual":"O homem curado se levanta, carregando seu leito, com um olhar de alegria e gratidão."}],"duracao_total_segundos":27,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"script_ready"},"pairedItem":{"item":0}}]}},"customData":{}}