res_ffmpeg_push.json
{"updatedAt":"2026-03-20T18:17:20.059Z","createdAt":"2026-03-18T11:41:18.499Z","id":"zloYjCYLVf6BWhF9","name":"Nicho Cristão - Video Automation (Main)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,12,16,20 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[112,304]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[112,512],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[320,400]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere {{ $json.VIDEOS_PER_RUN }} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}","options":{"timeout":60000}},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[560,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"id":"node-split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[992,400]},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[2064,576],"typeVersion":2},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Set Config').first().json.AUTO_PUBLISH }}","operation":"equals","value2":"true"}]},"options":{}},"id":"node-publish-gate","name":"Auto Publish?","type":"n8n-nodes-base.if","position":[2288,672]},{"parameters":{"jsCode":"var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"},"id":"node-save-metadata","name":"Save Metadata","type":"n8n-nodes-base.code","position":[2592,768],"typeVersion":2},{"parameters":{"jsCode":"var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"},"id":"node-batch-summary","name":"Batch Summary","type":"n8n-nodes-base.code","position":[1216,304],"typeVersion":2},{"parameters":{"options":{}},"id":"node-webhook-response","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","position":[1440,304]},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $('Set Config').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\n\n// Deduplication via workflow static data\nvar store = $getWorkflowStaticData('global');\nif (!store.usedTopics) store.usedTopics = [];\n\nvar usedSet = {};\nfor (var i = 0; i < store.usedTopics.length; i++) {\n  var k = store.usedTopics[i].toLowerCase().replace(/[^a-z ]/g, '').trim();\n  usedSet[k] = true;\n}\n\nvar novos = topics.filter(function(t) {\n  var k = (t.milagre_de_jesus || '').toLowerCase().replace(/[^a-z ]/g, '').trim();\n  return !usedSet[k];\n});\n\nif (novos.length === 0) throw new Error('All topics already used. Will generate new ones next run.');\n\nnovos.forEach(function(t) { store.usedTopics.push(t.milagre_de_jesus); });\nif (store.usedTopics.length > 500) store.usedTopics = store.usedTopics.slice(-500);\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\n// Incluir TODAS as credenciais em cada item de saida\nreturn novos.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus: topic.milagre_de_jesus,\n      versiculo_base: topic.versiculo_base,\n      gancho_inicial: topic.gancho_inicial,\n      palavras_chave: topic.palavras_chave,\n      categoria: topic.categoria,\n      runId: runId,\n      topicIndex: i + 1,\n      videoId: runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});\n"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,576],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1424,688],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[1424,480],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2448,576],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"},{"id":"node-ffmpeg-assemble","name":"FFmpeg: Assemble Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,576],"parameters":{"mode":"runOnceForAllItems","jsCode":"var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar imageData = allItems.find(function(d) { return d.scenes && d.scenes.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\nvar contentData = allItems.find(function(d) { return d.narracao || (d.script && d.script.narracao_completa); })\n  || allItems.find(function(d) { return d.titulo; }) || {};\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// Download audio\nvar audioFile = tempDir + '/narration.mp3';\nawait download(audioUrl, audioFile);\n\n// Download scenes\nvar sceneFiles = [];\nfor (var i = 0; i < scenes.length; i++) {\n  var sceneFile = tempDir + '/scene_' + String(i + 1).padStart(2, '0') + '.mp4';\n  await download(scenes[i].url, sceneFile);\n  sceneFiles.push(sceneFile);\n}\n\n// Concat list\nvar concatList = tempDir + '/concat.txt';\nfs2.writeFileSync(concatList, sceneFiles.map(function(f) { return \"file '\" + f + \"'\"; }).join('\\n'));\n\n// Step 1: concat scenes\nvar concatVideo = tempDir + '/scenes_concat.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\" -c copy \"' + concatVideo + '\"',\n  { timeout: 180000 }\n);\n\n// Step 2: mix narration audio over video\nvar finalVideo = tempDir + '/final.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -i \"' + concatVideo + '\" -i \"' + audioFile + '\" ' +\n  '-map 0:v:0 -map 1:a:0 ' +\n  '-c:v copy -c:a aac -b:a 128k ' +\n  '-shortest \"' + finalVideo + '\"',\n  { timeout: 180000 }\n);\n\n// Read final video as binary for Google Drive upload\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    localPath: finalVideo,\n    titulo: contentData.titulo,\n    descricao: contentData.descricao,\n    hashtags: contentData.hashtags,\n    narracao: contentData.narracao,\n    topic: contentData.topic,\n    sceneCount: scenes.length,\n    fileName: videoId + '.mp4'\n  },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: videoId + '.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"}},{"id":"node-drive-upload-final","name":"Drive: Upload Final Video","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2080,576],"parameters":{"name":"={{ $('FFmpeg: Assemble Video').first().json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"id":"node-drive-share-final","name":"Drive: Share Video Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2304,576],"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"id":"node-format-assembly-output","name":"Format Assembly Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,576],"parameters":{"jsCode":"var ffmpegData = $('FFmpeg: Assemble Video').first().json;\nvar uploadData = $('Drive: Upload Final Video').first().json;\nvar fileId = uploadData.id;\nvar renderUrl = 'https://drive.google.com/uc?export=download&id=' + fileId;\nreturn [{\n  json: {\n    videoId: ffmpegData.videoId,\n    renderUrl: renderUrl,\n    renderId: fileId,\n    sceneCount: ffmpegData.sceneCount,\n    titulo: ffmpegData.titulo,\n    descricao: ffmpegData.descricao,\n    hashtags: ffmpegData.hashtags,\n    narracao: ffmpegData.narracao,\n    topic: ffmpegData.topic,\n    status: 'assembled'\n  }\n}];"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Batch Summary","type":"main","index":0}],[{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Auto Publish?":{"main":[[{"node":"Save Metadata","type":"main","index":0}],[{"node":"Save Metadata","type":"main","index":0}]]},"Save Metadata":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Batch Summary":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"FFmpeg: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"FFmpeg: Assemble Video":{"main":[[{"node":"Drive: Upload Final Video","type":"main","index":0}]]},"Drive: Upload Final Video":{"main":[[{"node":"Drive: Share Video Publicly","type":"main","index":0}]]},"Drive: Share Video Publicly":{"main":[[{"node":"Format Assembly Output","type":"main","index":0}]]},"Format Assembly Output":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","timezone":"America/Sao_Paulo","availableInMCP":false,"executionTimeout":-1},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"usedTopics":["Cura do paralítico","Acalma a tempestade","Parábola do Bom Samaritano","Ressurreição de Lázaro","Amai os vossos inimigos","O milagre no tanque de Betesda","A restauração do homem no tanque de Betesda"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Sub: Generate Videos/Images1":[{"json":{"videoId":"20260319-111338_video_01","totalScenes":5,"scenes":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=1xSf_E-_0NeGC5VHn6kLE5Yy4JQtodp8t&export=download","status":"scene_ready"},{"numero":2,"duracao":6,"url":"https://drive.google.com/uc?id=1J2idfNiudIiHrNhIEnHRly_qmK7xBIYL&export=download","status":"scene_ready"},{"numero":3,"duracao":5,"url":"https://drive.google.com/uc?id=16zKJmcrsgMFbpuXbXFEpzYqvKmU2FqkA&export=download","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1UBhKviZgT1MEkJw9BeaJjA9Q2jRvHreO&export=download","status":"scene_ready"},{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"status":"all_scenes_ready"}}],"Schedule Trigger":[{"json":{"timestamp":"2026-03-20T11:17:56.932-03:00","Readable date":"March 20th 2026, 11:17:56 am","Readable time":"11:17:56 am","Day of week":"Friday","Year":"2026","Month":"March","Day of month":"20","Hour":"11","Minute":"17","Second":"56","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}],"SUB: Audio Generation (ElevenLabs)":[{"json":{"videoId":"20260320-100939_video_01","audioFileId":"13pcJsH2VliQg9hbPo6KZiGOBTEIk7tjK","audioFileName":"/home/node/.n8n/temp/20260320-100939_video_01/narration.mp3","audioUrl":"https://drive.google.com/uc?id=13pcJsH2VliQg9hbPo6KZiGOBTEIk7tjK&export=download&confirm=1","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","status":"audio_ready"},"pairedItem":{"item":0}}],"Sub: Gerar Vídeos":[{"json":{"videoId":"20260320-100939_video_01","totalScenes":4,"scenes":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8&export=download&confirm=1","status":"scene_ready"},{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8&export=download&confirm=1","status":"scene_ready"},{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8&export=download&confirm=1","status":"scene_ready"},{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8&export=download&confirm=1","status":"scene_ready"}],"status":"all_scenes_ready"}}],"Sub: Generate Content":[{"json":{"videoId":"20260320-100939_video_01","topicIndex":1,"topic":{"milagre_de_jesus":"Jesus acalma a tempestade no mar","versiculo_base":"Marcos 4:39","gancho_inicial":"Quando o barco estava quase afundando...","palavras_chave":["poder divino","tempestade","paz interior","fé inabalável","milagre nas águas"],"categoria":"milagre_natureza","runId":"20260320-100939","topicIndex":1,"videoId":"20260320-100939_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"script":{"titulo":"🌊 Jesus Acalma a Tempestade! ✨","descricao":"Testemunhe o milagre de Jesus acalmando a tempestade! Em Marcos 4:39, Ele demonstra Seu poder e amor incondicional. A fé em Deus pode te acalmar!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#TempestadeAcalmada","#Marcos439","#PoderDeDeus","#CalmaNaTempestade"],"duracao_total_segundos":30,"narracao_completa":"O desespero da morte iminente se dissipou em instantes. O medo paralisante dominava os corações dos discípulos apavorados. Jesus levantou a voz com amor incondicional e poder absoluto. A fúria do mar se curvou ao toque divino da paz eterna. Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo. Compartilhe com quem precisa sentir a paz de Jesus hoje. Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"O desespero da morte iminente se dissipou em instantes.","prompt_imagem":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.","prompt_video_motion":"Subtle camera shake to simulate the boat rocking violently.","descricao_visual":"Pequeno barco de pesca em meio a uma tempestade violenta. Ondas quebrando sobre o barco, nuvens escuras e densas. Discípulos apavorados."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"O medo paralisante dominava os corações dos discípulos apavorados.","prompt_imagem":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow zoom in on one disciple's terrified face.","descricao_visual":"Close-up dos rostos dos discípulos, mostrando medo e pânico enquanto tentam esvaziar a água do barco."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Jesus levantou a voz com amor incondicional e poder absoluto.","prompt_imagem":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow pan up from Jesus' feet to his face as he raises his hand.","descricao_visual":"Jesus em pé no barco, calmo, levantando a mão em direção à tempestade. Uma expressão serena em seu rosto, com luz emanando dele."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"A fúria do mar se curvou ao toque divino da paz eterna.","prompt_imagem":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Fast-motion showing the storm calming down and the sky clearing.","descricao_visual":"A tempestade diminuindo rapidamente, as ondas se acalmando, o céu clareando e a luz do sol rompendo as nuvens."}],"cta":{"seguir":"Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo.","compartilhar":"Compartilhe com quem precisa sentir a paz de Jesus hoje.","texto_completo":"Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","duracao_segundos":6}},"titulo":"🌊 Jesus Acalma a Tempestade! ✨","descricao":"Testemunhe o milagre de Jesus acalmando a tempestade! Em Marcos 4:39, Ele demonstra Seu poder e amor incondicional. A fé em Deus pode te acalmar!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#TempestadeAcalmada","#Marcos439","#PoderDeDeus","#CalmaNaTempestade"],"narracao":"O desespero da morte iminente se dissipou em instantes. O medo paralisante dominava os corações dos discípulos apavorados. Jesus levantou a voz com amor incondicional e poder absoluto. A fúria do mar se curvou ao toque divino da paz eterna. Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo. Compartilhe com quem precisa sentir a paz de Jesus hoje. Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"O desespero da morte iminente se dissipou em instantes.","prompt_imagem":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.","prompt_video_motion":"Subtle camera shake to simulate the boat rocking violently.","descricao_visual":"Pequeno barco de pesca em meio a uma tempestade violenta. Ondas quebrando sobre o barco, nuvens escuras e densas. Discípulos apavorados."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"O medo paralisante dominava os corações dos discípulos apavorados.","prompt_imagem":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow zoom in on one disciple's terrified face.","descricao_visual":"Close-up dos rostos dos discípulos, mostrando medo e pânico enquanto tentam esvaziar a água do barco."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Jesus levantou a voz com amor incondicional e poder absoluto.","prompt_imagem":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow pan up from Jesus' feet to his face as he raises his hand.","descricao_visual":"Jesus em pé no barco, calmo, levantando a mão em direção à tempestade. Uma expressão serena em seu rosto, com luz emanando dele."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"A fúria do mar se curvou ao toque divino da paz eterna.","prompt_imagem":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Fast-motion showing the storm calming down and the sky clearing.","descricao_visual":"A tempestade diminuindo rapidamente, as ondas se acalmando, o céu clareando e a luz do sol rompendo as nuvens."}],"duracao_total_segundos":24,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"script_ready"},"pairedItem":{"item":0}}],"Set Config":[{"json":{"timestamp":"2026-03-20T11:17:56.932-03:00","Readable date":"March 20th 2026, 11:17:56 am","Readable time":"11:17:56 am","Day of week":"Friday","Year":"2026","Month":"March","Day of month":"20","Hour":"11","Minute":"17","Second":"56","Timezone":"America/Sao_Paulo (UTC-03:00)","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","VIDEOS_PER_RUN":"1","AUTO_PUBLISH":"false","OUTPUT_DIR":"/data/output","TEMP_DIR":"/data/temp","ASSETS_DIR":"/data/assets","SCRIPTS_DIR":"/data/scripts","RUN_ID":"20260320-111756"},"pairedItem":{"item":0}}],"Prepare Topic Context":[{"json":{"timestamp":"2026-03-20T11:17:56.932-03:00","Readable date":"March 20th 2026, 11:17:56 am","Readable time":"11:17:56 am","Day of week":"Friday","Year":"2026","Month":"March","Day of month":"20","Hour":"11","Minute":"17","Second":"56","Timezone":"America/Sao_Paulo (UTC-03:00)","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","VIDEOS_PER_RUN":"1","AUTO_PUBLISH":"false","OUTPUT_DIR":"/data/output","TEMP_DIR":"/data/temp","ASSETS_DIR":"/data/assets","SCRIPTS_DIR":"/data/scripts","RUN_ID":"20260320-111756","geminiBody":"{\"contents\":[{\"parts\":[{\"text\":\"Você é um especialista em conteúdo cristão viral. Gere 1 tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O gancho_inicial deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: Após X anos..., Em apenas 3 dias..., No momento em que...\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: Jesus curou o homem doente (entrega tudo)\\n- Exemplos BONS: Após 38 anos esperando..., Quando tudo parecia perdido...\\n- PT-BR correto e natural, sem erros gramaticais\\n\\nTÓPICOS JÁ USADOS — NÃO REPITA NENHUM DELES (gere temas completamente diferentes):\\nnenhum ainda\"}]}],\"generationConfig\":{\"temperature\":0.8,\"maxOutputTokens\":8192,\"responseMimeType\":\"application/json\"}}"},"pairedItem":{"item":0}}],"Generate Topics (Gemini)":[{"json":{"candidates":[{"content":{"parts":[{"text":"[\n  {\n    \"milagre_de_jesus\": \"Jesus acalma a tempestade no mar\",\n    \"versiculo_base\": \"Marcos 4:39\",\n    \"gancho_inicial\": \"Quando o barco estava quase afundando...\",\n    \"palavras_chave\": [\n      \"poder divino\",\n      \"tempestade\",\n      \"paz interior\",\n      \"fé inabalável\",\n      \"milagre nas águas\"\n    ],\n    \"categoria\": \"milagre_natureza\"\n  }\n]","thoughtSignature":"EpUUCpIUAb4+9vv8BE5sr5uqRlKudgyogZ7l3+C9LJPWcIuLbM1NaxX8gIsidQY3TuWbysKojn5s52CKVtBYWoioUaHe1mu5Jj1NUrlDp8Hoz09O9z40i5Newk2B4wrihcv7ZL7yxeb4Nt9O7X3d2LulTcmNPL5LKBzxsZsSj/j6ds4eBdxXYD3t1Oi5uahnm3tk6IJoeCrInm8MYWj2ZncTUH3kZCv7mjbagS/ZkF6+lUV66rjYmWKSxTdyNjqYoLgg0EvKgk/ZR2uDlfJ7FyzLDNAVCwo8L2NJ9k7M1rG8NPTxmyre+SSEQMFDKyBujweq1ulSs633fHvrh3fLD0VBTMRM5sz2S6qhpiG6wsJWUEr/+zjhjzO94TzkHnMO3y1LGK8yk39JNla7D8tQ+5okopo2vx6F8zJwE1AhkGYdd7Y87igVv1EkLE265sqxOWTbRt+bRlguNDsfTpcMbLX+sEw+l/+i1XXOpvbtEiOcDKPx6RONN5kAbrb2ixn7ObDpA4gHB01Ljl7rYT662+5nr4uo+J0d7uMNoh2v3PYMIGo54dDib6ctWSOP14O3cPtWYn3VmtxEvsAgoUavGkqs5DWAyfyVgvS0T9hex6nr/nZVh2r73HczhNaXrhMu/WLEhs7xMPW9DxdYQjwW0RvHNWTg5md8o7///oQg6f7KTwYCdE2ShLL1W0y9yAxwcgQhiFN/di6gUEr2abeG97QKAGqCK4deBq1Uk7bEXo056pf9lvNfiG54lNVZKw6ds3j8Wpg/QoxGtzPBHTt1w/pGoMKyN/WNPaVq5AzPXwviGDo3B0Gksenf2DAj/5ysASoFda8T6qErR8231R5IH3bHq+XmRKScZiyUIYZHrvYUmYvrFtsQSQywjJW/e3+7fAv72Em9jN2M94wKtcOoD8PSViIh9JzZpX+u5nUqAPjgJINCSSd0VyogQ+QeVJcNWWhLrkwAbhlalBS0jBHeoG2vIwkhKVCJSd5obifbduygzpZR8a53yn6J8PR2NRdfzmIt2Qa8NDK7nu9DDEBKYBiU1lMRTvavkxtk+Rx9JO2MA1b0M8jwuwapj7ko07j1YgTsIHx6nhB9Daez0eO0+H4M+Z2D4c2AY1LjWt1GuCytIm9S9MzIqq3HfXuWuXMP+wydzE4nC1UYF4ynSPYVLO1yQecAz8S6uNyW9LzLPGknZmucd0woe9m3JMqvLPmNhNchcLphmc5ukSJo9LKZQnlrLcy9QJ2i1ybNdrDoyjLc67o0bGmzscriZGd8w6AXZafgXXnKvTrj/NgZpI/II6+z+SyeVtbnEzkIZFmvVRVVBC6IAJgediprtHAUzX2EipTjMUZU35PK/eLRgt00TzU4YEouwbLv0bBwt4liKI9x976yggicEOaS2N1LOAPepMAGo/a/jwexQ+b2wLQYAY7jxxhpud5p5TkaYqQzi0hEcpAeyoypKFYtFiXbrQ5lo20YY57sEeEUPVGZqkV9dQeHP+YZrSA1z8vUbfcXibVpvx7e17MlU0LnV/V/cQF5uS0Z/SIKK8HsM+wSoz2+emnx43Moy/imibRyb4PPFaKssfF96ba+lHZkUUZY6TUHow4uOSFwl7df45ICtK2KsgFxYwCm/NMYdPSbIYt8tCzG8wprvGUK0bNpB33WFfF3MoFElToGeFwkaegM1b4yOQCDP8G0Bu/fFPT+abQII39xJdxONwY2c75SpYp9agkHzpBoOLWaRnITACZyRIMqtOPBWswzKW0OatS9JrL7qiX6s22gqc4aLKSKIaAelr+v6gHIWx/IZPXWjna0Zt2gM4RApXnWZHi+nyKiqEijGlzvN9qvl33lMCPMblP3RoJf1fvC2Yt0aNFuM7kMjK4uSdpGntBd2S3UgXlEZZ7IVoZVWrrFBawnIscKmmy/a6kh9t6epXwK4DhSq0oaoRECaYOEd4E0DTzYHGkEDBdDJwbGsAF9XZDIqbePMiqUzLg3UYCxBSvni6Zf1RK6FL/P72bhi+RkB+lrsj6aa1ryl9XaiKd9OdgKbtLpNIYMLEs/GH4DyLfVny/zacJi9XbnX3gRmHoN5qeDFb0K1SZhaNd/OeesGyWzN2xqkIVAJuODwNZrQj13e7DKyqncm8D42GmkgOktC8clfFX9QteGetvCWoutxZoy+NcwZggGLryuwEASsoHbBKA0E++mmUiFgYznfg9RH6YBjlpFcs8Lg2ltfl+WegQv8Qx5KBE7DExcr7VzBkw+Qb0qjznSvvJ5fuZ8XBXi/31pBWTCojEWrQXshoFq2ahvsEbXMay9oinbQ4O9DFWcj4xVZFAgNdY6A1CA+qaBn1we4mhLLuTzARnIb5B3LOEMgDf7o+7qdNoUiiMfbg7S4AlxwYAuVZ9L2q1hTlo8hNMG0jo4Mefn49bviiuernyVkL0F+ZmiGacNV6XU6JQEdRBfKN8GRVxVCPJCDDdcH5xmLCEmwRkRVtG7y/lRxltE/n3lZowKXJGQrB4XfseUUt0SGCP3VYlnYFZ15yQSZd1mFxcV6IN1n6sVv0d0arCEHsGMz0baZ0bXz9HI0TJ0pfeA/Ug/v+RNgf1Tq1QehT6Ro4e3Q2YLFCGsqP/aLWXf5BgHLSfaxJh4h9XCbgK7PB63SJ6+GRKfrUzjWDGO+bc8skGwGqh4B0TdSskLcvwcNUb+4ymzdNqt0o8qpOeFmot/uSxbXONwesUsQshlFe2fHA4H/JPrvUXi2aTUpefww7qeCRTqzPdbM9vJ+oeFl5dodiyPXLMDjk7vvLZtnnsIaSvTU3zAVBAWyF/Hs7XZXu0CfHjDSo7PBeBhMnhgQxRiFzYXMyKMRygRcgVgUerEfbO9X0gDQIFu1s4NxJYDRspw873PUsOMOvO5WEDVpBxnV/K10bbyFdFthjz/EOniNiZFvAIGGDRFuwj6g/QGDsa1vuPhMomwh5VTSP+b9kCXBJ2nQc5M/nYAEWk/I4xx6nrBy4e+6wBvdDEO+h/Mh5TATEKpdBJe4rQXlEytKgt+O1kBqDpL6Ob/y5oU5449uNk9oBiXxiWfalvUkTDsToResXg2uWj/YUYRU2AmsmaUKVy9Cb+Rc8OpDG8QWPuFQoRxVx79ozAyia0NqJxGxOXQwEEKgr/Z1F83BFsc3Ng3DdCo15qJ0iiVlQlugGmwGJmz0HVwty4uPshN4TOmf8Mdb00Pi0uDNe7RyPK7OEeukqLwS7IGV96/talOIiBbWxId8YUGlNf1uK+2aUidBgjdJDsGhyWlBIHh0v2UgAlJSRxQp/CiJtx8Ww9x9ABKHqo4HX7lDwZRkNWdZyotvxrigTiYLCmh1F2sP48dh7gh8GM7KirpOI7fuQrk00wBYMdvzjcyNtuc4kYpZgKZi5m9FLyGySqjP9LvmVVNbv01u4LzqB8qY34NiRJA15so6bBuVDkkGXnWs/Gnwolp/w=="}],"role":"model"},"finishReason":"STOP","index":0}],"usageMetadata":{"promptTokenCount":382,"candidatesTokenCount":125,"totalTokenCount":1244,"promptTokensDetails":[{"modality":"TEXT","tokenCount":382}],"thoughtsTokenCount":737},"modelVersion":"gemini-3.1-pro-preview","responseId":"OUe9aZH7HZPtz7IPw6Oh0AU"},"pairedItem":{"item":0}}],"Parse Topics":[{"json":{"milagre_de_jesus":"Jesus acalma a tempestade no mar","versiculo_base":"Marcos 4:39","gancho_inicial":"Quando o barco estava quase afundando...","palavras_chave":["poder divino","tempestade","paz interior","fé inabalável","milagre nas águas"],"categoria":"milagre_natureza","runId":"20260320-100939","topicIndex":1,"videoId":"20260320-100939_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"pairedItem":{"item":0}}]},"versionId":"bc3a55e7-c816-46fe-9b36-b7466d767b70","activeVersionId":"bc3a55e7-c816-46fe-9b36-b7466d767b70","versionCounter":395,"triggerCount":1,"tags":[],"activeVersion":{"updatedAt":"2026-03-20T18:17:20.061Z","createdAt":"2026-03-20T18:17:20.061Z","versionId":"bc3a55e7-c816-46fe-9b36-b7466d767b70","workflowId":"zloYjCYLVf6BWhF9","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,12,16,20 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[112,304]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[112,512],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[320,400]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere {{ $json.VIDEOS_PER_RUN }} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}","options":{"timeout":60000}},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[560,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"id":"node-split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[992,400]},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[2064,576],"typeVersion":2},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Set Config').first().json.AUTO_PUBLISH }}","operation":"equals","value2":"true"}]},"options":{}},"id":"node-publish-gate","name":"Auto Publish?","type":"n8n-nodes-base.if","position":[2288,672]},{"parameters":{"jsCode":"var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"},"id":"node-save-metadata","name":"Save Metadata","type":"n8n-nodes-base.code","position":[2592,768],"typeVersion":2},{"parameters":{"jsCode":"var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"},"id":"node-batch-summary","name":"Batch Summary","type":"n8n-nodes-base.code","position":[1216,304],"typeVersion":2},{"parameters":{"options":{}},"id":"node-webhook-response","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","position":[1440,304]},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $('Set Config').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\n\n// Deduplication via workflow static data\nvar store = $getWorkflowStaticData('global');\nif (!store.usedTopics) store.usedTopics = [];\n\nvar usedSet = {};\nfor (var i = 0; i < store.usedTopics.length; i++) {\n  var k = store.usedTopics[i].toLowerCase().replace(/[^a-z ]/g, '').trim();\n  usedSet[k] = true;\n}\n\nvar novos = topics.filter(function(t) {\n  var k = (t.milagre_de_jesus || '').toLowerCase().replace(/[^a-z ]/g, '').trim();\n  return !usedSet[k];\n});\n\nif (novos.length === 0) throw new Error('All topics already used. Will generate new ones next run.');\n\nnovos.forEach(function(t) { store.usedTopics.push(t.milagre_de_jesus); });\nif (store.usedTopics.length > 500) store.usedTopics = store.usedTopics.slice(-500);\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\n// Incluir TODAS as credenciais em cada item de saida\nreturn novos.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus: topic.milagre_de_jesus,\n      versiculo_base: topic.versiculo_base,\n      gancho_inicial: topic.gancho_inicial,\n      palavras_chave: topic.palavras_chave,\n      categoria: topic.categoria,\n      runId: runId,\n      topicIndex: i + 1,\n      videoId: runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});\n"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,576],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1424,688],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[1424,480],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2448,576],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"},{"id":"node-ffmpeg-assemble","name":"FFmpeg: Assemble Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,576],"parameters":{"mode":"runOnceForAllItems","jsCode":"var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar imageData = allItems.find(function(d) { return d.scenes && d.scenes.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\nvar contentData = allItems.find(function(d) { return d.narracao || (d.script && d.script.narracao_completa); })\n  || allItems.find(function(d) { return d.titulo; }) || {};\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// Download audio\nvar audioFile = tempDir + '/narration.mp3';\nawait download(audioUrl, audioFile);\n\n// Download scenes\nvar sceneFiles = [];\nfor (var i = 0; i < scenes.length; i++) {\n  var sceneFile = tempDir + '/scene_' + String(i + 1).padStart(2, '0') + '.mp4';\n  await download(scenes[i].url, sceneFile);\n  sceneFiles.push(sceneFile);\n}\n\n// Concat list\nvar concatList = tempDir + '/concat.txt';\nfs2.writeFileSync(concatList, sceneFiles.map(function(f) { return \"file '\" + f + \"'\"; }).join('\\n'));\n\n// Step 1: concat scenes\nvar concatVideo = tempDir + '/scenes_concat.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\" -c copy \"' + concatVideo + '\"',\n  { timeout: 180000 }\n);\n\n// Step 2: mix narration audio over video\nvar finalVideo = tempDir + '/final.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -i \"' + concatVideo + '\" -i \"' + audioFile + '\" ' +\n  '-map 0:v:0 -map 1:a:0 ' +\n  '-c:v copy -c:a aac -b:a 128k ' +\n  '-shortest \"' + finalVideo + '\"',\n  { timeout: 180000 }\n);\n\n// Read final video as binary for Google Drive upload\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    localPath: finalVideo,\n    titulo: contentData.titulo,\n    descricao: contentData.descricao,\n    hashtags: contentData.hashtags,\n    narracao: contentData.narracao,\n    topic: contentData.topic,\n    sceneCount: scenes.length,\n    fileName: videoId + '.mp4'\n  },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: videoId + '.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"}},{"id":"node-drive-upload-final","name":"Drive: Upload Final Video","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2080,576],"parameters":{"name":"={{ $('FFmpeg: Assemble Video').first().json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"id":"node-drive-share-final","name":"Drive: Share Video Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2304,576],"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"id":"node-format-assembly-output","name":"Format Assembly Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,576],"parameters":{"jsCode":"var ffmpegData = $('FFmpeg: Assemble Video').first().json;\nvar uploadData = $('Drive: Upload Final Video').first().json;\nvar fileId = uploadData.id;\nvar renderUrl = 'https://drive.google.com/uc?export=download&id=' + fileId;\nreturn [{\n  json: {\n    videoId: ffmpegData.videoId,\n    renderUrl: renderUrl,\n    renderId: fileId,\n    sceneCount: ffmpegData.sceneCount,\n    titulo: ffmpegData.titulo,\n    descricao: ffmpegData.descricao,\n    hashtags: ffmpegData.hashtags,\n    narracao: ffmpegData.narracao,\n    topic: ffmpegData.topic,\n    status: 'assembled'\n  }\n}];"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Batch Summary","type":"main","index":0}],[{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Auto Publish?":{"main":[[{"node":"Save Metadata","type":"main","index":0}],[{"node":"Save Metadata","type":"main","index":0}]]},"Save Metadata":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Batch Summary":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"FFmpeg: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"FFmpeg: Assemble Video":{"main":[[{"node":"Drive: Upload Final Video","type":"main","index":0}]]},"Drive: Upload Final Video":{"main":[[{"node":"Drive: Share Video Publicly","type":"main","index":0}]]},"Drive: Share Video Publicly":{"main":[[{"node":"Format Assembly Output","type":"main","index":0}]]},"Format Assembly Output":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":null,"description":null,"autosaved":false}}