res_main_v3.json
{"updatedAt":"2026-03-20T12:56:15.228Z","createdAt":"2026-03-18T11:41:18.499Z","id":"zloYjCYLVf6BWhF9","name":"Nicho Cristão - Video Automation (Main)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,12,16,20 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[112,304]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[112,512],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[320,400]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":60000},"jsonBody":"={{ $json.geminiBody }}"},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[560,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"id":"node-split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[992,400]},{"parameters":{"jsCode":"var httpsModule = require('https');\n\nvar imageData = $('Sub: Gerar Vídeos').first().json;\nvar audioData = $('SUB: Audio Generation (ElevenLabs)').first().json;\nvar contentData = $('Sub: Generate Content').first().json;\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar CREATOMATE_KEY = '738b45bd6c674fb195ba30c3b4249378e86aa852a471d1cd79dbd0b99f41d1d3c9ed3f8b2f2d5368cf6ca80e69b29f84';\n\n// Pixabay background music (CDN direto)\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3', // Epic Inspiration 129171\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3' // Miracle 212835\n];\nvar validTracks = MUSIC_TRACKS.filter(function(u) { return u.startsWith('https://'); });\nvar musicUrl = validTracks.length ? validTracks[Math.floor(Math.random() * validTracks.length)] : null;\nvar hasMusic = !!musicUrl;\n\nvar totalDuration = scenes.reduce(function(s, c) { return s + (c.duracao || 6); }, 0);\n\n// Build elements\nvar elements = [];\n\n// Track 1: Narracao com transcript para legendas automaticas\nelements.push({\n  id: 'narracao',\n  type: 'audio',\n  track: 1,\n  time: 0,\n  source: audioUrl,\n  volume: '100%',\n  transcript: true\n});\n\n// Track 2: Musica de fundo (loop, volume baixo)\nif (hasMusic) {\n  elements.push({\n    type: 'audio',\n    track: 2,\n    time: 0,\n    source: musicUrl,\n    volume: '10%',\n    duration: totalDuration,\n    loop: true,\n    fade_in: '1 s',\n    fade_out: '2 s'\n  });\n}\n\n// Track 3: Cenas de video com timing cumulativo\nvar cumulativeTime = 0;\nscenes.forEach(function(s) {\n  var dur = s.duracao || 6;\n  elements.push({\n    type: 'video',\n    track: 3,\n    time: cumulativeTime,\n    duration: dur,\n    source: s.url,\n    volume: '0%',\n    fit: 'cover',\n    transition: { type: 'fade', duration: 0.4 },\n    width: '100%',\n    height: '100%'\n  });\n  cumulativeTime += dur;\n});\n\n// Track 4: Gradiente na parte inferior\nelements.push({\n  type: 'shape',\n  track: 4,\n  path: 'M 0 0 L 100 0 L 100 100 L 0 100 L 0 0 Z',\n  width: '100%',\n  height: '50%',\n  x: '50%',\n  y: '100%',\n  x_anchor: '50%',\n  y_anchor: '100%',\n  fill_color: [\n    { color: 'rgba(0,0,0,0)', offset: '0%' },\n    { color: 'rgba(0,0,0,0.85)', offset: '100%' }\n  ],\n  fill_mode: 'linear',\n  fill_x0: '50%',\n  fill_x1: '50%',\n  fill_y0: '0%',\n  fill_y1: '100%'\n});\n\n// Track 5: Legendas karaoke da narracao\nelements.push({\n  id: 'legendas',\n  type: 'text',\n  track: 5,\n  transcript_source: 'narracao',\n  transcript_effect: 'karaoke',\n  transcript_maximum_length: 3,\n  width: '88%',\n  x: '50%',\n  y: '80%',\n  x_anchor: '50%',\n  y_anchor: '50%',\n  fill_color: '#FFFFFF',\n  transcript_color: '#FFD700',\n  stroke_color: 'rgba(0,0,0,0.9)',\n  stroke_width: '2.2 vmin',\n  font_family: 'Montserrat',\n  font_weight: '900',\n  font_size: '8.5 vmin',\n  line_height: '130%',\n  x_alignment: '50%',\n  background_color: 'rgba(0,0,0,0.55)',\n  background_x_padding: '5%',\n  background_y_padding: '3%',\n  background_border_radius: '8px',\n  y_alignment: '50%'\n});\n\nvar source = {\n  output_format: 'mp4',\n  width: 1080,\n  height: 1920,\n  frame_rate: '30 fps',\n  duration: 'auto',\n  elements: elements\n};\n\nfunction creatomateRequest(method, path, body) {\n  return new Promise(function(resolve, reject) {\n    var data = body ? JSON.stringify(body) : null;\n    var opts = {\n      hostname: 'api.creatomate.com',\n      path: path,\n      method: method,\n      rejectUnauthorized: false,\n      headers: {\n        'Authorization': 'Bearer ' + CREATOMATE_KEY,\n        'Content-Type': 'application/json'\n      }\n    };\n    if (data) opts.headers['Content-Length'] = Buffer.byteLength(data);\n    var req = httpsModule.request(opts, function(res) {\n      var out = '';\n      res.on('data', function(d) { out += d; });\n      res.on('end', function() {\n        try { resolve({ status: res.statusCode, body: JSON.parse(out) }); }\n        catch(e) { resolve({ status: res.statusCode, body: out }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(30000, function() { req.destroy(new Error('Creatomate timeout')); });\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nfunction sleep(ms) { return new Promise(function(r) { setTimeout(r, ms); }); }\n\n// Submit render\nvar submitRes = await creatomateRequest('POST', '/v1/renders', { source: source });\nif (submitRes.status !== 200 && submitRes.status !== 201 && submitRes.status !== 202) {\n  throw new Error('Creatomate HTTP ' + submitRes.status + ' | ' + JSON.stringify(submitRes.body));\n}\n\nvar renders = Array.isArray(submitRes.body) ? submitRes.body : [submitRes.body];\nvar renderId = renders[0].id;\nif (!renderId) throw new Error('No render ID: ' + JSON.stringify(renders[0]));\n\n// Poll ate concluir (max 10 min, cada 10s)\nvar maxPolls = 60;\nvar renderUrl = null;\nfor (var i = 0; i < maxPolls; i++) {\n  await sleep(10000);\n  var pollRes = await creatomateRequest('GET', '/v1/renders/' + renderId, null);\n  var render = pollRes.body;\n  if (render.status === 'succeeded') { renderUrl = render.url; break; }\n  if (render.status === 'failed') throw new Error('Creatomate render failed: ' + (render.error_message || JSON.stringify(render)));\n}\nif (!renderUrl) throw new Error('Creatomate timeout after ' + maxPolls + ' polls for render ' + renderId);\n\nreturn [{ json: {\n  videoId: videoId,\n  renderUrl: renderUrl,\n  renderId: renderId,\n  sceneCount: scenes.length,\n  titulo: contentData.titulo,\n  descricao: contentData.descricao,\n  hashtags: contentData.hashtags,\n  narracao: contentData.narracao,\n  topic: contentData.topic,\n  status: 'assembled'\n} }];\n"},"id":"node-ffmpeg-assemble","name":"Creatomate: Assemble Video","type":"n8n-nodes-base.code","position":[1856,576],"typeVersion":2},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[2064,576],"typeVersion":2},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Set Config').first().json.AUTO_PUBLISH }}","operation":"equals","value2":"true"}]},"options":{}},"id":"node-publish-gate","name":"Auto Publish?","type":"n8n-nodes-base.if","position":[2288,672]},{"parameters":{"jsCode":"var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"},"id":"node-save-metadata","name":"Save Metadata","type":"n8n-nodes-base.code","position":[2592,768],"typeVersion":2},{"parameters":{"jsCode":"var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"},"id":"node-batch-summary","name":"Batch Summary","type":"n8n-nodes-base.code","position":[1216,304],"typeVersion":2},{"parameters":{"options":{}},"id":"node-webhook-response","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","position":[1440,304]},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $('Set Config').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\n\n// Deduplication via workflow static data\nvar store = $getWorkflowStaticData('global');\nif (!store.usedTopics) store.usedTopics = [];\n\nvar usedSet = {};\nfor (var i = 0; i < store.usedTopics.length; i++) {\n  var k = store.usedTopics[i].toLowerCase().replace(/[^a-z ]/g, '').trim();\n  usedSet[k] = true;\n}\n\nvar novos = topics.filter(function(t) {\n  var k = (t.milagre_de_jesus || '').toLowerCase().replace(/[^a-z ]/g, '').trim();\n  return !usedSet[k];\n});\n\nif (novos.length === 0) throw new Error('All topics already used. Will generate new ones next run.');\n\nnovos.forEach(function(t) { store.usedTopics.push(t.milagre_de_jesus); });\nif (store.usedTopics.length > 500) store.usedTopics = store.usedTopics.slice(-500);\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\n// Incluir TODAS as credenciais em cada item de saida\nreturn novos.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus: topic.milagre_de_jesus,\n      versiculo_base: topic.versiculo_base,\n      gancho_inicial: topic.gancho_inicial,\n      palavras_chave: topic.palavras_chave,\n      categoria: topic.categoria,\n      runId: runId,\n      topicIndex: i + 1,\n      videoId: runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});\n"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,576],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1424,688],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[1424,480],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2448,576],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"},{"id":"node-prepare-topic-ctx","name":"Prepare Topic Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,400],"parameters":{"jsCode":"// Preparar contexto de tópicos já usados para o Gemini\nconst input = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst usedTopics = store.usedTopics || [];\n\nconst usedTopicsText = usedTopics.length > 0\n  ? usedTopics.join(', ')\n  : 'nenhum ainda';\n\nconst videosPerRun = input.VIDEOS_PER_RUN || 3;\n\nconst promptText = `Você é um especialista em conteúdo cristão viral. Gere ${videosPerRun} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\n\nREGRAS DE SEGURANÇA E SINCRONIA:\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\n2. TEMPO: O gancho_inicial deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\n- Use tensão temporal: Após X anos..., Em apenas 3 dias..., No momento em que...\n- Nunca revele o resultado no gancho — crie suspense\n- Exemplos RUINS: Jesus curou o homem doente (entrega tudo)\n- Exemplos BONS: Após 38 anos esperando..., Quando tudo parecia perdido...\n- PT-BR correto e natural, sem erros gramaticais\n\nTÓPICOS JÁ USADOS — NÃO REPITA NENHUM DELES (gere temas completamente diferentes):\n${usedTopicsText}`;\n\n// Montar o body completo como JSON válido (sem risco de quebrar)\nconst geminiBody = JSON.stringify({\n  contents: [{ parts: [{ text: promptText }] }],\n  generationConfig: {\n    temperature: 0.8,\n    maxOutputTokens: 8192,\n    responseMimeType: 'application/json'\n  }\n});\n\nreturn [{ json: { ...input, geminiBody } }];"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Prepare Topic Context","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Batch Summary","type":"main","index":0}],[{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Auto Publish?":{"main":[[{"node":"Save Metadata","type":"main","index":0}],[{"node":"Save Metadata","type":"main","index":0}]]},"Save Metadata":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Batch Summary":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Creatomate: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Creatomate: Assemble Video":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]},"Prepare Topic Context":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","timezone":"America/Sao_Paulo","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"usedTopics":["Cura do paralítico","Acalma a tempestade","Parábola do Bom Samaritano","Ressurreição de Lázaro","Amai os vossos inimigos","O milagre no tanque de Betesda"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Sub: Generate Videos/Images1":[{"json":{"videoId":"20260319-111338_video_01","totalScenes":5,"scenes":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=1xSf_E-_0NeGC5VHn6kLE5Yy4JQtodp8t&export=download","status":"scene_ready"},{"numero":2,"duracao":6,"url":"https://drive.google.com/uc?id=1J2idfNiudIiHrNhIEnHRly_qmK7xBIYL&export=download","status":"scene_ready"},{"numero":3,"duracao":5,"url":"https://drive.google.com/uc?id=16zKJmcrsgMFbpuXbXFEpzYqvKmU2FqkA&export=download","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1UBhKviZgT1MEkJw9BeaJjA9Q2jRvHreO&export=download","status":"scene_ready"},{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"status":"all_scenes_ready"}}],"FFmpeg: Assemble Video":[{"json":{"videoId":"20260319-111338_video_01","renderUrl":"https://f002.backblazeb2.com/file/creatomate-c8xg3hsxdu/f58080fd-ed33-4c1f-9ec6-ec498ace79ec.mp4","renderId":"f58080fd-ed33-4c1f-9ec6-ec498ace79ec","sceneCount":5,"titulo":"38 Anos Acabaram! 🙌 A Cura Chegou!","descricao":"A história emocionante da cura no tanque de Betesda. Jesus transforma vidas! João 5:1-15. #fé","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts"],"narracao":"Trinta e oito anos de espera... Acabou! Jesus chegou para mudar tudo. Um homem à beira do lago, sem esperança. Jesus perguntou: 'Você quer ser curado?'. A fé move montanhas. Levante-se, pegue sua maca e ande! A cura divina é real. Creia e seja transformado! Jesus te ama incondicionalmente. Receba a sua bênção! Amém.","topic":{"milagre_de_jesus":"A Cura do Homem à Beira do Lago","versiculo_base":"João 5:1-15","gancho_inicial":"38 anos de espera, acabou!","palavras_chave":["cura divina","fé","esperança","milagre","jesus","restauração","novo começo","homem doente"],"categoria":"milagre_cura","runId":"20260319-111338","topicIndex":1,"videoId":"20260319-111338_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"status":"assembled"},"pairedItem":{"item":0}}]},"versionId":"e3150e39-d857-4fe6-8f33-21acc1ad7eef","activeVersionId":"e3150e39-d857-4fe6-8f33-21acc1ad7eef","versionCounter":342,"triggerCount":1,"tags":[],"activeVersion":{"updatedAt":"2026-03-20T12:56:15.231Z","createdAt":"2026-03-20T12:56:15.231Z","versionId":"e3150e39-d857-4fe6-8f33-21acc1ad7eef","workflowId":"zloYjCYLVf6BWhF9","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,12,16,20 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[112,304]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[112,512],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[320,400]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":60000},"jsonBody":"={{ $json.geminiBody }}"},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[560,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"id":"node-split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[992,400]},{"parameters":{"jsCode":"var httpsModule = require('https');\n\nvar imageData = $('Sub: Gerar Vídeos').first().json;\nvar audioData = $('SUB: Audio Generation (ElevenLabs)').first().json;\nvar contentData = $('Sub: Generate Content').first().json;\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar CREATOMATE_KEY = '738b45bd6c674fb195ba30c3b4249378e86aa852a471d1cd79dbd0b99f41d1d3c9ed3f8b2f2d5368cf6ca80e69b29f84';\n\n// Pixabay background music (CDN direto)\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3', // Epic Inspiration 129171\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3' // Miracle 212835\n];\nvar validTracks = MUSIC_TRACKS.filter(function(u) { return u.startsWith('https://'); });\nvar musicUrl = validTracks.length ? validTracks[Math.floor(Math.random() * validTracks.length)] : null;\nvar hasMusic = !!musicUrl;\n\nvar totalDuration = scenes.reduce(function(s, c) { return s + (c.duracao || 6); }, 0);\n\n// Build elements\nvar elements = [];\n\n// Track 1: Narracao com transcript para legendas automaticas\nelements.push({\n  id: 'narracao',\n  type: 'audio',\n  track: 1,\n  time: 0,\n  source: audioUrl,\n  volume: '100%',\n  transcript: true\n});\n\n// Track 2: Musica de fundo (loop, volume baixo)\nif (hasMusic) {\n  elements.push({\n    type: 'audio',\n    track: 2,\n    time: 0,\n    source: musicUrl,\n    volume: '10%',\n    duration: totalDuration,\n    loop: true,\n    fade_in: '1 s',\n    fade_out: '2 s'\n  });\n}\n\n// Track 3: Cenas de video com timing cumulativo\nvar cumulativeTime = 0;\nscenes.forEach(function(s) {\n  var dur = s.duracao || 6;\n  elements.push({\n    type: 'video',\n    track: 3,\n    time: cumulativeTime,\n    duration: dur,\n    source: s.url,\n    volume: '0%',\n    fit: 'cover',\n    transition: { type: 'fade', duration: 0.4 },\n    width: '100%',\n    height: '100%'\n  });\n  cumulativeTime += dur;\n});\n\n// Track 4: Gradiente na parte inferior\nelements.push({\n  type: 'shape',\n  track: 4,\n  path: 'M 0 0 L 100 0 L 100 100 L 0 100 L 0 0 Z',\n  width: '100%',\n  height: '50%',\n  x: '50%',\n  y: '100%',\n  x_anchor: '50%',\n  y_anchor: '100%',\n  fill_color: [\n    { color: 'rgba(0,0,0,0)', offset: '0%' },\n    { color: 'rgba(0,0,0,0.85)', offset: '100%' }\n  ],\n  fill_mode: 'linear',\n  fill_x0: '50%',\n  fill_x1: '50%',\n  fill_y0: '0%',\n  fill_y1: '100%'\n});\n\n// Track 5: Legendas karaoke da narracao\nelements.push({\n  id: 'legendas',\n  type: 'text',\n  track: 5,\n  transcript_source: 'narracao',\n  transcript_effect: 'karaoke',\n  transcript_maximum_length: 3,\n  width: '88%',\n  x: '50%',\n  y: '80%',\n  x_anchor: '50%',\n  y_anchor: '50%',\n  fill_color: '#FFFFFF',\n  transcript_color: '#FFD700',\n  stroke_color: 'rgba(0,0,0,0.9)',\n  stroke_width: '2.2 vmin',\n  font_family: 'Montserrat',\n  font_weight: '900',\n  font_size: '8.5 vmin',\n  line_height: '130%',\n  x_alignment: '50%',\n  background_color: 'rgba(0,0,0,0.55)',\n  background_x_padding: '5%',\n  background_y_padding: '3%',\n  background_border_radius: '8px',\n  y_alignment: '50%'\n});\n\nvar source = {\n  output_format: 'mp4',\n  width: 1080,\n  height: 1920,\n  frame_rate: '30 fps',\n  duration: 'auto',\n  elements: elements\n};\n\nfunction creatomateRequest(method, path, body) {\n  return new Promise(function(resolve, reject) {\n    var data = body ? JSON.stringify(body) : null;\n    var opts = {\n      hostname: 'api.creatomate.com',\n      path: path,\n      method: method,\n      rejectUnauthorized: false,\n      headers: {\n        'Authorization': 'Bearer ' + CREATOMATE_KEY,\n        'Content-Type': 'application/json'\n      }\n    };\n    if (data) opts.headers['Content-Length'] = Buffer.byteLength(data);\n    var req = httpsModule.request(opts, function(res) {\n      var out = '';\n      res.on('data', function(d) { out += d; });\n      res.on('end', function() {\n        try { resolve({ status: res.statusCode, body: JSON.parse(out) }); }\n        catch(e) { resolve({ status: res.statusCode, body: out }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(30000, function() { req.destroy(new Error('Creatomate timeout')); });\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nfunction sleep(ms) { return new Promise(function(r) { setTimeout(r, ms); }); }\n\n// Submit render\nvar submitRes = await creatomateRequest('POST', '/v1/renders', { source: source });\nif (submitRes.status !== 200 && submitRes.status !== 201 && submitRes.status !== 202) {\n  throw new Error('Creatomate HTTP ' + submitRes.status + ' | ' + JSON.stringify(submitRes.body));\n}\n\nvar renders = Array.isArray(submitRes.body) ? submitRes.body : [submitRes.body];\nvar renderId = renders[0].id;\nif (!renderId) throw new Error('No render ID: ' + JSON.stringify(renders[0]));\n\n// Poll ate concluir (max 10 min, cada 10s)\nvar maxPolls = 60;\nvar renderUrl = null;\nfor (var i = 0; i < maxPolls; i++) {\n  await sleep(10000);\n  var pollRes = await creatomateRequest('GET', '/v1/renders/' + renderId, null);\n  var render = pollRes.body;\n  if (render.status === 'succeeded') { renderUrl = render.url; break; }\n  if (render.status === 'failed') throw new Error('Creatomate render failed: ' + (render.error_message || JSON.stringify(render)));\n}\nif (!renderUrl) throw new Error('Creatomate timeout after ' + maxPolls + ' polls for render ' + renderId);\n\nreturn [{ json: {\n  videoId: videoId,\n  renderUrl: renderUrl,\n  renderId: renderId,\n  sceneCount: scenes.length,\n  titulo: contentData.titulo,\n  descricao: contentData.descricao,\n  hashtags: contentData.hashtags,\n  narracao: contentData.narracao,\n  topic: contentData.topic,\n  status: 'assembled'\n} }];\n"},"id":"node-ffmpeg-assemble","name":"Creatomate: Assemble Video","type":"n8n-nodes-base.code","position":[1856,576],"typeVersion":2},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[2064,576],"typeVersion":2},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Set Config').first().json.AUTO_PUBLISH }}","operation":"equals","value2":"true"}]},"options":{}},"id":"node-publish-gate","name":"Auto Publish?","type":"n8n-nodes-base.if","position":[2288,672]},{"parameters":{"jsCode":"var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"},"id":"node-save-metadata","name":"Save Metadata","type":"n8n-nodes-base.code","position":[2592,768],"typeVersion":2},{"parameters":{"jsCode":"var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"},"id":"node-batch-summary","name":"Batch Summary","type":"n8n-nodes-base.code","position":[1216,304],"typeVersion":2},{"parameters":{"options":{}},"id":"node-webhook-response","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","position":[1440,304]},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $('Set Config').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\n\n// Deduplication via workflow static data\nvar store = $getWorkflowStaticData('global');\nif (!store.usedTopics) store.usedTopics = [];\n\nvar usedSet = {};\nfor (var i = 0; i < store.usedTopics.length; i++) {\n  var k = store.usedTopics[i].toLowerCase().replace(/[^a-z ]/g, '').trim();\n  usedSet[k] = true;\n}\n\nvar novos = topics.filter(function(t) {\n  var k = (t.milagre_de_jesus || '').toLowerCase().replace(/[^a-z ]/g, '').trim();\n  return !usedSet[k];\n});\n\nif (novos.length === 0) throw new Error('All topics already used. Will generate new ones next run.');\n\nnovos.forEach(function(t) { store.usedTopics.push(t.milagre_de_jesus); });\nif (store.usedTopics.length > 500) store.usedTopics = store.usedTopics.slice(-500);\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\n// Incluir TODAS as credenciais em cada item de saida\nreturn novos.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus: topic.milagre_de_jesus,\n      versiculo_base: topic.versiculo_base,\n      gancho_inicial: topic.gancho_inicial,\n      palavras_chave: topic.palavras_chave,\n      categoria: topic.categoria,\n      runId: runId,\n      topicIndex: i + 1,\n      videoId: runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});\n"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,576],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1424,688],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[1424,480],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2448,576],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"},{"id":"node-prepare-topic-ctx","name":"Prepare Topic Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,400],"parameters":{"jsCode":"// Preparar contexto de tópicos já usados para o Gemini\nconst input = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst usedTopics = store.usedTopics || [];\n\nconst usedTopicsText = usedTopics.length > 0\n  ? usedTopics.join(', ')\n  : 'nenhum ainda';\n\nconst videosPerRun = input.VIDEOS_PER_RUN || 3;\n\nconst promptText = `Você é um especialista em conteúdo cristão viral. Gere ${videosPerRun} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\n\nREGRAS DE SEGURANÇA E SINCRONIA:\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\n2. TEMPO: O gancho_inicial deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\n- Use tensão temporal: Após X anos..., Em apenas 3 dias..., No momento em que...\n- Nunca revele o resultado no gancho — crie suspense\n- Exemplos RUINS: Jesus curou o homem doente (entrega tudo)\n- Exemplos BONS: Após 38 anos esperando..., Quando tudo parecia perdido...\n- PT-BR correto e natural, sem erros gramaticais\n\nTÓPICOS JÁ USADOS — NÃO REPITA NENHUM DELES (gere temas completamente diferentes):\n${usedTopicsText}`;\n\n// Montar o body completo como JSON válido (sem risco de quebrar)\nconst geminiBody = JSON.stringify({\n  contents: [{ parts: [{ text: promptText }] }],\n  generationConfig: {\n    temperature: 0.8,\n    maxOutputTokens: 8192,\n    responseMimeType: 'application/json'\n  }\n});\n\nreturn [{ json: { ...input, geminiBody } }];"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Prepare Topic Context","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Batch Summary","type":"main","index":0}],[{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Auto Publish?":{"main":[[{"node":"Save Metadata","type":"main","index":0}],[{"node":"Save Metadata","type":"main","index":0}]]},"Save Metadata":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Batch Summary":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Creatomate: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Creatomate: Assemble Video":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]},"Prepare Topic Context":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":null,"description":null,"autosaved":false}}