res_content.json
{"updatedAt":"2026-03-20T12:32:27.592Z","createdAt":"2026-03-18T11:39:12.981Z","id":"9tlW8BErnLH1ujOS","name":"SUB: Content Generation (Gemini)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[112,304]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst topic = input.topic || input;\nconst GOOGLE_AI_API_KEY = input.GOOGLE_AI_API_KEY || topic.GOOGLE_AI_API_KEY || '';\n\nconst prompt = `Crie um roteiro completo em JSON para:\nTema: \"${topic.milagre_de_jesus}\"\nVersículo base: \"${topic.versiculo_base}\"\nGancho sugerido: \"${topic.gancho_inicial}\"\n\nEstrutura obrigatória do JSON:\n{\n  \"titulo\": \"string (máx 60 chars, com emoji, sem hashtag)\",\n  \"descricao\": \"string (2-3 frases SEO otimizadas, inclui versículo e tema)\",\n  \"hashtags\": [\"#Jesus\",\"#Milagre\",\"#FéEmDeus\",\"#Cristão\",\"#Shorts\",\"mais 3 a 5 tags específicas do tema\"],\n  \"duracao_total_segundos\": \"número (calcule: número de cenas × 6 segundos)\",\n  \"narracao_completa\": \"string — TTS PT-BR completo, sem símbolos, sem pontuação que cause pausa artificial. DEVE ser a concatenação exata de todos os texto_narrado das cenas seguido do cta.texto_completo. Ritmo de pregação carismática enérgica (~1.2x), frases curtas com impacto\",\n  \"cenas\": [\n    {\n      \"numero\": 1,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"HOOK\",\n      \"texto_narrado\": \"DECLARAÇÃO DE RUPTURA no passado — máx 14 palavras (~6s de fala) — ex: '38 anos de prisão acabaram em segundos', 'Cego desde o nascimento — até aquele dia'\"\n      \"REGRA CRÍTICA: cada texto_narrado deve ter entre 10 e 14 palavras para caber em exatamente 6 segundos de áudio\",,\n      \"prompt_imagem\": \"English: subject + scene + lighting + mood, photorealistic 8K, vertical 9:16, ancient Judea/Jerusalem, golden hour\",\n      \"prompt_video_motion\": \"movimento de câmera que combina com a energia da cena\",\n      \"descricao_visual\": \"PT-BR: o que aparece na tela\"\n    },\n    {\n      \"numero\": 2,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"CONTEXTO\",\n      \"texto_narrado\": \"apresentação rápida da situação e do sofrimento — máx 2 frases diretas e impactantes\",\n      \"prompt_imagem\": \"...\",\n      \"prompt_video_motion\": \"...\",\n      \"descricao_visual\": \"...\"\n    },\n    {\n      \"numero\": 3,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"ACAO_JESUS\",\n      \"texto_narrado\": \"o momento em que Jesus age — com exaltação obrigatória do Seu amor e grandeza\",\n      \"prompt_imagem\": \"...\",\n      \"prompt_video_motion\": \"...\",\n      \"descricao_visual\": \"...\"\n    },\n    {\n      \"numero\": 4,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"IMPACTO\",\n      \"texto_narrado\": \"a transformação e reação — emocional, exaltando o que só Deus poderia ter feito\",\n      \"prompt_imagem\": \"...\",\n      \"prompt_video_motion\": \"...\",\n      \"descricao_visual\": \"...\"\n    }\n  ],\n  \"cta\": {\n    \"seguir\": \"gatilho emocional ligado ao tema — nunca perder conteúdo conectado diretamente a Deus\",\n    \"compartilhar\": \"gatilho emocional ligado ao tema — mandar pra quem precisaria ver esse vídeo agora\",\n    \"texto_completo\": \"CTA unindo os dois em 1-2 frases, tom urgente e acolhedor, 5 segundos\",\n    \"duracao_segundos\": 6\n  }\n}\n\nREGRAS:\n- GANCHO (cena 1): SEMPRE declaração de ruptura no passado — '[duração/condição] de [sofrimento] acabou/terminou'. PROIBIDO: futuro, perguntas, 'Você sabia que', 'Imagine', presente simples\n- EXALTAÇÃO: toda ação de Jesus ou Deus DEVE ser exaltada — Seu amor incondicional, misericórdia infinita, grandeza, o impossível que só Ele realiza. Nunca neutro. Ex: 'Só o amor de Deus faz isso', 'Nenhum ser humano poderia — mas Ele pôde'\n- NARRAÇÃO: ritmo de pregação carismática enérgica (~1.2x). Frases curtas e diretas. Sem palavras de preenchimento. narracao_completa = concatenação de todos os texto_narrado + cta.texto_completo\n- ESTRUTURA: 4 a 6 cenas | duração total 25-40 segundos | todas as cenas com prompt_imagem, prompt_video_motion e descricao_visual preenchidos\n- VISUAL: prompts em inglês, ancient Judea/Jerusalem, golden hour, photorealistic 8K, vertical 9:16. Paleta e época consistentes entre todas as cenas\n- CTA (5s): NUNCA genérico. Sempre conectado ao tema e emoção do vídeo\n\nResponda APENAS com JSON válido, sem texto antes ou depois, sem markdown.`;\n\nreturn [{\n  json: {\n    videoId: topic.videoId,\n    topicIndex: topic.topicIndex,\n    topic,\n    prompt,\n    GOOGLE_AI_API_KEY,\n    retryCount: 0\n  }\n}];"},"id":"3a04dc90-58ae-495f-979c-072b464dad7f","name":"Prepare Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,304]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{ \"parts\": [{ \"text\": {{ JSON.stringify($json.prompt) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.7, \"maxOutputTokens\": 4096 }\n}","options":{"timeout":90000}},"id":"node-claude-script","name":"Gemini: Generate Script","type":"n8n-nodes-base.httpRequest","position":[544,304],"typeVersion":4},{"parameters":{"jsCode":"var response = $input.first();\nvar prevData = $('Prepare Prompt').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content\n  && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : \"\";\n\nif (!text) throw new Error(\"Gemini returned no content: \" + JSON.stringify(response.json).substring(0,200));\n\nvar clean = text.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\nvar script;\ntry { script = JSON.parse(clean); }\ncatch(e) {\n  var match = clean.match(/{[sS]*}/);\n  if (match) { script = JSON.parse(match[0]); }\n  else throw new Error(\"Invalid JSON: \" + clean.substring(0,200));\n}\n\nif (!script.cenas || !Array.isArray(script.cenas)) throw new Error(\"Missing cenas array\");\n\nvar dur = script.cenas.reduce(function(s,c){ return s+(c.duracao_segundos||6); }, 0);\n\nvar topic = prevData.topic || prevData;\n\nreturn [{ json: {\n  videoId: prevData.videoId,\n  topicIndex: prevData.topicIndex,\n  topic: prevData.topic,\n  script: script,\n  titulo: script.titulo,\n  descricao: script.descricao,\n  hashtags: script.hashtags,\n  narracao: script.narracao_completa,\n  cenas: script.cenas,\n  duracao_total_segundos: dur,\n  GOOGLE_AI_API_KEY: prevData.GOOGLE_AI_API_KEY || topic.GOOGLE_AI_API_KEY || \"\",\n  ELEVENLABS_API_KEY: prevData.ELEVENLABS_API_KEY || topic.ELEVENLABS_API_KEY || \"\",\n  status: \"script_ready\"\n} }];"},"id":"dc4af9eb-8cc7-45f1-a6c4-0c65331a023b","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,304]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Prompt","type":"main","index":0}]]},"Prepare Prompt":{"main":[[{"node":"Gemini: Generate Script","type":"main","index":0}]]},"Gemini: Generate Script":{"main":[[{"node":"Parse Script","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"f80139ff-11c7-4280-873a-10d809020f4a","activeVersionId":"f80139ff-11c7-4280-873a-10d809020f4a","versionCounter":47,"triggerCount":0,"tags":[],"activeVersion":{"updatedAt":"2026-03-20T12:32:27.592Z","createdAt":"2026-03-20T12:32:27.592Z","versionId":"f80139ff-11c7-4280-873a-10d809020f4a","workflowId":"9tlW8BErnLH1ujOS","nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[112,304]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst topic = input.topic || input;\nconst GOOGLE_AI_API_KEY = input.GOOGLE_AI_API_KEY || topic.GOOGLE_AI_API_KEY || '';\n\nconst prompt = `Crie um roteiro completo em JSON para:\nTema: \"${topic.milagre_de_jesus}\"\nVersículo base: \"${topic.versiculo_base}\"\nGancho sugerido: \"${topic.gancho_inicial}\"\n\nEstrutura obrigatória do JSON:\n{\n  \"titulo\": \"string (máx 60 chars, com emoji, sem hashtag)\",\n  \"descricao\": \"string (2-3 frases SEO otimizadas, inclui versículo e tema)\",\n  \"hashtags\": [\"#Jesus\",\"#Milagre\",\"#FéEmDeus\",\"#Cristão\",\"#Shorts\",\"mais 3 a 5 tags específicas do tema\"],\n  \"duracao_total_segundos\": \"número (calcule: número de cenas × 6 segundos)\",\n  \"narracao_completa\": \"string — TTS PT-BR completo, sem símbolos, sem pontuação que cause pausa artificial. DEVE ser a concatenação exata de todos os texto_narrado das cenas seguido do cta.texto_completo. Ritmo de pregação carismática enérgica (~1.2x), frases curtas com impacto\",\n  \"cenas\": [\n    {\n      \"numero\": 1,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"HOOK\",\n      \"texto_narrado\": \"DECLARAÇÃO DE RUPTURA no passado — máx 14 palavras (~6s de fala) — ex: '38 anos de prisão acabaram em segundos', 'Cego desde o nascimento — até aquele dia'\"\n      \"REGRA CRÍTICA: cada texto_narrado deve ter entre 10 e 14 palavras para caber em exatamente 6 segundos de áudio\",,\n      \"prompt_imagem\": \"English: subject + scene + lighting + mood, photorealistic 8K, vertical 9:16, ancient Judea/Jerusalem, golden hour\",\n      \"prompt_video_motion\": \"movimento de câmera que combina com a energia da cena\",\n      \"descricao_visual\": \"PT-BR: o que aparece na tela\"\n    },\n    {\n      \"numero\": 2,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"CONTEXTO\",\n      \"texto_narrado\": \"apresentação rápida da situação e do sofrimento — máx 2 frases diretas e impactantes\",\n      \"prompt_imagem\": \"...\",\n      \"prompt_video_motion\": \"...\",\n      \"descricao_visual\": \"...\"\n    },\n    {\n      \"numero\": 3,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"ACAO_JESUS\",\n      \"texto_narrado\": \"o momento em que Jesus age — com exaltação obrigatória do Seu amor e grandeza\",\n      \"prompt_imagem\": \"...\",\n      \"prompt_video_motion\": \"...\",\n      \"descricao_visual\": \"...\"\n    },\n    {\n      \"numero\": 4,\n      \"duracao_segundos\": 6,\n      \"tipo\": \"IMPACTO\",\n      \"texto_narrado\": \"a transformação e reação — emocional, exaltando o que só Deus poderia ter feito\",\n      \"prompt_imagem\": \"...\",\n      \"prompt_video_motion\": \"...\",\n      \"descricao_visual\": \"...\"\n    }\n  ],\n  \"cta\": {\n    \"seguir\": \"gatilho emocional ligado ao tema — nunca perder conteúdo conectado diretamente a Deus\",\n    \"compartilhar\": \"gatilho emocional ligado ao tema — mandar pra quem precisaria ver esse vídeo agora\",\n    \"texto_completo\": \"CTA unindo os dois em 1-2 frases, tom urgente e acolhedor, 5 segundos\",\n    \"duracao_segundos\": 6\n  }\n}\n\nREGRAS:\n- GANCHO (cena 1): SEMPRE declaração de ruptura no passado — '[duração/condição] de [sofrimento] acabou/terminou'. PROIBIDO: futuro, perguntas, 'Você sabia que', 'Imagine', presente simples\n- EXALTAÇÃO: toda ação de Jesus ou Deus DEVE ser exaltada — Seu amor incondicional, misericórdia infinita, grandeza, o impossível que só Ele realiza. Nunca neutro. Ex: 'Só o amor de Deus faz isso', 'Nenhum ser humano poderia — mas Ele pôde'\n- NARRAÇÃO: ritmo de pregação carismática enérgica (~1.2x). Frases curtas e diretas. Sem palavras de preenchimento. narracao_completa = concatenação de todos os texto_narrado + cta.texto_completo\n- ESTRUTURA: 4 a 6 cenas | duração total 25-40 segundos | todas as cenas com prompt_imagem, prompt_video_motion e descricao_visual preenchidos\n- VISUAL: prompts em inglês, ancient Judea/Jerusalem, golden hour, photorealistic 8K, vertical 9:16. Paleta e época consistentes entre todas as cenas\n- CTA (5s): NUNCA genérico. Sempre conectado ao tema e emoção do vídeo\n\nResponda APENAS com JSON válido, sem texto antes ou depois, sem markdown.`;\n\nreturn [{\n  json: {\n    videoId: topic.videoId,\n    topicIndex: topic.topicIndex,\n    topic,\n    prompt,\n    GOOGLE_AI_API_KEY,\n    retryCount: 0\n  }\n}];"},"id":"3a04dc90-58ae-495f-979c-072b464dad7f","name":"Prepare Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,304]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{ \"parts\": [{ \"text\": {{ JSON.stringify($json.prompt) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.7, \"maxOutputTokens\": 4096 }\n}","options":{"timeout":90000}},"id":"node-claude-script","name":"Gemini: Generate Script","type":"n8n-nodes-base.httpRequest","position":[544,304],"typeVersion":4},{"parameters":{"jsCode":"var response = $input.first();\nvar prevData = $('Prepare Prompt').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content\n  && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : \"\";\n\nif (!text) throw new Error(\"Gemini returned no content: \" + JSON.stringify(response.json).substring(0,200));\n\nvar clean = text.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\nvar script;\ntry { script = JSON.parse(clean); }\ncatch(e) {\n  var match = clean.match(/{[sS]*}/);\n  if (match) { script = JSON.parse(match[0]); }\n  else throw new Error(\"Invalid JSON: \" + clean.substring(0,200));\n}\n\nif (!script.cenas || !Array.isArray(script.cenas)) throw new Error(\"Missing cenas array\");\n\nvar dur = script.cenas.reduce(function(s,c){ return s+(c.duracao_segundos||6); }, 0);\n\nvar topic = prevData.topic || prevData;\n\nreturn [{ json: {\n  videoId: prevData.videoId,\n  topicIndex: prevData.topicIndex,\n  topic: prevData.topic,\n  script: script,\n  titulo: script.titulo,\n  descricao: script.descricao,\n  hashtags: script.hashtags,\n  narracao: script.narracao_completa,\n  cenas: script.cenas,\n  duracao_total_segundos: dur,\n  GOOGLE_AI_API_KEY: prevData.GOOGLE_AI_API_KEY || topic.GOOGLE_AI_API_KEY || \"\",\n  ELEVENLABS_API_KEY: prevData.ELEVENLABS_API_KEY || topic.ELEVENLABS_API_KEY || \"\",\n  status: \"script_ready\"\n} }];"},"id":"dc4af9eb-8cc7-45f1-a6c4-0c65331a023b","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,304]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Prompt","type":"main","index":0}]]},"Prepare Prompt":{"main":[[{"node":"Gemini: Generate Script","type":"main","index":0}]]},"Gemini: Generate Script":{"main":[[{"node":"Parse Script","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":null,"description":null,"autosaved":false}}