wf_audio2_fixed.json
{"name":"SUB: Audio Generation (ElevenLabs)","nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[112,304]},{"parameters":{"jsCode":"const fs2 = require('fs');\nconst input = $input.first().json;\nconst data = input.audioData || input;\nconst ELEVENLABS_API_KEY = input.ELEVENLABS_API_KEY || data.ELEVENLABS_API_KEY;\n\nconst videoId = data.videoId;\nconst tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nlet narracao = data.narracao || (data.script && data.script.narracao_completa) || '';\n\nnarracao = narracao\n  .replace(/[\\u{1F300}-\\u{1FAFF}]/gu, '')\n  .replace(/[\\u2600-\\u27BF]/gu, '')\n  .replace(/[\\u201C\\u201D\\u00AB\\u00BB]/g, '\"')\n  .replace(/[\\u2018\\u2019]/g, \"'\")\n  .replace(/[\\u2014\\u2013]/g, ', ')\n  .replace(/[*]+/g, '')\n  .replace(/#[^ \\t\\r\\n]*/g, '')\n  .replace(/[\\[]/g, '').replace(/]/g, '')\n  .replace(/[ \\t\\r\\n]{2,}/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    videoId,\n    narracao,\n    tempDir,\n    audioFile: tempDir + '/narration.mp3',\n    ELEVENLABS_API_KEY\n  }\n}];"},"id":"node-prepare","name":"Prepare Audio Dir","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,304]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/HIGUfNOdjuWQwwapnTRW","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $('Execute Workflow Trigger').item.json.topic.ELEVENLABS_API_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ JSON.stringify($json.narracao) }},\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.75,\n    \"similarity_boost\": 0.85,\n    \"style\": 0.40,\n    \"use_speaker_boost\": true\n  },\n  \"speed\": 1.2\n}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"id":"85402c9b-7bbc-453d-99eb-739d33b74237","name":"ElevenLabs TTS","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[544,304]},{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.audioFile }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"9a671f8e-5e81-47bd-96c8-84a3413be9fa","name":"Upload file","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,304],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-audio-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,304],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var driveData = $('Upload file').first().json;\nvar prepData = $('Prepare Audio Dir').first().json;\n\nvar fileId = driveData.id || driveData.fileId || '';\nif (!fileId) throw new Error('Google Drive upload did not return a file ID');\n\nvar audioUrl = 'https://drive.google.com/uc?id=' + fileId + '&export=download&confirm=1';\n\nreturn [{\n  json: {\n    videoId: prepData.videoId,\n    audioFileId: fileId,\n    audioFileName: driveData.name || prepData.audioFile,\n    audioUrl: audioUrl,\n    tempDir: prepData.tempDir,\n    status: 'audio_ready'\n  }\n}];"},"id":"node-confirm","name":"Confirm Audio Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,304]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Audio Dir","type":"main","index":0}]]},"Prepare Audio Dir":{"main":[[{"node":"ElevenLabs TTS","type":"main","index":0}]]},"ElevenLabs TTS":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Audio Ready","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null}