wf_put_response.json
{"updatedAt":"2026-03-23T02:43:41.509Z","createdAt":"2026-03-18T11:41:18.499Z","id":"zloYjCYLVf6BWhF9","name":"Nicho Cristão - Video Automation (Main)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## 🎯 Gatilhos de Entrada\n\nPonto de entrada do pipeline.\nDois modos de disparo disponíveis:\n\n**⏰ Schedule Trigger**\nExecução automática agendada.\nUsar em produção contínua.\n\n**🔗 Webhook (Manual)**\nDisparo via HTTP para testes\ne execuções pontuais.\n\n---\n> 💡 Use o Webhook para testar\n> sem aguardar o agendamento.\n","height":588,"width":668,"color":4},"id":"sticky-gatilhos","name":"Nota: Gatilhos","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,48]},{"parameters":{"content":"## ⚙️ Configuração Global\n\nParâmetros centrais da execução:\n\n- **quantidade** — Vídeos por ciclo\n- **categoria** — Tema base\n- **idioma** — PT-BR padrão\n- **canal** — Destino de publicação\n","height":472,"width":228,"color":6},"id":"sticky-config","name":"Nota: Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,48]},{"parameters":{"content":"## 📋 Gestão de Temas\n\nGarante variedade e evita repetição de conteúdo entre execuções.\n\n**Fluxo:** Ler histórico → Agregar deduplicado → Gemini gera novos temas → Parse lista\n\n> 🔑 Modelo: **Gemini Pro** (Google AI)\n> 📊 Histórico armazenado no **Google Sheets**\n> ⚠️ Temas são salvos no bloco seguinte (após bifurcação)\n","height":408,"width":692},"id":"sticky-temas","name":"Nota: Temas","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,112]},{"parameters":{"content":"## 🎬 Geração de Conteúdo\n\nProduz os três componentes do vídeo em paralelo.\n\n**↗ Salvar Temas**\nRegistra no Sheets para evitar repetição futura.\n\n**↘ Generate Content**\nRoteiro, narração, hashtags e CTA (sub-workflow).\n\n**🎙️ Audio (ElevenLabs)**\nSíntese de voz em PT-BR com entonação natural.\n\n**🖼️ Gerar Vídeos**\nCenas visuais via Nano Banana com efeito Ken Burns.\n\n---\n> 🔑 **ElevenLabs** — voz\n> 🔑 **Nano Banana** — imagens\n> ⏱️ Etapa mais longa (~30–60s por vídeo)\n","height":1188,"width":624,"color":3},"id":"sticky-conteudo","name":"Nota: Conteúdo","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1568,-432]},{"parameters":{"content":"## 🎞️ Montagem FFmpeg (v14)\n\nCombina cenas, áudio e overlays em um único MP4 1080×1920.\n\n**Nodes:**\n- **Merge** — Une outputs de áudio e vídeo\n- **FFmpeg: Assemble Video** — Motor de edição\n- **Format Output** — Prepara metadados\n\n**Features ativas:**\n• Karaoke 2 camadas (grupo branco + palavra amarela/laranja)\n• Palavras divinas em **laranja** (Deus, Jesus, Cristo…)\n• Xfade variado entre cenas (5 transições aleatórias)\n• Frame preto 0.3s + fade-in suave\n• Versículo em **Roboto-Italic** com alpha fade\n• Título centralizado 2s com fade-in/out\n• CTA slide-in, visível 3s exatos\n• Watermark pulsante, canto alternado\n• Limpeza automática de arquivos temp\n","height":744,"width":459,"color":2},"id":"sticky-ffmpeg","name":"Nota: FFmpeg","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2256,16]},{"parameters":{"content":"## 📤 Publicação e Distribuição\n\nEntrega o vídeo final ao destino configurado.\n\n**Nodes:**\n- **Parse Assembly** — Extrai metadados do FFmpeg output\n- **Drive: Upload** — Sobe o MP4 para Google Drive\n- **Drive: Share** — Define permissão pública (link aberto)\n- **Sub: Publicação** — Distribui para plataformas\n\n**Saídas:**\n• Google Drive (arquivo MP4 + link público)\n• YouTube Shorts / Instagram Reels\n\n---\n> ✅ Vídeo disponível publicamente após este bloco\n> 📁 Arquivos temp já limpos pelo FFmpeg node\n> 🎬 Título, descrição e hashtags gerados automaticamente\n","height":808,"width":652,"color":5},"id":"sticky-publicacao","name":"Nota: Publicação","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2784,16]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5,8,12,19 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[208,256]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[208,448],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"},{"id":"cfg-anthropic","name":"ANTHROPIC_API_KEY","value":"sk-ant-api03-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","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[592,352]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere \" + $json.VIDEOS_PER_RUN + \" tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais, n crie conteudos sobre o tanque de besteda. \" + ($json.temasUsadosStr || \"\")\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n} }}","options":{"timeout":60000}},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[1296,352],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[3056,672],"typeVersion":2},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $node['Set Config'].json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\nif (topics.length === 0) throw new Error('Gemini returned 0 topics. Verifique o prompt.');\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\nreturn topics.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus:  topic.milagre_de_jesus,\n      versiculo_base:    topic.versiculo_base,\n      gancho_inicial:    topic.gancho_inicial,\n      palavras_chave:    topic.palavras_chave,\n      categoria:         topic.categoria,\n      runId:             runId,\n      topicIndex:        i + 1,\n      videoId:           runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,352]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2368,480],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2032,576],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[2032,384],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3248,672],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"},{"parameters":{"jsCode":"var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\n// ── CONFIGURACAO DE BRANDING ─────────────────────────────────────────────────\nvar LOGO_URL       = '';\nvar CHANNEL_HANDLE = '@NichoCristao';\n// ────────────────────────────────────────────────────────────────────────────\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar imageData = allItems.find(function(d) { return d.scenes && d.scenes.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\n\n// FIX: Garantir que o videoId sempre exista para não criar pastas \"undefined\"\nvar videoId   = imageData.videoId || audioData.videoId || ('PI_' + Math.floor(Math.random() * 1000000));\nvar audioUrl  = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar titulo    = audioData.titulo    || imageData.titulo    || '';\nvar descricao = audioData.descricao || imageData.descricao || '';\nvar hashtags  = audioData.hashtags  || imageData.hashtags  || [];\nvar narracao  = audioData.narracao  || imageData.narracao  || '';\nvar topic     = audioData.topic     || imageData.topic     || {};\nvar ctaText   = audioData.ctaText   || imageData.ctaText   || '';\nvar versiculo = topic.versiculo || audioData.versiculo || imageData.versiculo || '';\n\n// ── FIX AF: CTA TEXT ROTATIVO ─────────────────────────────────────────────────\nvar CTA_DEFAULTS = [\n  'Siga e Compartilhe!',\n  'Siga e Ore com a Gente!',\n  'Compartilhe com Quem Precisa!',\n  'Salve e Reflita Hoje!',\n  'Siga para Mais Mensagens!'\n];\nif (!ctaText || ctaText === 'Siga e Compartilhe!') {\n  var ctaHash = (videoId || '').split('').reduce(function(a, c) { return a + c.charCodeAt(0); }, 0);\n  ctaText = CTA_DEFAULTS[ctaHash % CTA_DEFAULTS.length];\n}\n// ─────────────────────────────────────────────────────────────────────────────\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n// ── FIX FONTCONFIG: evitar 'No such file: (null)' no Docker ──────────────────\nvar fontconfigConf = tempDir + '/fonts.conf';\nfs2.writeFileSync(fontconfigConf,\n  '<?xml version=\"1.0\"?>\n' +\n  '<!DOCTYPE fontconfig SYSTEM \"fonts.dtd\">\n' +\n  '<fontconfig>\n' +\n  '  <dir>' + tempDir + '</dir>\n' +\n  '  <dir>/home/node/.n8n/temp</dir>\n' +\n  '</fontconfig>'\n);\nvar FFMPEG_ENV = Object.assign({}, process.env, {\n  FONTCONFIG_FILE: fontconfigConf,\n  FONTCONFIG_PATH: tempDir\n});\n// ─────────────────────────────────────────────────────────────────────────────\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.destroy();\n        try { fs2.unlinkSync(destPath); } catch(e) {}\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.destroy(); resolve(); });\n      file.on('error', reject);\n      res.on('error', reject);\n    }).on('error', function(err) {\n      try { fs2.unlinkSync(destPath); } catch(e) {}\n      reject(err);\n    });\n  });\n}\n\nasync function downloadWithRetry(url, destPath) {\n  var maxRetries = 3;\n  var lastError;\n  for (var i = 0; i < maxRetries; i++) {\n    try { await download(url, destPath); return; } catch (err) {\n      lastError = err;\n      if (i < maxRetries - 1) await new Promise(function(r) { setTimeout(r, Math.pow(2, i) * 1000); });\n    }\n  }\n  throw new Error('Download failed after ' + maxRetries + ' attempts: ' + url + ' — ' + lastError.message);\n}\n\nfunction probeDuration(filePath) {\n  var raw = childProcess.execSync(\n    'ffprobe -v quiet -print_format json -show_format \"' + filePath + '\"'\n  ).toString();\n  var dur = parseFloat((JSON.parse(raw).format || {}).duration || 0);\n  if (isNaN(dur) || dur <= 0) throw new Error('Invalid duration for ' + filePath + ': ' + dur);\n  return dur;\n}\n\n// Fontes\nvar fontPath = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nif (!fs2.existsSync(fontPath)) {\n  await downloadWithRetry('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Bold.ttf', fontPath);\n}\n\n// Fix AK: Roboto-Italic para versículo (com fallback para Bold se download falhar)\nvar fontItalicPath = fontPath;  \ntry {\n  var fontItalicCandidate = '/home/node/.n8n/temp/Roboto-Italic.ttf';\n  if (!fs2.existsSync(fontItalicCandidate)) {\n    await downloadWithRetry('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Italic.ttf', fontItalicCandidate);\n  }\n  fontItalicPath = fontItalicCandidate;\n} catch(e) { }\n\nvar audioFile = tempDir + '/narration.mp3';\nawait downloadWithRetry(audioUrl, audioFile);\nvar audioDuration = probeDuration(audioFile);\n\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3',\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3'\n];\nvar musicFile = tempDir + '/music.mp3';\nawait downloadWithRetry(MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)], musicFile);\n\nvar sceneFiles = [];\nfor (var i = 0; i < scenes.length; i++) {\n  var sceneFile = tempDir + '/scene_' + String(i + 1).padStart(2, '0') + '.mp4';\n  await downloadWithRetry(scenes[i].url, sceneFile);\n  sceneFiles.push(sceneFile);\n}\n\n// ── FIX J + AD: XFADE COM TRANSIÇÕES VARIADAS ────────────────────────────────\nvar FADE_DUR = 0.4;\nvar INTRO_DUR = 0.3; \nvar N = sceneFiles.length;\nvar XFADE_TRANSITIONS = ['fade', 'wipeleft', 'slideleft', 'wiperight', 'slideright'];\n\nvar scaledSceneFiles = [];\nfor (var sci = 0; sci < N; sci++) {\n  var scaledScene = tempDir + '/scene_scaled_' + String(sci + 1).padStart(2, '0') + '.mp4';\n  childProcess.execSync(\n    'ffmpeg -y -i \"' + sceneFiles[sci] + '\"' +\n    ' -vf \"scale=1080:1920:flags=lanczos,setsar=1,fps=30\"' +\n    ' -c:v libx264 -preset veryfast -crf 23 -an \"' + scaledScene + '\"',\n    { timeout: 120000, env: FFMPEG_ENV }\n  );\n  scaledSceneFiles.push(scaledScene);\n}\n\nvar scaledDurations = [];\nfor (var sdi = 0; sdi < N; sdi++) {\n  scaledDurations.push(probeDuration(scaledSceneFiles[sdi]));\n}\n\nvar rawScenesDuration = 0;\nfor (var ri = 0; ri < scaledDurations.length; ri++) rawScenesDuration += scaledDurations[ri];\nvar scenesDuration = rawScenesDuration - (N - 1) * FADE_DUR;\n\nvar VERSICULO_DUR = 2;\nvar CTA_TEXT_DUR  = 3;\nvar MIN_CTA       = VERSICULO_DUR + CTA_TEXT_DUR;\nvar ctaDuration   = Math.max(Math.ceil(audioDuration - scenesDuration), MIN_CTA);\n\nvar ctaRaw = tempDir + '/cta_raw.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -stream_loop -1 -i \"' + scaledSceneFiles[N - 1] + '\" -t ' + ctaDuration +\n  ' -c:v libx264 -preset veryfast -crf 23 -an \"' + ctaRaw + '\"',\n  { timeout: 60000, env: FFMPEG_ENV }\n);\n\nvar xfadeVideoPath = null;\nvar xfadedScenes;\nif (N === 1) {\n  xfadedScenes = scaledSceneFiles[0];\n} else {\n  var xfInputs  = scaledSceneFiles.map(function(f) { return '-i \"' + f + '\"'; }).join(' ');\n  var xfFilters = [];\n  var cumDur    = 0;\n  var prevLabel = '0:v';\n  for (var xi = 0; xi < N - 1; xi++) {\n    cumDur += scaledDurations[xi];\n    var xfOffset     = Math.max(cumDur - (xi + 1) * FADE_DUR, 0).toFixed(3);\n    var outLabel     = xi === N - 2 ? 'xout' : 'x' + (xi + 1);\n    var xfTransition = XFADE_TRANSITIONS[Math.floor(Math.random() * XFADE_TRANSITIONS.length)];\n    xfFilters.push(\n      '[' + prevLabel + '][' + (xi + 1) + ':v]xfade=transition=' + xfTransition +\n      ':duration=' + FADE_DUR + ':offset=' + xfOffset + '[' + outLabel + ']'\n    );\n    prevLabel = outLabel;\n  }\n  xfadeVideoPath = tempDir + '/xfaded_scenes.mp4';\n  childProcess.execSync(\n    'ffmpeg -y ' + xfInputs +\n    ' -filter_complex \"' + xfFilters.join(';') + '\"' +\n    ' -map \"[xout]\" -c:v libx264 -preset veryfast -crf 23 -an \"' + xfadeVideoPath + '\"',\n    { timeout: 300000, env: FFMPEG_ENV }\n  );\n  xfadedScenes = xfadeVideoPath;\n}\n\nvar blackIntro = tempDir + '/black_intro.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f lavfi -i color=black:s=1080x1920:r=30 -t ' + INTRO_DUR +\n  ' -c:v libx264 -preset veryfast -crf 23 -an \"' + blackIntro + '\"',\n  { timeout: 30000, env: FFMPEG_ENV }\n);\n\nvar concatList = tempDir + '/concat_full.txt';\nfs2.writeFileSync(concatList, [blackIntro, xfadedScenes, ctaRaw].map(function(f) { return \"file '\" + f + \"'\"; }).join('\\n'));\nvar fullConcat = tempDir + '/full_concat.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\" -c:v copy -an \"' + fullConcat + '\"',\n  { timeout: 120000, env: FFMPEG_ENV }\n);\n// ─────────────────────────────────────────────────────────────────────────────\n\nfunction escapeDrawtext(str) {\n  return (str || '')\n    .replace(/\\\\/g,  '')\n    .replace(/'/g,   '\\u2019') \n    .replace(/\"/g,   '')       \n    .replace(/:/g,   ' -')     \n    .replace(/[\\[\\]%]/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nvar GOD_WORDS = [\n  'deus','jesus','cristo','senhor','espirito','pai','fe','graca',\n  'amor','paz','vida','luz','verdade','salvacao','esperanca','bencao',\n  'gloria','reino','cura','perdao','milagre','promessa','eterno','santa',\n  'santo','sagrado','divino','divina','filho','palavra'\n];\n\nfunction normalizeWord(word) {\n  return (word || '').toLowerCase()\n    .replace(/[àáâãä]/g, 'a')\n    .replace(/[èéêë]/g,  'e')\n    .replace(/[ìíîï]/g,  'i')\n    .replace(/[òóôõö]/g, 'o')\n    .replace(/[ùúûü]/g,  'u')\n    .replace(/[ç]/g,     'c')\n    .replace(/[ñ]/g,     'n')\n    .replace(/[^a-z]/g,  '');\n}\n\nfunction isGodWord(word) {\n  if (!word || word.length < 2) return false;\n  return GOD_WORDS.indexOf(normalizeWord(word)) !== -1;\n}\n\nfunction buildSubtitleFilters(text, fontP, narDur, stopAt) {\n  if (!text) return [];\n  var words = text.trim().split(/\\s+/).filter(function(w) { return w.length > 0; });\n  if (!words.length) return [];\n\n  var totalChars = words.reduce(function(sum, w) { return sum + Math.max(w.length, 1); }, 0);\n\n  var wordStarts = [];\n  var wordEnds   = [];\n  var cursor = 0;\n  for (var wi = 0; wi < words.length; wi++) {\n    wordStarts.push(cursor);\n    cursor += narDur * Math.max(words[wi].length, 1) / totalChars;\n    wordEnds.push(Math.min(cursor, narDur));\n  }\n\n  var filters  = [];\n  var GRP_SIZE = 5;\n\n  for (var gi = 0; gi < words.length; gi += GRP_SIZE) {\n    var gEnd        = Math.min(gi + GRP_SIZE, words.length);\n    var groupWords  = words.slice(gi, gEnd);\n    var groupText   = escapeDrawtext(groupWords.join(' '));\n    var groupStart  = wordStarts[gi];\n    var groupEnd    = wordEnds[gEnd - 1];\n    var gDisplayEnd = Math.min(groupEnd, stopAt);\n\n    if (!groupText || groupStart >= stopAt) continue;\n\n    filters.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + groupText + '\\'' +\n      ':fontsize=46:fontcolor=white@0.55' +\n      ':bordercolor=black@0.9:borderw=4' +\n      ':shadowx=3:shadowy=3:shadowcolor=black@0.8' +\n      ':x=(w-text_w)/2:y=h-150' +\n      ':enable=\\'between(t,' + groupStart.toFixed(3) + ',' + gDisplayEnd.toFixed(3) + ')\\''\n    );\n\n    for (var i = gi; i < gEnd; i++) {\n      var wordText    = escapeDrawtext(words[i]);\n      var wStart      = wordStarts[i];\n      var wEnd        = wordEnds[i];\n      var wDisplayEnd = Math.min(wEnd, stopAt);\n      var wordColor   = isGodWord(words[i]) ? 'orange' : 'yellow';\n\n      if (!wordText || wStart >= stopAt) continue;\n\n      filters.push(\n        'drawtext=fontfile=' + fontP +\n        ':text=\\'' + wordText + '\\'' +\n        ':fontsize=72:fontcolor=' + wordColor +\n        ':bordercolor=black@1.0:borderw=5' +\n        ':shadowx=3:shadowy=3:shadowcolor=black@0.8' +\n        ':x=(w-text_w)/2:y=h-230' +\n        ':enable=\\'between(t,' + wStart.toFixed(3) + ',' + wDisplayEnd.toFixed(3) + ')\\''\n      );\n    }\n  }\n  return filters;\n}\n\nfunction buildVersiculoFilters(text, fontP, startTime, dur) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n\n  var words    = cleaned.split(/\\s+/).filter(function(w) { return w.length > 0; });\n  var lines    = [];\n  var WORDS_PER_LINE = 7;\n  for (var li = 0; li < words.length; li += WORDS_PER_LINE) {\n    var line = escapeDrawtext(words.slice(li, li + WORDS_PER_LINE).join(' '));\n    if (line) lines.push(line);\n  }\n  if (!lines.length) return [];\n\n  var numLines = lines.length;\n  var LINE_H   = 52;\n  var totalH   = numLines * LINE_H;\n  var T        = startTime.toFixed(3);\n  var endT     = (startTime + dur).toFixed(3);\n  var FADE     = 0.4;\n\n  // Matemática limpa com vírgulas normais, FFmpeg entende se estiver entre aspas simples ('')\n  var alphaExpr =\n    'if(lt(t-' + T + ',' + FADE + '),' +\n      'clip((t-' + T + ')/' + FADE + ',0,1),' +\n      'if(gt(t,' + T + '+' + dur + '-' + FADE + '),' +\n        'clip((' + T + '+' + dur + '-t)/' + FADE + ',0,1),' +\n        '1))';\n\n  var out = [];\n  lines.forEach(function(line, idx) {\n    var yOffset = Math.round(-totalH / 2 + idx * LINE_H);\n    var yExpr   = yOffset >= 0 ? '(h/2+' + yOffset + ')' : '(h/2' + yOffset + ')';\n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=38:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=4' +\n      ':box=1:boxcolor=black@0.60:boxborderw=12' +\n      ':x=(w-text_w)/2:y=' + yExpr +\n      ':alpha=\\'' + alphaExpr + '\\'' +\n      ':enable=\\'between(t,' + T + ',' + endT + ')\\''\n    );\n  });\n  return out;\n}\n\nfunction buildCtaFilters(text, fontP, startTime, ctaTextDur) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n  var words = cleaned.split(/\\s+/);\n  var lines  = [];\n  for (var li = 0; li < words.length; li += 6) {\n    var line = escapeDrawtext(words.slice(li, li + 6).join(' '));\n    if (line) lines.push(line);\n  }\n  var SLIDE  = 0.5;\n  var T      = startTime.toFixed(3);\n  var endT   = (startTime + ctaTextDur).toFixed(3);\n  var lineH  = 80;\n  var out    = [];\n  lines.forEach(function(line, idx) {\n    var finalYOffset = idx * lineH;\n    // Sem contra-barras: O uso das aspas simples ('') no Y resolve a sintaxe\n    var yExpr = '(h*0.72+' + finalYOffset + ')+100*max(0,1-(t-' + T + ')/' + SLIDE + ')';\n    \n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=52:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':box=1:boxcolor=black@0.65:boxborderw=14' +\n      ':x=(w-text_w)/2:y=\\'' + yExpr + '\\'' +\n      ':enable=\\'between(t,' + T + ',' + endT + ')\\''\n    );\n  });\n  return out;\n}\n\nfunction stripEmoji(str) {\n  return (str || '')\n    .replace(/[\\uD800-\\uDFFF]/g, '')\n    .replace(/[\\u0100-\\uD7FF\\uE000-\\uFFFD]/g, function(ch) {\n      var cp = ch.charCodeAt(0);\n      if (cp <= 0x024F) return ch;\n      if (cp >= 0x1E00 && cp <= 0x1EFF) return ch;\n      return '';\n    })\n    .replace(/\\uFE0F/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nfunction buildTitleFilters(text, fontP, tOffset) {\n  var cleaned = stripEmoji(text || '').trim();\n  if (!cleaned) return [];\n\n  var tOff = (tOffset != null) ? tOffset : 0;\n\n  var words    = cleaned.split(/\\s+/).filter(function(w) { return w.length > 0; });\n  var lines    = [];\n  var WORDS_PER_LINE = 5;\n  for (var li = 0; li < words.length; li += WORDS_PER_LINE) {\n    var line = escapeDrawtext(words.slice(li, li + WORDS_PER_LINE).join(' '));\n    if (line) lines.push(line);\n  }\n  if (!lines.length) return [];\n\n  var numLines = lines.length;\n  var LINE_H   = 74;\n  var totalH   = numLines * LINE_H;\n\n  var FADE_T = 0.4;\n  var DUR_T  = 2.0;\n  var T0 = tOff.toFixed(3);                       \n  var T1 = (tOff + DUR_T).toFixed(3);              \n  var TF = (tOff + DUR_T - FADE_T).toFixed(3);     \n\n  var titleAlpha =\n    'if(lt(t-' + T0 + ',' + FADE_T + '),' +\n      'clip((t-' + T0 + ')/' + FADE_T + ',0,1),' +\n      'if(gt(t,' + TF + '),' +\n        'clip((' + T1 + '-t)/' + FADE_T + ',0,1),' +\n        '1))';\n\n  var out = [];\n  lines.forEach(function(line, idx) {\n    var yOffset = Math.round(-totalH / 2 + idx * LINE_H);\n    var yExpr   = '(h/2' + (yOffset >= 0 ? '+' : '') + yOffset + ')';\n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=58:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':box=1:boxcolor=black@0.65:boxborderw=16' +\n      ':x=(w-text_w)/2:y=' + yExpr +\n      ':alpha=\\'' + titleAlpha + '\\'' +\n      ':enable=\\'between(t,' + T0 + ',' + T1 + ')\\''\n    );\n  });\n  return out;\n}\n// ─────────────────────────────────────────────────────────────────────────────\n\nvar videoDuration  = INTRO_DUR + scenesDuration + ctaDuration;\nvar fadeOutSt      = Math.max(videoDuration - 0.5, 0);\nvar fadeOutFilter  = fadeOutSt > 0 ? 'fade=t=out:st=' + fadeOutSt.toFixed(3) + ':d=0.5' : null;\n\nvar versiculoStart = INTRO_DUR + scenesDuration;\nvar ctaStart       = versiculo.trim()\n  ? INTRO_DUR + scenesDuration + VERSICULO_DUR\n  : INTRO_DUR + scenesDuration;\n\nvar allVfFilters = buildSubtitleFilters(narracao, fontPath, audioDuration, videoDuration)\n  .concat(buildVersiculoFilters(versiculo, fontItalicPath, versiculoStart, VERSICULO_DUR))\n  .concat(buildCtaFilters(ctaText, fontPath, ctaStart, CTA_TEXT_DUR))\n  .concat(buildTitleFilters(titulo, fontPath, INTRO_DUR));\n\n// Branding \nvar logoPath = '/home/node/.n8n/temp/logo.png';\nvar hasLogo  = false;\nif (LOGO_URL) {\n  try {\n    if (!fs2.existsSync(logoPath)) await downloadWithRetry(LOGO_URL, logoPath);\n    hasLogo = true;\n  } catch(e) { hasLogo = false; }\n}\nif (!hasLogo) {\n  var wmRight = ((videoId || '').charCodeAt(0) || 0) % 2 === 0;\n  var wmXPos  = wmRight ? 'w-text_w-20' : '20';\n  allVfFilters.push(\n    'drawtext=fontfile=' + fontPath +\n    ':text=\\'' + CHANNEL_HANDLE + '\\'' +\n    ':fontsize=28+2*sin(t*3):fontcolor=white@0.65' +\n    ':bordercolor=black@0.50:borderw=2' +\n    ':x=' + wmXPos + ':y=20'\n  );\n}\n\nallVfFilters.unshift('fade=t=in:st=' + INTRO_DUR.toFixed(3) + ':d=0.5');\n\nvar vfChain        = allVfFilters.length > 0 ? allVfFilters.join(',') : 'null';\nvar musicFadeStart = Math.max(audioDuration - 2, 0).toFixed(2);\n\nvar filterComplex, ffmpegLogoInput;\nif (hasLogo) {\n  ffmpegLogoInput = ' -i \"' + logoPath + '\"';\n  var overlayEnd  = 'overlay=W-w-20:20' + (fadeOutFilter ? ',' + fadeOutFilter : '');\n  filterComplex =\n    '[0:v]' + vfChain + '[vtext];' +\n    '[3:v]scale=120:-1[logo];' +\n    '[vtext][logo]' + overlayEnd + '[v];' +\n    '[1:a]volume=1.0[narr];' +\n    '[2:a]volume=0.20,afade=t=out:st=' + musicFadeStart + ':d=2[mus];' +\n    '[narr][mus]amix=inputs=2:duration=first[aout]';\n} else {\n  ffmpegLogoInput  = '';\n  var vFinal       = fadeOutFilter ? vfChain + ',' + fadeOutFilter : vfChain;\n  filterComplex =\n    '[0:v]' + vFinal + '[v];' +\n    '[1:a]volume=1.0[narr];' +\n    '[2:a]volume=0.20,afade=t=out:st=' + musicFadeStart + ':d=2[mus];' +\n    '[narr][mus]amix=inputs=2:duration=first[aout]';\n}\n\nvar finalVideo = tempDir + '/final.mp4';\n\n// Try/Catch atualizado para isolar erros inofensivos de fontes\ntry {\n  childProcess.execSync(\n    'ffmpeg -loglevel warning -y' +\n    ' -i \"' + fullConcat + '\"' +\n    ' -i \"' + audioFile + '\"' +\n    ' -stream_loop -1 -i \"' + musicFile + '\"' +\n    ffmpegLogoInput +\n    ' -filter_complex \"' + filterComplex + '\"' +\n    ' -map \"[v]\" -map \"[aout]\"' +\n    ' -c:v libx264 -preset veryfast -crf 25' +\n    ' -c:a aac -b:a 128k -shortest' +\n    ' \"' + finalVideo + '\"',\n    { timeout: 600000, env: FFMPEG_ENV } // 10 Minutos para evitar Timeout\n  );\n} catch (e) {\n  var errLog = e.stderr ? e.stderr.toString() : e.message;\n  // Extrai o erro real ignorando mensagens de \"Fontconfig\" do final\n  var realErrorMsg = errLog.split(\"Fontconfig error:\").join(\"\").trim().slice(-1000);\n  throw new Error(\"FFmpeg Erro Real: \" + realErrorMsg);\n}\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nvar tempFilesToDelete = []\n  .concat(sceneFiles)\n  .concat(scaledSceneFiles)\n  .concat([audioFile, musicFile, ctaRaw, concatList, fullConcat, blackIntro]);\nif (xfadeVideoPath) tempFilesToDelete.push(xfadeVideoPath);\nfor (var di = 0; di < tempFilesToDelete.length; di++) {\n  try { fs2.unlinkSync(tempFilesToDelete[di]); } catch(e) {}\n}\n\nreturn [{\n  json: {\n    videoId:    videoId,\n    localPath:  finalVideo,\n    titulo:     titulo,\n    descricao:  descricao,\n    hashtags:   hashtags,\n    narracao:   narracao,\n    topic:      topic,\n    sceneCount: scenes.length,\n    fileName:   videoId + '.mp4'\n  },\n  binary: {\n    data: {\n      data:          fileBuffer.toString('base64'),\n      mimeType:      'video/mp4',\n      fileName:      videoId + '.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"},"id":"node-ffmpeg-assemble","name":"FFmpeg: Assemble Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,480]},{"parameters":{"name":"={{ $('FFmpeg: Assemble Video').first().json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"node-drive-upload-final","name":"Drive: Upload Final Video","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2960,480],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"node-drive-share-final","name":"Drive: Share Video Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3152,480],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var ffmpegData = $('FFmpeg: Assemble Video').first().json;\nvar uploadData = $('Drive: Upload Final Video').first().json;\nvar fileId = uploadData.id;\nvar renderUrl = 'https://drive.google.com/uc?export=download&id=' + fileId;\nreturn [{\n  json: {\n    videoId: ffmpegData.videoId,\n    renderUrl: renderUrl,\n    renderId: fileId,\n    sceneCount: ffmpegData.sceneCount,\n    titulo: ffmpegData.titulo,\n    descricao: ffmpegData.descricao,\n    hashtags: ffmpegData.hashtags,\n    narracao: ffmpegData.narracao,\n    topic: ffmpegData.topic,\n    status: 'assembled'\n  }\n}];"},"id":"node-format-assembly-output","name":"Format Assembly Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,672]},{"parameters":{"documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit#gid=0"},"options":{}},"id":"sheets-ler-temas","name":"Sheets: Ler Temas Usados","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[912,352],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}},{"parameters":{"jsCode":"// Pega config do Set Config\nconst cfg = $node['Set Config'].json;\n\n// Coleta todos os temas já registrados na planilha\nconst allItems = $input.all();\nconst temasUsados = allItems\n  .map(item => item.json['Tema'] || item.json['tema'] || '')\n  .filter(t => String(t).trim().length > 0);\n\nconst temasUsadosStr = temasUsados.length > 0\n  ? '\\n\\nTEMAS JÁ PRODUZIDOS (NÃO REPITA NENHUM DESTES):\\n'\n    + temasUsados.map((t, i) => (i + 1) + '. ' + t).join('\\n')\n  : '';\n\nreturn [{ json: { ...cfg, temasUsados, temasUsadosStr } }];"},"id":"agregar-temas","name":"Agregar Temas Usados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,352]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Tema":"={{ $json.milagre_de_jesus }}"},"matchingColumns":["Tema"],"schema":[{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"sheets-salvar-temas","name":"Sheets: Salvar Novos Temas","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1808,224],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Sheets: Ler Temas Usados","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Sheets: Salvar Novos Temas","type":"main","index":0},{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"FFmpeg: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"FFmpeg: Assemble Video":{"main":[[{"node":"Drive: Upload Final Video","type":"main","index":0}]]},"Drive: Upload Final Video":{"main":[[{"node":"Drive: Share Video Publicly","type":"main","index":0}]]},"Drive: Share Video Publicly":{"main":[[{"node":"Format Assembly Output","type":"main","index":0}]]},"Format Assembly Output":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]},"Sheets: Ler Temas Usados":{"main":[[{"node":"Agregar Temas Usados","type":"main","index":0}]]},"Agregar Temas Usados":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]},"Sheets: Salvar Novos Temas":{"main":[[]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","timezone":"America/Sao_Paulo","availableInMCP":false,"executionTimeout":-1},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"usedTopics":["Cura do paralítico","Acalma a tempestade","Parábola do Bom Samaritano","Ressurreição de Lázaro","Amai os vossos inimigos","O milagre no tanque de Betesda","A restauração do homem no tanque de Betesda","A cura do homem no tanque de Betesda","A volta à vida do amigo amado"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Sub: Generate Videos/Images1":[{"json":{"videoId":"20260319-111338_video_01","totalScenes":5,"scenes":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=1xSf_E-_0NeGC5VHn6kLE5Yy4JQtodp8t&export=download","status":"scene_ready"},{"numero":2,"duracao":6,"url":"https://drive.google.com/uc?id=1J2idfNiudIiHrNhIEnHRly_qmK7xBIYL&export=download","status":"scene_ready"},{"numero":3,"duracao":5,"url":"https://drive.google.com/uc?id=16zKJmcrsgMFbpuXbXFEpzYqvKmU2FqkA&export=download","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1UBhKviZgT1MEkJw9BeaJjA9Q2jRvHreO&export=download","status":"scene_ready"},{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"status":"all_scenes_ready"}}],"Prepare Topic Context":[{"json":{"timestamp":"2026-03-20T11:17:56.932-03:00","Readable date":"March 20th 2026, 11:17:56 am","Readable time":"11:17:56 am","Day of week":"Friday","Year":"2026","Month":"March","Day of month":"20","Hour":"11","Minute":"17","Second":"56","Timezone":"America/Sao_Paulo (UTC-03:00)","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","VIDEOS_PER_RUN":"1","AUTO_PUBLISH":"false","OUTPUT_DIR":"/data/output","TEMP_DIR":"/data/temp","ASSETS_DIR":"/data/assets","SCRIPTS_DIR":"/data/scripts","RUN_ID":"20260320-111756","geminiBody":"{\"contents\":[{\"parts\":[{\"text\":\"Você é um especialista em conteúdo cristão viral. Gere 1 tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O gancho_inicial deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: Após X anos..., Em apenas 3 dias..., No momento em que...\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: Jesus curou o homem doente (entrega tudo)\\n- Exemplos BONS: Após 38 anos esperando..., Quando tudo parecia perdido...\\n- PT-BR correto e natural, sem erros gramaticais\\n\\nTÓPICOS JÁ USADOS — NÃO REPITA NENHUM DELES (gere temas completamente diferentes):\\nnenhum ainda\"}]}],\"generationConfig\":{\"temperature\":0.8,\"maxOutputTokens\":8192,\"responseMimeType\":\"application/json\"}}"},"pairedItem":{"item":0}}],"Schedule Trigger":[{"json":{"timestamp":"2026-03-22T18:51:23.095-03:00","Readable date":"March 22nd 2026, 6:51:23 pm","Readable time":"6:51:23 pm","Day of week":"Sunday","Year":"2026","Month":"March","Day of month":"22","Hour":"18","Minute":"51","Second":"23","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}],"Generate Topics (Gemini)":[{"json":{"candidates":[{"content":{"parts":[{"text":"[\n  {\n    \"milagre_de_jesus\": \"A luz para o homem na escuridão\",\n    \"versiculo_base\": \"João 9:1-7\",\n    \"gancho_inicial\": \"Após uma vida inteira de profunda escuridão...\",\n    \"palavras_chave\": [\n      \"cura divina\",\n      \"luz do mundo\",\n      \"milagre transformador\",\n      \"fé inabalável\",\n      \"esperança renovada\"\n    ],\n    \"categoria\": \"milagre_cura\"\n  }\n]","thoughtSignature":"Ep88Cpw8Ab4+9vs5B5iIw4bn78MIItTmeNwE/Ecr3D4JUksEylCPQHcDhKtzGRqjVvfP5JhnoKpwrDfHHCMFLVaDgOiKQkOwDNyCWFCZgeHVew4PWewBQfYsVHzK5X1OTL17V4nESyLwXMLbt5wBQboiyBAdrQptG5J30XqX4XWUVvq+7dO+VrDhJSHQg0bh2fMz1Q4V19ofarnOZvHdMH7BvCMFEpZuqUTtEixmvH9VKgVJl8BJMkag6FaUfeKbMk/OZz5m/meJfjvtDwk+vwT3xzPAj5g77c7l6mFW5JrzWDwc91dVSpHNdhwaDxdxEL0fxgQZZykfCl58X2rZF+GpCdZZacAm5NDhEiguXnqiUdNOPWcwvfQgHBnfwbM3vNbQcB8USiJN/wKbwniGmfES+xfZu8rFXwFfXu+JdNPQuXoLAJbhQmkN2YZUDidpC3Y5DzISzuMaOCq+vJc2YNJcS1YSLTxNWYdStn7kZDDdprbQrnc9wiScQ0JNBWXk2fLuLPJOZb9r/8zfWagewqM1TfawmdvuN8Ivol9DaZT+vp5gR8BMPw/yypQ8ckqun3/+5m6ZwiVtsc8Wwp4jeHLW25lEoX8UXxnv/g0tBmUQn7uOXYUqypK/H/S9GkWWNlhzqxd95Qs3goN/wRu6zNoQ7G1A+4DKLHMEnFyQx5alqujlNXZE3pacwPbAsXI2HBnrwk8nsvjJLT9QdH/gI6ym4dIqKpqwlVnQAHhvgaebpgP6NrYflmFpXuHHiYVAD/VYrnsrBX3XGIXFSQtHRKwWOgtMumvTvTN+rJQv25qmS8XZ+gjIfszYr6Pju3ASMkP5f5SvdxxZF3QT9IGzGZ/CjalTUGnIcBB/M+Zxt3eX7IQ/vOe7KMzmQSNwlkG6zwjGNP31ByECorUZNcmfI2dL4OIYN5t4S0ATe4eKt3Nfh4LG2BMG1TsHNiL9IOxWX5HNJyoa7O9WXCUWpJZn5jpRizg2b8azHWYGmvstvBe4+B+xped7J+JQArbro2nK6FgJYIm+3tLUBQzeyPVGepcb4vySFuJsWxgm/iHvuBWv58dE0QQqbPQOIrGb00UCUSTWcUbN9PXSuZ0+xJhrozo46nTboQCQ8fR3aJ+hiF1fB+GoHDx6bPVUB0lPJeEhDvQimT/AOoSd47XEfg5U5ypdaa3RIIvaMzcfxZQl9jnYF5s3VpRFcyMGRpoVnDlcBjhnzKg8ewx6JUU7E3xDLBoTzesN5eKhkk2OJ6ifWb0wmdD7YsKjmfQw4JAlEgd24os2nLGrtx44/UUYCZiJJk58USIEJDTEDR7VNnBX8dHp+eBuiBWYaz8N02E6xacBt4dkBf/VWoKrxXOH+x+nnFzXMS45j/UfQO9trHaRHslIEJK9OW0+dm1pIa15U5Kpa8ZtEcb1mhcuZmx9qsLlxcKjf2EkuBWo8ndWg1b0pbxeOLph7+oytKH4Qyt19XV0BdhVCPrx75zBSf7xYK3G5LWaSxYHblo4I17T27NlSjn+BYWpdWEinjNBVZj9r46I4TIH22u7974YI97zm3uEgNKn5ZVnBsoaNmtO69M4C2+eIX515qFrPqgSSHux2+cPk+HiNJtVJWbV8HUrgUvI9MHamSfv4IvGvKRE445Ux5a6ey8DVV3zUC35rCHKQAHxsWf8kNW1hR1ddxB573GjqQidxSOn1qCqmOpGZpag8zt5Mkmau7udySdL7g3VpY4ytkWyrP+80zegUJj3DOz8QApRw06sQMXPzSJRBX1RIkfQfI6NUl0ndcVYpeRiJOrcWxGDjeRI+P9G9Z2NEBazGfdNPcl+AIiG9dEQiZgrBcncWzx+p3zkQqYOS77j3AWehGiOG4KAboCztHrkdQLu76VsUwbpXvpI2xjPk2/RcaJAhb/Lm08ojfnaXPtHe3VeXJQdRBktMBCZxShT23Ax575VhCCySv1ko2k6+Qnj0D7vGvcw7bnlrYtD8vDZ1Wctb2Jdc1zFnQFEZw33JhiB3zOULLXS4hJqJm47NcYu25+z3lwhxyyDLyylveeNCFlJ1biiQ2BUQDesj/T6xckOGJ3/bInAW5VbXODYSRzn0ip+tI9/XCUo3bqWRl/0GddkAty1mYBg6y17qfF0iQUtKxe1Pt8plHZHHDG+gpT7WDMDmBAE/k8OjyassXCyONPLvC3uhfbxFmO48Iek9kVM6tHNgR7+I/qqFGiedOU7e7DlW80cGciCfU16PM19AMoQMayErUee7Zuwo9hRZDcWtidOVa1fiqZujkSh3Fnla4B+Va2/rx/uk0ipyp1JRaJqgq7LgwiUpPxIJd0w7E498juJvvRTDdPN8IMQERsf10vbDsQoPl5YHKDeZZ6R5GL2AfYdFjRJ0lPeH+RkSkvJoSpfU9yusxrKLs7e4PWaPJ3O8+XBYQSN+s24nGCLVMcaa8u7nzKflXE6DvuepRZJ4LhMlfdi0vTmP9D0cioS11ulDacBWMAOzHuwE7CU8eq3obl1YuGbyV1RKSvLAqHY/4MENKML8wasWc63Q9SeP+WvnFbJLamtAIvddC5oXnMkzuEMboewcKVRiBABNRPMuOimwo3+gWaaJNXwwV8j6LaGyL+whgF73RtuV3p5RylAwNKnREuh7inw824F9CpbfXT1lyUtt0kUpHRXN+c/rXRjbiLWn4nw6KCanXuH9uGBWJpq44oQbzcOfCWKCxmy0YhXAxoPePzvSFgwhMsPwuy5A/QtB6nCW++9BL7CSKPNYp4ZK/0RFStDwhGVg5Z5TBICqyrWsTm36ZC5fFYp9NYqPwDPGyzsqaSuGmf1tlTDegPCJYRpxZn0GF+Hqz/iE9m9Ph699DNUAJSo6yiyQxMJQtAIB4AtxMAPI22Scmy7RqNUgrmd6/bdlkInFgm586CNPB0zZmkiWMwQOmNmgeB35Sy/rVb1hes4FtdKtCNUx5dBrrgvDlE65OVnO+4KCB20DhQaXmTVQoqpxPMUQoRpxYmFFO2sVHJoP4dBczW6VlUkJRzPVqtKeDSN3K74znVXB4vHLohy2bexgwNvc3np1qVyDAAP8I6bXRZXAAhangw2HXHwYDFj4En7MpH/8iAeGomVgWhNnQ+QLUN2F3hENlaFfsIVPLsZGhz1gjqCMYF8t//bhYI0ml8JxddW7wN1xzmXgIAk6Z8TXEN5+fGzooUVxYYQzgN2AJBIpvd8b+S1OjcdpwdV06fvNAKySab09XleCYu3Q4aOza7L5rkfEapNwzzKahvp0hsB3Abe+eQGdGR0Sjjw8c1EqUVVVgsBy/7EAhSFxvt+PaPZ3DAupHskcApnrBjDbHXi0NLToi15EIcc8P06X3IfSQE0+BMM+4IbYpF7ny8HdRhNLErwmSygeZfqwOAs1++bCWnv/URsooVlJW/oWsBHs61Vri9lhZlErCyIen6eIAXpDGFyN16tsiLLKJEkJJZIk720QbBXlvcruKz+vCiPMr6qVQxLnsn7Uu2DKzjSo1aIl4sG3o1wLzXjj+SOFinorUbV3eXPnsTF6PNNX4kzDMMsXZW7MqRJfYMY64meH+I8iT6ROkF4OvDMzZh62Nutxnwc8fBMMaRKctWxD1KmLPXgqDmO+valRNznL9UfGqU052Ach8DJos0KZ+YDzEuIkPYeqnp2VfFVjKnopNTCfXwCknivj6/4aq1mu5DL/VvdUoEGwVEDtxWeyX19UNwCNHfpr9gfDpOzAQHebJSS4NQNN0U7TvXNEKpAoUIIHSVy2Or6W8d8VmJ9TyKH0sXwMQ+84j6kv4F/52csAntzgIBwe/1Y9nm52mlMEGt2Qf+OQ3GWrda7f4HOhjV3YYsD7ERYcnw9smpWA9q2mtnAQKVjTy0F9Up4Qmlt2g7AZ/1NIxxy3LbZPhcYhJqFxan0VpzioSgk3oKcahtqC36t4/Ug9ru4X2mhJET33POKLmORtt8TJFrzPx4bHR1/lCYxbTApf2hcfVfnw8kOkI3eBxDnzoSWe7z9LKijH+fKfvEPsldMC802v49m4tI7iZhHDosyayHLP+cx+HWoa/UPlzdjvEiMdWM9WJ4kmm+dxWh4Ecrhlaxuky6XLi6e0uZtPwTnaZ8irJ0k48kfJ0/DNhydYvNLCsu0CvgLK2BoMepyZ9ECkxDZ464EIXFoIoyLakSZygh/FlKEe5aytG+oQG4Kw9AbSqHFyRdaLA1X29xvdDpCrUpr0serjafOSsjCpiCdl+bOOj1fHF2ipEWgswUM0MrwnlWd+ZW2WZynudDzqA6x+l6KVWfUG3i1NrdkRW6z3NQ3NgOpLHXk58F11My1ujFpQBTcVc3p/fDaKyi7cz53T6I0f/0kEQcyePR5rPu4UUGkGScSJav2U7n1m6O6TKBJ0k0TVo7rE+K6n/wuNq4zdQ8HuZjTa8PiaffTDKxQUqIV3Fadqef7sGDUA6i1o61rFbvJeKt89SJiaOEiorVmNkfQ4xBtTU50Lu+7CBRWs99hnmBHpIIUe0Inc4/q5O61EyyM0RsFegV6nP1z+A6zDKAp7C1FeGyUX7IWR3EfHFfFzc9A/FPenNrEkVwfT8TYmq9nhkQYxMJhBtFisCFtTr131Nx85wGGWXaz01a4A31/UuKRmhTeVcQGqjp55YfsUjUP/x4E3aUUHXBgk5Kib1n0nWcFI5QYXysL1/VObvtx4KZylefe8bVxJ/XxQVwYG9urzpoCvfXF8zI8jhNmfQbETbzHuFo7yYrK2F+m1ufXX/TL0HfeDXDPnCOBUHQ0AvoqC7Bfsd71KKkwtivTh+lJYK3J5YzrLE7Xe3STQgxIVEZ3m8bCEIjfIX66W1hQjESJ2vzLngEjKCTlFFWcycPyl3ZaXMnmFLNWcg70uw6S7JkCr3hEHl8BWC5k5Llkjb9fea6A0hX/+1sD2zNixLsSDis/uiZj2cFUda8acQu5mXOn8TEAKHuAYNZp4YxR+l2oGDgLQ+QHRqWLib5ZYko9bHz6lw4Zoiet38Mzc3QcQGygv9qFcuGoSGa2+k6h7CERFvQjEdwSe5SOP0mNVGKcQb0qORaTf3SSYM5udChFCpJAF8tn1TWFJXbz0xnIGVrf9QGkb+uhabV7TVRyuh4cdxJ19akOlg+2yQNfbMo6a6MW/SN2qICzWzjiI/2iPF7oMY9mxdC0XiOv+hBOyLV5rQ1OxSLva6mjoltw4i8Fg5Qg+rrIQKXtnUp5AV3rMS/4beeOqIaswNwVd8TD5L/Bg/+RbBIxy/RlsPUPlhltaVHdlRfcBJ0HhlNmxJqcKjms2z9eq3USLA6pL0O7VSatsPreif+mrD1NybFWd5TwrA0gTwLO4K/sSAadVEwpBtfaBlvXb075v4IXRtOy9diIeBPQYvc56MAA6gxtJFmNXesHI+7/xiM4v5W0cnL0+AiUewMfaYHOQQqu1HwN5l1v1BCUZpGxzAwGcq17eGmSJ77pOr/uKJrhc5DCSW43km4w2/rbX2B9AXb+QwfGqREZuzoInn8FeCApSyjQ9J/GhOOTpSkB49sZAXJK7Sh92RvPYAh2SksY9phdc4GZxTYW8SKcOrnbgqnH+pSJTDq09QOIYfk3mUC4hNlAFZXpl2mEIUuyLAPywpOe5uLdkEfcdzA6mFG8zDWn6kwqXTA+xVqNn6x+A5JVy/bPgPNsuJ9ztaJCO9YlJtQMlwMRb1AYQNHqz3ZKqSiX6DMzTRi2EeB/qIinpMQGwwwDCAqVrFLR+IbjNIM0KiuDzU9qz/RECbyCAQOt7xX2cqjqno9MnHBxYMEOGinIepVVbZVN20nnCYhdYsFzSJtCDjO9XQVHSjWf7y8RvfiSdr3LPJ0PvghceN5dtptyDJNWug9db0shP8ov8fvfosvZzDJXEsxQglm/hnkPeXXao4TvPyZuhrlIASIvGyJVuJJUdxaSJhh2R4vj40sW0/wEP51eCikawL/yxgTOjJZ6JKbIbw5Nj8lw+7jgqapURxnu760+o6L3K7gIzwhByYF1/VGPxi+OElx/mNyKLwgIbopPj9C/12vcVspcDMJiguPcqiJf9ePL37VMTwaXWAwil21Hn1GfXGC3nu2PdCl7tLib4NJUvmOema2hhi7x9Aw7V46Lp6wL+g2xD52VHNN/QwNeQ8CsM30Xlpe6f4NqK4RoiL0FOG4Apkxh1vRAH5KsFezPR8XYCCEVYlIhYYUbfZHqX1AyC5JsAfpdEvAi6ZpqCHLNHvFQ918Dm7PYGcsegt9tyrju5tV8uVXbYi+HsE+zDUrizTHGJwqSTaoxbT9RaLrtz4313S37Ux+ghYrY60nJTh/fyp0n9XwS4O3z6Xtx59j1APVOOlUue4w6d1jA81KfwK0I3CUMOLhaLSk5LeqsR3Klw/o9Q1lMSfqdOGMOdeJ/PEO/UgjtdGub8TVdvcBrYv6ajZ4vIEWjlgqURUkivYz7Cgz9/erGhSFyrHgmJQkIwZKZxyBilMQZ3YymHSAJA63qoDjwPsXFJZFWfEf1BN4AF4JPy99H++7tfoOTuX+ELqei8rt9csWTmIjMsHW4KCEZH/ICadUb3FFj94sLaPf9aayzUULNatqH1QBja9ZqFRf6wbLMkxEdL2EDKD3nzUjknPrDC3v/B82UPVseZMEORRMXeh9FbOvLyjhs7GB8/X6YR3vtWD/Z6DZLvUGMOyUh86YizPG72Fj0txjYuzt9TfkPEJPY101CyyNIgJDOXt/3wuHVdrMMCErMHWRyt4+KsQkL55si+7ldmBhMLBFxN7pX8xv7wY/tRMpWwvC2eBop+3p1IG626lDd0RcqaiwoJOxovi32WKdVx1TOVzGSJGEzeDeg8aUDZl3ooFl2i7gRqGLlv1V03QY9WRHh3BkAbCaHGtfLpfgApFcgCXibySPlkrqp3NpO+4fba0z4TQXb8NN7Gz8JRMFp36Pad+uVS6CmVRcO0oD+rUSUk3FB48OxVKcV50ZG+LMjmcOY/8+HlVxvVC0Phq3kVPgrlzRQAsy35xt1Wl2Gh2s+Vx0qoTzLCOIiMOH2Hfojpsljndp49qJyGeSS+Lw7s/YnkGPxretr+aJ3rStB1c9+tHrKbgYptMFG3nBEmUOMEaEogIB2kKHdQZYjEdi+SMcUKpef9Tvfx+WWsE4NUpx0JbXioyRGnYKXVkPy9bgMolrevplOGrCH6beOMaOMavmXavUdXReKf36wcm+GSE9VQ8MOVANh3P/c45NYPtfUKdX6QFw76bXWLc8Tc37I2LW6kTmOGv7MIHQ2UsrRsWKZ/JInGwGmaZcH5LJuxP1wGNNyOBz1njFPn9KTo/g3MZDmljNK5fgXiFHqhw2qRrvIs3G1qeT6huvO1gEPNFtL1KDf1TBOxIeWzuhjjSN7MJO6KHP1e6t2KG0iOgFLvrTo5w6SGXd4k5QthYUJUuqBrUR4ikdjS0hZ/apqWWwQleMjKnmWkOFe5g9RyTryBPktOX1spzSo8Yrzfc5jbcVX0OfG3hAHMd76/idKhY0E9wj/0mUC/ijP6TKrUW7WSyfDhTEZvpnGrmeSp9bvY1T6r5+XSk4OHaskErdigGaBFmyEX+lRlCY8wyoBoA1GpCPD/nhMBYs4GWtsRN0b5fmCOdj9bf8sTvX1WlAUJ0J9bC1lfOK6G0+bN2K8qw/5SUO8GNEuS7kc1HCrCsf4av44T3kvQplv5jWWq8ZwA56zr5rUvRKmiarB17+dCFI7hpx172XP2e2jxzfkWzkHzqu3vlSL4xkEgmH+bLqxn4CDg5UgF0IXYEPqQGFF5B45RlWtv18znFwua2RU1LC68CPQKpfbVb57R9yCeKVXekiwRaOdP/3i+lNSCN+KccCIEOPSnRtS3XSSqrzEWjIg2OWz73IpiIX5WjNz5KuZmIJK0OliI1LNOgRL3tmovJmjYD4eOVdmOI3Wt+FrQKRhXuVvohz2Xww003zvYkVWza0ezzR76lnnRqzA1Ia5QmAMgKQs2m2jd5MYmNYmdq41aNyo5mORijcrlcgY3HjJ0gQLHoMZ/2xIb6He+8euHclCdgkjl2fXFEZCZG9UEHM9AgdqvUuy/bTuwgJL0Xsk1/A7h8UJcs0/SBQicSA4IC/w4O67yJMcAlw76NsgCXOCU1OUMCUm5QZZHnyuOPRdJL/wKIFQwy406OuGvVGMaFW2D6QDf5AhyCo/sPTOT7berHnZku/8gU4DFoxXRxwJXtTE7d9o1pfrGu+moWxcT4+Dg9BDZcOv4qMQaTVFrTTLoURj0ixfxJPBI+AqKT240F5N9C7h0eQyWwnJK7/2JhMClRc8C6CnLYz2kW3yMldWZ7Nosp1nLXvkwS8FzzIuqpUICgKjB043X+kMceV+Qib8HMYlcCw7346ry/nojICv7vk8VHPRiF9pwwr398KrzzUEmy1Lmflmerhyohb0Q8pDQYp/AzP6SI1ogrw6R6+fiVdvK8r6e46e3kopJnyF9VWTTAi5WkVqzjsb6Vw7WXvT30/kOovqPMYX23iwPEDH8F76ogxvXFOgLA4sUdLQWAZpLVcL49ddrk2FBhv//gGzM2vI11Gn7wEgwaXPwggslW5vI7KHvyVnIz7R79DeT0MRXgCkA+y8/WA44+gWaqXNE0BrZew/0Zp4pboVfffuryEdQs3eOhrR7RvgrbNLaQsBsCqD1l4cwPMDQSKv0wu9Pc3Vd+i5h+B2heDQsIAV53XF4sEWfVtcA0cig9aywepkzO5xqNhrjJohoCEIwXKaCRa09xBfyryd7P9GCHt5kl+M0lJlykkDCfKxRwdr/mz8mug7qg91+Pi9akFhIhulnCW/GlRXbyfNHSOWZ69/o6jaoeUSwvrLXhVtlHQz7Y7upjnPaq1Eu3wo7BL8nsQLcfS5IIEx9LwyNlARkQGy66kmsFnn4bn4wsfxNjzCndmYNAoE7CvxCuuMXiHZMIIYm+DD92f46vNXa+N4qR1FmnEomSUhTe363BR7vSfLJ/Oy9V4Hd1qQt3cjq5dqFnaKRZZrPrItiyZIYJHByEYiyIBE7l2l/EcS36WdaXb87XC4rVT5gh1ncNRvIqi6LXFV3tQaqOQS8NUTwx8wG/pdFeWH51ZbSTTuWxHS6PM+qss45/T9jnGZUUGkRbX67oLCckUPw5LMjHcCmz/miFfp7eUXYFlLkhtcWZXns0OJkXe0dU3JGARvUZFKjul3LeZePu3TIiuQitcpsAZucjk5PFez8wDqdqWCWG46mfQxguGJdW9nzeFfQiHH2ZDqlkuzcxq9reoQ8e44YU3c+bzm5/QWfrZlSqrXU23aly7/C2FQPyXaSrNgq3ikkhAP7wp8bG/D+Xu1AMYu1hfTtu5LdcxBlktWvJJ1xukpS/ELlkP2BnMtDaokuvbpiSVfnpb7vtHqHnfXV9fPLUdwBsX34srzP3JTy6KsMAhi1qv+wDIwLXMGZO+rwhwl1AhoPUoObf6f4KlTQI2YqIygRdMkKLlFx2Vyns7Ps6A0QVG1Sxe3S+PSnl85PjYroSYVCHf/6AXstaHMmOexl+61ozByFAp3m8l0PGJpTq8TyPJXimp+WNWnP/hUwpyu5u1GcCfBU9wWjREVI1OluV2yPOfhoIMTnIMliNgeMiwYJslbiCvnUQl/jNu51okt+Jiar4AYyWYeUYWVUDQjOgwqdi9cTDJfPl7usWmut9ENpFnCR8HquMFIcQg5mJo+r2BW7VdwAgub6G6YerqAawjJfpYtCKMbIW05hKMo2x+cCLqh3uILr4oK7SUaipUxcoVm3vO1YgOIne0dIyexJ4vLbPa3CqL6fHSBhtyc43WlhZliYYgaWPKlwFvB73/sWaOJKbxY50w1e+ubn8xVJjQx976VrQJ1ooHYNJWgr84KpKzd/WLh7pN4WzfLFdMnx+m/7oRG1APnLhPJhYLVCHcOXrcuuhLpy8A6KMZcMAyhuqgsXSrPm88+aV4o5jsE18v/6VoxbcJ59Lomjey3hEXH4tBC7306qCMhvdkPbiMYKARsErHjTGFrlxU7lCjmQIuoRZQCUUttz7J8H7L1tPZlovhjv9WbbVvJIkw1kBfCUoNnlaCpjPxbVi21/n4Y4qhOhAHDM5DvBRrkHCq6FgUO7aHcyQNU7qi8qI8MdW8ElF/b4VkZkfILbtWQEIEyhy2SlwhqetJnHIaAOI7btlVQ6r4kF2/Ez2zJ4NxaX7knkPhc1GxuGmtCfU8YK1jOKEhjfP1UJisph20nwsOpS4uveV+5iqEfc4VyHfgC3XToyKrz94jpnzfA8jzx3J8NORsR/8n8SrRYqU9odrZvBjmZlrlOzaB6Fg=="}],"role":"model"},"finishReason":"STOP","index":0}],"usageMetadata":{"promptTokenCount":464,"candidatesTokenCount":128,"totalTokenCount":2960,"promptTokensDetails":[{"modality":"TEXT","tokenCount":464}],"thoughtsTokenCount":2368},"modelVersion":"gemini-3.1-pro-preview","responseId":"c2PAabfQBMfQz7IPzM-DgAE"},"pairedItem":{"item":0}}],"Sheets: Salvar Novos Temas":[{"json":{"Tema":"A luz para o homem na escuridão"},"pairedItem":{"item":0}}],"Sheets: Ler Temas Usados":[{"json":{"row_number":2,"Tema":"38 anos no tanque de Betesda"},"pairedItem":{"item":0}},{"json":{"row_number":3,"Tema":"A história de Lázaro"},"pairedItem":{"item":0}},{"json":{"row_number":4,"Tema":"Jesus acalma a grande tempestade"},"pairedItem":{"item":0}},{"json":{"row_number":5,"Tema":"O Homem que Desceu pelo Telhado"},"pairedItem":{"item":0}},{"json":{"row_number":6,"Tema":"A mulher que tocou nas vestes"},"pairedItem":{"item":0}},{"json":{"row_number":7,"Tema":"A Multiplicação dos Pães e Peixes"},"pairedItem":{"item":0}}],"Set Config":[{"json":{"timestamp":"2026-03-22T18:47:09.122-03:00","Readable date":"March 22nd 2026, 6:47:09 pm","Readable time":"6:47:09 pm","Day of week":"Sunday","Year":"2026","Month":"March","Day of month":"22","Hour":"18","Minute":"47","Second":"09","Timezone":"America/Sao_Paulo (UTC-03:00)","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","VIDEOS_PER_RUN":"1","AUTO_PUBLISH":"false","OUTPUT_DIR":"/data/output","TEMP_DIR":"/data/temp","ASSETS_DIR":"/data/assets","SCRIPTS_DIR":"/data/scripts","RUN_ID":"20260322-184709","ANTHROPIC_API_KEY":"sk-ant-api03-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"},"pairedItem":{"item":0}}],"Parse Topics":[{"json":{"milagre_de_jesus":"A luz para o homem na escuridão","versiculo_base":"João 9:1-7","gancho_inicial":"Após uma vida inteira de profunda escuridão...","palavras_chave":["cura divina","luz do mundo","milagre transformador","fé inabalável","esperança renovada"],"categoria":"milagre_cura","runId":"20260322-184709","topicIndex":1,"videoId":"20260322-184709_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"pairedItem":{"item":0}}],"Agregar Temas Usados":[{"json":{"timestamp":"2026-03-22T18:47:09.122-03:00","Readable date":"March 22nd 2026, 6:47:09 pm","Readable time":"6:47:09 pm","Day of week":"Sunday","Year":"2026","Month":"March","Day of month":"22","Hour":"18","Minute":"47","Second":"09","Timezone":"America/Sao_Paulo (UTC-03:00)","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","VIDEOS_PER_RUN":"1","AUTO_PUBLISH":"false","OUTPUT_DIR":"/data/output","TEMP_DIR":"/data/temp","ASSETS_DIR":"/data/assets","SCRIPTS_DIR":"/data/scripts","RUN_ID":"20260322-184709","ANTHROPIC_API_KEY":"sk-ant-api03-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","temasUsados":["38 anos no tanque de Betesda","A história de Lázaro","Jesus acalma a grande tempestade","O Homem que Desceu pelo Telhado","A mulher que tocou nas vestes","A Multiplicação dos Pães e Peixes"],"temasUsadosStr":"\n\nTEMAS JÁ PRODUZIDOS (NÃO REPITA NENHUM DESTES):\n1. 38 anos no tanque de Betesda\n2. A história de Lázaro\n3. Jesus acalma a grande tempestade\n4. O Homem que Desceu pelo Telhado\n5. A mulher que tocou nas vestes\n6. A Multiplicação dos Pães e Peixes"},"pairedItem":{"item":0}}],"Sub: Generate Content":[{"json":{"topic":{"gancho_inicial":"Você passou a vida inteira no escuro, mas é exatamente por isso que Deus te trouxe até aqui."},"script":{"titulo":"A Escuridão Acabou Para Sempre! ✨","descricao":"Deus usou uma vida de escuridão para manifestar Sua glória. A história do cego de nascença prova que o impossível é o palco dos milagres de Jesus. Como ele declarou em João 9:25: 'uma coisa sei: eu era cego e agora vejo!'","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#CegoDeNascença","#João9","#CuraDivina","#LuzDoMundo"],"duracao_total_segundos":29,"narracao_completa":"Uma vida inteira de completa escuridão terminou no instante em que a Luz o encontrou Ele nasceu cego não por pecado mas para que a obra de Deus se manifestasse Então Jesus com um amor que o mundo não conhece fez lodo e ungiu seus olhos Ao lavar-se ele não só viu o mundo mas contemplou a face do seu Criador Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"Uma vida inteira de completa escuridão terminou no instante em que a Luz o encontrou.","prompt_imagem":"A blind man from ancient Judea, sitting by a dusty road, his face showing a lifetime of hardship but a flicker of hope. Photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour light, somber mood.","prompt_video_motion":"Slow push-in, focusing on the man's closed, sightless eyes and weathered face.","descricao_visual":"Close-up de um homem cego, sentado em uma rua poeirenta da Judeia antiga. A luz do pôr do sol destaca a tristeza em sua expressão."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"Ele nasceu cego não por pecado mas para que a obra de Deus se manifestasse.","prompt_imagem":"The same blind man, now surrounded by a crowd of people who are ignoring or mocking him. Photorealistic 8K, vertical 9:16, ancient Jerusalem street, harsh midday sun creating deep shadows, mood of isolation.","prompt_video_motion":"Slight orbital camera movement, showing his isolation within the bustling crowd.","descricao_visual":"O homem cego no meio de uma multidão indiferente. As pessoas passam por ele, algumas o ignoram, outras o olham com desprezo, mostrando sua solidão."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Então Jesus com um amor que o mundo não conhece fez lodo e ungiu seus olhos.","prompt_imagem":"A compassionate healer in first-century Judean robes kneels, gently applying mud to the blind man's eyes. The healer's hands are gentle and a divine light subtly emanates from him. Photorealistic 8K, vertical 9:16, ancient Jerusalem, warm golden hour.","prompt_video_motion":"Close-up slow-motion shot of the hands applying the mud, then tilting up to the healer's compassionate face.","descricao_visual":"Uma figura com vestes antigas, irradiando uma luz suave e divina, se ajoelha e aplica barro nos olhos do homem cego. O gesto é de pura compaixão e poder."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"Ao lavar-se ele não só viu o mundo mas contemplou a face do seu Criador.","prompt_imagem":"The formerly blind man, eyes wide open in absolute awe and wonder, tears streaming down his face as he looks up at the healer. His face is illuminated by a divine glow. Photorealistic 8K, vertical 9:16, ancient Jerusalem, radiant golden hour light, ecstatic and emotional mood.","prompt_video_motion":"Dramatic zoom-in on the man's newly opened eyes, capturing the reflection of the light and his raw emotion.","descricao_visual":"O homem, agora com os olhos abertos, chora de alegria e espanto. Seu rosto está iluminado e ele olha para cima com adoração. A transformação é total."}],"cta":{"seguir":"Para não perder a palavra que Deus tem para transformar sua vida todos os dias.","compartilhar":"Envie para quem precisa saber que Deus pode transformar sua escuridão em luz hoje.","texto_completo":"Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora.","duracao_segundos":5}},"titulo":"A Escuridão Acabou Para Sempre! ✨","descricao":"Deus usou uma vida de escuridão para manifestar Sua glória. A história do cego de nascença prova que o impossível é o palco dos milagres de Jesus. Como ele declarou em João 9:25: 'uma coisa sei: eu era cego e agora vejo!'","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#CegoDeNascença","#João9","#CuraDivina","#LuzDoMundo"],"narracao":"Uma vida inteira de completa escuridão terminou no instante em que a Luz o encontrou Ele nasceu cego não por pecado mas para que a obra de Deus se manifestasse Então Jesus com um amor que o mundo não conhece fez lodo e ungiu seus olhos Ao lavar-se ele não só viu o mundo mas contemplou a face do seu Criador Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"Uma vida inteira de completa escuridão terminou no instante em que a Luz o encontrou.","prompt_imagem":"A blind man from ancient Judea, sitting by a dusty road, his face showing a lifetime of hardship but a flicker of hope. Photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour light, somber mood.","prompt_video_motion":"Slow push-in, focusing on the man's closed, sightless eyes and weathered face.","descricao_visual":"Close-up de um homem cego, sentado em uma rua poeirenta da Judeia antiga. A luz do pôr do sol destaca a tristeza em sua expressão."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"Ele nasceu cego não por pecado mas para que a obra de Deus se manifestasse.","prompt_imagem":"The same blind man, now surrounded by a crowd of people who are ignoring or mocking him. Photorealistic 8K, vertical 9:16, ancient Jerusalem street, harsh midday sun creating deep shadows, mood of isolation.","prompt_video_motion":"Slight orbital camera movement, showing his isolation within the bustling crowd.","descricao_visual":"O homem cego no meio de uma multidão indiferente. As pessoas passam por ele, algumas o ignoram, outras o olham com desprezo, mostrando sua solidão."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Então Jesus com um amor que o mundo não conhece fez lodo e ungiu seus olhos.","prompt_imagem":"A compassionate healer in first-century Judean robes kneels, gently applying mud to the blind man's eyes. The healer's hands are gentle and a divine light subtly emanates from him. Photorealistic 8K, vertical 9:16, ancient Jerusalem, warm golden hour.","prompt_video_motion":"Close-up slow-motion shot of the hands applying the mud, then tilting up to the healer's compassionate face.","descricao_visual":"Uma figura com vestes antigas, irradiando uma luz suave e divina, se ajoelha e aplica barro nos olhos do homem cego. O gesto é de pura compaixão e poder."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"Ao lavar-se ele não só viu o mundo mas contemplou a face do seu Criador.","prompt_imagem":"The formerly blind man, eyes wide open in absolute awe and wonder, tears streaming down his face as he looks up at the healer. His face is illuminated by a divine glow. Photorealistic 8K, vertical 9:16, ancient Jerusalem, radiant golden hour light, ecstatic and emotional mood.","prompt_video_motion":"Dramatic zoom-in on the man's newly opened eyes, capturing the reflection of the light and his raw emotion.","descricao_visual":"O homem, agora com os olhos abertos, chora de alegria e espanto. Seu rosto está iluminado e ele olha para cima com adoração. A transformação é total."}],"duracao_total_segundos":24,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"","ctaText":"Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora.","status":"script_ready"},"pairedItem":{"item":0}}],"Sub: Gerar Vídeos":[{"json":{"totalScenes":4,"scenes":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1yj43FwzWIwoWmGgZlAAP-KHaaMV7yLzS&export=download&confirm=1","status":"scene_ready"},{"numero":2,"duracao":6,"url":"https://drive.google.com/uc?id=1bRQ3nSXYeKqA7Gi0LE9UQaLslgbgDRmV&export=download&confirm=1","status":"scene_ready"},{"numero":3,"duracao":6,"url":"https://drive.google.com/uc?id=11pVBwgzfDuO8ZdSUPeSHt9CCGeiB-pX5&export=download&confirm=1","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1aKCUAhie84s9r4NyzFmkgERh4yTVx-Vi&export=download&confirm=1","status":"scene_ready"}],"status":"all_scenes_ready"},"pairedItem":{"item":0}}],"SUB: Audio Generation (ElevenLabs)":[{"json":{"audioFileId":"1o4o6UE1Bw1_Jj5hoLQyNs-UIyCvjgWxa","audioFileName":"/home/node/.n8n/temp/undefined/narration.mp3","audioUrl":"https://drive.google.com/uc?id=1o4o6UE1Bw1_Jj5hoLQyNs-UIyCvjgWxa&export=download&confirm=1","tempDir":"/home/node/.n8n/temp/undefined","titulo":"A Escuridão Acabou Para Sempre! ✨","descricao":"Deus usou uma vida de escuridão para manifestar Sua glória. A história do cego de nascença prova que o impossível é o palco dos milagres de Jesus. Como ele declarou em João 9:25: 'uma coisa sei: eu era cego e agora vejo!'","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#CegoDeNascença","#João9","#CuraDivina","#LuzDoMundo"],"narracao":"Uma vida inteira de completa escuridão terminou no instante em que a Luz o encontrou Ele nasceu cego não por pecado mas para que a obra de Deus se manifestasse Então Jesus com um amor que o mundo não conhece fez lodo e ungiu seus olhos Ao lavar-se ele não só viu o mundo mas contemplou a face do seu Criador Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora","topic":{"gancho_inicial":"Você passou a vida inteira no escuro, mas é exatamente por isso que Deus te trouxe até aqui."},"ctaText":"Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora.","status":"audio_ready"},"pairedItem":{"item":0}}],"Merge":[{"json":{"totalScenes":4,"scenes":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1yj43FwzWIwoWmGgZlAAP-KHaaMV7yLzS&export=download&confirm=1","status":"scene_ready"},{"numero":2,"duracao":6,"url":"https://drive.google.com/uc?id=1bRQ3nSXYeKqA7Gi0LE9UQaLslgbgDRmV&export=download&confirm=1","status":"scene_ready"},{"numero":3,"duracao":6,"url":"https://drive.google.com/uc?id=11pVBwgzfDuO8ZdSUPeSHt9CCGeiB-pX5&export=download&confirm=1","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1aKCUAhie84s9r4NyzFmkgERh4yTVx-Vi&export=download&confirm=1","status":"scene_ready"}],"status":"all_scenes_ready"},"pairedItem":{"item":0}},{"json":{"audioFileId":"1o4o6UE1Bw1_Jj5hoLQyNs-UIyCvjgWxa","audioFileName":"/home/node/.n8n/temp/undefined/narration.mp3","audioUrl":"https://drive.google.com/uc?id=1o4o6UE1Bw1_Jj5hoLQyNs-UIyCvjgWxa&export=download&confirm=1","tempDir":"/home/node/.n8n/temp/undefined","titulo":"A Escuridão Acabou Para Sempre! ✨","descricao":"Deus usou uma vida de escuridão para manifestar Sua glória. A história do cego de nascença prova que o impossível é o palco dos milagres de Jesus. Como ele declarou em João 9:25: 'uma coisa sei: eu era cego e agora vejo!'","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#CegoDeNascença","#João9","#CuraDivina","#LuzDoMundo"],"narracao":"Uma vida inteira de completa escuridão terminou no instante em que a Luz o encontrou Ele nasceu cego não por pecado mas para que a obra de Deus se manifestasse Então Jesus com um amor que o mundo não conhece fez lodo e ungiu seus olhos Ao lavar-se ele não só viu o mundo mas contemplou a face do seu Criador Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora","topic":{"gancho_inicial":"Você passou a vida inteira no escuro, mas é exatamente por isso que Deus te trouxe até aqui."},"ctaText":"Siga para receber mais da luz de Deus e compartilhe com quem precisa deste milagre agora.","status":"audio_ready"},"pairedItem":{"item":0,"input":1}}]},"versionId":"09e2cdf5-9767-43d2-8a2e-422b276b8912","activeVersionId":"09e2cdf5-9767-43d2-8a2e-422b276b8912","versionCounter":709,"triggerCount":1,"tags":[],"activeVersion":{"updatedAt":"2026-03-23T02:43:41.512Z","createdAt":"2026-03-23T02:43:41.512Z","versionId":"09e2cdf5-9767-43d2-8a2e-422b276b8912","workflowId":"zloYjCYLVf6BWhF9","nodes":[{"parameters":{"content":"## 🎯 Gatilhos de Entrada\n\nPonto de entrada do pipeline.\nDois modos de disparo disponíveis:\n\n**⏰ Schedule Trigger**\nExecução automática agendada.\nUsar em produção contínua.\n\n**🔗 Webhook (Manual)**\nDisparo via HTTP para testes\ne execuções pontuais.\n\n---\n> 💡 Use o Webhook para testar\n> sem aguardar o agendamento.\n","height":588,"width":668,"color":4},"id":"sticky-gatilhos","name":"Nota: Gatilhos","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,48]},{"parameters":{"content":"## ⚙️ Configuração Global\n\nParâmetros centrais da execução:\n\n- **quantidade** — Vídeos por ciclo\n- **categoria** — Tema base\n- **idioma** — PT-BR padrão\n- **canal** — Destino de publicação\n","height":472,"width":228,"color":6},"id":"sticky-config","name":"Nota: Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,48]},{"parameters":{"content":"## 📋 Gestão de Temas\n\nGarante variedade e evita repetição de conteúdo entre execuções.\n\n**Fluxo:** Ler histórico → Agregar deduplicado → Gemini gera novos temas → Parse lista\n\n> 🔑 Modelo: **Gemini Pro** (Google AI)\n> 📊 Histórico armazenado no **Google Sheets**\n> ⚠️ Temas são salvos no bloco seguinte (após bifurcação)\n","height":408,"width":692},"id":"sticky-temas","name":"Nota: Temas","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,112]},{"parameters":{"content":"## 🎬 Geração de Conteúdo\n\nProduz os três componentes do vídeo em paralelo.\n\n**↗ Salvar Temas**\nRegistra no Sheets para evitar repetição futura.\n\n**↘ Generate Content**\nRoteiro, narração, hashtags e CTA (sub-workflow).\n\n**🎙️ Audio (ElevenLabs)**\nSíntese de voz em PT-BR com entonação natural.\n\n**🖼️ Gerar Vídeos**\nCenas visuais via Nano Banana com efeito Ken Burns.\n\n---\n> 🔑 **ElevenLabs** — voz\n> 🔑 **Nano Banana** — imagens\n> ⏱️ Etapa mais longa (~30–60s por vídeo)\n","height":1188,"width":624,"color":3},"id":"sticky-conteudo","name":"Nota: Conteúdo","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1568,-432]},{"parameters":{"content":"## 🎞️ Montagem FFmpeg (v14)\n\nCombina cenas, áudio e overlays em um único MP4 1080×1920.\n\n**Nodes:**\n- **Merge** — Une outputs de áudio e vídeo\n- **FFmpeg: Assemble Video** — Motor de edição\n- **Format Output** — Prepara metadados\n\n**Features ativas:**\n• Karaoke 2 camadas (grupo branco + palavra amarela/laranja)\n• Palavras divinas em **laranja** (Deus, Jesus, Cristo…)\n• Xfade variado entre cenas (5 transições aleatórias)\n• Frame preto 0.3s + fade-in suave\n• Versículo em **Roboto-Italic** com alpha fade\n• Título centralizado 2s com fade-in/out\n• CTA slide-in, visível 3s exatos\n• Watermark pulsante, canto alternado\n• Limpeza automática de arquivos temp\n","height":744,"width":459,"color":2},"id":"sticky-ffmpeg","name":"Nota: FFmpeg","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2256,16]},{"parameters":{"content":"## 📤 Publicação e Distribuição\n\nEntrega o vídeo final ao destino configurado.\n\n**Nodes:**\n- **Parse Assembly** — Extrai metadados do FFmpeg output\n- **Drive: Upload** — Sobe o MP4 para Google Drive\n- **Drive: Share** — Define permissão pública (link aberto)\n- **Sub: Publicação** — Distribui para plataformas\n\n**Saídas:**\n• Google Drive (arquivo MP4 + link público)\n• YouTube Shorts / Instagram Reels\n\n---\n> ✅ Vídeo disponível publicamente após este bloco\n> 📁 Arquivos temp já limpos pelo FFmpeg node\n> 🎬 Título, descrição e hashtags gerados automaticamente\n","height":808,"width":652,"color":5},"id":"sticky-publicacao","name":"Nota: Publicação","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2784,16]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5,8,12,19 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[208,256]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[208,448],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"},{"id":"cfg-anthropic","name":"ANTHROPIC_API_KEY","value":"sk-ant-api03-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","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[592,352]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere \" + $json.VIDEOS_PER_RUN + \" tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais, n crie conteudos sobre o tanque de besteda. \" + ($json.temasUsadosStr || \"\")\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n} }}","options":{"timeout":60000}},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[1296,352],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[3056,672],"typeVersion":2},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $node['Set Config'].json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\nif (topics.length === 0) throw new Error('Gemini returned 0 topics. Verifique o prompt.');\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\nreturn topics.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus:  topic.milagre_de_jesus,\n      versiculo_base:    topic.versiculo_base,\n      gancho_inicial:    topic.gancho_inicial,\n      palavras_chave:    topic.palavras_chave,\n      categoria:         topic.categoria,\n      runId:             runId,\n      topicIndex:        i + 1,\n      videoId:           runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,352]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2368,480],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2032,576],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[2032,384],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3248,672],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"},{"parameters":{"jsCode":"var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\n// ── CONFIGURACAO DE BRANDING ─────────────────────────────────────────────────\nvar LOGO_URL       = '';\nvar CHANNEL_HANDLE = '@NichoCristao';\n// ────────────────────────────────────────────────────────────────────────────\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar imageData = allItems.find(function(d) { return d.scenes && d.scenes.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\n\n// FIX: Garantir que o videoId sempre exista para não criar pastas \"undefined\"\nvar videoId   = imageData.videoId || audioData.videoId || ('PI_' + Math.floor(Math.random() * 1000000));\nvar audioUrl  = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar titulo    = audioData.titulo    || imageData.titulo    || '';\nvar descricao = audioData.descricao || imageData.descricao || '';\nvar hashtags  = audioData.hashtags  || imageData.hashtags  || [];\nvar narracao  = audioData.narracao  || imageData.narracao  || '';\nvar topic     = audioData.topic     || imageData.topic     || {};\nvar ctaText   = audioData.ctaText   || imageData.ctaText   || '';\nvar versiculo = topic.versiculo || audioData.versiculo || imageData.versiculo || '';\n\n// ── FIX AF: CTA TEXT ROTATIVO ─────────────────────────────────────────────────\nvar CTA_DEFAULTS = [\n  'Siga e Compartilhe!',\n  'Siga e Ore com a Gente!',\n  'Compartilhe com Quem Precisa!',\n  'Salve e Reflita Hoje!',\n  'Siga para Mais Mensagens!'\n];\nif (!ctaText || ctaText === 'Siga e Compartilhe!') {\n  var ctaHash = (videoId || '').split('').reduce(function(a, c) { return a + c.charCodeAt(0); }, 0);\n  ctaText = CTA_DEFAULTS[ctaHash % CTA_DEFAULTS.length];\n}\n// ─────────────────────────────────────────────────────────────────────────────\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n// ── FIX FONTCONFIG: evitar 'No such file: (null)' no Docker ──────────────────\nvar fontconfigConf = tempDir + '/fonts.conf';\nfs2.writeFileSync(fontconfigConf,\n  '<?xml version=\"1.0\"?>\n' +\n  '<!DOCTYPE fontconfig SYSTEM \"fonts.dtd\">\n' +\n  '<fontconfig>\n' +\n  '  <dir>' + tempDir + '</dir>\n' +\n  '  <dir>/home/node/.n8n/temp</dir>\n' +\n  '</fontconfig>'\n);\nvar FFMPEG_ENV = Object.assign({}, process.env, {\n  FONTCONFIG_FILE: fontconfigConf,\n  FONTCONFIG_PATH: tempDir\n});\n// ─────────────────────────────────────────────────────────────────────────────\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.destroy();\n        try { fs2.unlinkSync(destPath); } catch(e) {}\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.destroy(); resolve(); });\n      file.on('error', reject);\n      res.on('error', reject);\n    }).on('error', function(err) {\n      try { fs2.unlinkSync(destPath); } catch(e) {}\n      reject(err);\n    });\n  });\n}\n\nasync function downloadWithRetry(url, destPath) {\n  var maxRetries = 3;\n  var lastError;\n  for (var i = 0; i < maxRetries; i++) {\n    try { await download(url, destPath); return; } catch (err) {\n      lastError = err;\n      if (i < maxRetries - 1) await new Promise(function(r) { setTimeout(r, Math.pow(2, i) * 1000); });\n    }\n  }\n  throw new Error('Download failed after ' + maxRetries + ' attempts: ' + url + ' — ' + lastError.message);\n}\n\nfunction probeDuration(filePath) {\n  var raw = childProcess.execSync(\n    'ffprobe -v quiet -print_format json -show_format \"' + filePath + '\"'\n  ).toString();\n  var dur = parseFloat((JSON.parse(raw).format || {}).duration || 0);\n  if (isNaN(dur) || dur <= 0) throw new Error('Invalid duration for ' + filePath + ': ' + dur);\n  return dur;\n}\n\n// Fontes\nvar fontPath = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nif (!fs2.existsSync(fontPath)) {\n  await downloadWithRetry('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Bold.ttf', fontPath);\n}\n\n// Fix AK: Roboto-Italic para versículo (com fallback para Bold se download falhar)\nvar fontItalicPath = fontPath;  \ntry {\n  var fontItalicCandidate = '/home/node/.n8n/temp/Roboto-Italic.ttf';\n  if (!fs2.existsSync(fontItalicCandidate)) {\n    await downloadWithRetry('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Italic.ttf', fontItalicCandidate);\n  }\n  fontItalicPath = fontItalicCandidate;\n} catch(e) { }\n\nvar audioFile = tempDir + '/narration.mp3';\nawait downloadWithRetry(audioUrl, audioFile);\nvar audioDuration = probeDuration(audioFile);\n\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3',\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3'\n];\nvar musicFile = tempDir + '/music.mp3';\nawait downloadWithRetry(MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)], musicFile);\n\nvar sceneFiles = [];\nfor (var i = 0; i < scenes.length; i++) {\n  var sceneFile = tempDir + '/scene_' + String(i + 1).padStart(2, '0') + '.mp4';\n  await downloadWithRetry(scenes[i].url, sceneFile);\n  sceneFiles.push(sceneFile);\n}\n\n// ── FIX J + AD: XFADE COM TRANSIÇÕES VARIADAS ────────────────────────────────\nvar FADE_DUR = 0.4;\nvar INTRO_DUR = 0.3; \nvar N = sceneFiles.length;\nvar XFADE_TRANSITIONS = ['fade', 'wipeleft', 'slideleft', 'wiperight', 'slideright'];\n\nvar scaledSceneFiles = [];\nfor (var sci = 0; sci < N; sci++) {\n  var scaledScene = tempDir + '/scene_scaled_' + String(sci + 1).padStart(2, '0') + '.mp4';\n  childProcess.execSync(\n    'ffmpeg -y -i \"' + sceneFiles[sci] + '\"' +\n    ' -vf \"scale=1080:1920:flags=lanczos,setsar=1,fps=30\"' +\n    ' -c:v libx264 -preset veryfast -crf 23 -an \"' + scaledScene + '\"',\n    { timeout: 120000, env: FFMPEG_ENV }\n  );\n  scaledSceneFiles.push(scaledScene);\n}\n\nvar scaledDurations = [];\nfor (var sdi = 0; sdi < N; sdi++) {\n  scaledDurations.push(probeDuration(scaledSceneFiles[sdi]));\n}\n\nvar rawScenesDuration = 0;\nfor (var ri = 0; ri < scaledDurations.length; ri++) rawScenesDuration += scaledDurations[ri];\nvar scenesDuration = rawScenesDuration - (N - 1) * FADE_DUR;\n\nvar VERSICULO_DUR = 2;\nvar CTA_TEXT_DUR  = 3;\nvar MIN_CTA       = VERSICULO_DUR + CTA_TEXT_DUR;\nvar ctaDuration   = Math.max(Math.ceil(audioDuration - scenesDuration), MIN_CTA);\n\nvar ctaRaw = tempDir + '/cta_raw.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -stream_loop -1 -i \"' + scaledSceneFiles[N - 1] + '\" -t ' + ctaDuration +\n  ' -c:v libx264 -preset veryfast -crf 23 -an \"' + ctaRaw + '\"',\n  { timeout: 60000, env: FFMPEG_ENV }\n);\n\nvar xfadeVideoPath = null;\nvar xfadedScenes;\nif (N === 1) {\n  xfadedScenes = scaledSceneFiles[0];\n} else {\n  var xfInputs  = scaledSceneFiles.map(function(f) { return '-i \"' + f + '\"'; }).join(' ');\n  var xfFilters = [];\n  var cumDur    = 0;\n  var prevLabel = '0:v';\n  for (var xi = 0; xi < N - 1; xi++) {\n    cumDur += scaledDurations[xi];\n    var xfOffset     = Math.max(cumDur - (xi + 1) * FADE_DUR, 0).toFixed(3);\n    var outLabel     = xi === N - 2 ? 'xout' : 'x' + (xi + 1);\n    var xfTransition = XFADE_TRANSITIONS[Math.floor(Math.random() * XFADE_TRANSITIONS.length)];\n    xfFilters.push(\n      '[' + prevLabel + '][' + (xi + 1) + ':v]xfade=transition=' + xfTransition +\n      ':duration=' + FADE_DUR + ':offset=' + xfOffset + '[' + outLabel + ']'\n    );\n    prevLabel = outLabel;\n  }\n  xfadeVideoPath = tempDir + '/xfaded_scenes.mp4';\n  childProcess.execSync(\n    'ffmpeg -y ' + xfInputs +\n    ' -filter_complex \"' + xfFilters.join(';') + '\"' +\n    ' -map \"[xout]\" -c:v libx264 -preset veryfast -crf 23 -an \"' + xfadeVideoPath + '\"',\n    { timeout: 300000, env: FFMPEG_ENV }\n  );\n  xfadedScenes = xfadeVideoPath;\n}\n\nvar blackIntro = tempDir + '/black_intro.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f lavfi -i color=black:s=1080x1920:r=30 -t ' + INTRO_DUR +\n  ' -c:v libx264 -preset veryfast -crf 23 -an \"' + blackIntro + '\"',\n  { timeout: 30000, env: FFMPEG_ENV }\n);\n\nvar concatList = tempDir + '/concat_full.txt';\nfs2.writeFileSync(concatList, [blackIntro, xfadedScenes, ctaRaw].map(function(f) { return \"file '\" + f + \"'\"; }).join('\\n'));\nvar fullConcat = tempDir + '/full_concat.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\" -c:v copy -an \"' + fullConcat + '\"',\n  { timeout: 120000, env: FFMPEG_ENV }\n);\n// ─────────────────────────────────────────────────────────────────────────────\n\nfunction escapeDrawtext(str) {\n  return (str || '')\n    .replace(/\\\\/g,  '')\n    .replace(/'/g,   '\\u2019') \n    .replace(/\"/g,   '')       \n    .replace(/:/g,   ' -')     \n    .replace(/[\\[\\]%]/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nvar GOD_WORDS = [\n  'deus','jesus','cristo','senhor','espirito','pai','fe','graca',\n  'amor','paz','vida','luz','verdade','salvacao','esperanca','bencao',\n  'gloria','reino','cura','perdao','milagre','promessa','eterno','santa',\n  'santo','sagrado','divino','divina','filho','palavra'\n];\n\nfunction normalizeWord(word) {\n  return (word || '').toLowerCase()\n    .replace(/[àáâãä]/g, 'a')\n    .replace(/[èéêë]/g,  'e')\n    .replace(/[ìíîï]/g,  'i')\n    .replace(/[òóôõö]/g, 'o')\n    .replace(/[ùúûü]/g,  'u')\n    .replace(/[ç]/g,     'c')\n    .replace(/[ñ]/g,     'n')\n    .replace(/[^a-z]/g,  '');\n}\n\nfunction isGodWord(word) {\n  if (!word || word.length < 2) return false;\n  return GOD_WORDS.indexOf(normalizeWord(word)) !== -1;\n}\n\nfunction buildSubtitleFilters(text, fontP, narDur, stopAt) {\n  if (!text) return [];\n  var words = text.trim().split(/\\s+/).filter(function(w) { return w.length > 0; });\n  if (!words.length) return [];\n\n  var totalChars = words.reduce(function(sum, w) { return sum + Math.max(w.length, 1); }, 0);\n\n  var wordStarts = [];\n  var wordEnds   = [];\n  var cursor = 0;\n  for (var wi = 0; wi < words.length; wi++) {\n    wordStarts.push(cursor);\n    cursor += narDur * Math.max(words[wi].length, 1) / totalChars;\n    wordEnds.push(Math.min(cursor, narDur));\n  }\n\n  var filters  = [];\n  var GRP_SIZE = 5;\n\n  for (var gi = 0; gi < words.length; gi += GRP_SIZE) {\n    var gEnd        = Math.min(gi + GRP_SIZE, words.length);\n    var groupWords  = words.slice(gi, gEnd);\n    var groupText   = escapeDrawtext(groupWords.join(' '));\n    var groupStart  = wordStarts[gi];\n    var groupEnd    = wordEnds[gEnd - 1];\n    var gDisplayEnd = Math.min(groupEnd, stopAt);\n\n    if (!groupText || groupStart >= stopAt) continue;\n\n    filters.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + groupText + '\\'' +\n      ':fontsize=46:fontcolor=white@0.55' +\n      ':bordercolor=black@0.9:borderw=4' +\n      ':shadowx=3:shadowy=3:shadowcolor=black@0.8' +\n      ':x=(w-text_w)/2:y=h-150' +\n      ':enable=\\'between(t,' + groupStart.toFixed(3) + ',' + gDisplayEnd.toFixed(3) + ')\\''\n    );\n\n    for (var i = gi; i < gEnd; i++) {\n      var wordText    = escapeDrawtext(words[i]);\n      var wStart      = wordStarts[i];\n      var wEnd        = wordEnds[i];\n      var wDisplayEnd = Math.min(wEnd, stopAt);\n      var wordColor   = isGodWord(words[i]) ? 'orange' : 'yellow';\n\n      if (!wordText || wStart >= stopAt) continue;\n\n      filters.push(\n        'drawtext=fontfile=' + fontP +\n        ':text=\\'' + wordText + '\\'' +\n        ':fontsize=72:fontcolor=' + wordColor +\n        ':bordercolor=black@1.0:borderw=5' +\n        ':shadowx=3:shadowy=3:shadowcolor=black@0.8' +\n        ':x=(w-text_w)/2:y=h-230' +\n        ':enable=\\'between(t,' + wStart.toFixed(3) + ',' + wDisplayEnd.toFixed(3) + ')\\''\n      );\n    }\n  }\n  return filters;\n}\n\nfunction buildVersiculoFilters(text, fontP, startTime, dur) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n\n  var words    = cleaned.split(/\\s+/).filter(function(w) { return w.length > 0; });\n  var lines    = [];\n  var WORDS_PER_LINE = 7;\n  for (var li = 0; li < words.length; li += WORDS_PER_LINE) {\n    var line = escapeDrawtext(words.slice(li, li + WORDS_PER_LINE).join(' '));\n    if (line) lines.push(line);\n  }\n  if (!lines.length) return [];\n\n  var numLines = lines.length;\n  var LINE_H   = 52;\n  var totalH   = numLines * LINE_H;\n  var T        = startTime.toFixed(3);\n  var endT     = (startTime + dur).toFixed(3);\n  var FADE     = 0.4;\n\n  // Matemática limpa com vírgulas normais, FFmpeg entende se estiver entre aspas simples ('')\n  var alphaExpr =\n    'if(lt(t-' + T + ',' + FADE + '),' +\n      'clip((t-' + T + ')/' + FADE + ',0,1),' +\n      'if(gt(t,' + T + '+' + dur + '-' + FADE + '),' +\n        'clip((' + T + '+' + dur + '-t)/' + FADE + ',0,1),' +\n        '1))';\n\n  var out = [];\n  lines.forEach(function(line, idx) {\n    var yOffset = Math.round(-totalH / 2 + idx * LINE_H);\n    var yExpr   = yOffset >= 0 ? '(h/2+' + yOffset + ')' : '(h/2' + yOffset + ')';\n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=38:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=4' +\n      ':box=1:boxcolor=black@0.60:boxborderw=12' +\n      ':x=(w-text_w)/2:y=' + yExpr +\n      ':alpha=\\'' + alphaExpr + '\\'' +\n      ':enable=\\'between(t,' + T + ',' + endT + ')\\''\n    );\n  });\n  return out;\n}\n\nfunction buildCtaFilters(text, fontP, startTime, ctaTextDur) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n  var words = cleaned.split(/\\s+/);\n  var lines  = [];\n  for (var li = 0; li < words.length; li += 6) {\n    var line = escapeDrawtext(words.slice(li, li + 6).join(' '));\n    if (line) lines.push(line);\n  }\n  var SLIDE  = 0.5;\n  var T      = startTime.toFixed(3);\n  var endT   = (startTime + ctaTextDur).toFixed(3);\n  var lineH  = 80;\n  var out    = [];\n  lines.forEach(function(line, idx) {\n    var finalYOffset = idx * lineH;\n    // Sem contra-barras: O uso das aspas simples ('') no Y resolve a sintaxe\n    var yExpr = '(h*0.72+' + finalYOffset + ')+100*max(0,1-(t-' + T + ')/' + SLIDE + ')';\n    \n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=52:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':box=1:boxcolor=black@0.65:boxborderw=14' +\n      ':x=(w-text_w)/2:y=\\'' + yExpr + '\\'' +\n      ':enable=\\'between(t,' + T + ',' + endT + ')\\''\n    );\n  });\n  return out;\n}\n\nfunction stripEmoji(str) {\n  return (str || '')\n    .replace(/[\\uD800-\\uDFFF]/g, '')\n    .replace(/[\\u0100-\\uD7FF\\uE000-\\uFFFD]/g, function(ch) {\n      var cp = ch.charCodeAt(0);\n      if (cp <= 0x024F) return ch;\n      if (cp >= 0x1E00 && cp <= 0x1EFF) return ch;\n      return '';\n    })\n    .replace(/\\uFE0F/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nfunction buildTitleFilters(text, fontP, tOffset) {\n  var cleaned = stripEmoji(text || '').trim();\n  if (!cleaned) return [];\n\n  var tOff = (tOffset != null) ? tOffset : 0;\n\n  var words    = cleaned.split(/\\s+/).filter(function(w) { return w.length > 0; });\n  var lines    = [];\n  var WORDS_PER_LINE = 5;\n  for (var li = 0; li < words.length; li += WORDS_PER_LINE) {\n    var line = escapeDrawtext(words.slice(li, li + WORDS_PER_LINE).join(' '));\n    if (line) lines.push(line);\n  }\n  if (!lines.length) return [];\n\n  var numLines = lines.length;\n  var LINE_H   = 74;\n  var totalH   = numLines * LINE_H;\n\n  var FADE_T = 0.4;\n  var DUR_T  = 2.0;\n  var T0 = tOff.toFixed(3);                       \n  var T1 = (tOff + DUR_T).toFixed(3);              \n  var TF = (tOff + DUR_T - FADE_T).toFixed(3);     \n\n  var titleAlpha =\n    'if(lt(t-' + T0 + ',' + FADE_T + '),' +\n      'clip((t-' + T0 + ')/' + FADE_T + ',0,1),' +\n      'if(gt(t,' + TF + '),' +\n        'clip((' + T1 + '-t)/' + FADE_T + ',0,1),' +\n        '1))';\n\n  var out = [];\n  lines.forEach(function(line, idx) {\n    var yOffset = Math.round(-totalH / 2 + idx * LINE_H);\n    var yExpr   = '(h/2' + (yOffset >= 0 ? '+' : '') + yOffset + ')';\n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=58:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':box=1:boxcolor=black@0.65:boxborderw=16' +\n      ':x=(w-text_w)/2:y=' + yExpr +\n      ':alpha=\\'' + titleAlpha + '\\'' +\n      ':enable=\\'between(t,' + T0 + ',' + T1 + ')\\''\n    );\n  });\n  return out;\n}\n// ─────────────────────────────────────────────────────────────────────────────\n\nvar videoDuration  = INTRO_DUR + scenesDuration + ctaDuration;\nvar fadeOutSt      = Math.max(videoDuration - 0.5, 0);\nvar fadeOutFilter  = fadeOutSt > 0 ? 'fade=t=out:st=' + fadeOutSt.toFixed(3) + ':d=0.5' : null;\n\nvar versiculoStart = INTRO_DUR + scenesDuration;\nvar ctaStart       = versiculo.trim()\n  ? INTRO_DUR + scenesDuration + VERSICULO_DUR\n  : INTRO_DUR + scenesDuration;\n\nvar allVfFilters = buildSubtitleFilters(narracao, fontPath, audioDuration, videoDuration)\n  .concat(buildVersiculoFilters(versiculo, fontItalicPath, versiculoStart, VERSICULO_DUR))\n  .concat(buildCtaFilters(ctaText, fontPath, ctaStart, CTA_TEXT_DUR))\n  .concat(buildTitleFilters(titulo, fontPath, INTRO_DUR));\n\n// Branding \nvar logoPath = '/home/node/.n8n/temp/logo.png';\nvar hasLogo  = false;\nif (LOGO_URL) {\n  try {\n    if (!fs2.existsSync(logoPath)) await downloadWithRetry(LOGO_URL, logoPath);\n    hasLogo = true;\n  } catch(e) { hasLogo = false; }\n}\nif (!hasLogo) {\n  var wmRight = ((videoId || '').charCodeAt(0) || 0) % 2 === 0;\n  var wmXPos  = wmRight ? 'w-text_w-20' : '20';\n  allVfFilters.push(\n    'drawtext=fontfile=' + fontPath +\n    ':text=\\'' + CHANNEL_HANDLE + '\\'' +\n    ':fontsize=28+2*sin(t*3):fontcolor=white@0.65' +\n    ':bordercolor=black@0.50:borderw=2' +\n    ':x=' + wmXPos + ':y=20'\n  );\n}\n\nallVfFilters.unshift('fade=t=in:st=' + INTRO_DUR.toFixed(3) + ':d=0.5');\n\nvar vfChain        = allVfFilters.length > 0 ? allVfFilters.join(',') : 'null';\nvar musicFadeStart = Math.max(audioDuration - 2, 0).toFixed(2);\n\nvar filterComplex, ffmpegLogoInput;\nif (hasLogo) {\n  ffmpegLogoInput = ' -i \"' + logoPath + '\"';\n  var overlayEnd  = 'overlay=W-w-20:20' + (fadeOutFilter ? ',' + fadeOutFilter : '');\n  filterComplex =\n    '[0:v]' + vfChain + '[vtext];' +\n    '[3:v]scale=120:-1[logo];' +\n    '[vtext][logo]' + overlayEnd + '[v];' +\n    '[1:a]volume=1.0[narr];' +\n    '[2:a]volume=0.20,afade=t=out:st=' + musicFadeStart + ':d=2[mus];' +\n    '[narr][mus]amix=inputs=2:duration=first[aout]';\n} else {\n  ffmpegLogoInput  = '';\n  var vFinal       = fadeOutFilter ? vfChain + ',' + fadeOutFilter : vfChain;\n  filterComplex =\n    '[0:v]' + vFinal + '[v];' +\n    '[1:a]volume=1.0[narr];' +\n    '[2:a]volume=0.20,afade=t=out:st=' + musicFadeStart + ':d=2[mus];' +\n    '[narr][mus]amix=inputs=2:duration=first[aout]';\n}\n\nvar finalVideo = tempDir + '/final.mp4';\n\n// Try/Catch atualizado para isolar erros inofensivos de fontes\ntry {\n  childProcess.execSync(\n    'ffmpeg -loglevel warning -y' +\n    ' -i \"' + fullConcat + '\"' +\n    ' -i \"' + audioFile + '\"' +\n    ' -stream_loop -1 -i \"' + musicFile + '\"' +\n    ffmpegLogoInput +\n    ' -filter_complex \"' + filterComplex + '\"' +\n    ' -map \"[v]\" -map \"[aout]\"' +\n    ' -c:v libx264 -preset veryfast -crf 25' +\n    ' -c:a aac -b:a 128k -shortest' +\n    ' \"' + finalVideo + '\"',\n    { timeout: 600000, env: FFMPEG_ENV } // 10 Minutos para evitar Timeout\n  );\n} catch (e) {\n  var errLog = e.stderr ? e.stderr.toString() : e.message;\n  // Extrai o erro real ignorando mensagens de \"Fontconfig\" do final\n  var realErrorMsg = errLog.split(\"Fontconfig error:\").join(\"\").trim().slice(-1000);\n  throw new Error(\"FFmpeg Erro Real: \" + realErrorMsg);\n}\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nvar tempFilesToDelete = []\n  .concat(sceneFiles)\n  .concat(scaledSceneFiles)\n  .concat([audioFile, musicFile, ctaRaw, concatList, fullConcat, blackIntro]);\nif (xfadeVideoPath) tempFilesToDelete.push(xfadeVideoPath);\nfor (var di = 0; di < tempFilesToDelete.length; di++) {\n  try { fs2.unlinkSync(tempFilesToDelete[di]); } catch(e) {}\n}\n\nreturn [{\n  json: {\n    videoId:    videoId,\n    localPath:  finalVideo,\n    titulo:     titulo,\n    descricao:  descricao,\n    hashtags:   hashtags,\n    narracao:   narracao,\n    topic:      topic,\n    sceneCount: scenes.length,\n    fileName:   videoId + '.mp4'\n  },\n  binary: {\n    data: {\n      data:          fileBuffer.toString('base64'),\n      mimeType:      'video/mp4',\n      fileName:      videoId + '.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"},"id":"node-ffmpeg-assemble","name":"FFmpeg: Assemble Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,480]},{"parameters":{"name":"={{ $('FFmpeg: Assemble Video').first().json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"node-drive-upload-final","name":"Drive: Upload Final Video","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2960,480],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"node-drive-share-final","name":"Drive: Share Video Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3152,480],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var ffmpegData = $('FFmpeg: Assemble Video').first().json;\nvar uploadData = $('Drive: Upload Final Video').first().json;\nvar fileId = uploadData.id;\nvar renderUrl = 'https://drive.google.com/uc?export=download&id=' + fileId;\nreturn [{\n  json: {\n    videoId: ffmpegData.videoId,\n    renderUrl: renderUrl,\n    renderId: fileId,\n    sceneCount: ffmpegData.sceneCount,\n    titulo: ffmpegData.titulo,\n    descricao: ffmpegData.descricao,\n    hashtags: ffmpegData.hashtags,\n    narracao: ffmpegData.narracao,\n    topic: ffmpegData.topic,\n    status: 'assembled'\n  }\n}];"},"id":"node-format-assembly-output","name":"Format Assembly Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,672]},{"parameters":{"documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit#gid=0"},"options":{}},"id":"sheets-ler-temas","name":"Sheets: Ler Temas Usados","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[912,352],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}},{"parameters":{"jsCode":"// Pega config do Set Config\nconst cfg = $node['Set Config'].json;\n\n// Coleta todos os temas já registrados na planilha\nconst allItems = $input.all();\nconst temasUsados = allItems\n  .map(item => item.json['Tema'] || item.json['tema'] || '')\n  .filter(t => String(t).trim().length > 0);\n\nconst temasUsadosStr = temasUsados.length > 0\n  ? '\\n\\nTEMAS JÁ PRODUZIDOS (NÃO REPITA NENHUM DESTES):\\n'\n    + temasUsados.map((t, i) => (i + 1) + '. ' + t).join('\\n')\n  : '';\n\nreturn [{ json: { ...cfg, temasUsados, temasUsadosStr } }];"},"id":"agregar-temas","name":"Agregar Temas Usados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,352]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Tema":"={{ $json.milagre_de_jesus }}"},"matchingColumns":["Tema"],"schema":[{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"sheets-salvar-temas","name":"Sheets: Salvar Novos Temas","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1808,224],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Sheets: Ler Temas Usados","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Sheets: Salvar Novos Temas","type":"main","index":0},{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"FFmpeg: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"FFmpeg: Assemble Video":{"main":[[{"node":"Drive: Upload Final Video","type":"main","index":0}]]},"Drive: Upload Final Video":{"main":[[{"node":"Drive: Share Video Publicly","type":"main","index":0}]]},"Drive: Share Video Publicly":{"main":[[{"node":"Format Assembly Output","type":"main","index":0}]]},"Format Assembly Output":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]},"Sheets: Ler Temas Usados":{"main":[[{"node":"Agregar Temas Usados","type":"main","index":0}]]},"Agregar Temas Usados":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]},"Sheets: Salvar Novos Temas":{"main":[[]]}},"authors":"Lucca Pavanello","name":null,"description":null,"autosaved":false}}