wf_patch_payload13.json
{"name":"Nicho Cristão - Video Automation (Main)","nodes":[{"parameters":{"content":"## 🎯 Gatilhos de Entrada\n\nPonto de entrada do pipeline.\nDois modos de disparo disponíveis:\n\n**⏰ Schedule Trigger**\nExecução automática agendada.\nUsar em produção contínua.\n\n**🔗 Webhook (Manual)**\nDisparo via HTTP para testes\ne execuções pontuais.\n\n---\n> 💡 Use o Webhook para testar\n> sem aguardar o agendamento.\n","height":588,"width":668,"color":4},"id":"sticky-gatilhos","name":"Nota: Gatilhos","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,48]},{"parameters":{"content":"## ⚙️ Configuração Global\n\nParâmetros centrais da execução:\n\n- **quantidade** — Vídeos por ciclo\n- **categoria** — Tema base\n- **idioma** — PT-BR padrão\n- **canal** — Destino de publicação\n","height":472,"width":228,"color":6},"id":"sticky-config","name":"Nota: Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,48]},{"parameters":{"content":"## 📋 Gestão de Temas\n\nGarante variedade e evita repetição de conteúdo entre execuções.\n\n**Fluxo:** Ler histórico → Agregar deduplicado → Gemini gera novos temas → Parse lista\n\n> 🔑 Modelo: **Gemini Pro** (Google AI)\n> 📊 Histórico armazenado no **Google Sheets**\n> ⚠️ Temas são salvos no bloco seguinte (após bifurcação)\n","height":408,"width":692},"id":"sticky-temas","name":"Nota: Temas","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,112]},{"parameters":{"content":"## 🎬 Geração de Conteúdo\n\nProduz os três componentes do vídeo em paralelo.\n\n**↗ Salvar Temas**\nRegistra no Sheets para evitar repetição futura.\n\n**↘ Generate Content**\nRoteiro, narração, hashtags e CTA (sub-workflow).\n\n**🎙️ Audio (ElevenLabs)**\nSíntese de voz em PT-BR com entonação natural.\n\n**🖼️ Gerar Vídeos**\nCenas visuais via Nano Banana com efeito Ken Burns.\n\n---\n> 🔑 **ElevenLabs** — voz\n> 🔑 **Nano Banana** — imagens\n> ⏱️ Etapa mais longa (~30–60s por vídeo)\n","height":1188,"width":624,"color":3},"id":"sticky-conteudo","name":"Nota: Conteúdo","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1568,-432]},{"parameters":{"content":"## 🎞️ Montagem FFmpeg (v14)\n\nCombina cenas, áudio e overlays em um único MP4 1080×1920.\n\n**Nodes:**\n- **Merge** — Une outputs de áudio e vídeo\n- **FFmpeg: Assemble Video** — Motor de edição\n- **Format Output** — Prepara metadados\n\n**Features ativas:**\n• Karaoke 2 camadas (grupo branco + palavra amarela/laranja)\n• Palavras divinas em **laranja** (Deus, Jesus, Cristo…)\n• Xfade variado entre cenas (5 transições aleatórias)\n• Frame preto 0.3s + fade-in suave\n• Versículo em **Roboto-Italic** com alpha fade\n• Título centralizado 2s com fade-in/out\n• CTA slide-in, visível 3s exatos\n• Watermark pulsante, canto alternado\n• Limpeza automática de arquivos temp\n","height":744,"width":459,"color":2},"id":"sticky-ffmpeg","name":"Nota: FFmpeg","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2256,16]},{"parameters":{"content":"## 📤 Publicação e Distribuição\n\nEntrega o vídeo final ao destino configurado.\n\n**Nodes:**\n- **Parse Assembly** — Extrai metadados do FFmpeg output\n- **Drive: Upload** — Sobe o MP4 para Google Drive\n- **Drive: Share** — Define permissão pública (link aberto)\n- **Sub: Publicação** — Distribui para plataformas\n\n**Saídas:**\n• Google Drive (arquivo MP4 + link público)\n• YouTube Shorts / Instagram Reels\n\n---\n> ✅ Vídeo disponível publicamente após este bloco\n> 📁 Arquivos temp já limpos pelo FFmpeg node\n> 🎬 Título, descrição e hashtags gerados automaticamente\n","height":808,"width":652,"color":5},"id":"sticky-publicacao","name":"Nota: Publicação","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2784,16]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5,8,12,19 * * *"}]}},"id":"node-schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[208,256]},{"parameters":{"httpMethod":"POST","path":"generate-videos","responseMode":"responseNode","options":{}},"id":"node-webhook-trigger","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[208,448],"webhookId":"bcb7a08d-edad-4124-a768-a2eb5a2b301b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f0dc7e96-ff37-4515-88de-66716147b48e","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"b9716884-11d3-4664-a216-1864f1f0e042","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"},{"id":"cfg-publish","name":"AUTO_PUBLISH","value":"false","type":"string"},{"id":"cfg-output","name":"OUTPUT_DIR","value":"/data/output","type":"string"},{"id":"cfg-temp","name":"TEMP_DIR","value":"/data/temp","type":"string"},{"id":"cfg-assets","name":"ASSETS_DIR","value":"/data/assets","type":"string"},{"id":"cfg-scripts","name":"SCRIPTS_DIR","value":"/data/scripts","type":"string"},{"id":"cfg-runid","name":"RUN_ID","value":"={{ $now.toFormat('yyyyMMdd-HHmmss') }}","type":"string"},{"id":"cfg-anthropic","name":"ANTHROPIC_API_KEY","value":"sk-ant-api03-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","type":"string"}]},"options":{}},"id":"node-set-config","name":"Set Config","type":"n8n-nodes-base.set","position":[592,352]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere \" + $json.VIDEOS_PER_RUN + \" tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais, n crie conteudos sobre o tanque de besteda. \" + ($json.temasUsadosStr || \"\")\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n} }}","options":{"timeout":60000}},"id":"node-generate-topics","name":"Generate Topics (Gemini)","type":"n8n-nodes-base.httpRequest","position":[1296,352],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"},"id":"node-parse-output","name":"Parse Assembly Output","type":"n8n-nodes-base.code","position":[3056,672],"typeVersion":2},{"parameters":{"jsCode":"var response = $input.first();\nvar cfg = $node['Set Config'].json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\nif (topics.length === 0) throw new Error('Gemini returned 0 topics. Verifique o prompt.');\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\nreturn topics.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus:  topic.milagre_de_jesus,\n      versiculo_base:    topic.versiculo_base,\n      gancho_inicial:    topic.gancho_inicial,\n      palavras_chave:    topic.palavras_chave,\n      categoria:         topic.categoria,\n      runId:             runId,\n      topicIndex:        i + 1,\n      videoId:           runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});"},"id":"42837a21-883f-49dc-a020-31f0d74723bc","name":"Parse Topics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,352]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2368,480],"id":"2f548ed5-96d2-4334-a850-362880d8334f","name":"Merge","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"workflowId":{"__rl":true,"value":"9tlW8BErnLH1ujOS","mode":"list","cachedResultUrl":"/workflow/9tlW8BErnLH1ujOS","cachedResultName":"SUB: Content Generation (Gemini)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,480],"id":"e10468b0-fbb1-47e4-8692-817538019ff9","name":"Sub: Generate Content"},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultUrl":"/workflow/VttkyR0BTetRiXbc","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2032,576],"id":"92d0628e-0326-4f00-9817-b3fecedf9afc","name":"SUB: Audio Generation (ElevenLabs)"},{"parameters":{"workflowId":{"__rl":true,"value":"7gHL7kSAPjd8Dl5q","mode":"list","cachedResultUrl":"/workflow/7gHL7kSAPjd8Dl5q","cachedResultName":"SUB: Video Generation (Google Veo 2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8eca92f1-e3cc-4bb6-b89c-c7df3e85706c","name":"Sub: Gerar Vídeos","type":"n8n-nodes-base.executeWorkflow","position":[2032,384],"typeVersion":1.3,"notes":"Importar sub-image-generation.json separadamente"},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultUrl":"/workflow/SKUBGveT9qeXFNEW","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3248,672],"id":"f362a56c-921e-49a0-b659-79622e8715db","name":"Sub: Publicação"},{"parameters":{"jsCode":"var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\n// ── CONFIGURACAO DE BRANDING ─────────────────────────────────────────────────\nvar LOGO_URL       = '';\nvar CHANNEL_HANDLE = '@viver.em.jesus0';\n// ────────────────────────────────────────────────────────────────────────────\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar imageData = allItems.find(function(d) { return d.scenes && d.scenes.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\n\n// FIX: Garantir que o videoId sempre exista para não criar pastas \"undefined\"\nvar videoId   = imageData.videoId || audioData.videoId || ('PI_' + Math.floor(Math.random() * 1000000));\nvar audioUrl  = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\nvar titulo    = audioData.titulo    || imageData.titulo    || '';\nvar descricao = audioData.descricao || imageData.descricao || '';\nvar hashtags  = audioData.hashtags  || imageData.hashtags  || [];\nvar narracao  = audioData.narracao  || imageData.narracao  || '';\nvar topic     = audioData.topic     || imageData.topic     || {};\nvar ctaText   = audioData.ctaText   || imageData.ctaText   || '';\nvar versiculo = topic.versiculo || audioData.versiculo || imageData.versiculo || '';\n\n// ── FIX AF: CTA TEXT ROTATIVO ─────────────────────────────────────────────────\nvar CTA_DEFAULTS = [\n  'Siga e Compartilhe!',\n  'Siga e Ore com a Gente!',\n  'Compartilhe com Quem Precisa!',\n  'Salve e Reflita Hoje!',\n  'Siga para Mais Mensagens!'\n];\nif (!ctaText || ctaText === 'Siga e Compartilhe!') {\n  var ctaHash = (videoId || '').split('').reduce(function(a, c) { return a + c.charCodeAt(0); }, 0);\n  ctaText = CTA_DEFAULTS[ctaHash % CTA_DEFAULTS.length];\n}\n// ─────────────────────────────────────────────────────────────────────────────\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n// ── FIX FONTCONFIG: evitar 'No such file: (null)' no Docker ──────────────────\nvar fontconfigConf = tempDir + '/fonts.conf';\nfs2.writeFileSync(fontconfigConf, '<fontconfig><dir>' + tempDir + '</dir><dir>/home/node/.n8n/temp</dir></fontconfig>');\nvar FC_ENV_PREFIX = 'FONTCONFIG_FILE=' + fontconfigConf + ' FONTCONFIG_PATH=' + tempDir + ' ';\n// ─────────────────────────────────────────────────────────────────────────────\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.destroy();\n        try { fs2.unlinkSync(destPath); } catch(e) {}\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.destroy(); resolve(); });\n      file.on('error', reject);\n      res.on('error', reject);\n    }).on('error', function(err) {\n      try { fs2.unlinkSync(destPath); } catch(e) {}\n      reject(err);\n    });\n  });\n}\n\nasync function downloadWithRetry(url, destPath) {\n  var maxRetries = 3;\n  var lastError;\n  for (var i = 0; i < maxRetries; i++) {\n    try { await download(url, destPath); return; } catch (err) {\n      lastError = err;\n      if (i < maxRetries - 1) await new Promise(function(r) { setTimeout(r, Math.pow(2, i) * 1000); });\n    }\n  }\n  throw new Error('Download failed after ' + maxRetries + ' attempts: ' + url + ' — ' + lastError.message);\n}\n\nfunction probeDuration(filePath) {\n  var raw = childProcess.execSync(\n    'ffprobe -v quiet -print_format json -show_format \"' + filePath + '\"'\n  ).toString();\n  var dur = parseFloat((JSON.parse(raw).format || {}).duration || 0);\n  if (isNaN(dur) || dur <= 0) throw new Error('Invalid duration for ' + filePath + ': ' + dur);\n  return dur;\n}\n\n// ── FONT LOADING v15 ────────────────────────────────────────────────────────\nvar FONT_SHARED = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nvar FONT_ITALIC_SHARED = '/home/node/.n8n/temp/Roboto-Italic.ttf';\nvar NL_FONT = String.fromCharCode(10);\n\nfunction isValidTTF(p) {\n  try {\n    if (!fs2.existsSync(p)) return false;\n    if (fs2.statSync(p).size < 50000) return false;\n    var buf = fs2.readFileSync(p);\n    return (buf[0] === 0 && buf[1] === 1 && buf[2] === 0 && buf[3] === 0) ||\n           (buf[0] === 0x74 && buf[1] === 0x72 && buf[2] === 0x75 && buf[3] === 0x65);\n  } catch(e) { return false; }\n}\n\nfunction findSystemFont() {\n  var SAFE_FONTS = ['DejaVuSans-Bold','LiberationSans-Bold','FreeSansBold','NimbusSans-Bold','Roboto-Bold','Arial-Bold','Verdana-Bold'];\n  var BLOCKED = ['Courier','courier','Times','times','Mono','mono','Italic','italic','Oblique','oblique'];\n  function isSafeFont(p) { var b = BLOCKED.some(function(bl) { return p.indexOf(bl) !== -1; }); return !b; }\n  try {\n    var fcOut = childProcess.execSync('fc-list : file', { timeout: 8000 }).toString();\n    var fcLines = fcOut.split(NL_FONT);\n    // First pass: preferred safe fonts\n    for (var fi = 0; fi < fcLines.length; fi++) {\n      var line = fcLines[fi].trim();\n      var colonIdx = line.indexOf(':');\n      var fPath = colonIdx > 0 ? line.substring(0, colonIdx).trim() : line.trim();\n      var fname = fPath.split('/').pop();\n      var preferred = SAFE_FONTS.some(function(sf) { return fname.indexOf(sf) !== -1; });\n      if (preferred && fPath.match(/.(ttf|TTF)$/) && isValidTTF(fPath)) return fPath;\n    }\n    // Second pass: any sans-serif ttf (excluding blocked)\n    for (var fi2 = 0; fi2 < fcLines.length; fi2++) {\n      var line2 = fcLines[fi2].trim();\n      var colonIdx2 = line2.indexOf(':');\n      var fPath2 = colonIdx2 > 0 ? line2.substring(0, colonIdx2).trim() : line2.trim();\n      if (fPath2.match(/.(ttf|TTF)$/) && isSafeFont(fPath2) && isValidTTF(fPath2)) return fPath2;\n    }\n  } catch(e) {}\n  var searchPaths = ['/usr/share/fonts','/usr/lib/fonts','/usr/local/share/fonts','/usr/share/X11/fonts','/opt','/home/node'];\n  for (var si = 0; si < searchPaths.length; si++) {\n    try {\n      var found = childProcess.execSync('find ' + searchPaths[si] + ' -name \"*.ttf\" -size +50k 2>/dev/null | head -20', { timeout: 10000 }).toString().trim();\n      if (!found) continue;\n      var cands = found.split(NL_FONT).map(function(l) { return l.trim(); }).filter(Boolean);\n      for (var ci = 0; ci < cands.length; ci++) { if (isValidTTF(cands[ci])) return cands[ci]; }\n    } catch(e) {}\n  }\n  return null;\n}\n\nasync function downloadFontValidated(destPath, urls) {\n  var tmpPath = destPath + '.tmp';\n  for (var ui = 0; ui < urls.length; ui++) {\n    try {\n      try { fs2.unlinkSync(tmpPath); } catch(e2) {}\n      await downloadWithRetry(urls[ui], tmpPath);\n      if (isValidTTF(tmpPath)) {\n        try { fs2.unlinkSync(destPath); } catch(e2) {}\n        fs2.renameSync(tmpPath, destPath);\n        return destPath;\n      }\n      try { fs2.unlinkSync(tmpPath); } catch(e2) {}\n    } catch(e) {}\n  }\n  try { fs2.unlinkSync(tmpPath); } catch(e2) {}\n  return null;\n}\n\nvar BOLD_URLS = [\n  'https://github.com/google/fonts/raw/refs/heads/main/apache/roboto/static/Roboto-Bold.ttf',\n  'https://raw.githubusercontent.com/google/fonts/main/apache/roboto/static/Roboto-Bold.ttf',\n  'https://cdn.jsdelivr.net/gh/google/fonts@main/apache/roboto/static/Roboto-Bold.ttf'\n];\n\nasync function resolveFontPath(cachedPath) {\n  if (isValidTTF(cachedPath)) return cachedPath;\n  try { fs2.unlinkSync(cachedPath); } catch(e) {}\n  var sys = findSystemFont();\n  if (sys) return sys;\n  return await downloadFontValidated(cachedPath, BOLD_URLS);\n}\n\nvar fontPath = await resolveFontPath(FONT_SHARED);\n\nvar fontItalicPath = fontPath;\ntry {\n  if (!isValidTTF(FONT_ITALIC_SHARED)) {\n    try { fs2.unlinkSync(FONT_ITALIC_SHARED); } catch(e) {}\n    var downloadedItalic = await downloadFontValidated(FONT_ITALIC_SHARED, [\n      'https://github.com/google/fonts/raw/refs/heads/main/apache/roboto/static/Roboto-Italic.ttf',\n      'https://raw.githubusercontent.com/google/fonts/main/apache/roboto/static/Roboto-Italic.ttf'\n    ]);\n    if (downloadedItalic) fontItalicPath = downloadedItalic;\n  } else { fontItalicPath = FONT_ITALIC_SHARED; }\n} catch(e) {}\n\nvar FONT_AVAILABLE = (fontPath !== null && fontPath !== '');\n// ─────────────────────────────────────────────────────────────────────────────\n\nvar audioFile = tempDir + '/narration.mp3';\nawait downloadWithRetry(audioUrl, audioFile);\nvar audioDuration = probeDuration(audioFile);\n\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3',\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3'\n];\nvar musicFile = tempDir + '/music.mp3';\nawait downloadWithRetry(MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)], musicFile);\n\nvar sceneFiles = [];\nfor (var i = 0; i < scenes.length; i++) {\n  var sceneFile = tempDir + '/scene_' + String(i + 1).padStart(2, '0') + '.mp4';\n  await downloadWithRetry(scenes[i].url, sceneFile);\n  sceneFiles.push(sceneFile);\n}\n\n// ── FIX J + AD: XFADE COM TRANSIÇÕES VARIADAS ────────────────────────────────\nvar FADE_DUR = 0.4;\nvar INTRO_DUR = 0.3; \nvar N = sceneFiles.length;\nvar XFADE_TRANSITIONS = ['fade', 'wipeleft', 'slideleft', 'wiperight', 'slideright'];\n\nvar scaledSceneFiles = [];\nfor (var sci = 0; sci < N; sci++) {\n  var scaledScene = tempDir + '/scene_scaled_' + String(sci + 1).padStart(2, '0') + '.mp4';\n  childProcess.execSync(\n    'ffmpeg -y -i \"' + sceneFiles[sci] + '\"' +\n    ' -vf \"scale=1080:1920:flags=lanczos,setsar=1,fps=30\"' +\n    ' -c:v libx264 -preset veryfast -crf 23 -an \"' + scaledScene + '\"',\n    { timeout: 120000 }\n  );\n  scaledSceneFiles.push(scaledScene);\n}\n\nvar scaledDurations = [];\nfor (var sdi = 0; sdi < N; sdi++) {\n  scaledDurations.push(probeDuration(scaledSceneFiles[sdi]));\n}\n\nvar rawScenesDuration = 0;\nfor (var ri = 0; ri < scaledDurations.length; ri++) rawScenesDuration += scaledDurations[ri];\nvar scenesDuration = rawScenesDuration - (N - 1) * FADE_DUR;\n\nvar VERSICULO_DUR = 2;\nvar CTA_TEXT_DUR  = 3;\nvar MIN_CTA       = VERSICULO_DUR + CTA_TEXT_DUR;\nvar ctaDuration   = Math.max(Math.ceil(audioDuration - scenesDuration), MIN_CTA);\n\nvar ctaRaw = tempDir + '/cta_raw.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -stream_loop -1 -i \"' + scaledSceneFiles[N - 1] + '\" -t ' + ctaDuration +\n  ' -c:v libx264 -preset veryfast -crf 23 -an \"' + ctaRaw + '\"',\n  { timeout: 60000 }\n);\n\nvar xfadeVideoPath = null;\nvar xfadedScenes;\nif (N === 1) {\n  xfadedScenes = scaledSceneFiles[0];\n} else {\n  var xfInputs  = scaledSceneFiles.map(function(f) { return '-i \"' + f + '\"'; }).join(' ');\n  var xfFilters = [];\n  var cumDur    = 0;\n  var prevLabel = '0:v';\n  for (var xi = 0; xi < N - 1; xi++) {\n    cumDur += scaledDurations[xi];\n    var xfOffset     = Math.max(cumDur - (xi + 1) * FADE_DUR, 0).toFixed(3);\n    var outLabel     = xi === N - 2 ? 'xout' : 'x' + (xi + 1);\n    var xfTransition = XFADE_TRANSITIONS[Math.floor(Math.random() * XFADE_TRANSITIONS.length)];\n    xfFilters.push(\n      '[' + prevLabel + '][' + (xi + 1) + ':v]xfade=transition=' + xfTransition +\n      ':duration=' + FADE_DUR + ':offset=' + xfOffset + '[' + outLabel + ']'\n    );\n    prevLabel = outLabel;\n  }\n  xfadeVideoPath = tempDir + '/xfaded_scenes.mp4';\n  childProcess.execSync(\n    'ffmpeg -y ' + xfInputs +\n    ' -filter_complex \"' + xfFilters.join(';') + '\"' +\n    ' -map \"[xout]\" -c:v libx264 -preset veryfast -crf 23 -an \"' + xfadeVideoPath + '\"',\n    { timeout: 300000 }\n  );\n  xfadedScenes = xfadeVideoPath;\n}\n\nvar blackIntro = tempDir + '/black_intro.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f lavfi -i color=black:s=1080x1920:r=30 -t ' + INTRO_DUR +\n  ' -c:v libx264 -preset veryfast -crf 23 -an \"' + blackIntro + '\"',\n  { timeout: 30000 }\n);\n\nvar concatList = tempDir + '/concat_full.txt';\nfs2.writeFileSync(concatList, [blackIntro, xfadedScenes, ctaRaw].map(function(f) { return \"file '\" + f + \"'\"; }).join('\\n'));\nvar fullConcat = tempDir + '/full_concat.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\" -c:v copy -an \"' + fullConcat + '\"',\n  { timeout: 120000 }\n);\n// ─────────────────────────────────────────────────────────────────────────────\n\nfunction escapeDrawtext(str) {\n  return (str || '')\n    .replace(/\\\\/g,  '')\n    .replace(/'/g,   '\\u2019') \n    .replace(/\"/g,   '')       \n    .replace(/:/g,   ' -')     \n    .replace(/[\\[\\]%]/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nvar GOD_WORDS = [\n  'deus','jesus','cristo','senhor','espirito','pai','fe','graca',\n  'amor','paz','vida','luz','verdade','salvacao','esperanca','bencao',\n  'gloria','reino','cura','perdao','milagre','promessa','eterno','santa',\n  'santo','sagrado','divino','divina','filho','palavra'\n];\n\nfunction normalizeWord(word) {\n  return (word || '').toLowerCase()\n    .replace(/[àáâãä]/g, 'a')\n    .replace(/[èéêë]/g,  'e')\n    .replace(/[ìíîï]/g,  'i')\n    .replace(/[òóôõö]/g, 'o')\n    .replace(/[ùúûü]/g,  'u')\n    .replace(/[ç]/g,     'c')\n    .replace(/[ñ]/g,     'n')\n    .replace(/[^a-z]/g,  '');\n}\n\nfunction isGodWord(word) {\n  if (!word || word.length < 2) return false;\n  return GOD_WORDS.indexOf(normalizeWord(word)) !== -1;\n}\n\nfunction buildSubtitleFilters(text, fontP, narDur, stopAt) {\n  if (!text) return [];\nif (!fontP) return [];\n  var words = text.trim().split(/\\s+/).filter(function(w) { return w.length > 0; });\n  if (!words.length) return [];\n\n  var totalChars = words.reduce(function(sum, w) { return sum + Math.max(w.length, 1); }, 0);\n\n  var wordStarts = [];\n  var wordEnds   = [];\n  var cursor = 0;\n  for (var wi = 0; wi < words.length; wi++) {\n    wordStarts.push(cursor);\n    cursor += narDur * Math.max(words[wi].length, 1) / totalChars;\n    wordEnds.push(Math.min(cursor, narDur));\n  }\n\n  var filters  = [];\n  var GRP_SIZE = 5;\n\n  for (var gi = 0; gi < words.length; gi += GRP_SIZE) {\n    var gEnd        = Math.min(gi + GRP_SIZE, words.length);\n    var groupWords  = words.slice(gi, gEnd);\n    var groupText   = escapeDrawtext(groupWords.join(' '));\n    var groupStart  = wordStarts[gi];\n    var groupEnd    = wordEnds[gEnd - 1];\n    var gDisplayEnd = Math.min(groupEnd, stopAt);\n\n    if (!groupText || groupStart >= stopAt) continue;\n\n    filters.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + groupText + '\\'' +\n      ':fontsize=46:fontcolor=white@0.55' +\n      ':bordercolor=black@0.9:borderw=4' +\n      ':shadowx=3:shadowy=3:shadowcolor=black@0.8' +\n      ':x=(w-text_w)/2:y=h-150' +\n      ':enable=\\'between(t,' + groupStart.toFixed(3) + ',' + gDisplayEnd.toFixed(3) + ')\\''\n    );\n\n    for (var i = gi; i < gEnd; i++) {\n      var wordText    = escapeDrawtext(words[i]);\n      var wStart      = wordStarts[i];\n      var wEnd        = wordEnds[i];\n      var wDisplayEnd = Math.min(wEnd, stopAt);\n      var wordColor   = isGodWord(words[i]) ? 'orange' : 'yellow';\n\n      if (!wordText || wStart >= stopAt) continue;\n\n      filters.push(\n        'drawtext=fontfile=' + fontP +\n        ':text=\\'' + wordText + '\\'' +\n        ':fontsize=72:fontcolor=' + wordColor +\n        ':bordercolor=black@1.0:borderw=5' +\n        ':shadowx=3:shadowy=3:shadowcolor=black@0.8' +\n        ':x=(w-text_w)/2:y=h-230' +\n        ':enable=\\'between(t,' + wStart.toFixed(3) + ',' + wDisplayEnd.toFixed(3) + ')\\''\n      );\n    }\n  }\n  return filters;\n}\n\nfunction buildVersiculoFilters(text, fontP, startTime, dur) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n\n  var words    = cleaned.split(/\\s+/).filter(function(w) { return w.length > 0; });\n  var lines    = [];\n  var WORDS_PER_LINE = 7;\n  for (var li = 0; li < words.length; li += WORDS_PER_LINE) {\n    var line = escapeDrawtext(words.slice(li, li + WORDS_PER_LINE).join(' '));\n    if (line) lines.push(line);\n  }\n  if (!lines.length) return [];\n\n  var numLines = lines.length;\n  var LINE_H   = 52;\n  var totalH   = numLines * LINE_H;\n  var T        = startTime.toFixed(3);\n  var endT     = (startTime + dur).toFixed(3);\n  var FADE     = 0.4;\n\n  // Matemática limpa com vírgulas normais, FFmpeg entende se estiver entre aspas simples ('')\n  var alphaExpr =\n    'if(lt(t-' + T + ',' + FADE + '),' +\n      'clip((t-' + T + ')/' + FADE + ',0,1),' +\n      'if(gt(t,' + T + '+' + dur + '-' + FADE + '),' +\n        'clip((' + T + '+' + dur + '-t)/' + FADE + ',0,1),' +\n        '1))';\n\n  var out = [];\n  lines.forEach(function(line, idx) {\n    var yOffset = Math.round(-totalH / 2 + idx * LINE_H);\n    var yExpr   = yOffset >= 0 ? '(h/2+' + yOffset + ')' : '(h/2' + yOffset + ')';\n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=38:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=4' +\n      ':box=1:boxcolor=black@0.60:boxborderw=12' +\n      ':x=(w-text_w)/2:y=' + yExpr +\n      ':alpha=\\'' + alphaExpr + '\\'' +\n      ':enable=\\'between(t,' + T + ',' + endT + ')\\''\n    );\n  });\n  return out;\n}\n\nfunction buildCtaFilters(text, fontP, startTime, ctaTextDur) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n  var words = cleaned.split(/\\s+/);\n  var lines  = [];\n  for (var li = 0; li < words.length; li += 6) {\n    var line = escapeDrawtext(words.slice(li, li + 6).join(' '));\n    if (line) lines.push(line);\n  }\n  var SLIDE  = 0.5;\n  var T      = startTime.toFixed(3);\n  var endT   = (startTime + ctaTextDur).toFixed(3);\n  var lineH  = 80;\n  var out    = [];\n  lines.forEach(function(line, idx) {\n    var finalYOffset = idx * lineH;\n    // Sem contra-barras: O uso das aspas simples ('') no Y resolve a sintaxe\n    var yExpr = '(h*0.72+' + finalYOffset + ')+100*max(0,1-(t-' + T + ')/' + SLIDE + ')';\n    \n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=52:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':box=1:boxcolor=black@0.65:boxborderw=14' +\n      ':x=(w-text_w)/2:y=\\'' + yExpr + '\\'' +\n      ':enable=\\'between(t,' + T + ',' + endT + ')\\''\n    );\n  });\n  return out;\n}\n\nfunction stripEmoji(str) {\n  return (str || '')\n    .replace(/[\\uD800-\\uDFFF]/g, '')\n    .replace(/[\\u0100-\\uD7FF\\uE000-\\uFFFD]/g, function(ch) {\n      var cp = ch.charCodeAt(0);\n      if (cp <= 0x024F) return ch;\n      if (cp >= 0x1E00 && cp <= 0x1EFF) return ch;\n      return '';\n    })\n    .replace(/\\uFE0F/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nfunction buildTitleFilters(text, fontP, tOffset) {\n  var cleaned = stripEmoji(text || '').trim();\n  if (!cleaned) return [];\n\n  var tOff = (tOffset != null) ? tOffset : 0;\n\n  var words    = cleaned.split(/\\s+/).filter(function(w) { return w.length > 0; });\n  var lines    = [];\n  var WORDS_PER_LINE = 5;\n  for (var li = 0; li < words.length; li += WORDS_PER_LINE) {\n    var line = escapeDrawtext(words.slice(li, li + WORDS_PER_LINE).join(' '));\n    if (line) lines.push(line);\n  }\n  if (!lines.length) return [];\n\n  var numLines = lines.length;\n  var LINE_H   = 74;\n  var totalH   = numLines * LINE_H;\n\n  var FADE_T = 0.4;\n  var DUR_T  = 2.0;\n  var T0 = tOff.toFixed(3);                       \n  var T1 = (tOff + DUR_T).toFixed(3);              \n  var TF = (tOff + DUR_T - FADE_T).toFixed(3);     \n\n  var titleAlpha =\n    'if(lt(t-' + T0 + ',' + FADE_T + '),' +\n      'clip((t-' + T0 + ')/' + FADE_T + ',0,1),' +\n      'if(gt(t,' + TF + '),' +\n        'clip((' + T1 + '-t)/' + FADE_T + ',0,1),' +\n        '1))';\n\n  var out = [];\n  lines.forEach(function(line, idx) {\n    var yOffset = Math.round(-totalH / 2 + idx * LINE_H);\n    var yExpr   = '(h/2' + (yOffset >= 0 ? '+' : '') + yOffset + ')';\n    out.push(\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + line + '\\'' +\n      ':fontsize=58:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':box=1:boxcolor=black@0.65:boxborderw=16' +\n      ':x=(w-text_w)/2:y=' + yExpr +\n      ':alpha=\\'' + titleAlpha + '\\'' +\n      ':enable=\\'between(t,' + T0 + ',' + T1 + ')\\''\n    );\n  });\n  return out;\n}\n// ─────────────────────────────────────────────────────────────────────────────\n\nvar videoDuration  = INTRO_DUR + scenesDuration + ctaDuration;\nvar fadeOutSt      = Math.max(videoDuration - 0.5, 0);\nvar fadeOutFilter  = fadeOutSt > 0 ? 'fade=t=out:st=' + fadeOutSt.toFixed(3) + ':d=0.5' : null;\n\nvar versiculoStart = INTRO_DUR + scenesDuration;\nvar ctaStart       = versiculo.trim()\n  ? INTRO_DUR + scenesDuration + VERSICULO_DUR\n  : INTRO_DUR + scenesDuration;\n\nvar allVfFilters = buildSubtitleFilters(narracao, fontPath, audioDuration, videoDuration)\n  .concat(buildVersiculoFilters(versiculo, fontItalicPath, versiculoStart, VERSICULO_DUR))\n  .concat(buildCtaFilters(ctaText, fontPath, ctaStart, CTA_TEXT_DUR))\n  .concat(buildTitleFilters(titulo, fontPath, INTRO_DUR));\n\n// Branding \nvar logoPath = '/home/node/.n8n/temp/logo.png';\nvar hasLogo  = false;\nif (LOGO_URL) {\n  try {\n    if (!fs2.existsSync(logoPath)) await downloadWithRetry(LOGO_URL, logoPath);\n    hasLogo = true;\n  } catch(e) { hasLogo = false; }\n}\nif (!hasLogo) {\n  var wmRight = ((videoId || '').charCodeAt(0) || 0) % 2 === 0;\n  var wmXPos  = wmRight ? 'w-text_w-20' : '20';\n  allVfFilters.push(\n    'drawtext=fontfile=' + fontPath +\n    ':text=\\'' + CHANNEL_HANDLE + '\\'' +\n    ':fontsize=28:fontcolor=white@0.65' +\n    ':bordercolor=black@0.50:borderw=2' +\n    ':x=' + wmXPos + ':y=20'\n  );\n}\n\nallVfFilters.unshift('fade=t=in:st=' + INTRO_DUR.toFixed(3) + ':d=0.5');\n\nif (!FONT_AVAILABLE) { allVfFilters = ['fade=t=in:st=' + INTRO_DUR.toFixed(3) + ':d=0.5']; }\nvar vfChain        = allVfFilters.length > 0 ? allVfFilters.join(',') : 'null';\nvar musicFadeStart = Math.max(audioDuration - 2, 0).toFixed(2);\n\nvar filterComplex, ffmpegLogoInput;\nif (hasLogo) {\n  ffmpegLogoInput = ' -i \"' + logoPath + '\"';\n  var overlayEnd  = 'overlay=W-w-20:20' + (fadeOutFilter ? ',' + fadeOutFilter : '');\n  filterComplex =\n    '[0:v]' + vfChain + '[vtext];' +\n    '[3:v]scale=120:-1[logo];' +\n    '[vtext][logo]' + overlayEnd + '[v];' +\n    '[1:a]volume=1.0[narr];' +\n    '[2:a]volume=0.20,afade=t=out:st=' + musicFadeStart + ':d=2[mus];' +\n    '[narr][mus]amix=inputs=2:duration=first[aout]';\n} else {\n  ffmpegLogoInput  = '';\n  var vFinal       = fadeOutFilter ? vfChain + ',' + fadeOutFilter : vfChain;\n  filterComplex =\n    '[0:v]' + vFinal + '[v];' +\n    '[1:a]volume=1.0[narr];' +\n    '[2:a]volume=0.20,afade=t=out:st=' + musicFadeStart + ':d=2[mus];' +\n    '[narr][mus]amix=inputs=2:duration=first[aout]';\n}\n\nvar finalVideo = tempDir + '/final.mp4';\n\n// Try/Catch atualizado para isolar erros inofensivos de fontes\ntry {\n  childProcess.execSync(\n    FC_ENV_PREFIX + 'ffmpeg -loglevel warning -y' +\n    ' -i \"' + fullConcat + '\"' +\n    ' -i \"' + audioFile + '\"' +\n    ' -stream_loop -1 -probesize 10M -analyzeduration 10M -i \"' + musicFile + '\"' +\n    ffmpegLogoInput +\n    ' -filter_complex \"' + filterComplex + '\"' +\n    ' -map \"[v]\" -map \"[aout]\"' +\n    ' -c:v libx264 -preset veryfast -crf 25' +\n    ' -c:a aac -b:a 128k -t ' + (videoDuration + 0.5).toFixed(2) +\n    ' \"' + finalVideo + '\"',\n    { timeout: 600000 } // 10 Minutos para evitar Timeout\n  );\n} catch (e) {\n  var NL = String.fromCharCode(10); var errStderr = (e.stderr || Buffer.alloc(0)).toString(); var errMeta = '[exit:' + (e.status || e.code || '?') + (e.signal ? '/sig:' + e.signal : '') + ']'; var errLines = errStderr.split(NL).filter(function(l) { return l.indexOf('Fontconfig error:') === -1 && l.indexOf('Estimating duration from bitrate') === -1 && l.trim().length > 0; }); var realErrorMsg = errMeta + ' ' + errLines.join(' | ').trim().slice(-1500);\n  throw new Error(\"FFmpeg Erro Real: \" + realErrorMsg);\n}\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nvar tempFilesToDelete = []\n  .concat(sceneFiles)\n  .concat(scaledSceneFiles)\n  .concat([audioFile, musicFile, ctaRaw, concatList, fullConcat, blackIntro]);\nif (xfadeVideoPath) tempFilesToDelete.push(xfadeVideoPath);\nfor (var di = 0; di < tempFilesToDelete.length; di++) {\n  try { fs2.unlinkSync(tempFilesToDelete[di]); } catch(e) {}\n}\n\nreturn [{\n  json: {\n    videoId:    videoId,\n    localPath:  finalVideo,\n    titulo:     titulo,\n    descricao:  descricao,\n    hashtags:   hashtags,\n    narracao:   narracao,\n    topic:      topic,\n    sceneCount: scenes.length,\n    fileName:   videoId + '.mp4'\n  },\n  binary: {\n    data: {\n      data:          fileBuffer.toString('base64'),\n      mimeType:      'video/mp4',\n      fileName:      videoId + '.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"},"id":"node-ffmpeg-assemble","name":"FFmpeg: Assemble Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,480]},{"parameters":{"name":"={{ $('FFmpeg: Assemble Video').first().json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"node-drive-upload-final","name":"Drive: Upload Final Video","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2960,480],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"node-drive-share-final","name":"Drive: Share Video Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3152,480],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var ffmpegData = $('FFmpeg: Assemble Video').first().json;\nvar uploadData = $('Drive: Upload Final Video').first().json;\nvar fileId = uploadData.id;\nvar renderUrl = 'https://drive.google.com/uc?export=download&id=' + fileId;\nreturn [{\n  json: {\n    videoId: ffmpegData.videoId,\n    renderUrl: renderUrl,\n    renderId: fileId,\n    sceneCount: ffmpegData.sceneCount,\n    titulo: ffmpegData.titulo,\n    descricao: ffmpegData.descricao,\n    hashtags: ffmpegData.hashtags,\n    narracao: ffmpegData.narracao,\n    topic: ffmpegData.topic,\n    status: 'assembled'\n  }\n}];"},"id":"node-format-assembly-output","name":"Format Assembly Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,672]},{"parameters":{"documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit#gid=0"},"options":{}},"id":"sheets-ler-temas","name":"Sheets: Ler Temas Usados","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[912,352],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}},{"parameters":{"jsCode":"// Pega config do Set Config\nconst cfg = $node['Set Config'].json;\n\n// Coleta todos os temas já registrados na planilha\nconst allItems = $input.all();\nconst temasUsados = allItems\n  .map(item => item.json['Tema'] || item.json['tema'] || '')\n  .filter(t => String(t).trim().length > 0);\n\nconst temasUsadosStr = temasUsados.length > 0\n  ? '\\n\\nTEMAS JÁ PRODUZIDOS (NÃO REPITA NENHUM DESTES):\\n'\n    + temasUsados.map((t, i) => (i + 1) + '. ' + t).join('\\n')\n  : '';\n\nreturn [{ json: { ...cfg, temasUsados, temasUsadosStr } }];"},"id":"agregar-temas","name":"Agregar Temas Usados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,352]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Tema":"={{ $json.milagre_de_jesus }}"},"matchingColumns":["Tema"],"schema":[{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"sheets-salvar-temas","name":"Sheets: Salvar Novos Temas","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1808,224],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Sheets: Ler Temas Usados","type":"main","index":0}]]},"Parse Topics":{"main":[[{"node":"Sheets: Salvar Novos Temas","type":"main","index":0},{"node":"Sub: Generate Content","type":"main","index":0}]]},"Parse Assembly Output":{"main":[[{"node":"Sub: Publicação","type":"main","index":0}]]},"Generate Topics (Gemini)":{"main":[[{"node":"Parse Topics","type":"main","index":0}]]},"Merge":{"main":[[{"node":"FFmpeg: Assemble Video","type":"main","index":0}]]},"Sub: Generate Content":{"main":[[{"node":"SUB: Audio Generation (ElevenLabs)","type":"main","index":0},{"node":"Sub: Gerar Vídeos","type":"main","index":0}]]},"SUB: Audio Generation (ElevenLabs)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Sub: Gerar Vídeos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"FFmpeg: Assemble Video":{"main":[[{"node":"Drive: Upload Final Video","type":"main","index":0}]]},"Drive: Upload Final Video":{"main":[[{"node":"Drive: Share Video Publicly","type":"main","index":0}]]},"Drive: Share Video Publicly":{"main":[[{"node":"Format Assembly Output","type":"main","index":0}]]},"Format Assembly Output":{"main":[[{"node":"Parse Assembly Output","type":"main","index":0}]]},"Sheets: Ler Temas Usados":{"main":[[{"node":"Agregar Temas Usados","type":"main","index":0}]]},"Agregar Temas Usados":{"main":[[{"node":"Generate Topics (Gemini)","type":"main","index":0}]]},"Sheets: Salvar Novos Temas":{"main":[[]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","timezone":"America/Sao_Paulo","availableInMCP":false,"executionTimeout":-1},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"usedTopics":["Cura do paralítico","Acalma a tempestade","Parábola do Bom Samaritano","Ressurreição de Lázaro","Amai os vossos inimigos","O milagre no tanque de Betesda","A restauração do homem no tanque de Betesda","A cura do homem no tanque de Betesda","A volta à vida do amigo amado"]}}}