wf_pi_payload.json
{"name":"PI: Pattern Interrupt Edit (Main)","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8}]}},"id":"pi-main-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[240,320]},{"parameters":{"path":"pi-generate","responseMode":"lastNode","options":{}},"id":"pi-main-webhook","name":"Webhook Trigger (Manual)","type":"n8n-nodes-base.webhook","position":[240,528],"webhookId":"efb2a75f-3a65-43de-9eb7-908bedc9c68a"},{"parameters":{"assignments":{"assignments":[{"id":"pi-cfg-elevenlabs","name":"ELEVENLABS_API_KEY","value":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","type":"string"},{"id":"pi-cfg-google","name":"GOOGLE_AI_API_KEY","value":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","type":"string"},{"id":"pi-cfg-videos","name":"VIDEOS_PER_RUN","value":"1","type":"string"}]},"options":{}},"id":"pi-main-set-config","name":"Set Config PI","type":"n8n-nodes-base.set","position":[464,400]},{"parameters":{"documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk/edit#gid=0"},"options":{}},"id":"pi-main-sheets-read","name":"Sheets: Ler Temas PI","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[688,400],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}},{"parameters":{"jsCode":"var first = $input.first().json;\nreturn [{\n  json: {\n    temasUsadosStr: '',\n    GOOGLE_AI_API_KEY: first.GOOGLE_AI_API_KEY,\n    ELEVENLABS_API_KEY: first.ELEVENLABS_API_KEY,\n    VIDEOS_PER_RUN: first.VIDEOS_PER_RUN || '1'\n  }\n}];"},"id":"pi-main-agregar","name":"Agregar Temas PI","type":"n8n-nodes-base.code","position":[912,400],"typeVersion":2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"string","body":"={{ JSON.stringify({\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Voce e um especialista em conteudo cristaO viral. Crie um conceito completo para um video de edit no estilo 'pattern interrupt'. Responda APENAS com um JSON valido, sem texto antes ou depois.\n\nESTRUTURA DO VIDEO:\n- 4s: Hook de TENTACAO/PECADO (cena Veo2 - mostrar o que afasta de Deus: luxuria, vicios, trevas, diabo)\n- 18s: Edit de Deus/Jesus com 6 imagens animadas (Ken Burns) revelando Sua grandeza e poder\n- Ultimos 4s: CTA em texto amarelo\n\nRETORNE EXATAMENTE ESTE JSON:\n{\n  \\\"tema_jesus\\\": \\\"string - o milagre ou ensinamento\\\",\n  \\\"versiculo\\\": \\\"string - versiculo biblico completo\\\",\n  \\\"hook_prompt_video\\\": \\\"string EN - prompt para Veo2, cena de TENTACAO/PECADO que represente o que afasta de Deus. Exemplos: silhouette of seductive woman in dim red light and smoke, sinful atmosphere | shadowy demonic figure with glowing red eyes in darkness | person trapped in addiction surrounded by chaos and neon lights. NUNCA use Jesus/God/Christ/cross/bible explicitamente\\\",\n  \\\"imagens_prompts\\\": [\n    \\\"string EN - imagem 1: close no rosto iluminado, expressao de amor infinito e compaixao, raios de luz dourada emanando\\\",\n    \\\"string EN - imagem 2: bracos abertos em posicao de acolhimento, luz celestial intensa ao redor, majestoso\\\",\n    \\\"string EN - imagem 3: tocando pessoa prostrada, expressao de poder e cura divina, aura luminosa\\\",\n    \\\"string EN - imagem 4: olhando ao ceu com gloria, luz do ceu descendo sobre ele, grandioso e poderoso\\\",\n    \\\"string EN - imagem 5: de pe em rocha alta sobre o mundo, vento nos cabelos, luz dourada intensa, dominando o horizonte\\\",\n    \\\"string EN - imagem 6: apontando para o espectador, olhar determinado e cheio de poder, luz divina ao fundo\\\"\n  ],\n  \\\"narracao\\\": \\\"string PT-BR - 50 a 70 palavras, ritmo de pregacao evangelica, incluindo: mencionando a tentacao/pecado que o espectador enfrenta, revelacao do poder de Deus, instrucao de engajamento, oracao curta de fechamento\\\",\n  \\\"ctaText\\\": \\\"string PT-BR - 1 frase curta de CTA (ex: Me siga para nao perder sua bencao)\\\",\n  \\\"titulo\\\": \\\"string PT-BR - titulo com emoji, max 60 chars, urgencia\\\",\n  \\\"descricao\\\": \\\"string PT-BR - descricao do video, 2 a 3 frases\\\",\n  \\\"hashtags\\\": [\\\"array\\\", \\\"de\\\", \\\"hashtags\\\", \\\"PT-BR\\\"]\n}\n\nREGRAS:\n- hook_prompt_video: apenas em ingles, cena de TENTACAO/PECADO/DIABO que contraste com a grandeza de Deus. NUNCA use Jesus/God/Christ/cross/bible (pode ser bloqueado pelo Veo2)\n- imagens_prompts: personagem CONSISTENTE nas 6 imagens - man in ancient white robes, long dark hair, beard, always surrounded by INTENSE divine golden light, powerful, majestic\n- narracao: ritmo evangelico brasileiro autentico, menciona a tentacao + poder de Deus + acao\n- Temas ja usados para evitar: \" + ($json.temasUsadosStr || \"nenhum\")\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.85,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}) }}","options":{"timeout":60000}},"id":"pi-main-gemini","name":"Generate Edit Concept (Gemini)","type":"n8n-nodes-base.httpRequest","position":[1120,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"var resp = $input.first().json;\nvar raw = null;\ntry {\n  raw = resp.candidates[0].content.parts[0].text.trim();\n} catch(e) { throw new Error('Gemini response malformed: ' + JSON.stringify(resp).substring(0, 200)); }\n\nvar concept = null;\nraw = raw.replace(/^```jsons*/i, '').replace(/^```s*/i, '').replace(/```s*$/i, '').trim();\ntry { concept = JSON.parse(raw); } catch(e) { throw new Error('Invalid JSON from Gemini: ' + raw.substring(0, 300)); }\n\nvar prev = $('Agregar Temas PI').first().json;\nvar videoId = 'PI_' + new Date().toISOString().replace(/[-T:.Z]/g, '').substring(0, 14);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    tema_jesus: concept.tema_jesus || '',\n    versiculo: concept.versiculo || '',\n    hook_prompt_video: concept.hook_prompt_video || '',\n    imagens_prompts: concept.imagens_prompts || [],\n    narracao: concept.narracao || '',\n    ctaText: concept.ctaText || 'Me siga para nao perder sua bencao',\n    titulo: concept.titulo || '',\n    descricao: concept.descricao || '',\n    hashtags: concept.hashtags || [],\n    GOOGLE_AI_API_KEY: prev.GOOGLE_AI_API_KEY,\n    ELEVENLABS_API_KEY: prev.ELEVENLABS_API_KEY,\n    status: 'concept_ready'\n  }\n}];"},"id":"pi-main-parse-concept","name":"Parse Concept","type":"n8n-nodes-base.code","position":[1344,400],"typeVersion":2},{"parameters":{"jsCode":"var data = $input.first().json;\nreturn [{ json: { tema: data.tema_jesus, Tema: data.tema_jesus } }];"},"id":"pi-main-save-tema-prep","name":"Prep Tema PI","type":"n8n-nodes-base.code","position":[1568,240],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12x3OJmHUBVxJAlkJ4uEzElXzbu3MH9sDs3r-yv7pETk","mode":"list","cachedResultName":"TEMAS VIDEOS RELIGIOSOS"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Temas"},"columns":{"mappingMode":"defineBelow","value":{"Tema":"={{ $json.Tema }}"},"matchingColumns":["Tema"],"schema":[{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"pi-main-sheets-save","name":"Sheets: Salvar Temas PI","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1792,240],"credentials":{"googleSheetsOAuth2Api":{"id":"fJucpcg9wHtiaWkG","name":"Sheets - Luccapavanallo"}}},{"parameters":{"workflowId":{"__rl":true,"value":"rByQ7nDHSTHXAMaw","mode":"list","cachedResultName":"SUB: PI - Hook Video (Veo2)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"pi-main-sub-hook","name":"SUB: PI Hook Video","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,400]},{"parameters":{"workflowId":{"__rl":true,"value":"g5kS44qt6EUA0mG0","mode":"list","cachedResultName":"SUB: PI - Jesus Images (Nano Banana)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"pi-main-sub-images","name":"SUB: PI Jesus Images","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,560]},{"parameters":{"workflowId":{"__rl":true,"value":"VttkyR0BTetRiXbc","mode":"list","cachedResultName":"SUB: Audio Generation (ElevenLabs)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"pi-main-sub-audio","name":"SUB: Audio Generation","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,720]},{"parameters":{},"id":"pi-main-merge","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1920,544],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"var allItems = $input.all();\nvar hookData   = allItems.find(function(i) { return i.json.hookReady; }) || {};\nvar imageData  = allItems.find(function(i) { return i.json.imagesReady; }) || {};\nvar audioData  = allItems.find(function(i) { return i.json.audioUrl; }) || {};\n\nvar videoId = (imageData.json && imageData.json.videoId) || (hookData.json && hookData.json.videoId) || 'PI_unknown';\nvar titulo  = (imageData.json && imageData.json.titulo) || '';\n\nreturn [{\n  json: {\n    videoId: videoId,\n    titulo: titulo,\n    descricao: (imageData.json && imageData.json.descricao) || '',\n    hashtags:  (imageData.json && imageData.json.hashtags)  || [],\n    narracao:  (imageData.json && imageData.json.narracao)  || (audioData.json && audioData.json.narracao) || '',\n    ctaText:   (imageData.json && imageData.json.ctaText)   || '',\n    hookVideoUrl:  (hookData.json  && hookData.json.hookVideoUrl)  || '',\n    images:        (imageData.json && imageData.json.images)        || [],\n    audioUrl:      (audioData.json && audioData.json.audioUrl)      || '',\n    GOOGLE_AI_API_KEY: (imageData.json && imageData.json.GOOGLE_AI_API_KEY) || ''\n  }\n}];"},"id":"pi-main-format","name":"Format PI Inputs","type":"n8n-nodes-base.code","position":[2128,560],"typeVersion":2},{"parameters":{"jsCode":"var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar hookData  = allItems.find(function(d) { return d.hookVideoUrl; }) || {};\nvar imageData = allItems.find(function(d) { return d.images && d.images.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\n\nvar videoId   = imageData.videoId || hookData.videoId || audioData.videoId;\nvar hookUrl   = hookData.hookVideoUrl;\nvar images    = (imageData.images || []).sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nvar audioUrl  = audioData.audioUrl;\nvar narracao  = audioData.narracao || imageData.narracao || '';\nvar ctaText   = imageData.ctaText || hookData.ctaText || '';\nvar titulo    = imageData.titulo || '';\n\nif (!hookUrl)  throw new Error('No hookVideoUrl');\nif (!images.length) throw new Error('No images');\nif (!audioUrl) throw new Error('No audioUrl');\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// ── Download all assets ───────────────────────────────────────────────────\nvar fontPath = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nif (!fs2.existsSync(fontPath)) {\n  await download('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Bold.ttf', fontPath);\n}\n\nvar hookFile  = tempDir + '/hook.mp4';\nvar audioFile = tempDir + '/narration.mp3';\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2024/02/27/audio_6d33c54bfa.mp3',\n  'https://cdn.pixabay.com/audio/2022/10/30/audio_0b4c6ed258.mp3'\n];\nvar musicFile = tempDir + '/music.mp3';\n\nawait download(hookUrl,  hookFile);\nawait download(audioUrl, audioFile);\nawait download(MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)], musicFile);\n\n// ── Download images ───────────────────────────────────────────────────────\nvar imgFiles = [];\nfor (var i = 0; i < images.length; i++) {\n  var imgFile = tempDir + '/img_' + String(i + 1).padStart(2, '0') + '.jpg';\n  await download(images[i].url, imgFile);\n  imgFiles.push(imgFile);\n}\n\n// ── Measure audio duration ────────────────────────────────────────────────\nvar audioDuration = parseFloat(childProcess.execSync(\n  'ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"' + audioFile + '\"'\n).toString().trim()) || 30;\n\n// ── Step 1: Ken Burns clips (3s each from static images) ─────────────────\nvar kenBurnsClips = [];\nfor (var ki = 0; ki < imgFiles.length; ki++) {\n  var kbFile = tempDir + '/kb_' + String(ki + 1).padStart(2, '0') + '.mp4';\n  // Alternate zoom direction for variety\n  var zoomExpr = ki % 2 === 0\n    ? \"min(zoom+0.0015,1.4)\"\n    : \"if(lte(zoom,1.0),1.4,max(1.0,zoom-0.0015))\";\n  childProcess.execSync(\n    'ffmpeg -y -loop 1 -i \"' + imgFiles[ki] + '\"' +\n    ' -vf \"scale=2160:3840,zoompan=z=\\'' + zoomExpr + '\\':x=\\'iw/2-(iw/zoom/2)\\':y=\\'ih/2-(ih/zoom/2)\\':d=75:fps=25:s=1080x1920,format=yuv420p\"' +\n    ' -t 3 -c:v libx264 -preset veryfast -r 25 \"' + kbFile + '\"',\n    { timeout: 120000 }\n  );\n  kenBurnsClips.push(kbFile);\n}\n\n// ── Step 2: Crossfade between KB clips ───────────────────────────────────\n// Each clip is 3s, crossfade 0.4s overlap\n// xfade: offset = cumulative_duration - overlap\nvar FADE = 0.4;\nvar CLIP_DUR = 3.0;\n\n// Build xfade filter chain\nif (kenBurnsClips.length === 1) {\n  // No xfade needed\n  var editConcat = kenBurnsClips[0];\n  var editDuration = CLIP_DUR;\n} else {\n  var inputs = kenBurnsClips.map(function(f, idx) { return '-i \"' + f + '\"'; }).join(' ');\n  var filterParts = [];\n  var currentOffset = 0;\n  var prevLabel = '[0:v]';\n  for (var fi = 1; fi < kenBurnsClips.length; fi++) {\n    currentOffset = fi * CLIP_DUR - fi * FADE;\n    var outLabel = fi === kenBurnsClips.length - 1 ? '[edit]' : '[xf' + fi + ']';\n    filterParts.push(prevLabel + '[' + fi + ':v]xfade=transition=fade:duration=' + FADE + ':offset=' + currentOffset.toFixed(2) + outLabel);\n    prevLabel = outLabel;\n  }\n  var editConcat = tempDir + '/edit.mp4';\n  var editDuration = kenBurnsClips.length * CLIP_DUR - (kenBurnsClips.length - 1) * FADE;\n  childProcess.execSync(\n    'ffmpeg -y ' + inputs +\n    ' -filter_complex \"' + filterParts.join(';') + '\"' +\n    ' -map \"[edit]\" -c:v libx264 -preset veryfast -crf 23 -r 25' +\n    ' \"' + editConcat + '\"',\n    { timeout: 300000 }\n  );\n}\n\n// ── Step 3: Concat hook + edit ────────────────────────────────────────────\nvar concatList = tempDir + '/concat_pi.txt';\nfs2.writeFileSync(concatList,\n  \"file '\" + hookFile + \"'\\n\" +\n  \"file '\" + editConcat + \"'\"\n);\nvar fullVideo = tempDir + '/full.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\"' +\n  ' -c:v libx264 -preset veryfast -crf 23 -vf scale=1080:1920:flags=lanczos -an' +\n  ' \"' + fullVideo + '\"',\n  { timeout: 300000 }\n);\n\n// ── Step 4: Text overlays ─────────────────────────────────────────────────\nfunction escapeDrawtext(str) {\n  return (str || '')\n    .replace(/\\\\/g,  '')\n    .replace(/'/g,   '\\u2019')\n    .replace(/:/g,   ' -')\n    .replace(/[\\[\\]%]/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nfunction splitIntoGroups(text) {\n  if (!text) return [];\n  var parts = text.trim().split(/([.!?]+)/);\n  var sentences = [];\n  for (var si = 0; si < parts.length; si += 2) {\n    var body = (parts[si] || '').trim();\n    var punct = (parts[si + 1] || '').trim();\n    var s = (body + punct).trim();\n    if (s) sentences.push(s);\n  }\n  if (!sentences.length) sentences = [text.trim()];\n  var groups = [];\n  sentences.forEach(function(sentence) {\n    sentence = sentence.trim();\n    if (!sentence) return;\n    var words = sentence.split(/\\s+/);\n    if (words.length <= 5) { groups.push(sentence); }\n    else {\n      for (var gi = 0; gi < words.length; gi += 5) {\n        var chunk = words.slice(gi, gi + 5).join(' ');\n        if (chunk) groups.push(chunk);\n      }\n    }\n  });\n  return groups.length ? groups : [text.trim()];\n}\n\n// Subtitles: run from t=4 (after hook) until t=4+editDuration-4 (before CTA)\nvar HOOK_DUR = 4;\nvar CTA_DUR  = 4;\nvar subStart = HOOK_DUR;\nvar subEnd   = HOOK_DUR + editDuration - CTA_DUR;\nvar narGroups = splitIntoGroups(narracao);\nvar perGroup = (subEnd - subStart) / (narGroups.length || 1);\n\nvar vfFilters = [];\n\n// Subtitle filters\nnarGroups.forEach(function(group, idx) {\n  var t0 = (subStart + idx * perGroup).toFixed(2);\n  var t1 = Math.min(subStart + (idx + 1) * perGroup, subEnd).toFixed(2);\n  vfFilters.push(\n    'drawtext=fontfile=' + fontPath +\n    ':text=\\'' + escapeDrawtext(group) + '\\'' +\n    ':fontsize=54:fontcolor=white' +\n    ':bordercolor=black@1.0:borderw=5' +\n    ':x=(w-text_w)/2:y=h-200' +\n    ':enable=\\'between(t,' + t0 + ',' + t1 + ')\\''\n  );\n});\n\n// CTA: yellow text in last 4s, top area (h*0.15) to avoid conflict with subtitles\nvar ctaStartTime = (HOOK_DUR + editDuration - CTA_DUR).toFixed(2);\nvar ctaCleaned = (ctaText || 'Me siga para nao perder sua bencao').trim();\nvar ctaWords = ctaCleaned.split(/\\s+/);\nvar mid = Math.ceil(ctaWords.length / 2);\nvar cta1 = escapeDrawtext(ctaWords.slice(0, mid).join(' '));\nvar cta2 = escapeDrawtext(ctaWords.slice(mid).join(' '));\nvar ctaEn = 'gte(t,' + ctaStartTime + ')';\nif (cta1) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + cta1 + '\\'' +\n  ':fontsize=62:fontcolor=#FFD700' +\n  ':bordercolor=black@1.0:borderw=6' +\n  ':box=1:boxcolor=black@0.70:boxborderw=18' +\n  ':x=(w-text_w)/2:y=(h*15)/100' +\n  ':enable=\\'' + ctaEn + '\\''\n);\nif (cta2) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + cta2 + '\\'' +\n  ':fontsize=62:fontcolor=#FFD700' +\n  ':bordercolor=black@1.0:borderw=6' +\n  ':box=1:boxcolor=black@0.70:boxborderw=18' +\n  ':x=(w-text_w)/2:y=(h*15)/100+80' +\n  ':enable=\\'' + ctaEn + '\\''\n);\n\nvar vfChain = vfFilters.length > 0 ? vfFilters.join(',') : 'null';\nvar filterComplex =\n  '[0:v]' + vfChain + '[v];' +\n  '[1:a]volume=1.0[narr];' +\n  '[2:a]volume=0.18[mus];' +\n  '[narr][mus]amix=inputs=2:duration=first[aout]';\n\nvar finalVideo = tempDir + '/final_pi.mp4';\nchildProcess.execSync(\n  'ffmpeg -y' +\n  ' -i \"' + fullVideo + '\"' +\n  ' -i \"' + audioFile + '\"' +\n  ' -stream_loop -1 -i \"' + musicFile + '\"' +\n  ' -filter_complex \"' + filterComplex + '\"' +\n  ' -map \"[v]\" -map \"[aout]\"' +\n  ' -c:v libx264 -preset veryfast -crf 25' +\n  ' -c:a aac -b:a 128k -shortest' +\n  ' \"' + finalVideo + '\"',\n  { timeout: 300000 }\n);\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    localPath: finalVideo,\n    titulo: titulo,\n    descricao: imageData.descricao || '',\n    hashtags:  imageData.hashtags  || [],\n    narracao:  narracao,\n    fileName:  videoId + '_pi.mp4'\n  },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: videoId + '_pi.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"},"id":"pi-main-ffmpeg","name":"FFmpeg: PI Assembly","type":"n8n-nodes-base.code","position":[2352,560],"typeVersion":2},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"pi-main-drive-upload","name":"Drive: Upload PI Video","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2560,560],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"pi-main-drive-share","name":"Drive: Share PI Video Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2784,560],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var data = $input.first().json;\nvar driveData = $('Drive: Share PI Video Publicly').first().json;\nvar fileUrl = 'https://drive.google.com/uc?export=download&id=' + driveData.id;\n\nreturn [{\n  json: {\n    videoId: data.videoId,\n    renderUrl: fileUrl,\n    driveId: driveData.id,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    status: 'pi_ready'\n  }\n}];"},"id":"pi-main-parse-output","name":"Parse PI Output","type":"n8n-nodes-base.code","position":[3008,560],"typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"value":"SKUBGveT9qeXFNEW","mode":"list","cachedResultName":"SUB: Publishing (YouTube + Instagram + TikTok)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"pi-main-publish","name":"SUB: Publicacao","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3232,560]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config PI","type":"main","index":0}]]},"Webhook Trigger (Manual)":{"main":[[{"node":"Set Config PI","type":"main","index":0}]]},"Set Config PI":{"main":[[{"node":"Sheets: Ler Temas PI","type":"main","index":0}]]},"Sheets: Ler Temas PI":{"main":[[{"node":"Agregar Temas PI","type":"main","index":0}]]},"Agregar Temas PI":{"main":[[{"node":"Generate Edit Concept (Gemini)","type":"main","index":0}]]},"Generate Edit Concept (Gemini)":{"main":[[{"node":"Parse Concept","type":"main","index":0}]]},"Parse Concept":{"main":[[{"node":"Prep Tema PI","type":"main","index":0},{"node":"SUB: PI Hook Video","type":"main","index":0},{"node":"SUB: PI Jesus Images","type":"main","index":0},{"node":"SUB: Audio Generation","type":"main","index":0}]]},"Prep Tema PI":{"main":[[{"node":"Sheets: Salvar Temas PI","type":"main","index":0}]]},"SUB: PI Hook Video":{"main":[[{"node":"Merge","type":"main","index":0}]]},"SUB: PI Jesus Images":{"main":[[{"node":"Merge","type":"main","index":1}]]},"SUB: Audio Generation":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Format PI Inputs","type":"main","index":0}]]},"Format PI Inputs":{"main":[[{"node":"FFmpeg: PI Assembly","type":"main","index":0}]]},"FFmpeg: PI Assembly":{"main":[[{"node":"Drive: Upload PI Video","type":"main","index":0}]]},"Drive: Upload PI Video":{"main":[[{"node":"Drive: Share PI Video Publicly","type":"main","index":0}]]},"Drive: Share PI Video Publicly":{"main":[[{"node":"Parse PI Output","type":"main","index":0}]]},"Parse PI Output":{"main":[[{"node":"SUB: Publicacao","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}}}