wf_pi_hook_live.json
{"updatedAt":"2026-03-23T00:11:15.354Z","createdAt":"2026-03-22T21:20:46.833Z","id":"rByQ7nDHSTHXAMaw","name":"SUB: PI - Hook Video (Veo2)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"pi-hook-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,400]},{"parameters":{"jsCode":"var data = $input.first().json;\nvar hookPrompt = data.hook_prompt_video || 'mysterious dark figure in shadows, dramatic lighting, cinematic, vertical 9:16, no text, no words';\n// Sanitize prompt - no explicit religious words that could be blocked\nhookPrompt = hookPrompt.replace(/\\b(jesus|christ|god|deus|bible|biblia|cross|cruz)\\b/gi, '').trim();\nif (!hookPrompt) hookPrompt = 'mysterious shadowy figure engulfed in dark smoke and flames, dramatic moody cinematic lighting, vertical 9:16';\n\nreturn [{ json: { ...data, hookPrompt: hookPrompt } }];"},"id":"pi-hook-build-prompt","name":"Build Hook Prompt","type":"n8n-nodes-base.code","position":[464,400],"typeVersion":2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/veo-2.0-generate-001:predictLongRunning","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"instances\": [{ \"prompt\": $json.hookPrompt }],\n  \"parameters\": {\n    \"aspectRatio\": \"9:16\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": 6\n  }\n}) }}","options":{"timeout":60000}},"id":"pi-hook-veo2-start","name":"Veo2: Start Hook Generation","type":"n8n-nodes-base.httpRequest","position":[688,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"op1","name":"_veo2OpName","value":"={{ $json.name }}","type":"string"},{"id":"op2","name":"videoId","value":"={{ $('Execute Workflow Trigger').first().json.videoId }}","type":"string"},{"id":"op3","name":"GOOGLE_AI_API_KEY","value":"={{ $('Execute Workflow Trigger').first().json.GOOGLE_AI_API_KEY }}","type":"string"}]},"options":{}},"id":"pi-hook-set-op","name":"Set Op Name","type":"n8n-nodes-base.set","position":[912,400]},{"parameters":{"amount":20},"id":"pi-hook-wait","name":"Wait 20s","type":"n8n-nodes-base.wait","position":[1120,400],"webhookId":"722830ec-d887-4490-9d84-a4f2587d4fdc"},{"parameters":{"jsCode":"var data = $input.first().json;\nvar opName = data._veo2OpName;\nif (!opName) throw new Error('No _veo2OpName in data');\n\nvar https2 = require('https');\nfunction httpGet(url) {\n  return new Promise(function(resolve, reject) {\n    https2.get(url, { rejectUnauthorized: false }, function(res) {\n      var buf = '';\n      res.on('data', function(d) { buf += d; });\n      res.on('end', function() {\n        try { resolve(JSON.parse(buf)); } catch(e) { reject(e); }\n      });\n    }).on('error', reject);\n  });\n}\n\nvar pollUrl = 'https://generativelanguage.googleapis.com/v1beta/' + opName + '?key=' + data.GOOGLE_AI_API_KEY;\nvar resp = await httpGet(pollUrl);\nif (resp.done) {\n  return [{ json: { ...resp, ...data } }];\n} else {\n  // Not done yet — return a signal to keep waiting\n  return [{ json: { ...data, _veo2Done: false, _veo2Resp: resp } }];\n}"},"id":"pi-hook-poll","name":"Poll Veo2 Status","type":"n8n-nodes-base.code","position":[1344,400],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"done-check","leftValue":"={{ $json._veo2Done }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"pi-hook-check-done","name":"Check Done","type":"n8n-nodes-base.if","position":[1552,400]},{"parameters":{"jsCode":"const childProcess = require('child_process');\nconst fs = require('fs');\nconst https = require('https');\nconst http = require('http');\nconst path = require('path');\n\n// 1. Captura os dados de entrada\nconst inputData = $input.first().json;\nconst videoId = inputData.videoId || 'PI_' + Date.now();\nconst apiKey = inputData.GOOGLE_AI_API_KEY;\n\n// 2. Define e cria o diretório temporário\nconst tempDir = '/home/node/.n8n/temp/' + videoId;\nif (!fs.existsSync(tempDir)) {\n  fs.mkdirSync(tempDir, { recursive: true });\n}\n\n// Função de Download com suporte a Redirect e API Key\nfunction downloadFile(fileUrl, destPath, key) {\n  return new Promise((resolve, reject) => {\n    const protocol = fileUrl.startsWith('https:') ? https : http;\n    const file = fs.createWriteStream(destPath);\n    \n    // Configura headers para evitar 403 (Proibido)\n    const options = {\n      rejectUnauthorized: false,\n      headers: {\n        'x-goog-api-key': key\n      }\n    };\n\n    protocol.get(fileUrl, options, (res) => {\n      // Trata Redirecionamentos (301, 302)\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close();\n        fs.unlinkSync(destPath);\n        return downloadFile(res.headers.location, destPath, key).then(resolve).catch(reject);\n      }\n\n      if (res.statusCode !== 200) {\n        reject(new Error(`Falha no download: Status ${res.statusCode}`));\n        return;\n      }\n\n      res.pipe(file);\n      file.on('finish', () => {\n        file.close(resolve);\n      });\n    }).on('error', (err) => {\n      fs.unlink(destPath, () => {});\n      reject(err);\n    });\n  });\n}\n\n// 3. Extração da URI do Veo 2.0 (Caminho exato do seu input)\nlet videoUri = null;\ntry {\n  // O caminho no seu JSON é: response.generateVideoResponse.generatedSamples[0].video.uri\n  if (inputData.response && inputData.response.generateVideoResponse) {\n    const samples = inputData.response.generateVideoResponse.generatedSamples;\n    if (samples && samples.length > 0) {\n      videoUri = samples[0].video.uri;\n    }\n  }\n} catch (e) {\n  console.log(\"Erro ao mapear estrutura do Veo2: \" + e.message);\n}\n\nif (!videoUri) {\n  throw new Error('URI do vídeo não encontrada. Verifique se o Veo2 completou a geração.');\n}\n\n// 4. Processamento de Download e FFmpeg\nconst rawHook = path.join(tempDir, 'hook_raw.mp4');\nconst hookFile = path.join(tempDir, 'hook.mp4');\n\ntry {\n  // Download do vídeo original\n  await downloadFile(videoUri, rawHook, apiKey);\n\n  // FFmpeg: Corta 4s, remove áudio (-an) e força 9:16 (1080x1920) com Crop inteligente\n  // Isso evita que o vídeo fique \"esticado\" ou \"esmagado\"\n  childProcess.execSync(\n    `ffmpeg -y -i \"${rawHook}\" ` +\n    `-t 4 -c:v libx264 -preset veryfast -crf 23 ` +\n    `-vf \"scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920,setsar=1\" -an ` +\n    `\"${hookFile}\"`,\n    { timeout: 120000 }\n  );\n\n  // 5. Lê o arquivo final e retorna como binário para o n8n\n  const fileBuffer = fs.readFileSync(hookFile);\n\n  return [{\n    json: { \n      ...inputData, \n      hookLocalPath: hookFile,\n      status: 'hook_processed'\n    },\n    binary: {\n      data: {\n        data: fileBuffer.toString('base64'),\n        mimeType: 'video/mp4',\n        fileName: `${videoId}_hook.mp4`,\n        fileExtension: 'mp4'\n      }\n    }\n  }];\n\n} catch (err) {\n  throw new Error(`Erro no processamento do vídeo: ${err.message}`);\n}"},"id":"pi-hook-trim","name":"FFmpeg: Trim Hook","type":"n8n-nodes-base.code","position":[1792,304],"typeVersion":2},{"parameters":{"name":"={{ $('Execute Workflow Trigger').first().json.videoId + '_hook.mp4' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"pi-hook-upload","name":"Drive: Upload Hook","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2000,304],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"pi-hook-share","name":"Drive: Share Hook Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2224,304],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var data = $input.first().json;\n\n// AQUI ESTÁ A MÁGICA: Puxando do nó de Upload em vez do nó de Share!\n// ATENÇÃO: Substitua 'Drive: Upload Hook' pelo nome EXATO do seu nó verdinho que fez o upload do vídeo.\nvar driveUpload = $('Drive: Upload Hook').first().json; \n\nvar hookVideoUrl = 'https://drive.google.com/uc?export=download&id=' + driveUpload.id;\n\nreturn [{\n  json: {\n    ...data,\n    hookVideoUrl: hookVideoUrl,\n    hookDriveId: driveUpload.id,\n    hookReady: true\n  }\n}];"},"id":"pi-hook-confirm","name":"Confirm Hook Ready","type":"n8n-nodes-base.code","position":[2448,304],"typeVersion":2}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Build Hook Prompt","type":"main","index":0}]]},"Build Hook Prompt":{"main":[[{"node":"Veo2: Start Hook Generation","type":"main","index":0}]]},"Veo2: Start Hook Generation":{"main":[[{"node":"Set Op Name","type":"main","index":0}]]},"Set Op Name":{"main":[[{"node":"Wait 20s","type":"main","index":0}]]},"Wait 20s":{"main":[[{"node":"Poll Veo2 Status","type":"main","index":0}]]},"Poll Veo2 Status":{"main":[[{"node":"Check Done","type":"main","index":0}]]},"Check Done":{"main":[[{"node":"FFmpeg: Trim Hook","type":"main","index":0}],[{"node":"Wait 20s","type":"main","index":0}]]},"FFmpeg: Trim Hook":{"main":[[{"node":"Drive: Upload Hook","type":"main","index":0}]]},"Drive: Upload Hook":{"main":[[{"node":"Drive: Share Hook Publicly","type":"main","index":0}]]},"Drive: Share Hook Publicly":{"main":[[{"node":"Confirm Hook Ready","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c141d645-3fd2-4508-ab3a-24cc34c739b3","activeVersionId":"c141d645-3fd2-4508-ab3a-24cc34c739b3","versionCounter":35,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T21:20:46.838Z","createdAt":"2026-03-22T21:20:46.838Z","role":"workflow:owner","workflowId":"rByQ7nDHSTHXAMaw","projectId":"lSmAYRY2Zk1SmuDH","project":{"updatedAt":"2026-02-23T16:22:49.206Z","createdAt":"2025-12-30T20:02:49.088Z","id":"lSmAYRY2Zk1SmuDH","name":"Lucca Pavanello <luccapavanallo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-23T00:11:16.000Z","createdAt":"2026-03-23T00:11:12.183Z","versionId":"c141d645-3fd2-4508-ab3a-24cc34c739b3","workflowId":"rByQ7nDHSTHXAMaw","nodes":[{"parameters":{},"id":"pi-hook-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,400]},{"parameters":{"jsCode":"var data = $input.first().json;\nvar hookPrompt = data.hook_prompt_video || 'mysterious dark figure in shadows, dramatic lighting, cinematic, vertical 9:16, no text, no words';\n// Sanitize prompt - no explicit religious words that could be blocked\nhookPrompt = hookPrompt.replace(/\\b(jesus|christ|god|deus|bible|biblia|cross|cruz)\\b/gi, '').trim();\nif (!hookPrompt) hookPrompt = 'mysterious shadowy figure engulfed in dark smoke and flames, dramatic moody cinematic lighting, vertical 9:16';\n\nreturn [{ json: { ...data, hookPrompt: hookPrompt } }];"},"id":"pi-hook-build-prompt","name":"Build Hook Prompt","type":"n8n-nodes-base.code","position":[464,400],"typeVersion":2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/veo-2.0-generate-001:predictLongRunning","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.GOOGLE_AI_API_KEY }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"instances\": [{ \"prompt\": $json.hookPrompt }],\n  \"parameters\": {\n    \"aspectRatio\": \"9:16\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": 6\n  }\n}) }}","options":{"timeout":60000}},"id":"pi-hook-veo2-start","name":"Veo2: Start Hook Generation","type":"n8n-nodes-base.httpRequest","position":[688,400],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"op1","name":"_veo2OpName","value":"={{ $json.name }}","type":"string"},{"id":"op2","name":"videoId","value":"={{ $('Execute Workflow Trigger').first().json.videoId }}","type":"string"},{"id":"op3","name":"GOOGLE_AI_API_KEY","value":"={{ $('Execute Workflow Trigger').first().json.GOOGLE_AI_API_KEY }}","type":"string"}]},"options":{}},"id":"pi-hook-set-op","name":"Set Op Name","type":"n8n-nodes-base.set","position":[912,400]},{"parameters":{"amount":20},"id":"pi-hook-wait","name":"Wait 20s","type":"n8n-nodes-base.wait","position":[1120,400],"webhookId":"722830ec-d887-4490-9d84-a4f2587d4fdc"},{"parameters":{"jsCode":"var data = $input.first().json;\nvar opName = data._veo2OpName;\nif (!opName) throw new Error('No _veo2OpName in data');\n\nvar https2 = require('https');\nfunction httpGet(url) {\n  return new Promise(function(resolve, reject) {\n    https2.get(url, { rejectUnauthorized: false }, function(res) {\n      var buf = '';\n      res.on('data', function(d) { buf += d; });\n      res.on('end', function() {\n        try { resolve(JSON.parse(buf)); } catch(e) { reject(e); }\n      });\n    }).on('error', reject);\n  });\n}\n\nvar pollUrl = 'https://generativelanguage.googleapis.com/v1beta/' + opName + '?key=' + data.GOOGLE_AI_API_KEY;\nvar resp = await httpGet(pollUrl);\nif (resp.done) {\n  return [{ json: { ...resp, ...data } }];\n} else {\n  // Not done yet — return a signal to keep waiting\n  return [{ json: { ...data, _veo2Done: false, _veo2Resp: resp } }];\n}"},"id":"pi-hook-poll","name":"Poll Veo2 Status","type":"n8n-nodes-base.code","position":[1344,400],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"done-check","leftValue":"={{ $json._veo2Done }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"pi-hook-check-done","name":"Check Done","type":"n8n-nodes-base.if","position":[1552,400]},{"parameters":{"jsCode":"const childProcess = require('child_process');\nconst fs = require('fs');\nconst https = require('https');\nconst http = require('http');\nconst path = require('path');\n\n// 1. Captura os dados de entrada\nconst inputData = $input.first().json;\nconst videoId = inputData.videoId || 'PI_' + Date.now();\nconst apiKey = inputData.GOOGLE_AI_API_KEY;\n\n// 2. Define e cria o diretório temporário\nconst tempDir = '/home/node/.n8n/temp/' + videoId;\nif (!fs.existsSync(tempDir)) {\n  fs.mkdirSync(tempDir, { recursive: true });\n}\n\n// Função de Download com suporte a Redirect e API Key\nfunction downloadFile(fileUrl, destPath, key) {\n  return new Promise((resolve, reject) => {\n    const protocol = fileUrl.startsWith('https:') ? https : http;\n    const file = fs.createWriteStream(destPath);\n    \n    // Configura headers para evitar 403 (Proibido)\n    const options = {\n      rejectUnauthorized: false,\n      headers: {\n        'x-goog-api-key': key\n      }\n    };\n\n    protocol.get(fileUrl, options, (res) => {\n      // Trata Redirecionamentos (301, 302)\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close();\n        fs.unlinkSync(destPath);\n        return downloadFile(res.headers.location, destPath, key).then(resolve).catch(reject);\n      }\n\n      if (res.statusCode !== 200) {\n        reject(new Error(`Falha no download: Status ${res.statusCode}`));\n        return;\n      }\n\n      res.pipe(file);\n      file.on('finish', () => {\n        file.close(resolve);\n      });\n    }).on('error', (err) => {\n      fs.unlink(destPath, () => {});\n      reject(err);\n    });\n  });\n}\n\n// 3. Extração da URI do Veo 2.0 (Caminho exato do seu input)\nlet videoUri = null;\ntry {\n  // O caminho no seu JSON é: response.generateVideoResponse.generatedSamples[0].video.uri\n  if (inputData.response && inputData.response.generateVideoResponse) {\n    const samples = inputData.response.generateVideoResponse.generatedSamples;\n    if (samples && samples.length > 0) {\n      videoUri = samples[0].video.uri;\n    }\n  }\n} catch (e) {\n  console.log(\"Erro ao mapear estrutura do Veo2: \" + e.message);\n}\n\nif (!videoUri) {\n  throw new Error('URI do vídeo não encontrada. Verifique se o Veo2 completou a geração.');\n}\n\n// 4. Processamento de Download e FFmpeg\nconst rawHook = path.join(tempDir, 'hook_raw.mp4');\nconst hookFile = path.join(tempDir, 'hook.mp4');\n\ntry {\n  // Download do vídeo original\n  await downloadFile(videoUri, rawHook, apiKey);\n\n  // FFmpeg: Corta 4s, remove áudio (-an) e força 9:16 (1080x1920) com Crop inteligente\n  // Isso evita que o vídeo fique \"esticado\" ou \"esmagado\"\n  childProcess.execSync(\n    `ffmpeg -y -i \"${rawHook}\" ` +\n    `-t 4 -c:v libx264 -preset veryfast -crf 23 ` +\n    `-vf \"scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920,setsar=1\" -an ` +\n    `\"${hookFile}\"`,\n    { timeout: 120000 }\n  );\n\n  // 5. Lê o arquivo final e retorna como binário para o n8n\n  const fileBuffer = fs.readFileSync(hookFile);\n\n  return [{\n    json: { \n      ...inputData, \n      hookLocalPath: hookFile,\n      status: 'hook_processed'\n    },\n    binary: {\n      data: {\n        data: fileBuffer.toString('base64'),\n        mimeType: 'video/mp4',\n        fileName: `${videoId}_hook.mp4`,\n        fileExtension: 'mp4'\n      }\n    }\n  }];\n\n} catch (err) {\n  throw new Error(`Erro no processamento do vídeo: ${err.message}`);\n}"},"id":"pi-hook-trim","name":"FFmpeg: Trim Hook","type":"n8n-nodes-base.code","position":[1792,304],"typeVersion":2},{"parameters":{"name":"={{ $('Execute Workflow Trigger').first().json.videoId + '_hook.mp4' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"pi-hook-upload","name":"Drive: Upload Hook","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2000,304],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"pi-hook-share","name":"Drive: Share Hook Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2224,304],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var data = $input.first().json;\n\n// AQUI ESTÁ A MÁGICA: Puxando do nó de Upload em vez do nó de Share!\n// ATENÇÃO: Substitua 'Drive: Upload Hook' pelo nome EXATO do seu nó verdinho que fez o upload do vídeo.\nvar driveUpload = $('Drive: Upload Hook').first().json; \n\nvar hookVideoUrl = 'https://drive.google.com/uc?export=download&id=' + driveUpload.id;\n\nreturn [{\n  json: {\n    ...data,\n    hookVideoUrl: hookVideoUrl,\n    hookDriveId: driveUpload.id,\n    hookReady: true\n  }\n}];"},"id":"pi-hook-confirm","name":"Confirm Hook Ready","type":"n8n-nodes-base.code","position":[2448,304],"typeVersion":2}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Build Hook Prompt","type":"main","index":0}]]},"Build Hook Prompt":{"main":[[{"node":"Veo2: Start Hook Generation","type":"main","index":0}]]},"Veo2: Start Hook Generation":{"main":[[{"node":"Set Op Name","type":"main","index":0}]]},"Set Op Name":{"main":[[{"node":"Wait 20s","type":"main","index":0}]]},"Wait 20s":{"main":[[{"node":"Poll Veo2 Status","type":"main","index":0}]]},"Poll Veo2 Status":{"main":[[{"node":"Check Done","type":"main","index":0}]]},"Check Done":{"main":[[{"node":"FFmpeg: Trim Hook","type":"main","index":0}],[{"node":"Wait 20s","type":"main","index":0}]]},"FFmpeg: Trim Hook":{"main":[[{"node":"Drive: Upload Hook","type":"main","index":0}]]},"Drive: Upload Hook":{"main":[[{"node":"Drive: Share Hook Publicly","type":"main","index":0}]]},"Drive: Share Hook Publicly":{"main":[[{"node":"Confirm Hook Ready","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":"Version c141d645","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-23T00:11:16.271Z","id":1843,"workflowId":"rByQ7nDHSTHXAMaw","versionId":"c141d645-3fd2-4508-ab3a-24cc34c739b3","event":"activated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}]}}