wf_pi_images_live.json
{"updatedAt":"2026-03-22T23:53:28.119Z","createdAt":"2026-03-22T21:20:47.007Z","id":"g5kS44qt6EUA0mG0","name":"SUB: PI - Jesus Images (Nano Banana)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"pi-img-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,400]},{"parameters":{"jsCode":"var data = $input.first().json;\nvar prompts = data.imagens_prompts || [];\nvar FALLBACK = 'a compassionate healer in ancient robes with long hair and beard, bathed in intense divine golden light, looking at viewer, ancient Jerusalem background, vertical 9:16, photorealistic 8K, cinematic portrait';\nwhile (prompts.length < 5) {\n  prompts.push(FALLBACK);\n}\nif (prompts.length > 7) {\n  prompts = prompts.slice(0, 7);\n}\nreturn prompts.map(function(prompt, idx) {\n  return {\n    json: {\n      videoId: data.videoId,\n      imagePrompt: prompt,\n      imageIndex: idx + 1,\n      GOOGLE_AI_API_KEY: data.GOOGLE_AI_API_KEY,\n      ELEVENLABS_API_KEY: data.ELEVENLABS_API_KEY,\n      narracao: data.narracao,\n      ctaText: data.ctaText,\n      titulo: data.titulo,\n      descricao: data.descricao,\n      hashtags: data.hashtags,\n      tema_jesus: data.tema_jesus,\n      versiculo: data.versiculo\n    }\n  };\n});"},"id":"pi-img-prepare","name":"Prepare Image Prompts","type":"n8n-nodes-base.code","position":[464,400],"typeVersion":2},{"parameters":{"options":{}},"id":"pi-img-batch","name":"Process Each Image","type":"n8n-nodes-base.splitInBatches","position":[688,400]},{"parameters":{"jsCode":"const fs = require('fs');\n\nconst item = $input.first();\nconst data = item.json;\n\nconst videoId = data.videoId || 'PI_temp';\nconst idx = data.imageIndex || 0;\n\n// Cria o diretório\nconst tempDir = '/home/node/.n8n/temp/' + videoId;\nif (!fs.existsSync(tempDir)) {\n  fs.mkdirSync(tempDir, { recursive: true });\n}\n\n// 1. Verifica se o nó anterior mandou o arquivo binário\nif (!item.binary || !item.binary.data) {\n  throw new Error(\"Imagem não encontrada! O nó do Nano Banana não retornou o binário 'data'.\");\n}\n\n// 2. Define o nome do arquivo (Note que o Nano Banana retornou um .png na sua imagem)\nconst imgFile = tempDir + '/img_' + String(idx).padStart(2, '0') + '.png';\n\n// 3. Pega o arquivo binário da memória do n8n (que está em base64) e converte para Buffer\nconst fileBuffer = Buffer.from(item.binary.data.data, 'base64');\n\n// 4. Salva o arquivo direto no disco\nfs.writeFileSync(imgFile, fileBuffer);\n\n// 5. Retorna o JSON atualizado e repassa o binário\nreturn [{\n  json: { \n    ...data, \n    imageLocalPath: imgFile, \n    imageSourceUrl: \"binary_from_nanobanana\" // Não há URL, veio direto do nó\n  },\n  binary: {\n    data: item.binary.data\n  }\n}];"},"id":"pi-img-download","name":"Download Image","type":"n8n-nodes-base.code","position":[1168,416],"typeVersion":2},{"parameters":{"name":"={{ $json.videoId + '_img_' + String($json.imageIndex).padStart(2, '0') + '.jpg' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"pi-img-upload","name":"Drive: Upload Image","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,416],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"pi-img-share","name":"Drive: Share Image Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1600,416],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var shareData = $input.first().json;\nvar prev = $('Drive: Upload Image').first().json; // Aqui está o ID verdadeiro!\n\n// Pass drive ID along with all original data\nreturn [{\n  json: {\n    ...$('Download Image').first().json,\n    _driveId: prev.id  // AQUI FOI A CORREÇÃO! Puxando do 'prev' em vez do 'shareData'\n  }\n}];"},"id":"pi-img-set-id","name":"Set Drive ID","type":"n8n-nodes-base.code","position":[1808,416],"typeVersion":2},{"parameters":{"jsCode":"var allItems = $input.all();\n\n// 1. Resgata os textos do nó correto antes do loop\nvar originalData = {};\ntry { \n  originalData = $(\"Prepare Image Prompts\").first().json; \n} catch(e) {\n  console.log(\"Aviso: Nó 'Prepare Image Prompts' não encontrado.\");\n}\n\n// 2. Monta as imagens usando o ID que vem do input\nvar images = allItems.map(function(item, index) {\n  // Pega o driveId que o nó \"Set Drive ID\" (dentro do loop) enviou\n  var driveId = item.json._driveId || item.json.driveId || \"FALTOU_O_ID\";\n  \n  return {\n    url: 'https://drive.google.com/uc?export=download&id=' + driveId,\n    driveId: driveId,\n    numero: index + 1\n  };\n});\n\nreturn [{\n  json: {\n    videoId: originalData.videoId || 'PI_unknown',\n    images: images,\n    narracao: originalData.narracao || '',\n    ctaText: originalData.ctaText || '',\n    titulo: originalData.titulo || '',\n    descricao: originalData.descricao || '',\n    hashtags: originalData.hashtags || [],\n    tema_jesus: originalData.tema_jesus || '',\n    versiculo: originalData.versiculo || '',\n    GOOGLE_AI_API_KEY: originalData.GOOGLE_AI_API_KEY || '',\n    ELEVENLABS_API_KEY: originalData.ELEVENLABS_API_KEY || '',\n    imagesReady: true\n  }\n}];"},"id":"pi-img-aggregate","name":"Aggregate Images","type":"n8n-nodes-base.code","position":[1360,160],"typeVersion":2},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-3-pro-image-preview","mode":"list","cachedResultName":"models/gemini-3-pro-image-preview (Nano Banana Pro)"},"prompt":"={{ JSON.stringify({\n  \"model\": \"gemini-3-pro-image-preview\",\n  \"prompt\": $json.imagePrompt,\n  \"aspect_ratio\": \"9:16\",\n  \"output_format\": \"jpeg\"\n}) }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[960,416],"id":"db653a9d-e9e9-4c9c-aae8-299f12563324","name":"Nano Banana: Generate Image1","credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2032,416],"id":"948ef097-1c01-4e1a-ba75-c576795eac27","name":"Wait","webhookId":"64dbd6f1-870c-43f8-abf8-7549507d623f"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Image Prompts","type":"main","index":0}]]},"Prepare Image Prompts":{"main":[[{"node":"Process Each Image","type":"main","index":0}]]},"Process Each Image":{"main":[[{"node":"Aggregate Images","type":"main","index":0}],[{"node":"Nano Banana: Generate Image1","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Drive: Upload Image","type":"main","index":0}]]},"Drive: Upload Image":{"main":[[{"node":"Drive: Share Image Publicly","type":"main","index":0}]]},"Drive: Share Image Publicly":{"main":[[{"node":"Set Drive ID","type":"main","index":0}]]},"Set Drive ID":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Nano Banana: Generate Image1":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2196c57a-ced6-4af9-b4c5-5bd6936903e7","activeVersionId":"2196c57a-ced6-4af9-b4c5-5bd6936903e7","versionCounter":60,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T21:20:47.012Z","createdAt":"2026-03-22T21:20:47.012Z","role":"workflow:owner","workflowId":"g5kS44qt6EUA0mG0","projectId":"lSmAYRY2Zk1SmuDH","project":{"updatedAt":"2026-02-23T16:22:49.206Z","createdAt":"2025-12-30T20:02:49.088Z","id":"lSmAYRY2Zk1SmuDH","name":"Lucca Pavanello <luccapavanallo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-22T23:53:29.000Z","createdAt":"2026-03-22T23:53:23.275Z","versionId":"2196c57a-ced6-4af9-b4c5-5bd6936903e7","workflowId":"g5kS44qt6EUA0mG0","nodes":[{"parameters":{},"id":"pi-img-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,400]},{"parameters":{"jsCode":"var data = $input.first().json;\nvar prompts = data.imagens_prompts || [];\nvar FALLBACK = 'a compassionate healer in ancient robes with long hair and beard, bathed in intense divine golden light, looking at viewer, ancient Jerusalem background, vertical 9:16, photorealistic 8K, cinematic portrait';\nwhile (prompts.length < 5) {\n  prompts.push(FALLBACK);\n}\nif (prompts.length > 7) {\n  prompts = prompts.slice(0, 7);\n}\nreturn prompts.map(function(prompt, idx) {\n  return {\n    json: {\n      videoId: data.videoId,\n      imagePrompt: prompt,\n      imageIndex: idx + 1,\n      GOOGLE_AI_API_KEY: data.GOOGLE_AI_API_KEY,\n      ELEVENLABS_API_KEY: data.ELEVENLABS_API_KEY,\n      narracao: data.narracao,\n      ctaText: data.ctaText,\n      titulo: data.titulo,\n      descricao: data.descricao,\n      hashtags: data.hashtags,\n      tema_jesus: data.tema_jesus,\n      versiculo: data.versiculo\n    }\n  };\n});"},"id":"pi-img-prepare","name":"Prepare Image Prompts","type":"n8n-nodes-base.code","position":[464,400],"typeVersion":2},{"parameters":{"options":{}},"id":"pi-img-batch","name":"Process Each Image","type":"n8n-nodes-base.splitInBatches","position":[688,400]},{"parameters":{"jsCode":"const fs = require('fs');\n\nconst item = $input.first();\nconst data = item.json;\n\nconst videoId = data.videoId || 'PI_temp';\nconst idx = data.imageIndex || 0;\n\n// Cria o diretório\nconst tempDir = '/home/node/.n8n/temp/' + videoId;\nif (!fs.existsSync(tempDir)) {\n  fs.mkdirSync(tempDir, { recursive: true });\n}\n\n// 1. Verifica se o nó anterior mandou o arquivo binário\nif (!item.binary || !item.binary.data) {\n  throw new Error(\"Imagem não encontrada! O nó do Nano Banana não retornou o binário 'data'.\");\n}\n\n// 2. Define o nome do arquivo (Note que o Nano Banana retornou um .png na sua imagem)\nconst imgFile = tempDir + '/img_' + String(idx).padStart(2, '0') + '.png';\n\n// 3. Pega o arquivo binário da memória do n8n (que está em base64) e converte para Buffer\nconst fileBuffer = Buffer.from(item.binary.data.data, 'base64');\n\n// 4. Salva o arquivo direto no disco\nfs.writeFileSync(imgFile, fileBuffer);\n\n// 5. Retorna o JSON atualizado e repassa o binário\nreturn [{\n  json: { \n    ...data, \n    imageLocalPath: imgFile, \n    imageSourceUrl: \"binary_from_nanobanana\" // Não há URL, veio direto do nó\n  },\n  binary: {\n    data: item.binary.data\n  }\n}];"},"id":"pi-img-download","name":"Download Image","type":"n8n-nodes-base.code","position":[1168,416],"typeVersion":2},{"parameters":{"name":"={{ $json.videoId + '_img_' + String($json.imageIndex).padStart(2, '0') + '.jpg' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"pi-img-upload","name":"Drive: Upload Image","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,416],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"pi-img-share","name":"Drive: Share Image Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1600,416],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"var shareData = $input.first().json;\nvar prev = $('Drive: Upload Image').first().json; // Aqui está o ID verdadeiro!\n\n// Pass drive ID along with all original data\nreturn [{\n  json: {\n    ...$('Download Image').first().json,\n    _driveId: prev.id  // AQUI FOI A CORREÇÃO! Puxando do 'prev' em vez do 'shareData'\n  }\n}];"},"id":"pi-img-set-id","name":"Set Drive ID","type":"n8n-nodes-base.code","position":[1808,416],"typeVersion":2},{"parameters":{"jsCode":"var allItems = $input.all();\n\n// 1. Resgata os textos do nó correto antes do loop\nvar originalData = {};\ntry { \n  originalData = $(\"Prepare Image Prompts\").first().json; \n} catch(e) {\n  console.log(\"Aviso: Nó 'Prepare Image Prompts' não encontrado.\");\n}\n\n// 2. Monta as imagens usando o ID que vem do input\nvar images = allItems.map(function(item, index) {\n  // Pega o driveId que o nó \"Set Drive ID\" (dentro do loop) enviou\n  var driveId = item.json._driveId || item.json.driveId || \"FALTOU_O_ID\";\n  \n  return {\n    url: 'https://drive.google.com/uc?export=download&id=' + driveId,\n    driveId: driveId,\n    numero: index + 1\n  };\n});\n\nreturn [{\n  json: {\n    videoId: originalData.videoId || 'PI_unknown',\n    images: images,\n    narracao: originalData.narracao || '',\n    ctaText: originalData.ctaText || '',\n    titulo: originalData.titulo || '',\n    descricao: originalData.descricao || '',\n    hashtags: originalData.hashtags || [],\n    tema_jesus: originalData.tema_jesus || '',\n    versiculo: originalData.versiculo || '',\n    GOOGLE_AI_API_KEY: originalData.GOOGLE_AI_API_KEY || '',\n    ELEVENLABS_API_KEY: originalData.ELEVENLABS_API_KEY || '',\n    imagesReady: true\n  }\n}];"},"id":"pi-img-aggregate","name":"Aggregate Images","type":"n8n-nodes-base.code","position":[1360,160],"typeVersion":2},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-3-pro-image-preview","mode":"list","cachedResultName":"models/gemini-3-pro-image-preview (Nano Banana Pro)"},"prompt":"={{ JSON.stringify({\n  \"model\": \"gemini-3-pro-image-preview\",\n  \"prompt\": $json.imagePrompt,\n  \"aspect_ratio\": \"9:16\",\n  \"output_format\": \"jpeg\"\n}) }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[960,416],"id":"db653a9d-e9e9-4c9c-aae8-299f12563324","name":"Nano Banana: Generate Image1","credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2032,416],"id":"948ef097-1c01-4e1a-ba75-c576795eac27","name":"Wait","webhookId":"64dbd6f1-870c-43f8-abf8-7549507d623f"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Image Prompts","type":"main","index":0}]]},"Prepare Image Prompts":{"main":[[{"node":"Process Each Image","type":"main","index":0}]]},"Process Each Image":{"main":[[{"node":"Aggregate Images","type":"main","index":0}],[{"node":"Nano Banana: Generate Image1","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Drive: Upload Image","type":"main","index":0}]]},"Drive: Upload Image":{"main":[[{"node":"Drive: Share Image Publicly","type":"main","index":0}]]},"Drive: Share Image Publicly":{"main":[[{"node":"Set Drive ID","type":"main","index":0}]]},"Set Drive ID":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Nano Banana: Generate Image1":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Image","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":"Version 2196c57a","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-22T23:53:29.117Z","id":1841,"workflowId":"g5kS44qt6EUA0mG0","versionId":"2196c57a-ced6-4af9-b4c5-5bd6936903e7","event":"activated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}]}}