wf_pi_images_payload.json
{"name":"SUB: PI - Jesus Images (Nano Banana)","nodes":[{"id":"pi-img-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","parameters":{},"position":[240,400]},{"id":"pi-img-prepare","name":"Prepare Image Prompts","type":"n8n-nodes-base.code","parameters":{"jsCode":"var data = $input.first().json;\nvar prompts = data.imagens_prompts || [];\nvar FALLBACK = 'a compassionate healer in ancient robes with long hair and beard, bathed in intense divine golden light, looking at viewer, ancient Jerusalem background, vertical 9:16, photorealistic 8K, cinematic portrait';\nwhile (prompts.length < 5) {\n  prompts.push(FALLBACK);\n}\nif (prompts.length > 7) {\n  prompts = prompts.slice(0, 7);\n}\nreturn prompts.map(function(prompt, idx) {\n  return {\n    json: {\n      videoId: data.videoId,\n      imagePrompt: prompt,\n      imageIndex: idx + 1,\n      GOOGLE_AI_API_KEY: data.GOOGLE_AI_API_KEY,\n      ELEVENLABS_API_KEY: data.ELEVENLABS_API_KEY,\n      narracao: data.narracao,\n      ctaText: data.ctaText,\n      titulo: data.titulo,\n      descricao: data.descricao,\n      hashtags: data.hashtags,\n      tema_jesus: data.tema_jesus,\n      versiculo: data.versiculo\n    }\n  };\n});"},"position":[460,400],"typeVersion":2},{"id":"pi-img-batch","name":"Process Each Image","type":"n8n-nodes-base.splitInBatches","parameters":{"batchSize":1,"options":{}},"position":[680,400]},{"id":"pi-img-generate","name":"Nano Banana: Generate Image","type":"n8n-nodes-base.httpRequest","parameters":{"method":"POST","url":"https://api.nanabanana.ai/v1/images/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $json.GOOGLE_AI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"string","body":"={{ JSON.stringify({\n  \"model\": \"gemini-3-pro-image-preview\",\n  \"prompt\": $json.imagePrompt,\n  \"aspect_ratio\": \"9:16\",\n  \"output_format\": \"jpeg\"\n}) }}","options":{"timeout":120000}},"position":[900,400],"retryOnFail":true,"waitBetweenTries":5000,"maxTries":3},{"id":"pi-img-download","name":"Download Image","type":"n8n-nodes-base.code","parameters":{"jsCode":"var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar data = $input.first().json;\nvar videoId = data.videoId;\nvar idx = data.imageIndex;\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// Parse Nano Banana response\nvar nbResp = $input.first().json;\nvar imageUrl = null;\ntry {\n  if (nbResp.url) imageUrl = nbResp.url;\n  else if (nbResp.data && nbResp.data[0] && nbResp.data[0].url) imageUrl = nbResp.data[0].url;\n  else if (nbResp.images && nbResp.images[0]) imageUrl = nbResp.images[0];\n} catch(e) {}\n\nif (!imageUrl) throw new Error('No image URL from Nano Banana. Response: ' + JSON.stringify(nbResp).substring(0, 200));\n\nvar imgFile = tempDir + '/img_' + String(idx).padStart(2, '0') + '.jpg';\nawait download(imageUrl, imgFile);\n\nvar fileBuffer = fs2.readFileSync(imgFile);\nreturn [{\n  json: { ...data, imageLocalPath: imgFile, imageSourceUrl: imageUrl },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'image/jpeg',\n      fileName: videoId + '_img_' + String(idx).padStart(2, '0') + '.jpg',\n      fileExtension: 'jpg'\n    }\n  }\n}];"},"position":[1120,400],"typeVersion":2},{"id":"pi-img-upload","name":"Drive: Upload Image","type":"n8n-nodes-base.googleDrive","typeVersion":3,"parameters":{"name":"={{ $json.videoId + '_img_' + String($json.imageIndex).padStart(2, '0') + '.jpg' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}},"position":[1340,400]},{"id":"pi-img-share","name":"Drive: Share Image Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}},"position":[1560,400]},{"id":"pi-img-set-id","name":"Set Drive ID","type":"n8n-nodes-base.code","parameters":{"jsCode":"var shareData = $input.first().json;\nvar prev = $('Drive: Upload Image').first().json;\n// Pass drive ID along with all original data\nreturn [{\n  json: {\n    ...$('Download Image').first().json,\n    _driveId: shareData.id\n  }\n}];"},"position":[1780,400],"typeVersion":2},{"id":"pi-img-loop-back","name":"Check All Done","type":"n8n-nodes-base.if","parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"batch-done","leftValue":"={{ $('Process Each Image').context.noItemsLeft }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"position":[2000,400]},{"id":"pi-img-aggregate","name":"Aggregate Images","type":"n8n-nodes-base.code","parameters":{"jsCode":"var allItems = $input.all();\nvar data = allItems[0].json;\nvar images = allItems.map(function(item) {\n  return {\n    url: 'https://drive.google.com/uc?export=download&id=' + item.json._driveId,\n    driveId: item.json._driveId,\n    numero: item.json.imageIndex\n  };\n}).sort(function(a, b) { return a.numero - b.numero; });\n\nreturn [{\n  json: {\n    videoId: data.videoId,\n    images: images,\n    narracao: data.narracao,\n    ctaText: data.ctaText,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    tema_jesus: data.tema_jesus,\n    versiculo: data.versiculo,\n    GOOGLE_AI_API_KEY: data.GOOGLE_AI_API_KEY,\n    ELEVENLABS_API_KEY: data.ELEVENLABS_API_KEY,\n    imagesReady: true\n  }\n}];"},"position":[2220,300],"typeVersion":2}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Image Prompts","type":"main","index":0}]]},"Prepare Image Prompts":{"main":[[{"node":"Process Each Image","type":"main","index":0}]]},"Process Each Image":{"main":[[{"node":"Nano Banana: Generate Image","type":"main","index":0}]]},"Nano Banana: Generate Image":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Drive: Upload Image","type":"main","index":0}]]},"Drive: Upload Image":{"main":[[{"node":"Drive: Share Image Publicly","type":"main","index":0}]]},"Drive: Share Image Publicly":{"main":[[{"node":"Set Drive ID","type":"main","index":0}]]},"Set Drive ID":{"main":[[{"node":"Check All Done","type":"main","index":0}]]},"Check All Done":{"main":[[{"node":"Aggregate Images","type":"main","index":0}],[{"node":"Process Each Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null}