wf_pi_main_live.json
{
  "updatedAt": "2026-03-23T02:18:15.368Z",
  "createdAt": "2026-03-22T21:20:47.192Z",
  "id": "kFRpZ9ku3BcqePAn",
  "name": "PI: Pattern Interrupt Edit (Main)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "id": "pi-main-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        640,
        320
      ]
    },
    {
      "parameters": {
        "path": "pi-generate",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "pi-main-webhook",
      "name": "Webhook Trigger (Manual)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        640,
        528
      ],
      "webhookId": "efb2a75f-3a65-43de-9eb7-908bedc9c68a",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pi-cfg-elevenlabs",
              "name": "ELEVENLABS_API_KEY",
              "value": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
              "type": "string"
            },
            {
              "id": "pi-cfg-google",
              "name": "GOOGLE_AI_API_KEY",
              "value": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
              "type": "string"
            },
            {
              "id": "pi-cfg-videos",
              "name": "VIDEOS_PER_RUN",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "pi-main-set-config",
      "name": "Set Config PI",
      "type": "n8n-nodes-base.set",
      "position": [
        864,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Set Config PI').item.json.GOOGLE_AI_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(() => {\n  const hookScene = ($json.hookScenePrompt || 'shadowy figure consumed by temptation, dramatic cinematic vertical 9:16').replace(/\\\\/g,'').replace(/\"/g,\"'\");\n  const tempMap = { pornografia: 1.1, odio: 1.1, traicao: 1.0, vicio: 1.0, poder: 0.7, ganancia: 0.7 };\n  const temperature = tempMap[$json.categoria] || 0.9;\n\n  const prompt = `Voce e um especialista em conteudo cristaO viral para o nicho evangelico brasileiro. Crie um conceito completo para um video no estilo PATTERN INTERRUPT. Responda APENAS com JSON valido, sem texto antes ou depois.\n\nESTRUTURA DO VIDEO (total ~24-26s):\n- 3s: Hook de TENTACAO/PECADO (video Veo2) - INTERROMPE O SCROLL mostrando o que afasta de Deus\n- 18-21s: Edit de Jesus/Deus em GLORIA MAJESTOSA com 5 a 7 imagens animadas Ken Burns - A REVELACAO\n- Ultimos 4s: CTA em texto amarelo\n\nRETORNE EXATAMENTE ESTE JSON:\n{\n  \"tema_jesus\": \"string - o poder/milagre/atributo divino revelado como resposta a tentacao\",\n  \"versiculo\": \"string - versiculo biblico completo relacionado ao tema\",\n  \"hook_prompt_video\": \"string EN - adapte este roteiro para prompt Veo2 cinematografico vertical 9:16: ${hookScene}. NUNCA use Jesus/God/Christ/cross/bible/church\",\n  \"imagens_prompts\": [\"ENTRE 5 E 7 strings EN - personagem CONSISTENTE: man in ancient white robes, long dark hair, beard, SEMPRE rodeado de INTENSA luz dourada divina, poderoso, majestoso.\"],\n  \"narracao\": \"string PT-BR - 50 a 70 palavras, ritmo pregacao evangelica URGENTE. Estrutura: (1) Nomeia tentacao/pecado (2) Revela poder de Deus (3) Instrucao engajamento (4) Oracao curta fechamento\",\n  \"ctaText\": \"string PT-BR - 1 frase curta CTA seguir/compartilhar centrada em Jesus\",\n  \"titulo\": \"string PT-BR - titulo Reels/TikTok com emoji, max 60 chars, impactante\",\n  \"titulo_yt\": \"string PT-BR - titulo YouTube Shorts SEO sem emoji max 80 chars keyword tentacao + Jesus como solucao\",\n  \"descricao\": \"string PT-BR - 2 a 3 frases\",\n  \"frase_hook\": \"string PT-BR - frase impactante sobre a tentacao que aparece no hook (max 35 chars)\",\n  \"frase_jesus\": \"string PT-BR - frase de transicao quando Jesus aparece (max 35 chars)\",\n  \"hashtags\": [\"hashtags PT-BR\"]\n}\n\nREGRAS: hook_prompt_video apenas ingles sem Jesus/God/Christ. imagens_prompts 5 a 7 imagens personagem CONSISTENTE com luz divina intensa. narracao menciona tentacao especifica + poder de Deus. frase_hook e frase_jesus em PT-BR max 35 chars cada, diretas e impactantes.`;\n\n  return JSON.stringify({\n    \"contents\": [{\"parts\": [{\"text\": prompt}]}],\n    \"generationConfig\": {\n      \"temperature\": temperature,\n      \"maxOutputTokens\": 8192,\n      \"responseMimeType\": \"application/json\"\n    }\n  });\n})()\n}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "pi-main-gemini",
      "name": "Generate Edit Concept (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        400
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\n\n// ── Rotação semanal automática ────────────────────────────────────────────\nconst WEEKLY_ROTATION = [\n  'pornografia', // Dom\n  'poder',       // Seg\n  'traicao',     // Ter\n  'pornografia', // Qua (repeat)\n  'vicio',       // Qui\n  'odio',        // Sex\n  'ganancia'     // Sáb\n];\nconst rawCat = (config.categoria || 'auto').toLowerCase().trim();\nconst categoria = rawCat === 'auto' || !rawCat\n  ? WEEKLY_ROTATION[new Date().getDay()]\n  : rawCat;\n\n// ── Categorias: prompt de cena + hashtags base ────────────────────────────\nconst CATEGORIAS = {\n  pornografia: {\n    hookScenePrompt: 'Man alone late at night, face illuminated by phone screen with guilty expression of addiction and shame, dark room with cold blue digital light, slow motion close-up, cinematic vertical 9:16',\n    hookTema: 'pornography addiction, digital darkness, shame and isolation',\n    hashtagsBase: ['#libertacao', '#pureza', '#vidasanta', '#renovacao', '#vencendoovicio', '#liberdadeemcristo']\n  },\n  poder: {\n    hookScenePrompt: 'Corporate executive stepping over others to climb the ladder, close-up on hands pushing faces down, cold hard light, corporate thriller aesthetic, cinematic vertical 9:16',\n    hookTema: 'toxic ambition, power addiction, betrayal of values',\n    hashtagsBase: ['#ambicao', '#lideranca', '#proposito', '#femdeus', '#humildade', '#carreira']\n  },\n  traicao: {\n    hookScenePrompt: 'Two hands secretly touching under a restaurant table, wedding ring clearly visible on one finger, low angle camera, complicit dim restaurant lighting, cinematic vertical 9:16',\n    hookTema: 'infidelity, marital betrayal, destructive secrets',\n    hashtagsBase: ['#casamento', '#restauracao', '#perdao', '#familia', '#amor', '#cura']\n  },\n  vicio: {\n    hookScenePrompt: 'Trembling hand opening a bottle at 7am, messy kitchen in background, harsh raw morning light, expression of desperate dependency, cinematic vertical 9:16',\n    hookTema: 'alcohol and drug addiction, chemical dependency, family destruction',\n    hashtagsBase: ['#libertacao', '#sobriedade', '#cura', '#renovacao', '#transformacao', '#milagre']\n  },\n  odio: {\n    hookScenePrompt: 'Man typing a hateful message on phone in total darkness, expression of twisted pleasure, red lateral light, aggressive fingers on keyboard close-up, cinematic vertical 9:16',\n    hookTema: 'hatred, desire for revenge, bitterness that destroys the hater',\n    hashtagsBase: ['#perdao', '#paz', '#amor', '#cura', '#libertacao', '#gracadedeus']\n  },\n  ganancia: {\n    hookScenePrompt: 'Hands counting money while blurred family waits at dinner table in background, face ignoring children, cold light on money and warm light on the ignored family, cinematic vertical 9:16',\n    hookTema: 'greed, money above everything, family abandonment for wealth',\n    hashtagsBase: ['#proposito', '#abencado', '#prosperidade', '#familia', '#eternidade', '#riqueza']\n  }\n};\n\nconst HASHTAGS_UNIVERSAL = [\n  '#jesus', '#cristao', '#fe', '#evangelico', '#deus',\n  '#reelscristao', '#shortscristao', '#vidacristao'\n];\n\nconst cat = CATEGORIAS[categoria] || CATEGORIAS['pornografia'];\n\n// ── Pool de CTAs: seguir/compartilhar centrado em Jesus ───────────────────\nconst CTA_POOL = [\n  'Siga - Jesus tem mais pra voce',\n  'Compartilhe: alguem precisa disso hoje',\n  'Siga e nao perca a proxima revelacao',\n  'Compartilhe - Jesus salva de verdade',\n  'Siga: Deus ainda nao terminou com voce',\n  'Compartilhe se cres no poder de Deus',\n  'Siga - a proxima palavra e pra voce'\n];\nconst ctaText = CTA_POOL[new Date().getDay() % CTA_POOL.length];\n\nreturn [{\n  json: {\n    ...config,\n    watermark: config.watermark || '@viver.em.jesus0',\n    categoria,\n    hookScenePrompt: cat.hookScenePrompt,\n    hookTema: cat.hookTema,\n    hashtagsBase: cat.hashtagsBase,\n    hashtagsUniversal: HASHTAGS_UNIVERSAL,\n    ctaText\n  }\n}];"
      },
      "id": "pi-main-select-category",
      "name": "Select Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtém o JSON de entrada do Gemini\nconst resp = $input.first().json;\nlet raw = \"\";\n\ntry {\n  raw = resp.candidates[0].content.parts[0].text.trim();\n} catch (e) {\n  throw new Error('Resposta do Gemini malformada: ' + e.message);\n}\n\n// 2. Limpeza de Markdown\nraw = raw.replace(/^```json\\s*/i, '')\n         .replace(/^```\\s*/i, '')\n         .replace(/```\\s*$/i, '')\n         .trim();\n\nlet concept = null;\ntry {\n  const parsed = JSON.parse(raw);\n  concept = Array.isArray(parsed) ? parsed[0] : parsed;\n} catch (e) {\n  throw new Error('JSON inválido vindo do Gemini: ' + raw.substring(0, 300));\n}\n\n// 3. Busca configurações upstream\nlet prev = {};\ntry { prev = $(\"Set Config PI\").first().json; } catch (e) {\n  prev = { GOOGLE_AI_API_KEY: '', ELEVENLABS_API_KEY: '' };\n}\n\n// 4. Hashtags: base por categoria + Gemini + universais (sem duplicatas)\nlet catData = {};\ntry { catData = $(\"Select Category\").first().json; } catch(e) {}\nconst hashtagsBase      = catData.hashtagsBase      || [];\nconst hashtagsUniversal = catData.hashtagsUniversal || [];\nconst hashtagsGemini    = concept.hashtags          || [];\nconst hashtags = [...new Set([...hashtagsBase, ...hashtagsGemini, ...hashtagsUniversal])];\n\n// 5. ID único\nconst videoId = 'PI_' + new Date().toISOString().replace(/[-T:.Z]/g, '').substring(0, 14);\n\nreturn [{\n  json: {\n    videoId,\n    tema_jesus:        concept.tema_jesus        || '',\n    versiculo:         concept.versiculo         || '',\n    hook_prompt_video: concept.hook_prompt_video || '',\n    imagens_prompts:   concept.imagens_prompts   || [],\n    narracao:          concept.narracao          || '',\n    ctaText:           concept.ctaText           || catData.ctaText || 'Siga - Jesus tem mais pra voce',\n    titulo:            concept.titulo            || '',\n    titulo_yt:         concept.titulo_yt         || '',\n    descricao:         concept.descricao         || '',\n    hashtags,\n    frase_hook:        concept.frase_hook        || '',\n    frase_jesus:       concept.frase_jesus       || '',\n    GOOGLE_AI_API_KEY: prev.GOOGLE_AI_API_KEY    || '',\n    ELEVENLABS_API_KEY:prev.ELEVENLABS_API_KEY   || '',\n    status: 'concept_ready'\n  }\n}];"
      },
      "id": "pi-main-parse-concept",
      "name": "Parse Concept",
      "type": "n8n-nodes-base.code",
      "position": [
        1344,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rByQ7nDHSTHXAMaw",
          "mode": "list",
          "cachedResultUrl": "/workflow/rByQ7nDHSTHXAMaw",
          "cachedResultName": "SUB: PI - Hook Video (Veo2)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "pi-main-sub-hook",
      "name": "SUB: PI Hook Video",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "g5kS44qt6EUA0mG0",
          "mode": "list",
          "cachedResultUrl": "/workflow/g5kS44qt6EUA0mG0",
          "cachedResultName": "SUB: PI - Jesus Images (Nano Banana)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "pi-main-sub-images",
      "name": "SUB: PI Jesus Images",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        592
      ]
    },
    {
      "parameters": {},
      "id": "pi-main-merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        496
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n// Encontra os itens (com fallback seguro para não quebrar)\nconst hookData = allItems.find(i => i.json.hookReady) || { json: {} };\nconst imageData = allItems.find(i => i.json.imagesReady) || { json: {} };\n\n// RESGATE DOS DADOS PERDIDOS:\n// Como o Google Drive apagou os textos do JSON, vamos buscar lá do nó original\nlet originalData = {};\ntry {\n  // Troque \"Set Config PI\" pelo nome exato do nó onde o Gemini montou os dados\n  originalData = $('Parse Concept').first().json; \n} catch(e) {\n  // Se não achar o nó, o workflow não trava\n}\n\nconst videoId = imageData.json.videoId || hookData.json.videoId || originalData.videoId || 'PI_unknown';\n\nreturn [{\n  json: {\n    videoId: videoId,\n    titulo: imageData.json.titulo || originalData.titulo || '',\n    descricao: imageData.json.descricao || originalData.descricao || '',\n    hashtags: imageData.json.hashtags || originalData.hashtags || [],\n    narracao: imageData.json.narracao || originalData.narracao || '',\n    ctaText: imageData.json.ctaText || originalData.ctaText || '',\n    watermark: imageData.json.watermark || originalData.watermark || '',\n    hookVideoUrl: hookData.json.hookVideoUrl || '',\n    images: imageData.json.images || [],\n    GOOGLE_AI_API_KEY: imageData.json.GOOGLE_AI_API_KEY || originalData.GOOGLE_AI_API_KEY || '',\n    frase_hook:  imageData.json.frase_hook  || originalData.frase_hook  || '',\n    frase_jesus: imageData.json.frase_jesus || originalData.frase_jesus || ''\n  }\n}];"
      },
      "id": "pi-main-format",
      "name": "Format PI Inputs",
      "type": "n8n-nodes-base.code",
      "position": [
        2112,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar data = $input.first().json;\nfunction execAsync(cmd, opts) {\n  return new Promise(function(resolve, reject) {\n    childProcess.exec(cmd, opts || {}, function(err, stdout, stderr) {\n      if (err) { reject(new Error((stderr || '') + ' ' + err.message)); return; }\n      resolve(stdout);\n    });\n  });\n}\nvar videoId    = data.videoId;\nvar hookUrl    = data.hookVideoUrl;\nvar images     = (data.images || []).sort(function(a,b){ return (a.numero||0)-(b.numero||0); });\nvar ctaText    = data.ctaText   || '';\nvar titulo     = data.titulo    || '';\nvar fraseHook  = data.frase_hook  || '';\nvar fraseJesus = data.frase_jesus || '';\nvar watermark  = data.watermark   || '';\n\nif (!hookUrl)       throw new Error('No hookVideoUrl');\nif (!images.length) throw new Error('No images');\n\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2024/02/27/audio_6d33c54bfa.mp3',\n  'https://cdn.pixabay.com/audio/2022/10/30/audio_0b4c6ed258.mp3'\n];\nvar musicUrl = MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)];\nvar SFX_URL = 'https://cdn.pixabay.com/audio/2022/03/24/audio_51d815d29b.mp3';\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// ── Fonts ─────────────────────────────────────────────────────────────────\nvar fontPath   = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nvar cinzelPath = '/home/node/.n8n/temp/Cinzel-Bold.ttf';\nif (!fs2.existsSync(fontPath)) {\n  await download('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Bold.ttf', fontPath);\n}\nif (!fs2.existsSync(cinzelPath)) {\n  await download('https://github.com/google/fonts/raw/main/ofl/cinzel/static/Cinzel-Bold.ttf', cinzelPath);\n}\n\n// ── Download assets ───────────────────────────────────────────────────────\nvar hookRaw   = tempDir + '/hook_raw.mp4';\nvar musicFile = tempDir + '/music.mp3';\nvar sfxFile   = tempDir + '/sfx.mp3';\nawait download(hookUrl,  hookRaw);\nawait download(musicUrl, musicFile);\nvar sfxOk = false;\ntry { await download(SFX_URL, sfxFile); sfxOk = true; } catch(e) { console.log('SFX skip:', e.message); }\n\nvar imgFiles = [];\nfor (var i = 0; i < images.length; i++) {\n  var imgFile = tempDir + '/img_' + String(i+1).padStart(2,'0') + '.jpg';\n  await download(images[i].url, imgFile);\n  imgFiles.push(imgFile);\n}\n\n// ── Step 0: Hook — zoom in + color grade escuro/dessaturado ───────────────\nvar hookFile = tempDir + '/hook.mp4';\nawait execAsync(\n  'ffmpeg -y -i \"' + hookRaw + '\"' +\n  ' -vf \"zoompan=z=\\'1+0.25*(time/4)\\':x=\\'iw/2-(iw/zoom/2)\\':y=\\'ih/2-(ih/zoom/2)\\':d=1:fps=25:s=1080x1920' +\n  ',eq=saturation=0.6:brightness=-0.08,format=yuv420p\"' +\n  ' -c:v libx264 -preset veryfast -crf 23 \"' + hookFile + '\"',\n  { timeout: 90000 }\n);\n\n// ── Step 1: Ken Burns — 3 variantes rotativas + warm grade ───────────────\n// 0: zoom-in suave (devocional)\n// 1: zoom-out dramático (revelação)\n// 2: zoom-in celestial pelo topo (perspectiva divina)\nvar KB_VARIANTS = [\n  { z: 'min(zoom+0.0010,1.3)', x: 'iw/2-(iw/zoom/2)', y: 'ih/2-(ih/zoom/2)' },\n  { z: 'if(lte(zoom,1.0),1.5,max(1.0,zoom-0.0025))', x: 'iw/2-(iw/zoom/2)', y: 'ih/2-(ih/zoom/2)' },\n  { z: 'min(zoom+0.0012,1.3)', x: 'iw/2-(iw/zoom/2)', y: '0' }\n];\n\nvar kenBurnsClips = [];\nfor (var ki = 0; ki < imgFiles.length; ki++) {\n  var kbFile = tempDir + '/kb_' + String(ki+1).padStart(2,'0') + '.mp4';\n  var kbv = KB_VARIANTS[ki % 3];\n  await execAsync(\n    'ffmpeg -y -loop 1 -i \"' + imgFiles[ki] + '\"' +\n    ' -vf \"scale=2160:3840' +\n    ',zoompan=z=\\'' + kbv.z + '\\':x=\\'' + kbv.x + '\\':y=\\'' + kbv.y + '\\':d=75:fps=25:s=1080x1920' +\n    ',colorbalance=rs=0.15:gs=0.05:bs=-0.10:rm=0.10:gm=0.03:bm=-0.08' +\n    ',format=yuv420p\"' +\n    ' -t 3 -c:v libx264 -preset veryfast -r 25 \"' + kbFile + '\"',\n    { timeout: 120000 }\n  );\n  kenBurnsClips.push(kbFile);\n}\n\n// ── Step 2: Crossfade 0.7s ────────────────────────────────────────────────\nvar FADE = 0.7;\nvar CLIP_DUR = 3.0;\nvar editConcat, editDuration;\nif (kenBurnsClips.length === 1) {\n  editConcat = kenBurnsClips[0];\n  editDuration = CLIP_DUR;\n} else {\n  var kbInputs = kenBurnsClips.map(function(f) { return '-i \"' + f + '\"'; }).join(' ');\n  var filterParts = [];\n  var prevLabel = '[0:v]';\n  for (var fi = 1; fi < kenBurnsClips.length; fi++) {\n    var offset = (fi * CLIP_DUR - fi * FADE).toFixed(2);\n    var outLabel = fi === kenBurnsClips.length - 1 ? '[edit]' : '[xf' + fi + ']';\n    filterParts.push(prevLabel + '[' + fi + ':v]xfade=transition=fade:duration=' + FADE + ':offset=' + offset + outLabel);\n    prevLabel = outLabel;\n  }\n  editConcat = tempDir + '/edit.mp4';\n  editDuration = kenBurnsClips.length * CLIP_DUR - (kenBurnsClips.length - 1) * FADE;\n  await execAsync(\n    'ffmpeg -y ' + kbInputs +\n    ' -filter_complex \"' + filterParts.join(';') + '\"' +\n    ' -map \"[edit]\" -c:v libx264 -preset veryfast -crf 23 -r 25 \"' + editConcat + '\"',\n    { timeout: 300000 }\n  );\n}\n\n// ── Step 3: Concat hook + edit ────────────────────────────────────────────\nvar concatList = tempDir + '/concat_pi.txt';\nfs2.writeFileSync(concatList, \"file '\" + hookFile + \"'\\nfile '\" + editConcat + \"'\");\nvar fullVideo = tempDir + '/full.mp4';\nawait execAsync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\"' +\n  ' -c:v libx264 -preset veryfast -crf 23 -vf scale=1080:1920:flags=lanczos -an \"' + fullVideo + '\"',\n  { timeout: 300000 }\n);\n\n// ── Step 4: Overlays + música + SFX + fade out ────────────────────────────\nfunction escapeDrawtext(str) {\n  return (str || '').replace(/\\\\/g,'').replace(/'/g,'\\u2019').replace(/:/g,' -').replace(/[\\[\\]%]/g,'').replace(/\\s{2,}/g,' ').trim();\n}\nfunction splitIntoLines(text, maxChars) {\n  var t = escapeDrawtext(text || '');\n  if (t.length <= maxChars) return [t, ''];\n  var words = t.split(' ');\n  var line1 = '';\n  var line2 = '';\n  for (var wi = 0; wi < words.length; wi++) {\n    var candidate = line1 ? line1 + ' ' + words[wi] : words[wi];\n    if (candidate.length <= maxChars) { line1 = candidate; }\n    else { line2 = words.slice(wi).join(' '); break; }\n  }\n  return [line1, line2];\n}\n\nvar hookLines  = splitIntoLines(fraseHook,  22);\nvar jesusLines = splitIntoLines(fraseJesus, 30);\n\nvar HOOK_DUR  = 3;\nvar CTA_DUR   = 4;\nvar ctaStart  = (HOOK_DUR + editDuration - CTA_DUR).toFixed(2);\nvar totalDur  = HOOK_DUR + editDuration;\nvar fadeOutSt = (totalDur - 1.2).toFixed(2);\n\nvar vfFilters = [];\n\n// Vinheta nas bordas durante hook (0-3s)\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih*0.12:color=black@0.5:t=fill:enable='between(t,0,3)'\");\nvfFilters.push(\"drawbox=x=0:y=ih*0.88:w=iw:h=ih*0.12:color=black@0.5:t=fill:enable='between(t,0,3)'\");\nvfFilters.push(\"drawbox=x=0:y=0:w=iw*0.08:h=ih:color=black@0.3:t=fill:enable='between(t,0,3)'\");\nvfFilters.push(\"drawbox=x=iw*0.92:y=0:w=iw*0.08:h=ih:color=black@0.3:t=fill:enable='between(t,0,3)'\");\n\n// frase_hook — lower third (0-3s, Roboto, fade)\nif (hookLines[0]) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + hookLines[0] + '\\'' +\n  ':fontsize=68:fontcolor=white:bordercolor=black@0.8:borderw=5' +\n  ':x=(w-text_w)/2' +\n  ':y=' + (hookLines[1] ? '(h*74)/100' : '(h*78)/100') +\n  ':alpha=\\'if(lt(t\\\\,0.5)\\\\,t/0.5\\\\,if(gt(t\\\\,2.5)\\\\,(3-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,0\\\\,3)\\''\n);\nif (hookLines[1]) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + hookLines[1] + '\\'' +\n  ':fontsize=68:fontcolor=white:bordercolor=black@0.8:borderw=5' +\n  ':x=(w-text_w)/2:y=(h*74)/100+80' +\n  ':alpha=\\'if(lt(t\\\\,0.5)\\\\,t/0.5\\\\,if(gt(t\\\\,2.5)\\\\,(3-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,0\\\\,3)\\''\n);\n\n// Flash branco na transicao t=3\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih:color=white@0.85:t=fill:enable='between(t,3,3.1)'\");\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih:color=white@0.55:t=fill:enable='between(t,3.1,3.2)'\");\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih:color=white@0.25:t=fill:enable='between(t,3.2,3.3)'\");\n\n// frase_jesus — topo (3-7s, Cinzel, fade)\nif (jesusLines[0]) vfFilters.push(\n  'drawtext=fontfile=' + cinzelPath +\n  ':text=\\'' + jesusLines[0] + '\\'' +\n  ':fontsize=52:fontcolor=white:bordercolor=black@0.8:borderw=3' +\n  ':x=(w-text_w)/2' +\n  ':y=' + (jesusLines[1] ? '(h*10)/100' : '(h*11)/100') +\n  ':alpha=\\'if(lt(t\\\\,3.5)\\\\,(t-3)/0.5\\\\,if(gt(t\\\\,6.5)\\\\,(7-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,3\\\\,7)\\''\n);\nif (jesusLines[1]) vfFilters.push(\n  'drawtext=fontfile=' + cinzelPath +\n  ':text=\\'' + jesusLines[1] + '\\'' +\n  ':fontsize=52:fontcolor=white:bordercolor=black@0.8:borderw=3' +\n  ':x=(w-text_w)/2:y=(h*10)/100+64' +\n  ':alpha=\\'if(lt(t\\\\,3.5)\\\\,(t-3)/0.5\\\\,if(gt(t\\\\,6.5)\\\\,(7-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,3\\\\,7)\\''\n);\n\n// Watermark — canto inferior direito durante edit (após hook)\nif (watermark) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + escapeDrawtext(watermark) + '\\'' +\n  ':fontsize=28:fontcolor=white@0.45:bordercolor=black@0.3:borderw=2' +\n  ':x=(w-text_w)-30:y=(h-text_h)-60' +\n  ':enable=\\'gte(t\\\\,3)\\''\n);\n\n// CTA amarelo — ultimos 4s\nvar ctaWords = (ctaText || 'Me siga para nao perder sua bencao').trim().split(/\\s+/);\nvar mid = Math.ceil(ctaWords.length / 2);\nvar cta1 = escapeDrawtext(ctaWords.slice(0, mid).join(' '));\nvar cta2 = escapeDrawtext(ctaWords.slice(mid).join(' '));\nvar ctaEn = 'gte(t,' + ctaStart + ')';\nif (cta1) vfFilters.push(\n  'drawtext=fontfile=' + fontPath + ':text=\\'' + cta1 + '\\'' +\n  ':fontsize=62:fontcolor=#FFD700:bordercolor=black@1.0:borderw=6' +\n  ':box=1:boxcolor=black@0.70:boxborderw=18' +\n  ':x=(w-text_w)/2:y=(h*15)/100:enable=\\'' + ctaEn + '\\''\n);\nif (cta2) vfFilters.push(\n  'drawtext=fontfile=' + fontPath + ':text=\\'' + cta2 + '\\'' +\n  ':fontsize=62:fontcolor=#FFD700:bordercolor=black@1.0:borderw=6' +\n  ':box=1:boxcolor=black@0.70:boxborderw=18' +\n  ':x=(w-text_w)/2:y=(h*15)/100+80:enable=\\'' + ctaEn + '\\''\n);\n\nvar vfChain = vfFilters.length ? vfFilters.join(',') : 'null';\nvar sfxDelay = HOOK_DUR * 1000;\nvar filterComplex, extraInput;\nif (sfxOk) {\n  filterComplex =\n    '[0:v]' + vfChain + '[v];' +\n    '[1:a]volume=0.25[music];' +\n    '[2:a]adelay=' + sfxDelay + '|' + sfxDelay + ',volume=2.5[sfx];' +\n    '[music][sfx]amix=inputs=2:duration=first:dropout_transition=2,' +\n    'afade=t=out:st=' + fadeOutSt + ':d=1.0[aout]';\n  extraInput = ' -stream_loop -1 -i \"' + musicFile + '\" -i \"' + sfxFile + '\"';\n} else {\n  filterComplex =\n    '[0:v]' + vfChain + '[v];' +\n    '[1:a]volume=0.25,afade=t=out:st=' + fadeOutSt + ':d=1.0[aout]';\n  extraInput = ' -stream_loop -1 -i \"' + musicFile + '\"';\n}\n\nvar finalVideo = tempDir + '/final_pi.mp4';\nawait execAsync(\n  'ffmpeg -y -i \"' + fullVideo + '\"' + extraInput +\n  ' -filter_complex \"' + filterComplex + '\"' +\n  ' -map \"[v]\" -map \"[aout]\"' +\n  ' -c:v libx264 -preset veryfast -crf 25' +\n  ' -c:a aac -b:a 128k -shortest \"' + finalVideo + '\"',\n  { timeout: 300000 }\n);\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    localPath: finalVideo,\n    titulo: titulo,\n    descricao: data.descricao || '',\n    hashtags:  data.hashtags  || [],\n    narracao:  data.narracao  || '',\n    fileName:  videoId + '_pi.mp4'\n  },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: videoId + '_pi.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];\n"
      },
      "id": "pi-main-ffmpeg",
      "name": "FFmpeg: PI Assembly",
      "type": "n8n-nodes-base.code",
      "position": [
        2368,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "pi-main-drive-upload",
      "name": "Drive: Upload PI Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2624,
        496
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HN60vRphPZY9kxN2",
          "name": "Luccapavanallo"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "pi-main-drive-share",
      "name": "Drive: Share PI Video Publicly",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2864,
        496
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HN60vRphPZY9kxN2",
          "name": "Luccapavanallo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Pegamos os dados de texto do nó 'Parse Concept'\nconst conceptData = $(\"Parse Concept\").first().json;\n\n// 2. Pegamos os dados do arquivo que acabou de ser subido no Drive\n// (Usando o Upload em vez do Share para evitar o \"anyoneWithLink\")\nconst driveUpload = $(\"Drive: Upload PI Video\").first().json; \n\n// 3. Montamos a URL de download direto\nconst fileUrl = 'https://drive.google.com/uc?export=download&id=' + driveUpload.id;\n\nreturn [{\n  json: {\n    videoId: conceptData.videoId || 'PI_unknown',\n    renderUrl: fileUrl,\n    driveId: driveUpload.id,\n    titulo: conceptData.titulo || '', // <-- Título adicionado aqui\n    descricao: conceptData.descricao || '',\n    hashtags: conceptData.hashtags || [],\n    narracao: conceptData.narracao || '',\n    tema_jesus: conceptData.tema_jesus || '',\n    versiculo: conceptData.versiculo || '',\n    status: 'pi_ready'\n  }\n}];"
      },
      "id": "pi-main-parse-output",
      "name": "Parse PI Output",
      "type": "n8n-nodes-base.code",
      "position": [
        3072,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SKUBGveT9qeXFNEW",
          "mode": "list",
          "cachedResultUrl": "/workflow/SKUBGveT9qeXFNEW",
          "cachedResultName": "SUB: Publishing (YouTube + Instagram + TikTok)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "pi-main-publish",
      "name": "SUB: Publicacao",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3296,
        496
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config PI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Manual)": {
      "main": [
        [
          {
            "node": "Set Config PI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config PI": {
      "main": [
        [
          {
            "node": "Select Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Edit Concept (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Concept": {
      "main": [
        [
          {
            "node": "SUB: PI Hook Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "SUB: PI Jesus Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUB: PI Hook Video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUB: PI Jesus Images": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format PI Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format PI Inputs": {
      "main": [
        [
          {
            "node": "FFmpeg: PI Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: PI Assembly": {
      "main": [
        [
          {
            "node": "Drive: Upload PI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Upload PI Video": {
      "main": [
        [
          {
            "node": "Drive: Share PI Video Publicly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Share PI Video Publicly": {
      "main": [
        [
          {
            "node": "Parse PI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PI Output": {
      "main": [
        [
          {
            "node": "SUB: Publicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Category": {
      "main": [
        [
          {
            "node": "Generate Edit Concept (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Set Config PI": [
      {
        "json": {
          "timestamp": "2026-03-22T22:02:26.431-04:00",
          "Readable date": "March 22nd 2026, 10:02:26 pm",
          "Readable time": "10:02:26 pm",
          "Day of week": "Sunday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "22",
          "Hour": "22",
          "Minute": "02",
          "Second": "26",
          "Timezone": "America/New_York (UTC-04:00)",
          "ELEVENLABS_API_KEY": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
          "GOOGLE_AI_API_KEY": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
          "VIDEOS_PER_RUN": "1"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Select Category": [
      {
        "json": {
          "timestamp": "2026-03-22T22:02:26.431-04:00",
          "Readable date": "March 22nd 2026, 10:02:26 pm",
          "Readable time": "10:02:26 pm",
          "Day of week": "Sunday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "22",
          "Hour": "22",
          "Minute": "02",
          "Second": "26",
          "Timezone": "America/New_York (UTC-04:00)",
          "ELEVENLABS_API_KEY": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
          "GOOGLE_AI_API_KEY": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
          "VIDEOS_PER_RUN": "1",
          "watermark": "@viver.em.jesus0",
          "categoria": "poder",
          "hookScenePrompt": "Corporate executive stepping over others to climb the ladder, close-up on hands pushing faces down, cold hard light, corporate thriller aesthetic, cinematic vertical 9:16",
          "hookTema": "toxic ambition, power addiction, betrayal of values",
          "hashtagsBase": [
            "#ambicao",
            "#lideranca",
            "#proposito",
            "#femdeus",
            "#humildade",
            "#carreira"
          ],
          "hashtagsUniversal": [
            "#jesus",
            "#cristao",
            "#fe",
            "#evangelico",
            "#deus",
            "#reelscristao",
            "#shortscristao",
            "#vidacristao"
          ],
          "ctaText": "Compartilhe: alguem precisa disso hoje"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Generate Edit Concept (Gemini)": [
      {
        "json": {
          "candidates": [
            {
              "content": {
                "parts": [
                  {
                    "text": "[\n  {\n    \"tema_jesus\": \"O poder da ressurreição de Jesus sobre a morte e o pecado.\",\n    \"versiculo\": \"Eu sou a ressurreição e a vida. Aquele que crê em mim, ainda que morra, viverá; e quem vive e crê em mim jamais morrerá. Você crê nisso? (João 11:25-26)\",\n    \"hook_prompt_video\": \"A frantic patient lying on a hospital bed, surrounded by doctors with grim expressions, machines beeping erratically, dramatic lighting, high-angle shot, medical drama aesthetic, cinematic vertical 9:16.\",\n    \"imagens_prompts\": [\n      \"Man in ancient white robes, long dark hair, beard, radiating INTENSE golden divine light, arms outstretched towards the sky, a powerful aura of resurrection.\",\n      \"Man in ancient white robes, long dark hair, beard, surrounded by INTENSE golden divine light, standing before an open tomb, light emanating from within.\",\n      \"Man in ancient white robes, long dark hair, beard, bathed in INTENSE golden divine light, walking through a field of wheat, symbolizing new life.\",\n      \"Man in ancient white robes, long dark hair, beard, enveloped in INTENSE golden divine light, healing a blind man with a touch, compassion in his eyes.\",\n      \"Man in ancient white robes, long dark hair, beard, surrounded by INTENSE golden divine light, ascending into the heavens, surrounded by angels.\",\n      \"Man in ancient white robes, long dark hair, beard, shining with INTENSE golden divine light, holding a lamb close to his heart, representing sacrifice and love.\",\n      \"Man in ancient white robes, long dark hair, beard, glowing with INTENSE golden divine light, seated on a throne, radiating power and majesty.\"\n    ],\n    \"narracao\": \"A morte te assusta? A escuridão te paralisa? Jesus Cristo venceu a morte! Ele é a ressurreição e a vida! Creia Nele e você viverá eternamente. Compartilhe essa verdade com seus amigos! Senhor, traga luz e vida a todos que clamam por Ti. Amém!\",\n    \"ctaText\": \"Siga para mais fé e esperança em Jesus!\",\n    \"titulo\": \"✝️ A morte não tem poder! 🙏 #JesusVive\",\n    \"titulo_yt\": \"Tentação da Morte: Jesus Cristo é a Ressurreição e a Vida\",\n    \"descricao\": \"Encontre a vida eterna em Jesus Cristo. Ele venceu a morte e te oferece a salvação. Compartilhe essa mensagem de esperança!\",\n    \"frase_hook\": \"A morte te assusta?\",\n    \"frase_jesus\": \"Jesus venceu a morte!\",\n    \"hashtags\": [\n      \"JesusCristo\",\n      \"Ressurreição\",\n      \"VidaEterna\",\n      \"Fé\",\n      \"Esperança\",\n      \"Evangelho\",\n      \"DeusNoComando\"\n    ]\n  }\n]"
                  }
                ],
                "role": "model"
              },
              "finishReason": "STOP",
              "avgLogprobs": -0.1892375946044922
            }
          ],
          "usageMetadata": {
            "promptTokenCount": 671,
            "candidatesTokenCount": 664,
            "totalTokenCount": 1335,
            "promptTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 671
              }
            ],
            "candidatesTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 664
              }
            ]
          },
          "modelVersion": "gemini-2.0-flash",
          "responseId": "M5_Aaf-6G--Dz7IPlIjEkAk"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Parse Concept": [
      {
        "json": {
          "videoId": "PI_20260323020232",
          "tema_jesus": "O poder da ressurreição de Jesus sobre a morte e o pecado.",
          "versiculo": "Eu sou a ressurreição e a vida. Aquele que crê em mim, ainda que morra, viverá; e quem vive e crê em mim jamais morrerá. Você crê nisso? (João 11:25-26)",
          "hook_prompt_video": "A frantic patient lying on a hospital bed, surrounded by doctors with grim expressions, machines beeping erratically, dramatic lighting, high-angle shot, medical drama aesthetic, cinematic vertical 9:16.",
          "imagens_prompts": [
            "Man in ancient white robes, long dark hair, beard, radiating INTENSE golden divine light, arms outstretched towards the sky, a powerful aura of resurrection.",
            "Man in ancient white robes, long dark hair, beard, surrounded by INTENSE golden divine light, standing before an open tomb, light emanating from within.",
            "Man in ancient white robes, long dark hair, beard, bathed in INTENSE golden divine light, walking through a field of wheat, symbolizing new life.",
            "Man in ancient white robes, long dark hair, beard, enveloped in INTENSE golden divine light, healing a blind man with a touch, compassion in his eyes.",
            "Man in ancient white robes, long dark hair, beard, surrounded by INTENSE golden divine light, ascending into the heavens, surrounded by angels.",
            "Man in ancient white robes, long dark hair, beard, shining with INTENSE golden divine light, holding a lamb close to his heart, representing sacrifice and love.",
            "Man in ancient white robes, long dark hair, beard, glowing with INTENSE golden divine light, seated on a throne, radiating power and majesty."
          ],
          "narracao": "A morte te assusta? A escuridão te paralisa? Jesus Cristo venceu a morte! Ele é a ressurreição e a vida! Creia Nele e você viverá eternamente. Compartilhe essa verdade com seus amigos! Senhor, traga luz e vida a todos que clamam por Ti. Amém!",
          "ctaText": "Siga para mais fé e esperança em Jesus!",
          "titulo": "✝️ A morte não tem poder! 🙏 #JesusVive",
          "titulo_yt": "Tentação da Morte: Jesus Cristo é a Ressurreição e a Vida",
          "descricao": "Encontre a vida eterna em Jesus Cristo. Ele venceu a morte e te oferece a salvação. Compartilhe essa mensagem de esperança!",
          "hashtags": [
            "#ambicao",
            "#lideranca",
            "#proposito",
            "#femdeus",
            "#humildade",
            "#carreira",
            "JesusCristo",
            "Ressurreição",
            "VidaEterna",
            "Fé",
            "Esperança",
            "Evangelho",
            "DeusNoComando",
            "#jesus",
            "#cristao",
            "#fe",
            "#evangelico",
            "#deus",
            "#reelscristao",
            "#shortscristao",
            "#vidacristao"
          ],
          "frase_hook": "A morte te assusta?",
          "frase_jesus": "Jesus venceu a morte!",
          "GOOGLE_AI_API_KEY": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
          "ELEVENLABS_API_KEY": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
          "status": "concept_ready"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "SUB: PI Hook Video": [
      {
        "json": {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false,
          "hookVideoUrl": "https://drive.google.com/uc?export=download&id=17OLPetw6RU6ZYIIBAgNElNDP2LEm14Xx",
          "hookDriveId": "17OLPetw6RU6ZYIIBAgNElNDP2LEm14Xx",
          "hookReady": true
        }
      }
    ],
    "Format PI Inputs": [
      {
        "json": {
          "videoId": "PI_20260323020232",
          "titulo": "✝️ A morte não tem poder! 🙏 #JesusVive",
          "descricao": "Encontre a vida eterna em Jesus Cristo. Ele venceu a morte e te oferece a salvação. Compartilhe essa mensagem de esperança!",
          "hashtags": [
            "#ambicao",
            "#lideranca",
            "#proposito",
            "#femdeus",
            "#humildade",
            "#carreira",
            "JesusCristo",
            "Ressurreição",
            "VidaEterna",
            "Fé",
            "Esperança",
            "Evangelho",
            "DeusNoComando",
            "#jesus",
            "#cristao",
            "#fe",
            "#evangelico",
            "#deus",
            "#reelscristao",
            "#shortscristao",
            "#vidacristao"
          ],
          "narracao": "A morte te assusta? A escuridão te paralisa? Jesus Cristo venceu a morte! Ele é a ressurreição e a vida! Creia Nele e você viverá eternamente. Compartilhe essa verdade com seus amigos! Senhor, traga luz e vida a todos que clamam por Ti. Amém!",
          "ctaText": "Siga para mais fé e esperança em Jesus!",
          "watermark": "",
          "hookVideoUrl": "https://drive.google.com/uc?export=download&id=17OLPetw6RU6ZYIIBAgNElNDP2LEm14Xx",
          "images": [
            {
              "url": "https://drive.google.com/uc?export=download&id=1o8jeVzFY68KA_GnLail3SUffNxRopzMS",
              "driveId": "1o8jeVzFY68KA_GnLail3SUffNxRopzMS",
              "numero": 1
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1HgIvX-t5IJJyhbhGD1Ms6xLDcnrMLuxE",
              "driveId": "1HgIvX-t5IJJyhbhGD1Ms6xLDcnrMLuxE",
              "numero": 2
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1bFhVD6FvOWVBM2-9Vg1lY4uqz_ftoT5P",
              "driveId": "1bFhVD6FvOWVBM2-9Vg1lY4uqz_ftoT5P",
              "numero": 3
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1x5o7xZCHq_Gj7BP5ogUdjxjVJI-kPrt9",
              "driveId": "1x5o7xZCHq_Gj7BP5ogUdjxjVJI-kPrt9",
              "numero": 4
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1Bu3jOWtK-B46XxElk1T6XSav-6Taa-M0",
              "driveId": "1Bu3jOWtK-B46XxElk1T6XSav-6Taa-M0",
              "numero": 5
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1PfPnegBlMSEnSN30L4m2Qt2gaeOQ1Nab",
              "driveId": "1PfPnegBlMSEnSN30L4m2Qt2gaeOQ1Nab",
              "numero": 6
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1zv6Cd6NKMMOY7jfg86fiCIdH4RTmOFgP",
              "driveId": "1zv6Cd6NKMMOY7jfg86fiCIdH4RTmOFgP",
              "numero": 7
            }
          ],
          "GOOGLE_AI_API_KEY": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
          "frase_hook": "A morte te assusta?",
          "frase_jesus": "Jesus venceu a morte!"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false,
          "hookVideoUrl": "https://drive.google.com/uc?export=download&id=17OLPetw6RU6ZYIIBAgNElNDP2LEm14Xx",
          "hookDriveId": "17OLPetw6RU6ZYIIBAgNElNDP2LEm14Xx",
          "hookReady": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "videoId": "PI_20260323020232",
          "images": [
            {
              "url": "https://drive.google.com/uc?export=download&id=1o8jeVzFY68KA_GnLail3SUffNxRopzMS",
              "driveId": "1o8jeVzFY68KA_GnLail3SUffNxRopzMS",
              "numero": 1
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1HgIvX-t5IJJyhbhGD1Ms6xLDcnrMLuxE",
              "driveId": "1HgIvX-t5IJJyhbhGD1Ms6xLDcnrMLuxE",
              "numero": 2
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1bFhVD6FvOWVBM2-9Vg1lY4uqz_ftoT5P",
              "driveId": "1bFhVD6FvOWVBM2-9Vg1lY4uqz_ftoT5P",
              "numero": 3
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1x5o7xZCHq_Gj7BP5ogUdjxjVJI-kPrt9",
              "driveId": "1x5o7xZCHq_Gj7BP5ogUdjxjVJI-kPrt9",
              "numero": 4
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1Bu3jOWtK-B46XxElk1T6XSav-6Taa-M0",
              "driveId": "1Bu3jOWtK-B46XxElk1T6XSav-6Taa-M0",
              "numero": 5
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1PfPnegBlMSEnSN30L4m2Qt2gaeOQ1Nab",
              "driveId": "1PfPnegBlMSEnSN30L4m2Qt2gaeOQ1Nab",
              "numero": 6
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1zv6Cd6NKMMOY7jfg86fiCIdH4RTmOFgP",
              "driveId": "1zv6Cd6NKMMOY7jfg86fiCIdH4RTmOFgP",
              "numero": 7
            }
          ],
          "narracao": "A morte te assusta? A escuridão te paralisa? Jesus Cristo venceu a morte! Ele é a ressurreição e a vida! Creia Nele e você viverá eternamente. Compartilhe essa verdade com seus amigos! Senhor, traga luz e vida a todos que clamam por Ti. Amém!",
          "ctaText": "Siga para mais fé e esperança em Jesus!",
          "titulo": "✝️ A morte não tem poder! 🙏 #JesusVive",
          "descricao": "Encontre a vida eterna em Jesus Cristo. Ele venceu a morte e te oferece a salvação. Compartilhe essa mensagem de esperança!",
          "hashtags": [
            "#ambicao",
            "#lideranca",
            "#proposito",
            "#femdeus",
            "#humildade",
            "#carreira",
            "JesusCristo",
            "Ressurreição",
            "VidaEterna",
            "Fé",
            "Esperança",
            "Evangelho",
            "DeusNoComando",
            "#jesus",
            "#cristao",
            "#fe",
            "#evangelico",
            "#deus",
            "#reelscristao",
            "#shortscristao",
            "#vidacristao"
          ],
          "tema_jesus": "O poder da ressurreição de Jesus sobre a morte e o pecado.",
          "versiculo": "Eu sou a ressurreição e a vida. Aquele que crê em mim, ainda que morra, viverá; e quem vive e crê em mim jamais morrerá. Você crê nisso? (João 11:25-26)",
          "GOOGLE_AI_API_KEY": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
          "ELEVENLABS_API_KEY": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
          "imagesReady": true
        },
        "pairedItem": {
          "item": 0,
          "input": 1
        }
      }
    ],
    "SUB: PI Jesus Images": [
      {
        "json": {
          "videoId": "PI_20260323020232",
          "images": [
            {
              "url": "https://drive.google.com/uc?export=download&id=1o8jeVzFY68KA_GnLail3SUffNxRopzMS",
              "driveId": "1o8jeVzFY68KA_GnLail3SUffNxRopzMS",
              "numero": 1
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1HgIvX-t5IJJyhbhGD1Ms6xLDcnrMLuxE",
              "driveId": "1HgIvX-t5IJJyhbhGD1Ms6xLDcnrMLuxE",
              "numero": 2
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1bFhVD6FvOWVBM2-9Vg1lY4uqz_ftoT5P",
              "driveId": "1bFhVD6FvOWVBM2-9Vg1lY4uqz_ftoT5P",
              "numero": 3
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1x5o7xZCHq_Gj7BP5ogUdjxjVJI-kPrt9",
              "driveId": "1x5o7xZCHq_Gj7BP5ogUdjxjVJI-kPrt9",
              "numero": 4
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1Bu3jOWtK-B46XxElk1T6XSav-6Taa-M0",
              "driveId": "1Bu3jOWtK-B46XxElk1T6XSav-6Taa-M0",
              "numero": 5
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1PfPnegBlMSEnSN30L4m2Qt2gaeOQ1Nab",
              "driveId": "1PfPnegBlMSEnSN30L4m2Qt2gaeOQ1Nab",
              "numero": 6
            },
            {
              "url": "https://drive.google.com/uc?export=download&id=1zv6Cd6NKMMOY7jfg86fiCIdH4RTmOFgP",
              "driveId": "1zv6Cd6NKMMOY7jfg86fiCIdH4RTmOFgP",
              "numero": 7
            }
          ],
          "narracao": "A morte te assusta? A escuridão te paralisa? Jesus Cristo venceu a morte! Ele é a ressurreição e a vida! Creia Nele e você viverá eternamente. Compartilhe essa verdade com seus amigos! Senhor, traga luz e vida a todos que clamam por Ti. Amém!",
          "ctaText": "Siga para mais fé e esperança em Jesus!",
          "titulo": "✝️ A morte não tem poder! 🙏 #JesusVive",
          "descricao": "Encontre a vida eterna em Jesus Cristo. Ele venceu a morte e te oferece a salvação. Compartilhe essa mensagem de esperança!",
          "hashtags": [
            "#ambicao",
            "#lideranca",
            "#proposito",
            "#femdeus",
            "#humildade",
            "#carreira",
            "JesusCristo",
            "Ressurreição",
            "VidaEterna",
            "Fé",
            "Esperança",
            "Evangelho",
            "DeusNoComando",
            "#jesus",
            "#cristao",
            "#fe",
            "#evangelico",
            "#deus",
            "#reelscristao",
            "#shortscristao",
            "#vidacristao"
          ],
          "tema_jesus": "O poder da ressurreição de Jesus sobre a morte e o pecado.",
          "versiculo": "Eu sou a ressurreição e a vida. Aquele que crê em mim, ainda que morra, viverá; e quem vive e crê em mim jamais morrerá. Você crê nisso? (João 11:25-26)",
          "GOOGLE_AI_API_KEY": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
          "ELEVENLABS_API_KEY": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
          "imagesReady": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "587682e0-558d-4709-87e1-c53696843ed3",
  "activeVersionId": "1bf4562c-9c6d-430d-b22b-79419287c0ee",
  "versionCounter": 135,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-22T21:20:47.196Z",
      "createdAt": "2026-03-22T21:20:47.196Z",
      "role": "workflow:owner",
      "workflowId": "kFRpZ9ku3BcqePAn",
      "projectId": "lSmAYRY2Zk1SmuDH",
      "project": {
        "updatedAt": "2026-02-23T16:22:49.206Z",
        "createdAt": "2025-12-30T20:02:49.088Z",
        "id": "lSmAYRY2Zk1SmuDH",
        "name": "Lucca Pavanello <luccapavanallo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "33d3d99a-4632-422b-96df-7e793f9c30f5"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-23T01:57:47.000Z",
    "createdAt": "2026-03-23T01:57:43.127Z",
    "versionId": "1bf4562c-9c6d-430d-b22b-79419287c0ee",
    "workflowId": "kFRpZ9ku3BcqePAn",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 8
              }
            ]
          }
        },
        "id": "pi-main-schedule",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          640,
          320
        ]
      },
      {
        "parameters": {
          "path": "pi-generate",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "pi-main-webhook",
        "name": "Webhook Trigger (Manual)",
        "type": "n8n-nodes-base.webhook",
        "position": [
          640,
          528
        ],
        "webhookId": "efb2a75f-3a65-43de-9eb7-908bedc9c68a"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "pi-cfg-elevenlabs",
                "name": "ELEVENLABS_API_KEY",
                "value": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
                "type": "string"
              },
              {
                "id": "pi-cfg-google",
                "name": "GOOGLE_AI_API_KEY",
                "value": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
                "type": "string"
              },
              {
                "id": "pi-cfg-videos",
                "name": "VIDEOS_PER_RUN",
                "value": "1",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "pi-main-set-config",
        "name": "Set Config PI",
        "type": "n8n-nodes-base.set",
        "position": [
          864,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $('Set Config PI').item.json.GOOGLE_AI_API_KEY }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\nconst hookScene = ($json.hookScenePrompt || 'shadowy figure consumed by temptation, dramatic cinematic vertical 9:16').replace(/\\\\/g,'').replace(/\"/g,\"'\");\nconst tempMap = { pornografia: 1.1, odio: 1.1, traicao: 1.0, vicio: 1.0, poder: 0.7, ganancia: 0.7 };\nconst temperature = tempMap[$json.categoria] || 0.9;\nconst prompt = \"Voce e um especialista em conteudo cristaO viral para o nicho evangelico brasileiro. Crie um conceito completo para um video no estilo PATTERN INTERRUPT. Responda APENAS com JSON valido, sem texto antes ou depois.\\n\\nESTRUTURA DO VIDEO (total ~24-26s):\\n- 3s: Hook de TENTACAO/PECADO (video Veo2) - INTERROMPE O SCROLL mostrando o que afasta de Deus\\n- 18-21s: Edit de Jesus/Deus em GLORIA MAJESTOSA com 5 a 7 imagens animadas Ken Burns - A REVELACAO\\n- Ultimos 4s: CTA em texto amarelo\\n\\nRETORNE EXATAMENTE ESTE JSON:\\n{\\n  \\\"tema_jesus\\\": \\\"string - o poder/milagre/atributo divino revelado como resposta a tentacao\\\",\\n  \\\"versiculo\\\": \\\"string - versiculo biblico completo relacionado ao tema\\\",\\n  \\\"hook_prompt_video\\\": \\\"string EN - adapte este roteiro para prompt Veo2 cinematografico vertical 9:16: \" + hookScene + \". NUNCA use Jesus/God/Christ/cross/bible/church\\\",\\n  \\\"imagens_prompts\\\": [\\\"ENTRE 5 E 7 strings EN - personagem CONSISTENTE: man in ancient white robes, long dark hair, beard, SEMPRE rodeado de INTENSA luz dourada divina, poderoso, majestoso.\\\"],\\n  \\\"narracao\\\": \\\"string PT-BR - 50 a 70 palavras, ritmo pregacao evangelica URGENTE. Estrutura: (1) Nomeia tentacao/pecado (2) Revela poder de Deus (3) Instrucao engajamento (4) Oracao curta fechamento\\\",\\n  \\\"ctaText\\\": \\\"string PT-BR - 1 frase curta CTA seguir/compartilhar centrada em Jesus\\\",\\n  \\\"titulo\\\": \\\"string PT-BR - titulo Reels/TikTok com emoji, max 60 chars, impactante\\\",\n  \\\"titulo_yt\\\": \\\"string PT-BR - titulo YouTube Shorts SEO sem emoji max 80 chars keyword tentacao + Jesus como solucao ex: Como Vencer o Vicio da Pornografia Pelo Poder de Jesus\\\",\\n  \\\"descricao\\\": \\\"string PT-BR - 2 a 3 frases\\\",\\n  \\\"frase_hook\\\": \\\"string PT-BR - frase impactante sobre a tentacao que aparece no hook (max 35 chars)\\\",\\n  \\\"frase_jesus\\\": \\\"string PT-BR - frase de transicao quando Jesus aparece (max 35 chars)\\\",\\n  \\\"hashtags\\\": [\\\"hashtags PT-BR\\\"]\\n}\\n\\nREGRAS: hook_prompt_video apenas ingles sem Jesus/God/Christ. imagens_prompts 5 a 7 imagens personagem CONSISTENTE com luz divina intensa. narracao menciona tentacao especifica + poder de Deus. frase_hook e frase_jesus em PT-BR max 35 chars cada, diretas e impactantes.\";\nJSON.stringify({\n  \"contents\": [{\"parts\": [{\"text\": prompt}]}],\n  \"generationConfig\": {\"temperature\": temperature, \"maxOutputTokens\": 8192, \"responseMimeType\": \"application/json\"}\n})\n}}\n",
          "options": {
            "timeout": 60000
          }
        },
        "id": "pi-main-gemini",
        "name": "Generate Edit Concept (Gemini)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1120,
          400
        ],
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "jsCode": "const config = $input.first().json;\n\n// ── Rotação semanal automática ────────────────────────────────────────────\nconst WEEKLY_ROTATION = [\n  'pornografia', // Dom\n  'poder',       // Seg\n  'traicao',     // Ter\n  'pornografia', // Qua (repeat)\n  'vicio',       // Qui\n  'odio',        // Sex\n  'ganancia'     // Sáb\n];\nconst rawCat = (config.categoria || 'auto').toLowerCase().trim();\nconst categoria = rawCat === 'auto' || !rawCat\n  ? WEEKLY_ROTATION[new Date().getDay()]\n  : rawCat;\n\n// ── Categorias: prompt de cena + hashtags base ────────────────────────────\nconst CATEGORIAS = {\n  pornografia: {\n    hookScenePrompt: 'Man alone late at night, face illuminated by phone screen with guilty expression of addiction and shame, dark room with cold blue digital light, slow motion close-up, cinematic vertical 9:16',\n    hookTema: 'pornography addiction, digital darkness, shame and isolation',\n    hashtagsBase: ['#libertacao', '#pureza', '#vidasanta', '#renovacao', '#vencendoovicio', '#liberdadeemcristo']\n  },\n  poder: {\n    hookScenePrompt: 'Corporate executive stepping over others to climb the ladder, close-up on hands pushing faces down, cold hard light, corporate thriller aesthetic, cinematic vertical 9:16',\n    hookTema: 'toxic ambition, power addiction, betrayal of values',\n    hashtagsBase: ['#ambicao', '#lideranca', '#proposito', '#femdeus', '#humildade', '#carreira']\n  },\n  traicao: {\n    hookScenePrompt: 'Two hands secretly touching under a restaurant table, wedding ring clearly visible on one finger, low angle camera, complicit dim restaurant lighting, cinematic vertical 9:16',\n    hookTema: 'infidelity, marital betrayal, destructive secrets',\n    hashtagsBase: ['#casamento', '#restauracao', '#perdao', '#familia', '#amor', '#cura']\n  },\n  vicio: {\n    hookScenePrompt: 'Trembling hand opening a bottle at 7am, messy kitchen in background, harsh raw morning light, expression of desperate dependency, cinematic vertical 9:16',\n    hookTema: 'alcohol and drug addiction, chemical dependency, family destruction',\n    hashtagsBase: ['#libertacao', '#sobriedade', '#cura', '#renovacao', '#transformacao', '#milagre']\n  },\n  odio: {\n    hookScenePrompt: 'Man typing a hateful message on phone in total darkness, expression of twisted pleasure, red lateral light, aggressive fingers on keyboard close-up, cinematic vertical 9:16',\n    hookTema: 'hatred, desire for revenge, bitterness that destroys the hater',\n    hashtagsBase: ['#perdao', '#paz', '#amor', '#cura', '#libertacao', '#gracadedeus']\n  },\n  ganancia: {\n    hookScenePrompt: 'Hands counting money while blurred family waits at dinner table in background, face ignoring children, cold light on money and warm light on the ignored family, cinematic vertical 9:16',\n    hookTema: 'greed, money above everything, family abandonment for wealth',\n    hashtagsBase: ['#proposito', '#abencado', '#prosperidade', '#familia', '#eternidade', '#riqueza']\n  }\n};\n\nconst HASHTAGS_UNIVERSAL = [\n  '#jesus', '#cristao', '#fe', '#evangelico', '#deus',\n  '#reelscristao', '#shortscristao', '#vidacristao'\n];\n\nconst cat = CATEGORIAS[categoria] || CATEGORIAS['pornografia'];\n\n// ── Pool de CTAs: seguir/compartilhar centrado em Jesus ───────────────────\nconst CTA_POOL = [\n  'Siga - Jesus tem mais pra voce',\n  'Compartilhe: alguem precisa disso hoje',\n  'Siga e nao perca a proxima revelacao',\n  'Compartilhe - Jesus salva de verdade',\n  'Siga: Deus ainda nao terminou com voce',\n  'Compartilhe se cres no poder de Deus',\n  'Siga - a proxima palavra e pra voce'\n];\nconst ctaText = CTA_POOL[new Date().getDay() % CTA_POOL.length];\n\nreturn [{\n  json: {\n    ...config,\n    watermark: config.watermark || '@viver.em.jesus0',\n    categoria,\n    hookScenePrompt: cat.hookScenePrompt,\n    hookTema: cat.hookTema,\n    hashtagsBase: cat.hashtagsBase,\n    hashtagsUniversal: HASHTAGS_UNIVERSAL,\n    ctaText\n  }\n}];"
        },
        "id": "pi-main-select-category",
        "name": "Select Category",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtém o JSON de entrada do Gemini\nconst resp = $input.first().json;\nlet raw = \"\";\n\ntry {\n  raw = resp.candidates[0].content.parts[0].text.trim();\n} catch (e) {\n  throw new Error('Resposta do Gemini malformada: ' + e.message);\n}\n\n// 2. Limpeza de Markdown\nraw = raw.replace(/^```json\\s*/i, '')\n         .replace(/^```\\s*/i, '')\n         .replace(/```\\s*$/i, '')\n         .trim();\n\nlet concept = null;\ntry {\n  const parsed = JSON.parse(raw);\n  concept = Array.isArray(parsed) ? parsed[0] : parsed;\n} catch (e) {\n  throw new Error('JSON inválido vindo do Gemini: ' + raw.substring(0, 300));\n}\n\n// 3. Busca configurações upstream\nlet prev = {};\ntry { prev = $(\"Set Config PI\").first().json; } catch (e) {\n  prev = { GOOGLE_AI_API_KEY: '', ELEVENLABS_API_KEY: '' };\n}\n\n// 4. Hashtags: base por categoria + Gemini + universais (sem duplicatas)\nlet catData = {};\ntry { catData = $(\"Select Category\").first().json; } catch(e) {}\nconst hashtagsBase      = catData.hashtagsBase      || [];\nconst hashtagsUniversal = catData.hashtagsUniversal || [];\nconst hashtagsGemini    = concept.hashtags          || [];\nconst hashtags = [...new Set([...hashtagsBase, ...hashtagsGemini, ...hashtagsUniversal])];\n\n// 5. ID único\nconst videoId = 'PI_' + new Date().toISOString().replace(/[-T:.Z]/g, '').substring(0, 14);\n\nreturn [{\n  json: {\n    videoId,\n    tema_jesus:        concept.tema_jesus        || '',\n    versiculo:         concept.versiculo         || '',\n    hook_prompt_video: concept.hook_prompt_video || '',\n    imagens_prompts:   concept.imagens_prompts   || [],\n    narracao:          concept.narracao          || '',\n    ctaText:           concept.ctaText           || catData.ctaText || 'Siga - Jesus tem mais pra voce',\n    titulo:            concept.titulo            || '',\n    titulo_yt:         concept.titulo_yt         || '',\n    descricao:         concept.descricao         || '',\n    hashtags,\n    frase_hook:        concept.frase_hook        || '',\n    frase_jesus:       concept.frase_jesus       || '',\n    GOOGLE_AI_API_KEY: prev.GOOGLE_AI_API_KEY    || '',\n    ELEVENLABS_API_KEY:prev.ELEVENLABS_API_KEY   || '',\n    status: 'concept_ready'\n  }\n}];"
        },
        "id": "pi-main-parse-concept",
        "name": "Parse Concept",
        "type": "n8n-nodes-base.code",
        "position": [
          1344,
          400
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rByQ7nDHSTHXAMaw",
            "mode": "list",
            "cachedResultUrl": "/workflow/rByQ7nDHSTHXAMaw",
            "cachedResultName": "SUB: PI - Hook Video (Veo2)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "pi-main-sub-hook",
        "name": "SUB: PI Hook Video",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1568,
          400
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "g5kS44qt6EUA0mG0",
            "mode": "list",
            "cachedResultUrl": "/workflow/g5kS44qt6EUA0mG0",
            "cachedResultName": "SUB: PI - Jesus Images (Nano Banana)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "pi-main-sub-images",
        "name": "SUB: PI Jesus Images",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1568,
          592
        ]
      },
      {
        "parameters": {},
        "id": "pi-main-merge",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1840,
          496
        ],
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "jsCode": "const allItems = $input.all();\n\n// Encontra os itens (com fallback seguro para não quebrar)\nconst hookData = allItems.find(i => i.json.hookReady) || { json: {} };\nconst imageData = allItems.find(i => i.json.imagesReady) || { json: {} };\n\n// RESGATE DOS DADOS PERDIDOS:\n// Como o Google Drive apagou os textos do JSON, vamos buscar lá do nó original\nlet originalData = {};\ntry {\n  // Troque \"Set Config PI\" pelo nome exato do nó onde o Gemini montou os dados\n  originalData = $('Parse Concept').first().json; \n} catch(e) {\n  // Se não achar o nó, o workflow não trava\n}\n\nconst videoId = imageData.json.videoId || hookData.json.videoId || originalData.videoId || 'PI_unknown';\n\nreturn [{\n  json: {\n    videoId: videoId,\n    titulo: imageData.json.titulo || originalData.titulo || '',\n    descricao: imageData.json.descricao || originalData.descricao || '',\n    hashtags: imageData.json.hashtags || originalData.hashtags || [],\n    narracao: imageData.json.narracao || originalData.narracao || '',\n    ctaText: imageData.json.ctaText || originalData.ctaText || '',\n    watermark: imageData.json.watermark || originalData.watermark || '',\n    hookVideoUrl: hookData.json.hookVideoUrl || '',\n    images: imageData.json.images || [],\n    GOOGLE_AI_API_KEY: imageData.json.GOOGLE_AI_API_KEY || originalData.GOOGLE_AI_API_KEY || '',\n    frase_hook:  imageData.json.frase_hook  || originalData.frase_hook  || '',\n    frase_jesus: imageData.json.frase_jesus || originalData.frase_jesus || ''\n  }\n}];"
        },
        "id": "pi-main-format",
        "name": "Format PI Inputs",
        "type": "n8n-nodes-base.code",
        "position": [
          2112,
          496
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar data = $input.first().json;\nvar videoId    = data.videoId;\nvar hookUrl    = data.hookVideoUrl;\nvar images     = (data.images || []).sort(function(a,b){ return (a.numero||0)-(b.numero||0); });\nvar ctaText    = data.ctaText   || '';\nvar titulo     = data.titulo    || '';\nvar fraseHook  = data.frase_hook  || '';\nvar fraseJesus = data.frase_jesus || '';\nvar watermark  = data.watermark   || '';\n\nif (!hookUrl)       throw new Error('No hookVideoUrl');\nif (!images.length) throw new Error('No images');\n\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2024/02/27/audio_6d33c54bfa.mp3',\n  'https://cdn.pixabay.com/audio/2022/10/30/audio_0b4c6ed258.mp3'\n];\nvar musicUrl = MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)];\nvar SFX_URL = 'https://cdn.pixabay.com/audio/2022/03/24/audio_51d815d29b.mp3';\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// ── Fonts ─────────────────────────────────────────────────────────────────\nvar fontPath   = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nvar cinzelPath = '/home/node/.n8n/temp/Cinzel-Bold.ttf';\nif (!fs2.existsSync(fontPath)) {\n  await download('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Bold.ttf', fontPath);\n}\nif (!fs2.existsSync(cinzelPath)) {\n  await download('https://github.com/google/fonts/raw/main/ofl/cinzel/static/Cinzel-Bold.ttf', cinzelPath);\n}\n\n// ── Download assets ───────────────────────────────────────────────────────\nvar hookRaw   = tempDir + '/hook_raw.mp4';\nvar musicFile = tempDir + '/music.mp3';\nvar sfxFile   = tempDir + '/sfx.mp3';\nawait download(hookUrl,  hookRaw);\nawait download(musicUrl, musicFile);\nvar sfxOk = false;\ntry { await download(SFX_URL, sfxFile); sfxOk = true; } catch(e) { console.log('SFX skip:', e.message); }\n\nvar imgFiles = [];\nfor (var i = 0; i < images.length; i++) {\n  var imgFile = tempDir + '/img_' + String(i+1).padStart(2,'0') + '.jpg';\n  await download(images[i].url, imgFile);\n  imgFiles.push(imgFile);\n}\n\n// ── Step 0: Hook — zoom in + color grade escuro/dessaturado ───────────────\nvar hookFile = tempDir + '/hook.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -i \"' + hookRaw + '\"' +\n  ' -vf \"zoompan=z=\\'1+0.25*(time/4)\\':x=\\'iw/2-(iw/zoom/2)\\':y=\\'ih/2-(ih/zoom/2)\\':d=1:fps=25:s=1080x1920' +\n  ',eq=saturation=0.6:brightness=-0.08,format=yuv420p\"' +\n  ' -c:v libx264 -preset veryfast -crf 23 \"' + hookFile + '\"',\n  { timeout: 90000 }\n);\n\n// ── Step 1: Ken Burns — 3 variantes rotativas + warm grade ───────────────\n// 0: zoom-in suave (devocional)\n// 1: zoom-out dramático (revelação)\n// 2: zoom-in celestial pelo topo (perspectiva divina)\nvar KB_VARIANTS = [\n  { z: 'min(zoom+0.0010,1.3)', x: 'iw/2-(iw/zoom/2)', y: 'ih/2-(ih/zoom/2)' },\n  { z: 'if(lte(zoom,1.0),1.5,max(1.0,zoom-0.0025))', x: 'iw/2-(iw/zoom/2)', y: 'ih/2-(ih/zoom/2)' },\n  { z: 'min(zoom+0.0012,1.3)', x: 'iw/2-(iw/zoom/2)', y: '0' }\n];\n\nvar kenBurnsClips = [];\nfor (var ki = 0; ki < imgFiles.length; ki++) {\n  var kbFile = tempDir + '/kb_' + String(ki+1).padStart(2,'0') + '.mp4';\n  var kbv = KB_VARIANTS[ki % 3];\n  childProcess.execSync(\n    'ffmpeg -y -loop 1 -i \"' + imgFiles[ki] + '\"' +\n    ' -vf \"scale=2160:3840' +\n    ',zoompan=z=\\'' + kbv.z + '\\':x=\\'' + kbv.x + '\\':y=\\'' + kbv.y + '\\':d=75:fps=25:s=1080x1920' +\n    ',colorbalance=rs=0.15:gs=0.05:bs=-0.10:rm=0.10:gm=0.03:bm=-0.08' +\n    ',format=yuv420p\"' +\n    ' -t 3 -c:v libx264 -preset veryfast -r 25 \"' + kbFile + '\"',\n    { timeout: 120000 }\n  );\n  kenBurnsClips.push(kbFile);\n}\n\n// ── Step 2: Crossfade 0.7s ────────────────────────────────────────────────\nvar FADE = 0.7;\nvar CLIP_DUR = 3.0;\nvar editConcat, editDuration;\nif (kenBurnsClips.length === 1) {\n  editConcat = kenBurnsClips[0];\n  editDuration = CLIP_DUR;\n} else {\n  var kbInputs = kenBurnsClips.map(function(f) { return '-i \"' + f + '\"'; }).join(' ');\n  var filterParts = [];\n  var prevLabel = '[0:v]';\n  for (var fi = 1; fi < kenBurnsClips.length; fi++) {\n    var offset = (fi * CLIP_DUR - fi * FADE).toFixed(2);\n    var outLabel = fi === kenBurnsClips.length - 1 ? '[edit]' : '[xf' + fi + ']';\n    filterParts.push(prevLabel + '[' + fi + ':v]xfade=transition=fade:duration=' + FADE + ':offset=' + offset + outLabel);\n    prevLabel = outLabel;\n  }\n  editConcat = tempDir + '/edit.mp4';\n  editDuration = kenBurnsClips.length * CLIP_DUR - (kenBurnsClips.length - 1) * FADE;\n  childProcess.execSync(\n    'ffmpeg -y ' + kbInputs +\n    ' -filter_complex \"' + filterParts.join(';') + '\"' +\n    ' -map \"[edit]\" -c:v libx264 -preset veryfast -crf 23 -r 25 \"' + editConcat + '\"',\n    { timeout: 300000 }\n  );\n}\n\n// ── Step 3: Concat hook + edit ────────────────────────────────────────────\nvar concatList = tempDir + '/concat_pi.txt';\nfs2.writeFileSync(concatList, \"file '\" + hookFile + \"'\\nfile '\" + editConcat + \"'\");\nvar fullVideo = tempDir + '/full.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\"' +\n  ' -c:v libx264 -preset veryfast -crf 23 -vf scale=1080:1920:flags=lanczos -an \"' + fullVideo + '\"',\n  { timeout: 300000 }\n);\n\n// ── Step 4: Overlays + música + SFX + fade out ────────────────────────────\nfunction escapeDrawtext(str) {\n  return (str || '').replace(/\\\\/g,'').replace(/'/g,'\\u2019').replace(/:/g,' -').replace(/[\\[\\]%]/g,'').replace(/\\s{2,}/g,' ').trim();\n}\nfunction splitIntoLines(text, maxChars) {\n  var t = escapeDrawtext(text || '');\n  if (t.length <= maxChars) return [t, ''];\n  var words = t.split(' ');\n  var line1 = '';\n  var line2 = '';\n  for (var wi = 0; wi < words.length; wi++) {\n    var candidate = line1 ? line1 + ' ' + words[wi] : words[wi];\n    if (candidate.length <= maxChars) { line1 = candidate; }\n    else { line2 = words.slice(wi).join(' '); break; }\n  }\n  return [line1, line2];\n}\n\nvar hookLines  = splitIntoLines(fraseHook,  22);\nvar jesusLines = splitIntoLines(fraseJesus, 30);\n\nvar HOOK_DUR  = 3;\nvar CTA_DUR   = 4;\nvar ctaStart  = (HOOK_DUR + editDuration - CTA_DUR).toFixed(2);\nvar totalDur  = HOOK_DUR + editDuration;\nvar fadeOutSt = (totalDur - 1.2).toFixed(2);\n\nvar vfFilters = [];\n\n// Vinheta nas bordas durante hook (0-3s)\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih*0.12:color=black@0.5:t=fill:enable='between(t,0,3)'\");\nvfFilters.push(\"drawbox=x=0:y=ih*0.88:w=iw:h=ih*0.12:color=black@0.5:t=fill:enable='between(t,0,3)'\");\nvfFilters.push(\"drawbox=x=0:y=0:w=iw*0.08:h=ih:color=black@0.3:t=fill:enable='between(t,0,3)'\");\nvfFilters.push(\"drawbox=x=iw*0.92:y=0:w=iw*0.08:h=ih:color=black@0.3:t=fill:enable='between(t,0,3)'\");\n\n// frase_hook — lower third (0-3s, Roboto, fade)\nif (hookLines[0]) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + hookLines[0] + '\\'' +\n  ':fontsize=68:fontcolor=white:bordercolor=black@0.8:borderw=5' +\n  ':x=(w-text_w)/2' +\n  ':y=' + (hookLines[1] ? '(h*74)/100' : '(h*78)/100') +\n  ':alpha=\\'if(lt(t\\\\,0.5)\\\\,t/0.5\\\\,if(gt(t\\\\,2.5)\\\\,(3-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,0\\\\,3)\\''\n);\nif (hookLines[1]) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + hookLines[1] + '\\'' +\n  ':fontsize=68:fontcolor=white:bordercolor=black@0.8:borderw=5' +\n  ':x=(w-text_w)/2:y=(h*74)/100+80' +\n  ':alpha=\\'if(lt(t\\\\,0.5)\\\\,t/0.5\\\\,if(gt(t\\\\,2.5)\\\\,(3-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,0\\\\,3)\\''\n);\n\n// Flash branco na transicao t=3\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih:color=white@0.85:t=fill:enable='between(t,3,3.1)'\");\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih:color=white@0.55:t=fill:enable='between(t,3.1,3.2)'\");\nvfFilters.push(\"drawbox=x=0:y=0:w=iw:h=ih:color=white@0.25:t=fill:enable='between(t,3.2,3.3)'\");\n\n// frase_jesus — topo (3-7s, Cinzel, fade)\nif (jesusLines[0]) vfFilters.push(\n  'drawtext=fontfile=' + cinzelPath +\n  ':text=\\'' + jesusLines[0] + '\\'' +\n  ':fontsize=52:fontcolor=white:bordercolor=black@0.8:borderw=3' +\n  ':x=(w-text_w)/2' +\n  ':y=' + (jesusLines[1] ? '(h*10)/100' : '(h*11)/100') +\n  ':alpha=\\'if(lt(t\\\\,3.5)\\\\,(t-3)/0.5\\\\,if(gt(t\\\\,6.5)\\\\,(7-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,3\\\\,7)\\''\n);\nif (jesusLines[1]) vfFilters.push(\n  'drawtext=fontfile=' + cinzelPath +\n  ':text=\\'' + jesusLines[1] + '\\'' +\n  ':fontsize=52:fontcolor=white:bordercolor=black@0.8:borderw=3' +\n  ':x=(w-text_w)/2:y=(h*10)/100+64' +\n  ':alpha=\\'if(lt(t\\\\,3.5)\\\\,(t-3)/0.5\\\\,if(gt(t\\\\,6.5)\\\\,(7-t)/0.5\\\\,1))\\'' +\n  ':enable=\\'between(t\\\\,3\\\\,7)\\''\n);\n\n// Watermark — canto inferior direito durante edit (após hook)\nif (watermark) vfFilters.push(\n  'drawtext=fontfile=' + fontPath +\n  ':text=\\'' + escapeDrawtext(watermark) + '\\'' +\n  ':fontsize=28:fontcolor=white@0.45:bordercolor=black@0.3:borderw=2' +\n  ':x=(w-text_w)-30:y=(h-text_h)-60' +\n  ':enable=\\'gte(t\\\\,3)\\''\n);\n\n// CTA amarelo — ultimos 4s\nvar ctaWords = (ctaText || 'Me siga para nao perder sua bencao').trim().split(/\\s+/);\nvar mid = Math.ceil(ctaWords.length / 2);\nvar cta1 = escapeDrawtext(ctaWords.slice(0, mid).join(' '));\nvar cta2 = escapeDrawtext(ctaWords.slice(mid).join(' '));\nvar ctaEn = 'gte(t,' + ctaStart + ')';\nif (cta1) vfFilters.push(\n  'drawtext=fontfile=' + fontPath + ':text=\\'' + cta1 + '\\'' +\n  ':fontsize=62:fontcolor=#FFD700:bordercolor=black@1.0:borderw=6' +\n  ':box=1:boxcolor=black@0.70:boxborderw=18' +\n  ':x=(w-text_w)/2:y=(h*15)/100:enable=\\'' + ctaEn + '\\''\n);\nif (cta2) vfFilters.push(\n  'drawtext=fontfile=' + fontPath + ':text=\\'' + cta2 + '\\'' +\n  ':fontsize=62:fontcolor=#FFD700:bordercolor=black@1.0:borderw=6' +\n  ':box=1:boxcolor=black@0.70:boxborderw=18' +\n  ':x=(w-text_w)/2:y=(h*15)/100+80:enable=\\'' + ctaEn + '\\''\n);\n\nvar vfChain = vfFilters.length ? vfFilters.join(',') : 'null';\nvar sfxDelay = HOOK_DUR * 1000;\nvar filterComplex, extraInput;\nif (sfxOk) {\n  filterComplex =\n    '[0:v]' + vfChain + '[v];' +\n    '[1:a]volume=0.25[music];' +\n    '[2:a]adelay=' + sfxDelay + '|' + sfxDelay + ',volume=2.5[sfx];' +\n    '[music][sfx]amix=inputs=2:duration=first:dropout_transition=2,' +\n    'afade=t=out:st=' + fadeOutSt + ':d=1.0[aout]';\n  extraInput = ' -stream_loop -1 -i \"' + musicFile + '\" -i \"' + sfxFile + '\"';\n} else {\n  filterComplex =\n    '[0:v]' + vfChain + '[v];' +\n    '[1:a]volume=0.25,afade=t=out:st=' + fadeOutSt + ':d=1.0[aout]';\n  extraInput = ' -stream_loop -1 -i \"' + musicFile + '\"';\n}\n\nvar finalVideo = tempDir + '/final_pi.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -i \"' + fullVideo + '\"' + extraInput +\n  ' -filter_complex \"' + filterComplex + '\"' +\n  ' -map \"[v]\" -map \"[aout]\"' +\n  ' -c:v libx264 -preset veryfast -crf 25' +\n  ' -c:a aac -b:a 128k -shortest \"' + finalVideo + '\"',\n  { timeout: 300000 }\n);\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    localPath: finalVideo,\n    titulo: titulo,\n    descricao: data.descricao || '',\n    hashtags:  data.hashtags  || [],\n    narracao:  data.narracao  || '',\n    fileName:  videoId + '_pi.mp4'\n  },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: videoId + '_pi.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];\n"
        },
        "id": "pi-main-ffmpeg",
        "name": "FFmpeg: PI Assembly",
        "type": "n8n-nodes-base.code",
        "position": [
          2368,
          496
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "name": "={{ $json.fileName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "id": "pi-main-drive-upload",
        "name": "Drive: Upload PI Video",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2624,
          496
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "HN60vRphPZY9kxN2",
            "name": "Luccapavanallo"
          }
        }
      },
      {
        "parameters": {
          "operation": "share",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "permissionsUi": {
            "permissionsValues": {
              "role": "reader",
              "type": "anyone"
            }
          },
          "options": {}
        },
        "id": "pi-main-drive-share",
        "name": "Drive: Share PI Video Publicly",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2864,
          496
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "HN60vRphPZY9kxN2",
            "name": "Luccapavanallo"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Pegamos os dados de texto do nó 'Parse Concept'\nconst conceptData = $(\"Parse Concept\").first().json;\n\n// 2. Pegamos os dados do arquivo que acabou de ser subido no Drive\n// (Usando o Upload em vez do Share para evitar o \"anyoneWithLink\")\nconst driveUpload = $(\"Drive: Upload PI Video\").first().json; \n\n// 3. Montamos a URL de download direto\nconst fileUrl = 'https://drive.google.com/uc?export=download&id=' + driveUpload.id;\n\nreturn [{\n  json: {\n    videoId: conceptData.videoId || 'PI_unknown',\n    renderUrl: fileUrl,\n    driveId: driveUpload.id,\n    titulo: conceptData.titulo || '', // <-- Título adicionado aqui\n    descricao: conceptData.descricao || '',\n    hashtags: conceptData.hashtags || [],\n    narracao: conceptData.narracao || '',\n    tema_jesus: conceptData.tema_jesus || '',\n    versiculo: conceptData.versiculo || '',\n    status: 'pi_ready'\n  }\n}];"
        },
        "id": "pi-main-parse-output",
        "name": "Parse PI Output",
        "type": "n8n-nodes-base.code",
        "position": [
          3072,
          496
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "SKUBGveT9qeXFNEW",
            "mode": "list",
            "cachedResultUrl": "/workflow/SKUBGveT9qeXFNEW",
            "cachedResultName": "SUB: Publishing (YouTube + Instagram + TikTok)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "pi-main-publish",
        "name": "SUB: Publicacao",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3296,
          496
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set Config PI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger (Manual)": {
        "main": [
          [
            {
              "node": "Set Config PI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Config PI": {
        "main": [
          [
            {
              "node": "Select Category",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Edit Concept (Gemini)": {
        "main": [
          [
            {
              "node": "Parse Concept",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Concept": {
        "main": [
          [
            {
              "node": "SUB: PI Hook Video",
              "type": "main",
              "index": 0
            },
            {
              "node": "SUB: PI Jesus Images",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SUB: PI Hook Video": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SUB: PI Jesus Images": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Format PI Inputs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format PI Inputs": {
        "main": [
          [
            {
              "node": "FFmpeg: PI Assembly",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FFmpeg: PI Assembly": {
        "main": [
          [
            {
              "node": "Drive: Upload PI Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive: Upload PI Video": {
        "main": [
          [
            {
              "node": "Drive: Share PI Video Publicly",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive: Share PI Video Publicly": {
        "main": [
          [
            {
              "node": "Parse PI Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse PI Output": {
        "main": [
          [
            {
              "node": "SUB: Publicacao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Category": {
        "main": [
          [
            {
              "node": "Generate Edit Concept (Gemini)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lucca Pavanello",
    "name": "Version 1bf4562c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-23T01:57:47.271Z",
        "id": 1893,
        "workflowId": "kFRpZ9ku3BcqePAn",
        "versionId": "1bf4562c-9c6d-430d-b22b-79419287c0ee",
        "event": "activated",
        "userId": "33d3d99a-4632-422b-96df-7e793f9c30f5"
      }
    ]
  }
}