wf_sheets_temas.json
{
  "updatedAt": "2026-03-21T02:22:36.577Z",
  "createdAt": "2026-03-18T11:41:18.499Z",
  "id": "zloYjCYLVf6BWhF9",
  "name": "Nicho Cristão - Video Automation (Main)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,12,16,20 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-videos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger (Manual)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        112,
        512
      ],
      "webhookId": "bcb7a08d-edad-4124-a768-a2eb5a2b301b",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0dc7e96-ff37-4515-88de-66716147b48e",
              "name": "ELEVENLABS_API_KEY",
              "value": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
              "type": "string"
            },
            {
              "id": "b9716884-11d3-4664-a216-1864f1f0e042",
              "name": "GOOGLE_AI_API_KEY",
              "value": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
              "type": "string"
            },
            {
              "id": "cfg-videos",
              "name": "VIDEOS_PER_RUN",
              "value": "1",
              "type": "string"
            },
            {
              "id": "cfg-publish",
              "name": "AUTO_PUBLISH",
              "value": "false",
              "type": "string"
            },
            {
              "id": "cfg-output",
              "name": "OUTPUT_DIR",
              "value": "/data/output",
              "type": "string"
            },
            {
              "id": "cfg-temp",
              "name": "TEMP_DIR",
              "value": "/data/temp",
              "type": "string"
            },
            {
              "id": "cfg-assets",
              "name": "ASSETS_DIR",
              "value": "/data/assets",
              "type": "string"
            },
            {
              "id": "cfg-scripts",
              "name": "SCRIPTS_DIR",
              "value": "/data/scripts",
              "type": "string"
            },
            {
              "id": "cfg-runid",
              "name": "RUN_ID",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.GOOGLE_AI_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere {{ $json.VIDEOS_PER_RUN }} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais, n crie conteudos sobre o tanque de besteda{{ $json.temasUsadosStr }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-generate-topics",
      "name": "Generate Topics (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        400
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        992,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"
      },
      "id": "node-parse-output",
      "name": "Parse Assembly Output",
      "type": "n8n-nodes-base.code",
      "position": [
        2064,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Set Config').first().json.AUTO_PUBLISH }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "node-publish-gate",
      "name": "Auto Publish?",
      "type": "n8n-nodes-base.if",
      "position": [
        2096,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"
      },
      "id": "node-save-metadata",
      "name": "Save Metadata",
      "type": "n8n-nodes-base.code",
      "position": [
        2320,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"
      },
      "id": "node-batch-summary",
      "name": "Batch Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        1216,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1440,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $input.first();\nvar cfg = $node['Set Config'].json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\nif (topics.length === 0) throw new Error('Gemini returned 0 topics. Verifique o prompt.');\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\nreturn topics.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus:  topic.milagre_de_jesus,\n      versiculo_base:    topic.versiculo_base,\n      gancho_inicial:    topic.gancho_inicial,\n      palavras_chave:    topic.palavras_chave,\n      categoria:         topic.categoria,\n      runId:             runId,\n      topicIndex:        i + 1,\n      videoId:           runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});"
      },
      "id": "42837a21-883f-49dc-a020-31f0d74723bc",
      "name": "Parse Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        400
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        576
      ],
      "id": "2f548ed5-96d2-4334-a850-362880d8334f",
      "name": "Merge",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9tlW8BErnLH1ujOS",
          "mode": "list",
          "cachedResultUrl": "/workflow/9tlW8BErnLH1ujOS",
          "cachedResultName": "SUB: Content Generation (Gemini)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1216,
        480
      ],
      "id": "e10468b0-fbb1-47e4-8692-817538019ff9",
      "name": "Sub: Generate Content"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VttkyR0BTetRiXbc",
          "mode": "list",
          "cachedResultUrl": "/workflow/VttkyR0BTetRiXbc",
          "cachedResultName": "SUB: Audio Generation (ElevenLabs)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1424,
        688
      ],
      "id": "92d0628e-0326-4f00-9817-b3fecedf9afc",
      "name": "SUB: Audio Generation (ElevenLabs)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7gHL7kSAPjd8Dl5q",
          "mode": "list",
          "cachedResultUrl": "/workflow/7gHL7kSAPjd8Dl5q",
          "cachedResultName": "SUB: Video Generation (Google Veo 2)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8eca92f1-e3cc-4bb6-b89c-c7df3e85706c",
      "name": "Sub: Gerar Vídeos",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1424,
        480
      ],
      "typeVersion": 1.3,
      "notes": "Importar sub-image-generation.json separadamente"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SKUBGveT9qeXFNEW",
          "mode": "list",
          "cachedResultUrl": "/workflow/SKUBGveT9qeXFNEW",
          "cachedResultName": "SUB: Publishing (YouTube + Instagram + TikTok)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2368,
        560
      ],
      "id": "f362a56c-921e-49a0-b659-79622e8715db",
      "name": "Sub: Publicação"
    },
    {
      "parameters": {
        "jsCode": "var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar imageData = allItems.find(function(d) { return d.scenes && d.scenes.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\n// Content fields come from audioData (repassed by Confirm Audio Ready)\nvar titulo    = audioData.titulo    || imageData.titulo    || '';\nvar descricao = audioData.descricao || imageData.descricao || '';\nvar hashtags  = audioData.hashtags  || imageData.hashtags  || [];\nvar narracao  = audioData.narracao  || imageData.narracao  || '';\nvar topic     = audioData.topic     || imageData.topic     || {};\nvar ctaText   = audioData.ctaText   || 'Siga e Compartilhe!';\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// Font (cached globally)\nvar fontPath = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nif (!fs2.existsSync(fontPath)) {\n  await download('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Bold.ttf', fontPath);\n}\n\n// Download narration\nvar audioFile = tempDir + '/narration.mp3';\nawait download(audioUrl, audioFile);\n\n// Measure real audio duration now — needed to size CTA correctly\nvar audioDurRaw = childProcess.execSync(\n  'ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"' + audioFile + '\"'\n).toString().trim();\nvar audioDuration = parseFloat(audioDurRaw) || 30;\n\n// Download background music\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3',\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3'\n];\nvar musicFile = tempDir + '/music.mp3';\nawait download(MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)], musicFile);\n\n// Download scene videos\nvar sceneFiles = [];\nfor (var i = 0; i < scenes.length; i++) {\n  var sceneFile = tempDir + '/scene_' + String(i + 1).padStart(2, '0') + '.mp4';\n  await download(scenes[i].url, sceneFile);\n  sceneFiles.push(sceneFile);\n}\n\n// ── Step 1: CTA clip ──────────────────────────────────────────────────────────\n// Source: scene 3 (ACAO_JESUS — most divine visual, avoids repeating scene 4)\n// Duration: audio remainder after 4×6s scenes, min 6s → eliminates loop artifact\nvar scenesDuration = scenes.length * 6; // 24s\nvar ctaDuration = Math.max(Math.ceil(audioDuration - scenesDuration), 6);\nvar ctaSource = sceneFiles[Math.min(2, sceneFiles.length - 1)]; // scene 3 (index 2)\nvar ctaRaw = tempDir + '/cta_raw.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -i \"' + ctaSource + '\" -t ' + ctaDuration +\n  ' -c:v libx264 -preset ultrafast -an \"' + ctaRaw + '\"',\n  { timeout: 60000 }\n);\n\n// ── Step 2: Concat 4 scenes + CTA → full_concat.mp4 ─────────────────────────\n// Re-encode to ensure codec/resolution consistency (1080×1920)\nvar allFiles = sceneFiles.concat([ctaRaw]);\nvar concatList = tempDir + '/concat_full.txt';\nfs2.writeFileSync(concatList, allFiles.map(function(f) { return \"file '\" + f + \"'\"; }).join('\\n'));\nvar fullConcat = tempDir + '/full_concat.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\"' +\n  ' -c:v libx264 -preset veryfast -crf 23' +\n  ' -vf scale=1080:1920:flags=lanczos' +\n  ' -an \"' + fullConcat + '\"',\n  { timeout: 300000 }\n);\n\n// ── Drawtext helpers ──────────────────────────────────────────────────────────\nfunction escapeDrawtext(str) {\n  return (str || '')\n    .replace(/['\"]/g, '')\n    .replace(/:/g,   '')\n    .replace(/[\\[\\]]/g, '')\n    .replace(/%/g,   '')\n    .replace(/,/g,   ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\n// Subtitles: 4 words/line, timing proportional to real audio duration\nfunction buildSubtitleFilters(text, fontP, dur) {\n  if (!text) return [];\n  var words = text.trim().split(/\\s+/);\n  var grpSize = 4;\n  var groups = [];\n  for (var i = 0; i < words.length; i += grpSize) {\n    groups.push(words.slice(i, i + grpSize).join(' '));\n  }\n  var perGroup = dur / groups.length;\n  return groups.map(function(group, idx) {\n    var start = (idx * perGroup).toFixed(2);\n    var end   = Math.min((idx + 1) * perGroup, dur).toFixed(2);\n    return (\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + escapeDrawtext(group) + '\\'' +\n      ':fontsize=56:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':x=(w-text_w)/2:y=h-200' +\n      ':enable=\\'between(t,' + start + ',' + end + ')\\''\n    );\n  });\n}\n\n// CTA text overlay: 2 lines, centered, box only when text is valid\nfunction buildCtaFilters(text, fontP, startTime) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n  var words = cleaned.split(/\\s+/);\n  var mid   = Math.ceil(words.length / 2);\n  var line1 = escapeDrawtext(words.slice(0, mid).join(' '));\n  var line2 = escapeDrawtext(words.slice(mid).join(' '));\n  var en    = 'gte(t,' + startTime + ')';\n  var out   = [];\n  if (line1) out.push(\n    'drawtext=fontfile=' + fontP +\n    ':text=\\'' + line1 + '\\'' +\n    ':fontsize=58:fontcolor=white' +\n    ':bordercolor=black@1.0:borderw=5' +\n    ':box=1:boxcolor=black@0.75:boxborderw=14' +\n    ':x=(w-text_w)/2:y=(h/2)-45' +\n    ':enable=\\'' + en + '\\''\n  );\n  if (line2) out.push(\n    'drawtext=fontfile=' + fontP +\n    ':text=\\'' + line2 + '\\'' +\n    ':fontsize=58:fontcolor=white' +\n    ':bordercolor=black@1.0:borderw=5' +\n    ':box=1:boxcolor=black@0.75:boxborderw=14' +\n    ':x=(w-text_w)/2:y=(h/2)+30' +\n    ':enable=\\'' + en + '\\''\n  );\n  return out;\n}\n\n// ── Step 3: Final assembly ───────────────────────────────────────────────────\nvar allVfFilters = buildSubtitleFilters(narracao, fontPath, audioDuration)\n  .concat(buildCtaFilters(ctaText, fontPath, scenesDuration));\nvar vfChain = allVfFilters.length > 0 ? allVfFilters.join(',') : 'null';\n\nvar filterComplex =\n  '[0:v]' + vfChain + '[v];' +\n  '[1:a]volume=1.0[narr];' +\n  '[2:a]volume=0.20[mus];' +\n  '[narr][mus]amix=inputs=2:duration=first[aout]';\n\nvar finalVideo = tempDir + '/final.mp4';\n// Note: NO stream_loop — full_concat duration ≈ audioDuration, no loop needed\nchildProcess.execSync(\n  'ffmpeg -y' +\n  ' -i \"' + fullConcat + '\"' +\n  ' -i \"' + audioFile + '\"' +\n  ' -stream_loop -1 -i \"' + musicFile + '\"' +\n  ' -filter_complex \"' + filterComplex + '\"' +\n  ' -map \"[v]\" -map \"[aout]\"' +\n  ' -c:v libx264 -preset veryfast -crf 25' +\n  ' -c:a aac -b:a 128k -shortest' +\n  ' \"' + finalVideo + '\"',\n  { timeout: 300000 }\n);\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    localPath: finalVideo,\n    titulo: titulo,\n    descricao: descricao,\n    hashtags: hashtags,\n    narracao: narracao,\n    topic: topic,\n    sceneCount: scenes.length,\n    fileName: videoId + '.mp4'\n  },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: videoId + '.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"
      },
      "id": "node-ffmpeg-assemble",
      "name": "FFmpeg: Assemble Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        576
      ]
    },
    {
      "parameters": {
        "name": "={{ $('FFmpeg: Assemble Video').first().json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "node-drive-upload-final",
      "name": "Drive: Upload Final Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2080,
        352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HN60vRphPZY9kxN2",
          "name": "Luccapavanallo"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "node-drive-share-final",
      "name": "Drive: Share Video Publicly",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2368,
        240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HN60vRphPZY9kxN2",
          "name": "Luccapavanallo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var ffmpegData = $('FFmpeg: Assemble Video').first().json;\nvar uploadData = $('Drive: Upload Final Video').first().json;\nvar fileId = uploadData.id;\nvar renderUrl = 'https://drive.google.com/uc?export=download&id=' + fileId;\nreturn [{\n  json: {\n    videoId: ffmpegData.videoId,\n    renderUrl: renderUrl,\n    renderId: fileId,\n    sceneCount: ffmpegData.sceneCount,\n    titulo: ffmpegData.titulo,\n    descricao: ffmpegData.descricao,\n    hashtags: ffmpegData.hashtags,\n    narracao: ffmpegData.narracao,\n    topic: ffmpegData.topic,\n    status: 'assembled'\n  }\n}];"
      },
      "id": "node-format-assembly-output",
      "name": "Format Assembly Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        592
      ]
    },
    {
      "id": "sheets-ler-temas",
      "name": "Sheets: Ler Temas Usados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        240
      ],
      "parameters": {
        "operation": "getRows",
        "documentId": {
          "__rl": true,
          "value": "COLE_O_ID_DA_PLANILHA_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Temas",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "agregar-temas",
      "name": "Agregar Temas Usados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        240
      ],
      "parameters": {
        "jsCode": "// Pega config do Set Config\nconst cfg = $node['Set Config'].json;\n\n// Coleta todos os temas já registrados na planilha\nconst allItems = $input.all();\nconst temasUsados = allItems\n  .map(item => item.json['Tema'] || item.json['tema'] || '')\n  .filter(t => String(t).trim().length > 0);\n\nconst temasUsadosStr = temasUsados.length > 0\n  ? '\\n\\nTEMAS JÁ PRODUZIDOS (NÃO REPITA NENHUM DESTES):\\n'\n    + temasUsados.map((t, i) => (i + 1) + '. ' + t).join('\\n')\n  : '';\n\nreturn [{ json: { ...cfg, temasUsados, temasUsadosStr } }];"
      }
    },
    {
      "id": "sheets-salvar-temas",
      "name": "Sheets: Salvar Novos Temas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        560
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "COLE_O_ID_DA_PLANILHA_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Temas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $json.milagre_de_jesus }}",
            "Data": "={{ $now.toFormat(\"yyyy-MM-dd\") }}",
            "RunID": "={{ $json.runId }}",
            "Versiculo": "={{ $json.versiculo_base }}",
            "Categoria": "={{ $json.categoria }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Manual)": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Sheets: Ler Temas Usados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topics": {
      "main": [
        [
          {
            "node": "Sheets: Salvar Novos Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sub: Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Assembly Output": {
      "main": [
        [
          {
            "node": "Sub: Publicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Publish?": {
      "main": [
        [
          {
            "node": "Save Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Metadata": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Summary": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Topics (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "FFmpeg: Assemble Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub: Generate Content": {
      "main": [
        [
          {
            "node": "SUB: Audio Generation (ElevenLabs)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sub: Gerar Vídeos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUB: Audio Generation (ElevenLabs)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sub: Gerar Vídeos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: Assemble Video": {
      "main": [
        [
          {
            "node": "Drive: Upload Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Upload Final Video": {
      "main": [
        [
          {
            "node": "Drive: Share Video Publicly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Share Video Publicly": {
      "main": [
        [
          {
            "node": "Format Assembly Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Assembly Output": {
      "main": [
        [
          {
            "node": "Parse Assembly Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Ler Temas Usados": {
      "main": [
        [
          {
            "node": "Agregar Temas Usados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Temas Usados": {
      "main": [
        [
          {
            "node": "Generate Topics (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Salvar Novos Temas": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/Sao_Paulo",
    "availableInMCP": false,
    "executionTimeout": -1
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "usedTopics": [
        "Cura do paralítico",
        "Acalma a tempestade",
        "Parábola do Bom Samaritano",
        "Ressurreição de Lázaro",
        "Amai os vossos inimigos",
        "O milagre no tanque de Betesda",
        "A restauração do homem no tanque de Betesda",
        "A cura do homem no tanque de Betesda",
        "A volta à vida do amigo amado"
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Sub: Generate Videos/Images1": [
      {
        "json": {
          "videoId": "20260319-111338_video_01",
          "totalScenes": 5,
          "scenes": [
            {
              "numero": 1,
              "duracao": 5,
              "url": "https://drive.google.com/uc?id=1xSf_E-_0NeGC5VHn6kLE5Yy4JQtodp8t&export=download",
              "status": "scene_ready"
            },
            {
              "numero": 2,
              "duracao": 6,
              "url": "https://drive.google.com/uc?id=1J2idfNiudIiHrNhIEnHRly_qmK7xBIYL&export=download",
              "status": "scene_ready"
            },
            {
              "numero": 3,
              "duracao": 5,
              "url": "https://drive.google.com/uc?id=16zKJmcrsgMFbpuXbXFEpzYqvKmU2FqkA&export=download",
              "status": "scene_ready"
            },
            {
              "numero": 4,
              "duracao": 6,
              "url": "https://drive.google.com/uc?id=1UBhKviZgT1MEkJw9BeaJjA9Q2jRvHreO&export=download",
              "status": "scene_ready"
            },
            {
              "numero": 5,
              "duracao": 6,
              "url": "https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download",
              "status": "scene_ready"
            }
          ],
          "status": "all_scenes_ready"
        }
      }
    ],
    "Prepare Topic Context": [
      {
        "json": {
          "timestamp": "2026-03-20T11:17:56.932-03:00",
          "Readable date": "March 20th 2026, 11:17:56 am",
          "Readable time": "11:17:56 am",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "20",
          "Hour": "11",
          "Minute": "17",
          "Second": "56",
          "Timezone": "America/Sao_Paulo (UTC-03:00)",
          "ELEVENLABS_API_KEY": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
          "GOOGLE_AI_API_KEY": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
          "VIDEOS_PER_RUN": "1",
          "AUTO_PUBLISH": "false",
          "OUTPUT_DIR": "/data/output",
          "TEMP_DIR": "/data/temp",
          "ASSETS_DIR": "/data/assets",
          "SCRIPTS_DIR": "/data/scripts",
          "RUN_ID": "20260320-111756",
          "geminiBody": "{\"contents\":[{\"parts\":[{\"text\":\"Você é um especialista em conteúdo cristão viral. Gere 1 tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O gancho_inicial deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: Após X anos..., Em apenas 3 dias..., No momento em que...\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: Jesus curou o homem doente (entrega tudo)\\n- Exemplos BONS: Após 38 anos esperando..., Quando tudo parecia perdido...\\n- PT-BR correto e natural, sem erros gramaticais\\n\\nTÓPICOS JÁ USADOS — NÃO REPITA NENHUM DELES (gere temas completamente diferentes):\\nnenhum ainda\"}]}],\"generationConfig\":{\"temperature\":0.8,\"maxOutputTokens\":8192,\"responseMimeType\":\"application/json\"}}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "2b3e48d3-c168-4817-859d-d8757a14f8d1",
  "activeVersionId": "4688722f-d96c-4073-bcdc-de190ad98963",
  "versionCounter": 443,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-18T11:41:18.503Z",
      "createdAt": "2026-03-18T11:41:18.503Z",
      "role": "workflow:owner",
      "workflowId": "zloYjCYLVf6BWhF9",
      "projectId": "lSmAYRY2Zk1SmuDH",
      "project": {
        "updatedAt": "2026-02-23T16:22:49.206Z",
        "createdAt": "2025-12-30T20:02:49.088Z",
        "id": "lSmAYRY2Zk1SmuDH",
        "name": "Lucca Pavanello <luccapavanallo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "33d3d99a-4632-422b-96df-7e793f9c30f5"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T21:20:45.404Z",
    "createdAt": "2026-03-20T21:20:45.404Z",
    "versionId": "4688722f-d96c-4073-bcdc-de190ad98963",
    "workflowId": "zloYjCYLVf6BWhF9",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8,12,16,20 * * *"
              }
            ]
          }
        },
        "id": "node-schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          112,
          304
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-videos",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "node-webhook-trigger",
        "name": "Webhook Trigger (Manual)",
        "type": "n8n-nodes-base.webhook",
        "position": [
          112,
          512
        ],
        "webhookId": "bcb7a08d-edad-4124-a768-a2eb5a2b301b",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f0dc7e96-ff37-4515-88de-66716147b48e",
                "name": "ELEVENLABS_API_KEY",
                "value": "7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d",
                "type": "string"
              },
              {
                "id": "b9716884-11d3-4664-a216-1864f1f0e042",
                "name": "GOOGLE_AI_API_KEY",
                "value": "AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c",
                "type": "string"
              },
              {
                "id": "cfg-videos",
                "name": "VIDEOS_PER_RUN",
                "value": "1",
                "type": "string"
              },
              {
                "id": "cfg-publish",
                "name": "AUTO_PUBLISH",
                "value": "false",
                "type": "string"
              },
              {
                "id": "cfg-output",
                "name": "OUTPUT_DIR",
                "value": "/data/output",
                "type": "string"
              },
              {
                "id": "cfg-temp",
                "name": "TEMP_DIR",
                "value": "/data/temp",
                "type": "string"
              },
              {
                "id": "cfg-assets",
                "name": "ASSETS_DIR",
                "value": "/data/assets",
                "type": "string"
              },
              {
                "id": "cfg-scripts",
                "name": "SCRIPTS_DIR",
                "value": "/data/scripts",
                "type": "string"
              },
              {
                "id": "cfg-runid",
                "name": "RUN_ID",
                "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "node-set-config",
        "name": "Set Config",
        "type": "n8n-nodes-base.set",
        "position": [
          320,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $json.GOOGLE_AI_API_KEY }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um especialista em conteúdo cristão viral. Gere {{ $json.VIDEOS_PER_RUN }} tópicos únicos e variados em JSON para vídeos curtos sobre milagres e ensinamentos de Jesus. Responda APENAS com um array JSON, sem texto antes ou depois. Cada objeto deve ter: milagre_de_jesus (string), versiculo_base (string), gancho_inicial (frase impactante 3s), palavras_chave (array strings), categoria (milagre_cura|milagre_natureza|ensinamento|ressurreicao|parabola).\\n\\nREGRAS DE SEGURANÇA E SINCRONIA:\\n1. CENSURA: NÃO use termos médicos ou nomes de deficiências (ex: paralítico, cego, leproso) nos títulos, ganchos ou palavras-chave para evitar bloqueios nas IAs de vídeo. Substitua por termos poéticos (ex: homem doente, buscando a luz, precisando de ajuda, cura divina).\\n2. TEMPO: O 'gancho_inicial' deve ser curto o suficiente para caber em exatamente 3 segundos de áudio (MÁXIMO de 6 a 8 palavras).\\n3. GANCHO INICIAL (máx 8 palavras, causa CURIOSIDADE):\\n- Use tensão temporal: \\\"Após X anos...\\\", \\\"Em apenas 3 dias...\\\", \\\"No momento em que...\\\"\\n- Nunca revele o resultado no gancho — crie suspense\\n- Exemplos RUINS: \\\"Jesus curou o homem doente\\\" (entrega tudo)\\n- Exemplos BONS: \\\"Após 38 anos esperando...\\\", \\\"Quando tudo parecia perdido...\\\"\\n- PT-BR correto e natural, sem erros gramaticais, n crie conteudos sobre o tanque de besteda\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "node-generate-topics",
        "name": "Generate Topics (Gemini)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          560,
          400
        ],
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "node-split-batches",
        "name": "Split In Batches",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          992,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "var data = $input.first().json;\nif (!data.renderUrl) throw new Error('Missing renderUrl from Creatomate assembly');\nreturn [{\n  json: {\n    videoId: data.videoId,\n    outputPath: data.renderUrl,\n    renderUrl: data.renderUrl,\n    renderId: data.renderId,\n    titulo: data.titulo,\n    descricao: data.descricao,\n    hashtags: data.hashtags,\n    narracao: data.narracao,\n    topic: data.topic,\n    sceneCount: data.sceneCount,\n    status: 'ready_to_publish'\n  }\n}];"
        },
        "id": "node-parse-output",
        "name": "Parse Assembly Output",
        "type": "n8n-nodes-base.code",
        "position": [
          2064,
          576
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Set Config').first().json.AUTO_PUBLISH }}",
                "operation": "equals",
                "value2": "true"
              }
            ]
          },
          "options": {}
        },
        "id": "node-publish-gate",
        "name": "Auto Publish?",
        "type": "n8n-nodes-base.if",
        "position": [
          2256,
          784
        ]
      },
      {
        "parameters": {
          "jsCode": "var fs = require('fs');\nvar data = $input.first().json;\nvar videoId = data.videoId;\n\nvar outputDir = '/home/node/.n8n/output/' + videoId;\nfs.mkdirSync(outputDir, { recursive: true });\n\nvar metadata = {\n  videoId: videoId,\n  titulo: data.titulo,\n  descricao: data.descricao,\n  hashtags: data.hashtags,\n  outputPath: data.outputPath,\n  publishResults: data.publishResults || null,\n  platforms: data.platforms || [],\n  publishedAt: data.publishedAt || null,\n  savedAt: new Date().toISOString(),\n  status: data.status || 'completed'\n};\n\nvar metaPath = outputDir + '/metadata.json';\nfs.writeFileSync(metaPath, JSON.stringify(metadata, null, 2));\n\nreturn [{\n  json: {\n    videoId: videoId,\n    metadataPath: metaPath,\n    status: 'saved'\n  }\n}];"
        },
        "id": "node-save-metadata",
        "name": "Save Metadata",
        "type": "n8n-nodes-base.code",
        "position": [
          2592,
          768
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "var items = $input.all();\nvar count = items.length;\nvar videoIds = items.map(function(item) { return item.json.videoId; }).filter(Boolean);\n\nreturn [{\n  json: {\n    batchComplete: true,\n    totalVideosProcessed: count,\n    videoIds: videoIds,\n    completedAt: new Date().toISOString(),\n    message: 'Batch done: ' + count + ' video(s) processed'\n  }\n}];"
        },
        "id": "node-batch-summary",
        "name": "Batch Summary",
        "type": "n8n-nodes-base.code",
        "position": [
          1216,
          304
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "node-webhook-response",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          1440,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $input.first();\nvar cfg = $('Set Config').first().json;\n\nvar candidates = response.json.candidates;\nvar text = (candidates && candidates[0] && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0])\n  ? candidates[0].content.parts[0].text : '';\n\nif (!text) throw new Error('Gemini returned no topics content');\n\nvar clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar topics;\ntry {\n  topics = JSON.parse(clean);\n} catch(e) {\n  var match = clean.match(/\\[[\\s\\S]*\\]/);\n  if (match) { topics = JSON.parse(match[0]); }\n  else throw new Error('Invalid JSON from Gemini: ' + clean.substring(0, 200));\n}\n\nif (!Array.isArray(topics)) throw new Error('Not an array: ' + typeof topics);\n\n// Deduplication via workflow static data\nvar store = $getWorkflowStaticData('global');\nif (!store.usedTopics) store.usedTopics = [];\n\nvar usedSet = {};\nfor (var i = 0; i < store.usedTopics.length; i++) {\n  var k = store.usedTopics[i].toLowerCase().replace(/[^a-z ]/g, '').trim();\n  usedSet[k] = true;\n}\n\nvar novos = topics.filter(function(t) {\n  var k = (t.milagre_de_jesus || '').toLowerCase().replace(/[^a-z ]/g, '').trim();\n  return !usedSet[k];\n});\n\nif (novos.length === 0) throw new Error('All topics already used. Will generate new ones next run.');\n\nnovos.forEach(function(t) { store.usedTopics.push(t.milagre_de_jesus); });\nif (store.usedTopics.length > 500) store.usedTopics = store.usedTopics.slice(-500);\n\nvar runId = cfg.RUN_ID || new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 14);\n\n// Incluir TODAS as credenciais em cada item de saida\nreturn novos.map(function(topic, i) {\n  return {\n    json: {\n      milagre_de_jesus: topic.milagre_de_jesus,\n      versiculo_base: topic.versiculo_base,\n      gancho_inicial: topic.gancho_inicial,\n      palavras_chave: topic.palavras_chave,\n      categoria: topic.categoria,\n      runId: runId,\n      topicIndex: i + 1,\n      videoId: runId + '_video_' + String(i + 1).padStart(2, '0'),\n      GOOGLE_AI_API_KEY: cfg.GOOGLE_AI_API_KEY || '',\n      ELEVENLABS_API_KEY: cfg.ELEVENLABS_API_KEY || ''\n    }\n  };\n});\n"
        },
        "id": "42837a21-883f-49dc-a020-31f0d74723bc",
        "name": "Parse Topics",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          400
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1648,
          576
        ],
        "id": "2f548ed5-96d2-4334-a850-362880d8334f",
        "name": "Merge",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9tlW8BErnLH1ujOS",
            "mode": "list",
            "cachedResultUrl": "/workflow/9tlW8BErnLH1ujOS",
            "cachedResultName": "SUB: Content Generation (Gemini)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1216,
          480
        ],
        "id": "e10468b0-fbb1-47e4-8692-817538019ff9",
        "name": "Sub: Generate Content"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "VttkyR0BTetRiXbc",
            "mode": "list",
            "cachedResultUrl": "/workflow/VttkyR0BTetRiXbc",
            "cachedResultName": "SUB: Audio Generation (ElevenLabs)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1424,
          688
        ],
        "id": "92d0628e-0326-4f00-9817-b3fecedf9afc",
        "name": "SUB: Audio Generation (ElevenLabs)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "7gHL7kSAPjd8Dl5q",
            "mode": "list",
            "cachedResultUrl": "/workflow/7gHL7kSAPjd8Dl5q",
            "cachedResultName": "SUB: Video Generation (Google Veo 2)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "8eca92f1-e3cc-4bb6-b89c-c7df3e85706c",
        "name": "Sub: Gerar Vídeos",
        "type": "n8n-nodes-base.executeWorkflow",
        "position": [
          1424,
          480
        ],
        "typeVersion": 1.3,
        "notes": "Importar sub-image-generation.json separadamente"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "SKUBGveT9qeXFNEW",
            "mode": "list",
            "cachedResultUrl": "/workflow/SKUBGveT9qeXFNEW",
            "cachedResultName": "SUB: Publishing (YouTube + Instagram + TikTok)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2368,
          560
        ],
        "id": "f362a56c-921e-49a0-b659-79622e8715db",
        "name": "Sub: Publicação"
      },
      {
        "parameters": {
          "jsCode": "var childProcess = require('child_process');\nvar fs2 = require('fs');\nvar https2 = require('https');\nvar http2 = require('http');\n\nvar allItems = $input.all().map(function(i) { return i.json; });\nvar imageData = allItems.find(function(d) { return d.scenes && d.scenes.length > 0; }) || {};\nvar audioData = allItems.find(function(d) { return d.audioUrl; }) || {};\n\nvar videoId = imageData.videoId || audioData.videoId;\nvar audioUrl = audioData.audioUrl;\nif (!audioUrl) throw new Error('No audioUrl for ' + videoId);\n\n// Content fields come from audioData (repassed by Confirm Audio Ready)\nvar titulo    = audioData.titulo    || imageData.titulo    || '';\nvar descricao = audioData.descricao || imageData.descricao || '';\nvar hashtags  = audioData.hashtags  || imageData.hashtags  || [];\nvar narracao  = audioData.narracao  || imageData.narracao  || '';\nvar topic     = audioData.topic     || imageData.topic     || {};\nvar ctaText   = audioData.ctaText   || 'Siga e Compartilhe!';\n\nvar scenes = (imageData.scenes || [])\n  .filter(function(s) { return s.url; })\n  .sort(function(a, b) { return (a.numero || 0) - (b.numero || 0); });\nif (!scenes.length) throw new Error('No scene URLs for ' + videoId);\n\nvar tempDir = '/home/node/.n8n/temp/' + videoId;\nfs2.mkdirSync(tempDir, { recursive: true });\n\nfunction download(fileUrl, destPath) {\n  return new Promise(function(resolve, reject) {\n    var mod = fileUrl.startsWith('https:') ? https2 : http2;\n    var file = fs2.createWriteStream(destPath);\n    mod.get(fileUrl, { rejectUnauthorized: false }, function(res) {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        file.close(); fs2.unlinkSync(destPath);\n        return download(res.headers.location, destPath).then(resolve).catch(reject);\n      }\n      res.pipe(file);\n      file.on('finish', function() { file.close(resolve); });\n      res.on('error', reject);\n    }).on('error', function(err) { fs2.unlink(destPath, function(){}); reject(err); });\n  });\n}\n\n// Font (cached globally)\nvar fontPath = '/home/node/.n8n/temp/Roboto-Bold.ttf';\nif (!fs2.existsSync(fontPath)) {\n  await download('https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Bold.ttf', fontPath);\n}\n\n// Download narration\nvar audioFile = tempDir + '/narration.mp3';\nawait download(audioUrl, audioFile);\n\n// Measure real audio duration now — needed to size CTA correctly\nvar audioDurRaw = childProcess.execSync(\n  'ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"' + audioFile + '\"'\n).toString().trim();\nvar audioDuration = parseFloat(audioDurRaw) || 30;\n\n// Download background music\nvar MUSIC_TRACKS = [\n  'https://cdn.pixabay.com/audio/2022/12/13/audio_a7e11a169f.mp3',\n  'https://cdn.pixabay.com/audio/2024/05/28/audio_5bbbca17bf.mp3'\n];\nvar musicFile = tempDir + '/music.mp3';\nawait download(MUSIC_TRACKS[Math.floor(Math.random() * MUSIC_TRACKS.length)], musicFile);\n\n// Download scene videos\nvar sceneFiles = [];\nfor (var i = 0; i < scenes.length; i++) {\n  var sceneFile = tempDir + '/scene_' + String(i + 1).padStart(2, '0') + '.mp4';\n  await download(scenes[i].url, sceneFile);\n  sceneFiles.push(sceneFile);\n}\n\n// ── Step 1: CTA clip ──────────────────────────────────────────────────────────\n// Source: scene 3 (ACAO_JESUS — most divine visual, avoids repeating scene 4)\n// Duration: audio remainder after 4×6s scenes, min 6s → eliminates loop artifact\nvar scenesDuration = scenes.length * 6; // 24s\nvar ctaDuration = Math.max(Math.ceil(audioDuration - scenesDuration), 6);\nvar ctaSource = sceneFiles[Math.min(2, sceneFiles.length - 1)]; // scene 3 (index 2)\nvar ctaRaw = tempDir + '/cta_raw.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -i \"' + ctaSource + '\" -t ' + ctaDuration +\n  ' -c:v libx264 -preset ultrafast -an \"' + ctaRaw + '\"',\n  { timeout: 60000 }\n);\n\n// ── Step 2: Concat 4 scenes + CTA → full_concat.mp4 ─────────────────────────\n// Re-encode to ensure codec/resolution consistency (1080×1920)\nvar allFiles = sceneFiles.concat([ctaRaw]);\nvar concatList = tempDir + '/concat_full.txt';\nfs2.writeFileSync(concatList, allFiles.map(function(f) { return \"file '\" + f + \"'\"; }).join('\\n'));\nvar fullConcat = tempDir + '/full_concat.mp4';\nchildProcess.execSync(\n  'ffmpeg -y -f concat -safe 0 -i \"' + concatList + '\"' +\n  ' -c:v libx264 -preset veryfast -crf 23' +\n  ' -vf scale=1080:1920:flags=lanczos' +\n  ' -an \"' + fullConcat + '\"',\n  { timeout: 300000 }\n);\n\n// ── Drawtext helpers ──────────────────────────────────────────────────────────\nfunction escapeDrawtext(str) {\n  return (str || '')\n    .replace(/['\"]/g, '')\n    .replace(/:/g,   '')\n    .replace(/[\\[\\]]/g, '')\n    .replace(/%/g,   '')\n    .replace(/,/g,   ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\n// Subtitles: 4 words/line, timing proportional to real audio duration\nfunction buildSubtitleFilters(text, fontP, dur) {\n  if (!text) return [];\n  var words = text.trim().split(/\\s+/);\n  var grpSize = 4;\n  var groups = [];\n  for (var i = 0; i < words.length; i += grpSize) {\n    groups.push(words.slice(i, i + grpSize).join(' '));\n  }\n  var perGroup = dur / groups.length;\n  return groups.map(function(group, idx) {\n    var start = (idx * perGroup).toFixed(2);\n    var end   = Math.min((idx + 1) * perGroup, dur).toFixed(2);\n    return (\n      'drawtext=fontfile=' + fontP +\n      ':text=\\'' + escapeDrawtext(group) + '\\'' +\n      ':fontsize=56:fontcolor=white' +\n      ':bordercolor=black@1.0:borderw=5' +\n      ':x=(w-text_w)/2:y=h-200' +\n      ':enable=\\'between(t,' + start + ',' + end + ')\\''\n    );\n  });\n}\n\n// CTA text overlay: 2 lines, centered, box only when text is valid\nfunction buildCtaFilters(text, fontP, startTime) {\n  var cleaned = (text || '').trim();\n  if (!cleaned) return [];\n  var words = cleaned.split(/\\s+/);\n  var mid   = Math.ceil(words.length / 2);\n  var line1 = escapeDrawtext(words.slice(0, mid).join(' '));\n  var line2 = escapeDrawtext(words.slice(mid).join(' '));\n  var en    = 'gte(t,' + startTime + ')';\n  var out   = [];\n  if (line1) out.push(\n    'drawtext=fontfile=' + fontP +\n    ':text=\\'' + line1 + '\\'' +\n    ':fontsize=58:fontcolor=white' +\n    ':bordercolor=black@1.0:borderw=5' +\n    ':box=1:boxcolor=black@0.75:boxborderw=14' +\n    ':x=(w-text_w)/2:y=(h/2)-45' +\n    ':enable=\\'' + en + '\\''\n  );\n  if (line2) out.push(\n    'drawtext=fontfile=' + fontP +\n    ':text=\\'' + line2 + '\\'' +\n    ':fontsize=58:fontcolor=white' +\n    ':bordercolor=black@1.0:borderw=5' +\n    ':box=1:boxcolor=black@0.75:boxborderw=14' +\n    ':x=(w-text_w)/2:y=(h/2)+30' +\n    ':enable=\\'' + en + '\\''\n  );\n  return out;\n}\n\n// ── Step 3: Final assembly ───────────────────────────────────────────────────\nvar allVfFilters = buildSubtitleFilters(narracao, fontPath, audioDuration)\n  .concat(buildCtaFilters(ctaText, fontPath, scenesDuration));\nvar vfChain = allVfFilters.length > 0 ? allVfFilters.join(',') : 'null';\n\nvar filterComplex =\n  '[0:v]' + vfChain + '[v];' +\n  '[1:a]volume=1.0[narr];' +\n  '[2:a]volume=0.20[mus];' +\n  '[narr][mus]amix=inputs=2:duration=first[aout]';\n\nvar finalVideo = tempDir + '/final.mp4';\n// Note: NO stream_loop — full_concat duration ≈ audioDuration, no loop needed\nchildProcess.execSync(\n  'ffmpeg -y' +\n  ' -i \"' + fullConcat + '\"' +\n  ' -i \"' + audioFile + '\"' +\n  ' -stream_loop -1 -i \"' + musicFile + '\"' +\n  ' -filter_complex \"' + filterComplex + '\"' +\n  ' -map \"[v]\" -map \"[aout]\"' +\n  ' -c:v libx264 -preset veryfast -crf 25' +\n  ' -c:a aac -b:a 128k -shortest' +\n  ' \"' + finalVideo + '\"',\n  { timeout: 300000 }\n);\n\nvar fileBuffer = fs2.readFileSync(finalVideo);\n\nreturn [{\n  json: {\n    videoId: videoId,\n    localPath: finalVideo,\n    titulo: titulo,\n    descricao: descricao,\n    hashtags: hashtags,\n    narracao: narracao,\n    topic: topic,\n    sceneCount: scenes.length,\n    fileName: videoId + '.mp4'\n  },\n  binary: {\n    data: {\n      data: fileBuffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: videoId + '.mp4',\n      fileExtension: 'mp4'\n    }\n  }\n}];"
        },
        "id": "node-ffmpeg-assemble",
        "name": "FFmpeg: Assemble Video",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1856,
          576
        ]
      },
      {
        "parameters": {
          "name": "={{ $('FFmpeg: Assemble Video').first().json.fileName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "id": "node-drive-upload-final",
        "name": "Drive: Upload Final Video",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2080,
          352
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "HN60vRphPZY9kxN2",
            "name": "Luccapavanallo"
          }
        }
      },
      {
        "parameters": {
          "operation": "share",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "permissionsUi": {
            "permissionsValues": {
              "role": "reader",
              "type": "anyone"
            }
          },
          "options": {}
        },
        "id": "node-drive-share-final",
        "name": "Drive: Share Video Publicly",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2368,
          240
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "HN60vRphPZY9kxN2",
            "name": "Luccapavanallo"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "var ffmpegData = $('FFmpeg: Assemble Video').first().json;\nvar uploadData = $('Drive: Upload Final Video').first().json;\nvar fileId = uploadData.id;\nvar renderUrl = 'https://drive.google.com/uc?export=download&id=' + fileId;\nreturn [{\n  json: {\n    videoId: ffmpegData.videoId,\n    renderUrl: renderUrl,\n    renderId: fileId,\n    sceneCount: ffmpegData.sceneCount,\n    titulo: ffmpegData.titulo,\n    descricao: ffmpegData.descricao,\n    hashtags: ffmpegData.hashtags,\n    narracao: ffmpegData.narracao,\n    topic: ffmpegData.topic,\n    status: 'assembled'\n  }\n}];"
        },
        "id": "node-format-assembly-output",
        "name": "Format Assembly Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2672,
          592
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger (Manual)": {
        "main": [
          [
            {
              "node": "Set Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Config": {
        "main": [
          [
            {
              "node": "Generate Topics (Gemini)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Topics": {
        "main": [
          [
            {
              "node": "Split In Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split In Batches": {
        "main": [
          [
            {
              "node": "Batch Summary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sub: Generate Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Assembly Output": {
        "main": [
          [
            {
              "node": "Sub: Publicação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto Publish?": {
        "main": [
          [
            {
              "node": "Save Metadata",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Metadata": {
        "main": [
          [
            {
              "node": "Split In Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Batch Summary": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Topics (Gemini)": {
        "main": [
          [
            {
              "node": "Parse Topics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "FFmpeg: Assemble Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sub: Generate Content": {
        "main": [
          [
            {
              "node": "SUB: Audio Generation (ElevenLabs)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Sub: Gerar Vídeos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SUB: Audio Generation (ElevenLabs)": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Sub: Gerar Vídeos": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FFmpeg: Assemble Video": {
        "main": [
          [
            {
              "node": "Drive: Upload Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive: Upload Final Video": {
        "main": [
          [
            {
              "node": "Drive: Share Video Publicly",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive: Share Video Publicly": {
        "main": [
          [
            {
              "node": "Format Assembly Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Assembly Output": {
        "main": [
          [
            {
              "node": "Parse Assembly Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lucca Pavanello",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T21:20:45.498Z",
        "id": 1730,
        "workflowId": "zloYjCYLVf6BWhF9",
        "versionId": "4688722f-d96c-4073-bcdc-de190ad98963",
        "event": "activated",
        "userId": "33d3d99a-4632-422b-96df-7e793f9c30f5"
      },
      {
        "createdAt": "2026-03-20T21:20:45.616Z",
        "id": 1732,
        "workflowId": "zloYjCYLVf6BWhF9",
        "versionId": "4688722f-d96c-4073-bcdc-de190ad98963",
        "event": "activated",
        "userId": "33d3d99a-4632-422b-96df-7e793f9c30f5"
      },
      {
        "createdAt": "2026-03-20T21:20:45.473Z",
        "id": 1729,
        "workflowId": "zloYjCYLVf6BWhF9",
        "versionId": "4688722f-d96c-4073-bcdc-de190ad98963",
        "event": "deactivated",
        "userId": "33d3d99a-4632-422b-96df-7e793f9c30f5"
      },
      {
        "createdAt": "2026-03-20T21:20:45.594Z",
        "id": 1731,
        "workflowId": "zloYjCYLVf6BWhF9",
        "versionId": "4688722f-d96c-4073-bcdc-de190ad98963",
        "event": "deactivated",
        "userId": "33d3d99a-4632-422b-96df-7e793f9c30f5"
      }
    ]
  }
}