wf_veo2_now.json
{"updatedAt":"2026-03-20T14:21:14.927Z","createdAt":"2026-03-18T11:40:39.185Z","id":"7gHL7kSAPjd8Dl5q","name":"SUB: Video Generation (Google Veo 2)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: 6,\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));"},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-3.0-fast-generate-001","mode":"list","cachedResultName":"models/veo-3.0-fast-generate-001"},"prompt":"={{ $json.prompt }}","options":{"durationSeconds":6,"aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];"},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"jsCode":"var staticData = $getWorkflowStaticData('global');\nvar videoId = $input.first().json.videoId;\nvar scenes = staticData[videoId] || [];\n// Limpar após leitura\ndelete staticData[videoId];\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];"},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"amount":75},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionTimeout":-1},"staticData":{"global":{"20260318-181956_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"},{"numero":2,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-182719_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-183739_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-220350_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1GKBLayKEX8ogq7gS1vULclP2NvCuBby3&export=download","status":"scene_ready"}],"20260318-234307_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1cIl2F9Yf5Hcxp8cQ6ax38qaVd3T8AcKK&export=download","status":"scene_ready"}],"20260318-235324_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1y_XP01FXbLIDimWXFRoSwdC5qCf_pjO1&export=download","status":"scene_ready"}],"20260319-000043_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=14NyGCPSw39ACFwqx97ydDSXTmiGA9mgr&export=download","status":"scene_ready"}],"20260319-001419_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=1Ed8aT4taIzGUhaV3eNOtYRgfVLgfY4dJ&export=download","status":"scene_ready"}],"20260319-090252_video_01":[{"numero":3,"url":"https://drive.google.com/uc?id=1QuVuANn_GnwPuOaB14-9eyQx0vEzheU8&export=download","status":"scene_ready"}],"20260319-091637_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1wLQZMs7Mf1s4YZhYzoT-C0CC9VRJhONm&export=download","status":"scene_ready"}],"20260319-101210_video_01":[{"numero":5,"url":"https://drive.google.com/uc?id=1MkK0xuZOZQpUFttpBXCVLNya8-iVnKJN&export=download","status":"scene_ready"}],"20260319-111338_video_01":[{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"20260319-170525_video_01":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=11rMiBui1S9Wk9F1b2wtB3oCmQj5q6Zmr&export=download","status":"scene_ready"}],"20260319-180233_video_01":[{"numero":5,"duracao":5,"url":"https://drive.google.com/uc?id=172zwTScKncM_PEiJxrL21WxhqLoomACo&export=download","status":"scene_ready"}],"20260320-100939_video_01":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs&export=download&confirm=1","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1wyqSD-ciyc9RHOI_0o81ULpmZvZrH1XP&export=download&confirm=1","status":"scene_ready"}]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"videoId":"20260320-092321_video_01","topicIndex":1,"topic":{"milagre_de_jesus":"A cura no tanque de Betesda","versiculo_base":"João 5:8-9","gancho_inicial":"Após trinta e oito anos de espera...","palavras_chave":["cura divina","esperança renovada","milagre inesperado","poder da fé","ajuda celestial"],"categoria":"milagre_cura","runId":"20260320-092321","topicIndex":1,"videoId":"20260320-092321_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"script":{"titulo":"Milagre em Betesda! ⛲️🙌","descricao":"A cura no tanque de Betesda! João 5:8-9 nos mostra o poder de Jesus. Receba essa fé e compartilhe!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#Betesda","#CuraDivina","#Joao5","#Esperança"],"duracao_total_segundos":32,"narracao_completa":"Trinta e oito anos de sofrimento terminaram em um instante Um homem preso à beira do tanque de Betesda sem esperança Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso Clique em seguir para nunca perder um vídeo que te conecta com Deus Envie para aquela pessoa que precisa desse milagre agora Receba essa cura e compartilhe essa fé","cenas":[{"numero":1,"duracao_segundos":5,"tipo":"HOOK","texto_narrado":"Trinta e oito anos de sofrimento terminaram em um instante","prompt_imagem":"A man lying by the Pool of Bethesda, looking hopeless, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Slow zoom out revealing the pool and surrounding area.","descricao_visual":"Homem paralítico deitado à beira do tanque de Betesda, com expressão de sofrimento."},{"numero":2,"duracao_segundos":7,"tipo":"CONTEXTO","texto_narrado":"Um homem preso à beira do tanque de Betesda sem esperança","prompt_imagem":"Crowd of sick and disabled people gathered around the Pool of Bethesda, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Panning shot across the crowd, focusing on the man from the previous scene.","descricao_visual":"Multidão de enfermos e necessitados ao redor do tanque. O homem paralítico se destaca em meio à multidão."},{"numero":3,"duracao_segundos":8,"tipo":"ACAO_JESUS","texto_narrado":"Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande","prompt_imagem":"Jesus Christ reaching out to the paralyzed man at the Pool of Bethesda, divine light, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Zoom in on Jesus' hand as he reaches out to the man.","descricao_visual":"Jesus estendendo a mão para o paralítico, com uma luz divina irradiando."},{"numero":4,"duracao_segundos":7,"tipo":"IMPACTO","texto_narrado":"A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso","prompt_imagem":"The healed man standing up, carrying his mat, with a look of joy and gratitude, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Camera slowly rises as the man stands, emphasizing his newfound ability.","descricao_visual":"O homem curado se levanta, carregando seu leito, com um olhar de alegria e gratidão."}],"cta":{"seguir":"para nunca perder um vídeo que te conecta com Deus","compartilhar":"para aquela pessoa que precisa desse milagre agora","texto_completo":"Receba essa cura e compartilhe essa fé","duracao_segundos":5}},"titulo":"Milagre em Betesda! ⛲️🙌","descricao":"A cura no tanque de Betesda! João 5:8-9 nos mostra o poder de Jesus. Receba essa fé e compartilhe!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#Betesda","#CuraDivina","#Joao5","#Esperança"],"narracao":"Trinta e oito anos de sofrimento terminaram em um instante Um homem preso à beira do tanque de Betesda sem esperança Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso Clique em seguir para nunca perder um vídeo que te conecta com Deus Envie para aquela pessoa que precisa desse milagre agora Receba essa cura e compartilhe essa fé","cenas":[{"numero":1,"duracao_segundos":5,"tipo":"HOOK","texto_narrado":"Trinta e oito anos de sofrimento terminaram em um instante","prompt_imagem":"A man lying by the Pool of Bethesda, looking hopeless, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Slow zoom out revealing the pool and surrounding area.","descricao_visual":"Homem paralítico deitado à beira do tanque de Betesda, com expressão de sofrimento."},{"numero":2,"duracao_segundos":7,"tipo":"CONTEXTO","texto_narrado":"Um homem preso à beira do tanque de Betesda sem esperança","prompt_imagem":"Crowd of sick and disabled people gathered around the Pool of Bethesda, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Panning shot across the crowd, focusing on the man from the previous scene.","descricao_visual":"Multidão de enfermos e necessitados ao redor do tanque. O homem paralítico se destaca em meio à multidão."},{"numero":3,"duracao_segundos":8,"tipo":"ACAO_JESUS","texto_narrado":"Jesus viu sua dor e estendeu a mão com amor Levante se pegue a sua cama e ande","prompt_imagem":"Jesus Christ reaching out to the paralyzed man at the Pool of Bethesda, divine light, ancient Judea, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Zoom in on Jesus' hand as he reaches out to the man.","descricao_visual":"Jesus estendendo a mão para o paralítico, com uma luz divina irradiando."},{"numero":4,"duracao_segundos":7,"tipo":"IMPACTO","texto_narrado":"A fé daquele homem foi recompensada com a cura completa Um milagre inexplicável só o amor de Deus faz isso","prompt_imagem":"The healed man standing up, carrying his mat, with a look of joy and gratitude, ancient Jerusalem, golden hour, photorealistic 8K, vertical 9:16","prompt_video_motion":"Camera slowly rises as the man stands, emphasizing his newfound ability.","descricao_visual":"O homem curado se levanta, carregando seu leito, com um olhar de alegria e gratidão."}],"duracao_total_segundos":27,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"script_ready"},"pairedItem":{"item":0}}]},"versionId":"ed86535d-a060-443d-be86-4f0da6155506","activeVersionId":"ed86535d-a060-443d-be86-4f0da6155506","versionCounter":288,"triggerCount":0,"shared":[{"updatedAt":"2026-03-18T11:40:39.187Z","createdAt":"2026-03-18T11:40:39.187Z","role":"workflow:owner","workflowId":"7gHL7kSAPjd8Dl5q","projectId":"lSmAYRY2Zk1SmuDH","project":{"updatedAt":"2026-02-23T16:22:49.206Z","createdAt":"2025-12-30T20:02:49.088Z","id":"lSmAYRY2Zk1SmuDH","name":"Lucca Pavanello <luccapavanallo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T14:21:14.928Z","createdAt":"2026-03-20T14:21:14.928Z","versionId":"ed86535d-a060-443d-be86-4f0da6155506","workflowId":"7gHL7kSAPjd8Dl5q","nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: 6,\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));"},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-3.0-fast-generate-001","mode":"list","cachedResultName":"models/veo-3.0-fast-generate-001"},"prompt":"={{ $json.prompt }}","options":{"durationSeconds":6,"aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];"},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"jsCode":"var staticData = $getWorkflowStaticData('global');\nvar videoId = $input.first().json.videoId;\nvar scenes = staticData[videoId] || [];\n// Limpar após leitura\ndelete staticData[videoId];\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];"},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"amount":75},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T14:21:14.990Z","id":1672,"workflowId":"7gHL7kSAPjd8Dl5q","versionId":"ed86535d-a060-443d-be86-4f0da6155506","event":"activated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"},{"createdAt":"2026-03-20T14:21:14.973Z","id":1671,"workflowId":"7gHL7kSAPjd8Dl5q","versionId":"ed86535d-a060-443d-be86-4f0da6155506","event":"deactivated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}]}}