wf_veo2_a_fixed.json
{"updatedAt":"2026-03-20T12:07:45.127Z","createdAt":"2026-03-18T11:40:39.185Z","id":"7gHL7kSAPjd8Dl5q","name":"SUB: Video Generation (Google Veo 2)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: Math.min(Math.max(cena.duracao_segundos || 6, 5), 8),\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));"},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-3.0-generate-001","mode":"list","cachedResultName":"models/veo-3.0-generate-001"},"prompt":"={{ $json.prompt }}","options":{"durationSeconds":"={{ parseInt($json.duracaoSegundos) }}","aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];"},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"jsCode":"var staticData = ('global');\nvar videoId = .first().json.videoId;\nvar scenes = staticData[videoId] || [];\n// Limpar após leitura\ndelete staticData[videoId];\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];"},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"amount":75},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"global":{"20260318-181956_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"},{"numero":2,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-182719_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-183739_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-220350_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1GKBLayKEX8ogq7gS1vULclP2NvCuBby3&export=download","status":"scene_ready"}],"20260318-234307_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1cIl2F9Yf5Hcxp8cQ6ax38qaVd3T8AcKK&export=download","status":"scene_ready"}],"20260318-235324_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1y_XP01FXbLIDimWXFRoSwdC5qCf_pjO1&export=download","status":"scene_ready"}],"20260319-000043_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=14NyGCPSw39ACFwqx97ydDSXTmiGA9mgr&export=download","status":"scene_ready"}],"20260319-001419_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=1Ed8aT4taIzGUhaV3eNOtYRgfVLgfY4dJ&export=download","status":"scene_ready"}],"20260319-090252_video_01":[{"numero":3,"url":"https://drive.google.com/uc?id=1QuVuANn_GnwPuOaB14-9eyQx0vEzheU8&export=download","status":"scene_ready"}],"20260319-091637_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1wLQZMs7Mf1s4YZhYzoT-C0CC9VRJhONm&export=download","status":"scene_ready"}],"20260319-101210_video_01":[{"numero":5,"url":"https://drive.google.com/uc?id=1MkK0xuZOZQpUFttpBXCVLNya8-iVnKJN&export=download","status":"scene_ready"}],"20260319-111338_video_01":[{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"20260319-170525_video_01":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=11rMiBui1S9Wk9F1b2wtB3oCmQj5q6Zmr&export=download","status":"scene_ready"}],"20260319-180233_video_01":[{"numero":5,"duracao":5,"url":"https://drive.google.com/uc?id=172zwTScKncM_PEiJxrL21WxhqLoomACo&export=download","status":"scene_ready"}]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"videoId":"20260320-080001_video_01","topicIndex":1,"topic":{"milagre_de_jesus":"O milagre no tanque de Betesda","versiculo_base":"João 5:8","gancho_inicial":"Após trinta e oito anos esperando...","palavras_chave":["esperança","milagre","poder divino","tempo de espera","renovação"],"categoria":"milagre_cura","runId":"20260320-080001","topicIndex":1,"videoId":"20260320-080001_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"script":{"titulo":"🙌 38 Anos de Espera Acabaram!","descricao":"Descubra o milagre no tanque de Betesda! João 5:8 revela o poder transformador de Jesus. Uma história de fé e esperança para inspirar sua vida.","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#Betesda","#CuraDivina","#Esperança","#João5_8"],"duracao_total_segundos":32,"narracao_completa":"38 anos de sofrimento terminaram naquele dia Um homem paralítico à beira da morte sem esperança nenhuma Mas o amor de Jesus é infinito e chegou até ele Jesus olhou para aquele homem e disse levante se pegue a sua maca e ande Naquele instante a cura aconteceu a fé se manifestou e o impossível se tornou real Só Deus faz isso Siga para nunca perder a fé e compartilhe para espalhar esperança Alguém precisa muito ouvir isso hoje não perca tempo","cenas":[{"numero":1,"duracao_segundos":5,"tipo":"HOOK","texto_narrado":"38 anos de sofrimento terminaram naquele dia","prompt_imagem":"A man lying beside the Pool of Bethesda, looking hopeless, photorealistic 8K, vertical 9:16, ancient Judea, golden hour","prompt_video_motion":"Câmera lenta aproximando-se do homem com um leve tremor para enfatizar o sofrimento.","descricao_visual":"Homem paralítico deitado à beira do tanque de Betesda, expressão de sofrimento."},{"numero":2,"duracao_segundos":7,"tipo":"CONTEXTO","texto_narrado":"Um homem paralítico à beira da morte sem esperança nenhuma","prompt_imagem":"Crowd of sick and disabled people surrounding the Pool of Bethesda, all looking desperate, photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour","prompt_video_motion":"Panorâmica mostrando a multidão de enfermos ao redor do tanque.","descricao_visual":"Multidão de pessoas doentes e deficientes ao redor do tanque de Betesda."},{"numero":3,"duracao_segundos":7,"tipo":"ACAO_JESUS","texto_narrado":"Mas o amor de Jesus é infinito e chegou até ele Jesus olhou para aquele homem e disse levante se pegue a sua maca e ande","prompt_imagem":"Jesus Christ reaching out his hand to the paralyzed man at the Pool of Bethesda, light shining on Jesus, photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour","prompt_video_motion":"Zoom rápido no rosto de Jesus com luz intensa, seguido de um movimento suave em direção à mão estendida.","descricao_visual":"Jesus Cristo estendendo a mão para o homem paralítico, com luz divina emanando."},{"numero":4,"duracao_segundos":8,"tipo":"IMPACTO","texto_narrado":"Naquele instante a cura aconteceu a fé se manifestou e o impossível se tornou real Só Deus faz isso","prompt_imagem":"The healed man standing and carrying his mat away from the Pool of Bethesda, looking joyful and grateful, photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour","prompt_video_motion":"Câmera girando ao redor do homem curado enquanto ele se levanta e carrega a maca.","descricao_visual":"Homem curado em pé, carregando sua maca e expressando alegria e gratidão."}],"cta":{"seguir":"para nunca perder a fé","compartilhar":"para espalhar esperança","texto_completo":"Alguém precisa muito ouvir isso hoje não perca tempo","duracao_segundos":5}},"titulo":"🙌 38 Anos de Espera Acabaram!","descricao":"Descubra o milagre no tanque de Betesda! João 5:8 revela o poder transformador de Jesus. Uma história de fé e esperança para inspirar sua vida.","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#Betesda","#CuraDivina","#Esperança","#João5_8"],"narracao":"38 anos de sofrimento terminaram naquele dia Um homem paralítico à beira da morte sem esperança nenhuma Mas o amor de Jesus é infinito e chegou até ele Jesus olhou para aquele homem e disse levante se pegue a sua maca e ande Naquele instante a cura aconteceu a fé se manifestou e o impossível se tornou real Só Deus faz isso Siga para nunca perder a fé e compartilhe para espalhar esperança Alguém precisa muito ouvir isso hoje não perca tempo","cenas":[{"numero":1,"duracao_segundos":5,"tipo":"HOOK","texto_narrado":"38 anos de sofrimento terminaram naquele dia","prompt_imagem":"A man lying beside the Pool of Bethesda, looking hopeless, photorealistic 8K, vertical 9:16, ancient Judea, golden hour","prompt_video_motion":"Câmera lenta aproximando-se do homem com um leve tremor para enfatizar o sofrimento.","descricao_visual":"Homem paralítico deitado à beira do tanque de Betesda, expressão de sofrimento."},{"numero":2,"duracao_segundos":7,"tipo":"CONTEXTO","texto_narrado":"Um homem paralítico à beira da morte sem esperança nenhuma","prompt_imagem":"Crowd of sick and disabled people surrounding the Pool of Bethesda, all looking desperate, photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour","prompt_video_motion":"Panorâmica mostrando a multidão de enfermos ao redor do tanque.","descricao_visual":"Multidão de pessoas doentes e deficientes ao redor do tanque de Betesda."},{"numero":3,"duracao_segundos":7,"tipo":"ACAO_JESUS","texto_narrado":"Mas o amor de Jesus é infinito e chegou até ele Jesus olhou para aquele homem e disse levante se pegue a sua maca e ande","prompt_imagem":"Jesus Christ reaching out his hand to the paralyzed man at the Pool of Bethesda, light shining on Jesus, photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour","prompt_video_motion":"Zoom rápido no rosto de Jesus com luz intensa, seguido de um movimento suave em direção à mão estendida.","descricao_visual":"Jesus Cristo estendendo a mão para o homem paralítico, com luz divina emanando."},{"numero":4,"duracao_segundos":8,"tipo":"IMPACTO","texto_narrado":"Naquele instante a cura aconteceu a fé se manifestou e o impossível se tornou real Só Deus faz isso","prompt_imagem":"The healed man standing and carrying his mat away from the Pool of Bethesda, looking joyful and grateful, photorealistic 8K, vertical 9:16, ancient Jerusalem, golden hour","prompt_video_motion":"Câmera girando ao redor do homem curado enquanto ele se levanta e carrega a maca.","descricao_visual":"Homem curado em pé, carregando sua maca e expressando alegria e gratidão."}],"duracao_total_segundos":27,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"script_ready"},"pairedItem":{"item":0}}]},"versionId":"7b98bcdd-95af-4fe7-a8a4-2c088ed01f39","activeVersionId":"7b98bcdd-95af-4fe7-a8a4-2c088ed01f39","versionCounter":246,"triggerCount":0,"shared":[{"updatedAt":"2026-03-18T11:40:39.187Z","createdAt":"2026-03-18T11:40:39.187Z","role":"workflow:owner","workflowId":"7gHL7kSAPjd8Dl5q","projectId":"lSmAYRY2Zk1SmuDH","project":{"updatedAt":"2026-02-23T16:22:49.206Z","createdAt":"2025-12-30T20:02:49.088Z","id":"lSmAYRY2Zk1SmuDH","name":"Lucca Pavanello <luccapavanallo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T12:07:46.000Z","createdAt":"2026-03-20T12:07:45.128Z","versionId":"7b98bcdd-95af-4fe7-a8a4-2c088ed01f39","workflowId":"7gHL7kSAPjd8Dl5q","nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: Math.min(Math.max(cena.duracao_segundos || 6, 5), 8),\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));"},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-3.0-generate-001","mode":"list","cachedResultName":"models/veo-3.0-generate-001"},"prompt":"={{ $json.prompt }}","options":{"durationSeconds":"={{ $json.duracaoSegundos }}","aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];"},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"jsCode":"var staticData = ('global');\nvar videoId = .first().json.videoId;\nvar scenes = staticData[videoId] || [];\n// Limpar após leitura\ndelete staticData[videoId];\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];"},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"amount":75},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":"Version 7b98bcdd","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-20T12:07:46.909Z","id":1642,"workflowId":"7gHL7kSAPjd8Dl5q","versionId":"7b98bcdd-95af-4fe7-a8a4-2c088ed01f39","event":"activated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}]}}