wf_veo2_live.json
{"updatedAt":"2026-03-20T17:36:45.245Z","createdAt":"2026-03-18T11:40:39.185Z","id":"7gHL7kSAPjd8Dl5q","name":"SUB: Video Generation (Google Veo 2)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: 6,\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));"},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-3.0-fast-generate-001","mode":"list","cachedResultName":"models/veo-3.0-fast-generate-001"},"prompt":"={{ $json.prompt }}","options":{"durationSeconds":6,"aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1104,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];"},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"jsCode":"var items = $input.all();\nif (!items.length) throw new Error('No scene items received');\n\nvar videoId = items[0].json.videoId;\n\nvar scenes = items.map(function(item) {\n  return {\n    numero: item.json.cenaNumero,\n    duracao: item.json.duracaoSegundos,\n    url: item.json.videoUrl,\n    status: item.json.status\n  };\n});\n\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];","mode":"runOnceForAllItems"},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"amount":75},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionTimeout":-1},"staticData":{"global":{"20260318-181956_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"},{"numero":2,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-182719_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-183739_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-220350_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1GKBLayKEX8ogq7gS1vULclP2NvCuBby3&export=download","status":"scene_ready"}],"20260318-234307_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1cIl2F9Yf5Hcxp8cQ6ax38qaVd3T8AcKK&export=download","status":"scene_ready"}],"20260318-235324_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1y_XP01FXbLIDimWXFRoSwdC5qCf_pjO1&export=download","status":"scene_ready"}],"20260319-000043_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=14NyGCPSw39ACFwqx97ydDSXTmiGA9mgr&export=download","status":"scene_ready"}],"20260319-001419_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=1Ed8aT4taIzGUhaV3eNOtYRgfVLgfY4dJ&export=download","status":"scene_ready"}],"20260319-090252_video_01":[{"numero":3,"url":"https://drive.google.com/uc?id=1QuVuANn_GnwPuOaB14-9eyQx0vEzheU8&export=download","status":"scene_ready"}],"20260319-091637_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1wLQZMs7Mf1s4YZhYzoT-C0CC9VRJhONm&export=download","status":"scene_ready"}],"20260319-101210_video_01":[{"numero":5,"url":"https://drive.google.com/uc?id=1MkK0xuZOZQpUFttpBXCVLNya8-iVnKJN&export=download","status":"scene_ready"}],"20260319-111338_video_01":[{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"20260319-170525_video_01":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=11rMiBui1S9Wk9F1b2wtB3oCmQj5q6Zmr&export=download","status":"scene_ready"}],"20260319-180233_video_01":[{"numero":5,"duracao":5,"url":"https://drive.google.com/uc?id=172zwTScKncM_PEiJxrL21WxhqLoomACo&export=download","status":"scene_ready"}],"20260320-100939_video_01":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs&export=download&confirm=1","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1wyqSD-ciyc9RHOI_0o81ULpmZvZrH1XP&export=download&confirm=1","status":"scene_ready"}],"20260320-120000_video_01":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1olkFsnYL5hHYHpMxOD2lZLEkHQp01D7F&export=download&confirm=1","status":"scene_ready"}]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"videoId":"20260320-100939_video_01","topicIndex":1,"topic":{"milagre_de_jesus":"Jesus acalma a tempestade no mar","versiculo_base":"Marcos 4:39","gancho_inicial":"Quando o barco estava quase afundando...","palavras_chave":["poder divino","tempestade","paz interior","fé inabalável","milagre nas águas"],"categoria":"milagre_natureza","runId":"20260320-100939","topicIndex":1,"videoId":"20260320-100939_video_01","GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d"},"script":{"titulo":"🌊 Jesus Acalma a Tempestade! ✨","descricao":"Testemunhe o milagre de Jesus acalmando a tempestade! Em Marcos 4:39, Ele demonstra Seu poder e amor incondicional. A fé em Deus pode te acalmar!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#TempestadeAcalmada","#Marcos439","#PoderDeDeus","#CalmaNaTempestade"],"duracao_total_segundos":30,"narracao_completa":"O desespero da morte iminente se dissipou em instantes. O medo paralisante dominava os corações dos discípulos apavorados. Jesus levantou a voz com amor incondicional e poder absoluto. A fúria do mar se curvou ao toque divino da paz eterna. Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo. Compartilhe com quem precisa sentir a paz de Jesus hoje. Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"O desespero da morte iminente se dissipou em instantes.","prompt_imagem":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.","prompt_video_motion":"Subtle camera shake to simulate the boat rocking violently.","descricao_visual":"Pequeno barco de pesca em meio a uma tempestade violenta. Ondas quebrando sobre o barco, nuvens escuras e densas. Discípulos apavorados."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"O medo paralisante dominava os corações dos discípulos apavorados.","prompt_imagem":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow zoom in on one disciple's terrified face.","descricao_visual":"Close-up dos rostos dos discípulos, mostrando medo e pânico enquanto tentam esvaziar a água do barco."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Jesus levantou a voz com amor incondicional e poder absoluto.","prompt_imagem":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow pan up from Jesus' feet to his face as he raises his hand.","descricao_visual":"Jesus em pé no barco, calmo, levantando a mão em direção à tempestade. Uma expressão serena em seu rosto, com luz emanando dele."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"A fúria do mar se curvou ao toque divino da paz eterna.","prompt_imagem":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Fast-motion showing the storm calming down and the sky clearing.","descricao_visual":"A tempestade diminuindo rapidamente, as ondas se acalmando, o céu clareando e a luz do sol rompendo as nuvens."}],"cta":{"seguir":"Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo.","compartilhar":"Compartilhe com quem precisa sentir a paz de Jesus hoje.","texto_completo":"Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","duracao_segundos":6}},"titulo":"🌊 Jesus Acalma a Tempestade! ✨","descricao":"Testemunhe o milagre de Jesus acalmando a tempestade! Em Marcos 4:39, Ele demonstra Seu poder e amor incondicional. A fé em Deus pode te acalmar!","hashtags":["#Jesus","#Milagre","#FéEmDeus","#Cristão","#Shorts","#TempestadeAcalmada","#Marcos439","#PoderDeDeus","#CalmaNaTempestade"],"narracao":"O desespero da morte iminente se dissipou em instantes. O medo paralisante dominava os corações dos discípulos apavorados. Jesus levantou a voz com amor incondicional e poder absoluto. A fúria do mar se curvou ao toque divino da paz eterna. Se você ama receber uma palavra que vem direto do coração de Deus siga agora mesmo. Compartilhe com quem precisa sentir a paz de Jesus hoje. Receba a paz de Jesus agora mesmo! Ele te ama incondicionalmente e cuida de você sempre","cenas":[{"numero":1,"duracao_segundos":6,"tipo":"HOOK","texto_narrado":"O desespero da morte iminente se dissipou em instantes.","prompt_imagem":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.","prompt_video_motion":"Subtle camera shake to simulate the boat rocking violently.","descricao_visual":"Pequeno barco de pesca em meio a uma tempestade violenta. Ondas quebrando sobre o barco, nuvens escuras e densas. Discípulos apavorados."},{"numero":2,"duracao_segundos":6,"tipo":"CONTEXTO","texto_narrado":"O medo paralisante dominava os corações dos discípulos apavorados.","prompt_imagem":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow zoom in on one disciple's terrified face.","descricao_visual":"Close-up dos rostos dos discípulos, mostrando medo e pânico enquanto tentam esvaziar a água do barco."},{"numero":3,"duracao_segundos":6,"tipo":"ACAO_JESUS","texto_narrado":"Jesus levantou a voz com amor incondicional e poder absoluto.","prompt_imagem":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Slow pan up from Jesus' feet to his face as he raises his hand.","descricao_visual":"Jesus em pé no barco, calmo, levantando a mão em direção à tempestade. Uma expressão serena em seu rosto, com luz emanando dele."},{"numero":4,"duracao_segundos":6,"tipo":"IMPACTO","texto_narrado":"A fúria do mar se curvou ao toque divino da paz eterna.","prompt_imagem":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.","prompt_video_motion":"Fast-motion showing the storm calming down and the sky clearing.","descricao_visual":"A tempestade diminuindo rapidamente, as ondas se acalmando, o céu clareando e a luz do sol rompendo as nuvens."}],"duracao_total_segundos":24,"GOOGLE_AI_API_KEY":"AIzaSyBMsKSA1FzrpGE78nSngCHd3zh-Ok5I56c","ELEVENLABS_API_KEY":"7725c641b57d3177577c93291aeffe8dc63b5103ee1ab46afde0bb6f7e7e262d","status":"script_ready"},"pairedItem":{"item":0}}],"Veo 2: Start Generation1":[{"json":{"mimeType":"video/mp4","fileType":"video","fileExtension":"mp4","fileName":"video.mp4","id":"filesystem-v2:workflows/7gHL7kSAPjd8Dl5q/executions/9998/binary_data/dc8400ca-9141-4894-af2a-22fd59f8e20b","fileSize":"4.09 MB","bytes":4092467},"binary":{"data":{"mimeType":"video/mp4","fileType":"video","fileExtension":"mp4","data":"filesystem-v2","fileName":"video.mp4","id":"filesystem-v2:workflows/7gHL7kSAPjd8Dl5q/executions/9998/binary_data/dc8400ca-9141-4894-af2a-22fd59f8e20b","fileSize":"4.09 MB","bytes":4092467}},"pairedItem":{"item":0}}],"Upload file":[{"json":{"kind":"drive#file","id":"1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8","name":"cena_1_Jesus acalma a tempestade no mar.mp4","mimeType":"video/mp4","starred":false,"trashed":false,"explicitlyTrashed":false,"parents":["0AOTaVSaugXLpUk9PVA"],"spaces":["drive"],"version":"4","webContentLink":"https://drive.google.com/uc?id=1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8&export=download","webViewLink":"https://drive.google.com/file/d/1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/video/mp4","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":false,"createdTime":"2026-03-20T13:54:45.181Z","modifiedTime":"2026-03-20T13:54:45.849Z","modifiedByMeTime":"2026-03-20T13:54:45.849Z","modifiedByMe":true,"owners":[{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"}],"lastModifyingUser":{"kind":"drive#user","displayName":"Lucca_Pav","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLrK7YUaEM99EwM8c-_kQC6nDt3XyeV1I20LDOVsWefxnLK-ns=s64","me":true,"permissionId":"06636526799952963454","emailAddress":"luccapavanallo@gmail.com"},"shared":false,"ownedByMe":true,"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"permissions":[{"kind":"drive#permission","id":"06636526799952963454","type":"user","emailAddress":"luccapavanallo@gmail.com","role":"owner","displayName":"luccapavanallo","deleted":false,"pendingOwner":false}],"permissionIds":["06636526799952963454"],"originalFilename":"cena_1_Jesus acalma a tempestade no mar.mp4","fullFileExtension":"mp4","fileExtension":"mp4","md5Checksum":"1d353a4dca73731a9d043a53e6ee5c98","sha1Checksum":"d72629dd2a1ea51c3874768c25205fc6763496ad","sha256Checksum":"c2ceec621bac585c749588ef4209ae2976a823402dcc0818ee3d7f7b8a9b4db7","size":"4092467","quotaBytesUsed":"4092467","headRevisionId":"0B-TaVSaugXLpR1BiT0tPR2Yva0NFdWtHWFFJT1dOcGpjVEtrPQ","isAppAuthorized":true,"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}],"Share Publicly":[{"json":{"kind":"drive#permission","id":"anyoneWithLink","type":"anyone","role":"reader","allowFileDiscovery":false},"pairedItem":{"item":0}}],"Confirm Scene Ready":[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"videoUrl":"https://drive.google.com/uc?id=1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8&export=download&confirm=1","status":"scene_ready"},"pairedItem":{"item":0}}],"Wait":[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"videoUrl":"https://drive.google.com/uc?id=1eG0d2mGb2--Wm81oI2z9lP3PbcfWfum8&export=download&confirm=1","status":"scene_ready"},"pairedItem":{"item":0}}],"Edit Fields":[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"prompt":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_01.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":2,"duracaoSegundos":6,"prompt":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_02.mp4","retryCount":0},"pairedItem":{"item":1}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":3,"duracaoSegundos":6,"prompt":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_03.mp4","retryCount":0},"pairedItem":{"item":2}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":4,"duracaoSegundos":6,"prompt":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_04.mp4","retryCount":0},"pairedItem":{"item":3}}],"Prepare Scenes":[{"json":{"videoId":"20260320-100939_video_01","cenaNumero":1,"duracaoSegundos":6,"prompt":"Jesus' disciples in a small fishing boat during a violent storm, waves crashing over the sides, dark ominous clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea, dramatic lighting.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_01.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":2,"duracaoSegundos":6,"prompt":"Close-up of the disciples' faces filled with fear and panic as they try to bail water from the boat, dramatic lighting, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_02.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":3,"duracaoSegundos":6,"prompt":"Jesus standing calmly in the boat, raising his hand towards the storm, a serene expression on his face, light emanating from him, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_03.mp4","retryCount":0},"pairedItem":{"item":0}},{"json":{"videoId":"20260320-100939_video_01","cenaNumero":4,"duracaoSegundos":6,"prompt":"The storm subsiding rapidly, the waves calming down, the sky clearing, and sunlight breaking through the clouds, golden hour, photorealistic 8K, vertical 9:16, ancient Judea.,divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene","tempDir":"/home/node/.n8n/temp/20260320-100939_video_01","outputFile":"/home/node/.n8n/temp/20260320-100939_video_01/scene_04.mp4","retryCount":0},"pairedItem":{"item":0}}]},"versionId":"2bc6aaf7-ec36-4be5-9a7f-68d1c85a2aef","activeVersionId":"2bc6aaf7-ec36-4be5-9a7f-68d1c85a2aef","versionCounter":301,"triggerCount":0,"shared":[{"updatedAt":"2026-03-18T11:40:39.187Z","createdAt":"2026-03-18T11:40:39.187Z","role":"workflow:owner","workflowId":"7gHL7kSAPjd8Dl5q","projectId":"lSmAYRY2Zk1SmuDH","project":{"updatedAt":"2026-02-23T16:22:49.206Z","createdAt":"2025-12-30T20:02:49.088Z","id":"lSmAYRY2Zk1SmuDH","name":"Lucca Pavanello <luccapavanallo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T17:36:45.247Z","createdAt":"2026-03-20T17:36:45.247Z","versionId":"2bc6aaf7-ec36-4be5-9a7f-68d1c85a2aef","workflowId":"7gHL7kSAPjd8Dl5q","nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: 6,\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));"},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-3.0-fast-generate-001","mode":"list","cachedResultName":"models/veo-3.0-fast-generate-001"},"prompt":"={{ $json.prompt }}","options":{"durationSeconds":6,"aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1104,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];"},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"jsCode":"var items = $input.all();\nif (!items.length) throw new Error('No scene items received');\n\nvar videoId = items[0].json.videoId;\n\nvar scenes = items.map(function(item) {\n  return {\n    numero: item.json.cenaNumero,\n    duracao: item.json.duracaoSegundos,\n    url: item.json.videoUrl,\n    status: item.json.status\n  };\n});\n\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];","mode":"runOnceForAllItems"},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"amount":75},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"authors":"Lucca Pavanello","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T17:36:45.356Z","id":1682,"workflowId":"7gHL7kSAPjd8Dl5q","versionId":"2bc6aaf7-ec36-4be5-9a7f-68d1c85a2aef","event":"activated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"},{"createdAt":"2026-03-20T17:36:45.328Z","id":1681,"workflowId":"7gHL7kSAPjd8Dl5q","versionId":"2bc6aaf7-ec36-4be5-9a7f-68d1c85a2aef","event":"deactivated","userId":"33d3d99a-4632-422b-96df-7e793f9c30f5"}]}}