wf_veo2_mode.json
{"name":"SUB: Video Generation (Google Veo 2)","nodes":[{"parameters":{},"id":"node-trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,304]},{"parameters":{"jsCode":"// Preparar cenas para geração via Veo 2\nconst input = $input.first().json;\nconst data = input.scriptData || input;\nconst cenas = data.cenas || data.script?.cenas || [];\n\nconst tempDir = `${'/home/node/.n8n/temp'}/${data.videoId}`;\n\nconst fs = require('fs');\nfs.mkdirSync(tempDir, { recursive: true });\n\nconst VISUAL_SUFFIX = ',divine golden light breaking through clouds, heavenly atmosphere, ancient Judea first century AD, cinematic composition, photorealistic, ultra detailed, no text overlay, no watermark, no modern elements, silent cinematic acting, no dialogue, quiet and peaceful scene';\n\nreturn cenas.map((cena, i) => ({\n  json: {\n    videoId: data.videoId,\n    cenaNumero: cena.numero || (i + 1),\n    duracaoSegundos: 6,\n    prompt: cena.prompt_imagem + VISUAL_SUFFIX,\n    tempDir,\n    outputFile: `${tempDir}/scene_${String(i + 1).padStart(2, '0')}.mp4`,\n    retryCount: 0\n  }\n}));"},"id":"node-prepare-scenes","name":"Prepare Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304]},{"parameters":{"options":{}},"id":"node-split-scenes","name":"Process Each Scene","type":"n8n-nodes-base.splitInBatches","position":[544,304]},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-3.0-fast-generate-001","mode":"list","cachedResultName":"models/veo-3.0-fast-generate-001"},"prompt":"={{ $json.prompt }}","options":{"durationSeconds":6,"aspectRatio":"9:16"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[736,320],"id":"e6c53d78-4c8d-4e29-99c1-7fb9c95c052f","name":"Veo 2: Start Generation1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"add4IKrOX5nMu2jn","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=cena_{{ $('Process Each Scene').item.json.cenaNumero }}_{{ $('Execute Workflow Trigger').item.json.topic.milagre_de_jesus }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,320],"id":"7642ed98-6ec3-4ba1-bfe7-6c572e3acfce","name":"Upload file","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"share-video-public","name":"Share Publicly","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1104,320],"credentials":{"googleDriveOAuth2Api":{"id":"HN60vRphPZY9kxN2","name":"Luccapavanallo"}}},{"parameters":{"jsCode":"const loopData = $('Process Each Scene').item.json;\nconst driveData = $('Upload file').first().json;\n\nif (!driveData.id) {\n    throw new Error('Erro: O arquivo não foi salvo no Drive ou o ID não foi retornado.');\n}\n\nconst videoUrl = `https://drive.google.com/uc?id=${driveData.id}&export=download&confirm=1`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData[loopData.videoId]) {\n    staticData[loopData.videoId] = [];\n}\n\nstaticData[loopData.videoId].push({\n    numero: loopData.cenaNumero,\n    duracao: loopData.duracaoSegundos,\n    url: videoUrl,\n    status: 'scene_ready'\n});\n\nreturn [{\n  json: {\n    videoId: loopData.videoId,\n    cenaNumero: loopData.cenaNumero,\n    duracaoSegundos: loopData.duracaoSegundos,\n    videoUrl: videoUrl,\n    status: 'scene_ready'\n  }\n}];"},"id":"node-confirm-scene","name":"Confirm Scene Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,320]},{"parameters":{"jsCode":"var items = $input.all();\nif (!items.length) throw new Error('No scene items received');\n\nvar videoId = items[0].json.videoId;\n\nvar scenes = items.map(function(item) {\n  return {\n    numero: item.json.cenaNumero,\n    duracao: item.json.duracaoSegundos,\n    url: item.json.videoUrl,\n    status: item.json.status\n  };\n});\n\nreturn [{\n  json: {\n    videoId: videoId,\n    totalScenes: scenes.length,\n    scenes: scenes,\n    status: 'all_scenes_ready'\n  }\n}];","mode":"runOnceForAllItems"},"id":"node-all-done","name":"All Scenes Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,96]},{"parameters":{"amount":75},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"9496141b-6b31-474a-8d7c-e39cf6732306","name":"Wait","webhookId":"8e123480-1073-4320-a973-ec2cbebccb4a"},{"parameters":{"assignments":{"assignments":[{"id":"82d40ec8-5502-452b-8de9-6a2e654e9f38","name":"duracaoSegundos","value":"={{ $json.duracaoSegundos }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,304],"id":"14180c1b-b8b6-4163-95f6-56637fe32080","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Scenes","type":"main","index":0}]]},"Prepare Scenes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Process Each Scene":{"main":[[{"node":"All Scenes Ready","type":"main","index":0}],[{"node":"Veo 2: Start Generation1","type":"main","index":0}]]},"Veo 2: Start Generation1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share Publicly","type":"main","index":0}]]},"Share Publicly":{"main":[[{"node":"Confirm Scene Ready","type":"main","index":0}]]},"Confirm Scene Ready":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Process Each Scene","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionTimeout":-1},"staticData":{"global":{"20260318-181956_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"},{"numero":2,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-182719_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-183739_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1iA1S0CiMzGPUgei6DZJUdCIT2NKVkcPpbKvczCqBJlA&export=download","status":"scene_ready"}],"20260318-220350_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1GKBLayKEX8ogq7gS1vULclP2NvCuBby3&export=download","status":"scene_ready"}],"20260318-234307_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1cIl2F9Yf5Hcxp8cQ6ax38qaVd3T8AcKK&export=download","status":"scene_ready"}],"20260318-235324_video_01":[{"numero":4,"url":"https://drive.google.com/uc?id=1y_XP01FXbLIDimWXFRoSwdC5qCf_pjO1&export=download","status":"scene_ready"}],"20260319-000043_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=14NyGCPSw39ACFwqx97ydDSXTmiGA9mgr&export=download","status":"scene_ready"}],"20260319-001419_video_01":[{"numero":2,"url":"https://drive.google.com/uc?id=1Ed8aT4taIzGUhaV3eNOtYRgfVLgfY4dJ&export=download","status":"scene_ready"}],"20260319-090252_video_01":[{"numero":3,"url":"https://drive.google.com/uc?id=1QuVuANn_GnwPuOaB14-9eyQx0vEzheU8&export=download","status":"scene_ready"}],"20260319-091637_video_01":[{"numero":1,"url":"https://drive.google.com/uc?id=1wLQZMs7Mf1s4YZhYzoT-C0CC9VRJhONm&export=download","status":"scene_ready"}],"20260319-101210_video_01":[{"numero":5,"url":"https://drive.google.com/uc?id=1MkK0xuZOZQpUFttpBXCVLNya8-iVnKJN&export=download","status":"scene_ready"}],"20260319-111338_video_01":[{"numero":5,"duracao":6,"url":"https://drive.google.com/uc?id=131mTUE8NMljiOj59dsMAEa0qMSLnZMSe&export=download","status":"scene_ready"}],"20260319-170525_video_01":[{"numero":1,"duracao":5,"url":"https://drive.google.com/uc?id=11rMiBui1S9Wk9F1b2wtB3oCmQj5q6Zmr&export=download","status":"scene_ready"}],"20260319-180233_video_01":[{"numero":5,"duracao":5,"url":"https://drive.google.com/uc?id=172zwTScKncM_PEiJxrL21WxhqLoomACo&export=download","status":"scene_ready"}],"20260320-100939_video_01":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1JAL0j-GyT7Ccyw8yBm9f374pXbcnHCWs&export=download&confirm=1","status":"scene_ready"},{"numero":4,"duracao":6,"url":"https://drive.google.com/uc?id=1wyqSD-ciyc9RHOI_0o81ULpmZvZrH1XP&export=download&confirm=1","status":"scene_ready"}],"20260320-120000_video_01":[{"numero":1,"duracao":6,"url":"https://drive.google.com/uc?id=1olkFsnYL5hHYHpMxOD2lZLEkHQp01D7F&export=download&confirm=1","status":"scene_ready"}]}}}